@charset "utf-8";
/* CSS Document */


.ny-con {
    min-height: 700px;
    padding-bottom: 30px;
    font-weight: normal;
}

.ny-ban {
    height: 190px;
    background: url(../../images/rs/kbg.jpg) no-repeat center top;
    background-size: cover;
}


/*内页面包屑侧导航*/
.ke-tit {
    padding-top: 55px;
}

.ke {
    line-height: 35px;
    font-size: 32px;
    color: #fff;
}

.nav-path {
    padding-top: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 35px;
}

    .nav-path img {
        margin: 0 5px;
    }

    .nav-path a {
        color: #fff;
        font-size: 16px;
        padding: 0 3px;
    }

        .nav-path a:hover {
            text-decoration: none;
            color: #fff;
        }

.loacl {
    border-bottom: 1px solid #ddd;
    line-height: 40px;
}

    .loacl span {
        font-size: 22px;
        color: #333;
    }

a.back {
    display: block;
    background: #fff;
    width: 95px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #9f0a23;
    border-radius: 22px;
    text-align: center;
    margin-top: 90px;
    text-decoration: none;
}
/******左侧导航******/

.main-left {
    overflow: hidden;
    width: 308px;
    float: left;
    margin-top: 40px;
}

.poss {
    position: relative;
    height: 257px;
}

/******右侧样式******/
.main-right {
    position: relative;
    width: 812px;
    min-height: 500px;
    margin-top: 40px;
    padding-bottom: 30px;
    float: right;
    overflow-y: hidden;
    overflow-x: auto;
}


/*左侧导航：*/
.side-nav-panel {
    background: #fff;
}

.nav-panel-title {
    height: 66px;
    line-height: 66px;
    font-size: 20px;
    color: #fff;
    background: #810e1f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 35px;
}

.slide-nav-ul {
}


    /*.slide-nav-ul li span{
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	border-left: 5px solid #bbb;
	border-right: 5px solid transparent;
	border-bottom: 5px solid  transparent;
	border-top: 5px solid #bbb;
	visibility: hidden;
}*/
    .slide-nav-ul li {
        margin-bottom: 10px;
        position: relative;
    }

        .slide-nav-ul li.js-item {
            margin-bottom: 0;
        }

        .slide-nav-ul li:first-child {
        }

        .slide-nav-ul li.last {
        }

        .slide-nav-ul li a {
            color: #333;
            display: block;
            padding: 5px 0;
            padding-left: 35px;
            font-size: 16px;
            border: 1px solid #ececec;
            line-height: 30px;
            text-decoration: none;
            background: url(../../images/rs/aa.png) no-repeat 22px 18px;
        }

            .slide-nav-ul li a:hover {
                color: #333;
                background: #ececec url(../../images/rs/aa.png) no-repeat 22px 18px;
                text-decoration: none;
            }

            .slide-nav-ul li a.active {
                color: #fff;
                background: #9f0a23 url(../../images/rs/aa1.png) no-repeat 22px 18px;
            }


/*.slide-nav-ul li:hover span,.slide-nav-ul li.active span{
	visibility: visible;
}*/

.slide-nav-item-ul {
    padding: 10px 5px 5px 0px;
    border-left: 1px solid #ececec;
    margin-left: 23px;
}

    .slide-nav-item-ul li {
        line-height: 24px;
        background: none;
        margin-bottom: 0px;
        border: none;
        padding: 0px;
        margin-bottom: 12px;
    }

        .slide-nav-item-ul li:first-child {
            border-top: none;
        }

        .slide-nav-item-ul li:last-child {
            border-bottom: none;
        }

        .slide-nav-item-ul li a {
            display: block;
            color: #333;
            font-size: 14px;
            padding: 0px;
            padding-left: 20px;
            line-height: 24px;
            border: none;
            background: url(../../images/rs/aeah.png) no-repeat left 15px;
            font-weight: normal;
        }

.slide-nav-ul li .slide-nav-item-ul li a:hover, .slide-nav-ul li .slide-nav-item-ul a.active {
    border-left: none;
    color: #a81f18;
    text-decoration: none;
    font-weight: normal;
    background: url(../../images/rs/aeah.png) no-repeat left 15px;
}


/*右侧内容*/
.right-nr {
    font-size: 14px;
    color: #666;
    position: relative;
    padding-bottom: 50px;
}
/*页数*/
.page {
    float: right;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    height: 35px;
    position: absolute;
    left: 35%;
    bottom: 20px;
}

    .page ul li {
        border-right: 1px solid #d1d1d1;
        float: left;
        line-height: 35px;
    }

        .page ul li:last-child {
            border-right: none;
        }

        .page ul li a {
            color: #333;
            padding: 0 12px;
            display: block;
            font-size: 14px;
        }

            .page ul li a.pa:hover, .page ul li a.active {
                color: #fff;
                background: #666;
                text-decoration: none;
            }



/*滚动条*/
.scrollBar {
    position: absolute;
    right: 3px;
    top: 50px;
    width: 6px;
    height: 660px;
    border-left: 1px solid #ccc;
}

    .scrollBar span.midd {
        height: 448px;
        display: block;
        margin-left: 5px;
        position: relative;
    }

        .scrollBar span.midd span {
            position: absolute;
            left: -10px;
            top: 10px;
            background: #ddd;
            width: 10px;
            height: 25px;
        }

/*文章滚动条样式*/
/******单篇文章******/
.view-title {
    text-align: center;
    line-height: 28px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: 20px;
}

    .view-title h1 {
        font-size: 18px;
    }

.view-info {
    text-align: center;
    color: #999;
}

    .view-info span {
        font-size: 14px;
        font-weight: normal;
    }

.view-cnt {
    margin-top: 10px;
    line-height: 32px;
}

    .view-cnt p {
        /*text-indent:2em;*/
        color: #666;
        font-size: 16px;
        text-align: justify;
        margin: 10px 0px;
    }

    .view-cnt ul li {
        list-style-type: disc;
        line-height: 28px;
        height: auto;
    }

    .view-cnt a {
        color: #9f0a23;
    }

        .view-cnt a:hover {
            text-decoration: underline;
            color: #9f0a23;
        }

    .view-cnt ol, .view-cnt ul {
        padding-left: 17px;
        margin-left: 10px;
    }

        .view-cnt ol li {
            list-style: inherit;
        }


    /*table*/

    .view-cnt table {
        border-collapse: collapse;
        border-spacing: 0;
        border: medium none;
    }

        .view-cnt table td, .view-cnt table th {
            border-color: #ddd;
        }

/******news,down,title样式******/
.data-list {
    padding-top: 5px;
    padding-bottom: 30px;
}

    .data-list li {
        font-size: 14px;
        line-height: 41px;
        border-bottom: 1px dotted #ccc;
    }

        .data-list li a {
            color: #666;
            font-size: 16px;
            float: left;
            background: url(../../images/rs/lia.png) no-repeat left center;
            padding-left: 12px;
        }

            .data-list li a:hover {
                color: #000;
                text-decoration: none;
            }

        .data-list li span {
            font-size: 16px;
            color: #666;
            float: right;
        }

/******pictrue,videolist样式******/
ul.pic-list {
    padding: 15px 0;
}

    ul.pic-list li {
        float: left;
        margin-bottom: 12px;
        margin-right: 33px;
    }

        ul.pic-list li.mar0 {
            margin-right: 0;
        }

        ul.pic-list li a {
            color: #666;
        }

            ul.pic-list li a:hover {
                color: #333;
                text-decoration: none;
            }

        ul.pic-list li div {
            line-height: 24px;
            margin-bottom: 10px;
            text-align: center;
        }

        ul.pic-list li p {
            padding: 15px 0;
            color: #000;
            text-align: center;
        }

    ul.pic-list a img {
        /*border:1px solid #ddd;*/
        /*padding: 3px; background-color: #00428f;
 
    display: block;  border:2px solid #00428f;
   padding: 6px; background-color: #fff;
    transition: all 0.2s ease-in-out 0s;*/
    }


/*.pic-list .li-img{
	width:119px;
}
.pic-list .li-p{
	width:115px;
	text-align: left;
	margin-left:5px;
}*/






/******pictrueleft pictrueright样式******/
ul.pic-bothside li {
    padding: 30px 39px;
    border: 1px solid #ccc;
    margin-top: 25px;
}

ul.pic-bothside a img {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
    margin: 3px 13px 3px 0px;
}

a.pic-a {
    color: #333;
}

span.pic-span {
    color: #999;
}


/*左图右文*/

.picleft-list {
    padding-top: 16px;
    padding-bottom: 20px;
}

    .picleft-list li {
        margin-bottom: 10px;
    }

        .picleft-list li .pli-img {
            /*width: 228px;*/
            /*去掉宽度不要*/
        }

        .picleft-list li .pli-text {
            margin-top: 10px;
            width: 600px;
            height: 158px;
            border-bottom: 1px solid #ddd;
        }

            .picleft-list li .pli-text a {
                font-size: 16px;
                color: #194d98;
                display: block;
                margin-bottom: 10px;
                /*	margin-top: 10px;*/
            }

            .picleft-list li .pli-text span {
                font-size: 14px;
                color: #999;
                display: block;
                margin: 3px 0;
            }

            .picleft-list li .pli-text p {
                font-size: 14px;
                color: #666;
                line-height: 23px;
            }

/*视频列表*/
.video-list {
    padding-top: 15px;
}

    .video-list li {
        width: 259px;
        height: 275px;
        border: 1px solid #ddd;
        float: left;
        margin-right: 45px;
        margin-bottom: 30px;
    }

ul.video-list li.mar0 {
    margin-right: 0;
}

.video-list li .vi-vi {
    position: relative;
    height: 135px;
}

    .video-list li .vi-vi span img {
        position: absolute;
        left: 42%;
        top: 35px;
    }

.video-list li .vi-text {
    padding: 5px 30px 10px 20px;
    /*background: #fbfbfb;*/
    height: 132px;
    overflow: hidden;
}

    .video-list li .vi-text a {
        display: block;
        font-size: 16px;
        color: #194d98;
        line-height: 25px;
    }

    .video-list li .vi-text span {
        display: block;
        font-size: 14px;
        color: #999;
        margin: 8px 0;
    }

    .video-list li .vi-text p {
        font-size: 14px;
        color: #999;
        line-height: 21px;
        height: 47px;
        overflow: hidden;
    }
/*下载页面*/

.down-list {
    padding-bottom: 50px;
    padding-top: 15px;
}

    .down-list li {
        border-bottom: 1px solid #ddd;
        padding: 16px 0;
    }

        .down-list li:first-child {
            padding-top: 0px;
        }

        .down-list li .down-left {
        }

            .down-list li .down-left a {
                color: #333;
                font-size: 16px;
            }

                .down-list li .down-left a img {
                    margin-right: 10px;
                }

            .down-list li .down-left p {
                margin-top: 12px;
                font-size: 14px;
                color: #999;
            }

                .down-list li .down-left p span {
                    margin-left: 54px;
                }

        .down-list li .down-xia {
            display: block;
            margin-top: 18px;
        }

/*piclist1 个人图片列表*/


.picleft1-list {
    padding-top: 16px;
    padding-bottom: 20px;
}

    .picleft1-list li {
        margin-bottom: 10px;
        width: 242px;
        height: 88px;
        border: 1px solid #ececec;
        padding: 8px;
        float: left;
        margin-right: 20px;
        margin-bottom: 26px;
    }

        .picleft1-list li:hover {
            box-shadow: 1px 1px 2px 2px #e8effb;
        }

        .picleft1-list li .pli-img1 {
            /*width: 228px;*/
            /*去掉宽度不要*/
        }

        .picleft1-list li .pli-text1 {
            margin-top: 10px;
            width: 130px;
            padding-left: 23px;
        }

            .picleft1-list li .pli-text1 a {
                font-size: 20px;
                color: #333;
                display: block;
                margin-top: -5px;
                text-decoration: none;
                /*	margin-top: 10px;*/
            }

            .picleft1-list li .pli-text1 span {
                font-size: 18px;
                color: #999;
                display: block;
                margin: 15px 0 10px 0;
            }

        .picleft1-list li.mar0 {
            margin-right: 0px;
        }

/*字母序列表*/
.az {
    padding-top: 20px;
    color: #333;
    font-size: 16px;
    height: 35px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}

    .az ul {
        line-height: 30px;
    }

        .az ul li {
            float: left;
            padding-right: 16px;
            line-height: 30px;
        }

            .az ul li a {
                color: #999;
                font-size: 16px;
                text-decoration: none;
            }

                .az ul li a:hover {
                    color: #9ac209;
                }

.az-aa {
    padding-top: 10px;
}

.zza {
    padding: 10px 0;
    border-bottom: 1px dotted #cdcdcd;
}

    .zza h4 {
        font-size: 24px;
        color: #9ac209;
        font-weight: normal;
    }

    .zza ul {
        padding-top: 20px;
    }

        .zza ul li {
            float: left;
            font-size: 16px;
            color: #333;
            padding-right: 40px;
            width: 60px;
            margin-bottom: 10px;
        }

            .zza ul li.mar0 {
                margin-right: 0px;
            }



/*********2018-10-30新增学校机构设置***********/

.szlbdht {
            background: #9f0a23;
            height: 30px;
            line-height: 30px;
            width: 100%;
            font-size: 16px;
            color: #fff;
        }

        .szlbys {
            font-size: 16px;
            color: #363636;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .szlbys ul li{
            list-style-type:none !important;
        }

            .szlbys ul li a{
                color:#666;
            }
