#preload_bookmark, #preload_bookmark #sprite{width: 0;height: 0;position: absolute;left: -9999px;background: url("//i2.sinaimg.cn/dy/sinatag/addfav_pop_bg.png") no-repeat 0 0;}
#preload_bookmark #sprite{background: url("//i1.sinaimg.cn/dy/sinatag/btns_addfav_spirite.png") no-repeat 0 0;}
.p07_l01 h2{padding: 7px 0 7px 7px;}
.hidden{display: none;}

.content_body{margin-top:20px;}
.content_body .body_left{ float:left;width:200px; overflow:hidden;}
.content_body .body_container{ float:right;width:1000px;}
.body_container_left{ float:left;width:640px;}
.body_container_right{ float:right;width:320px;}


/*link*/
.link_ts,.link_ts:visited{ margin:0 auto;width:270px;height:36px;display:block;border:solid 1px #ec472c;border-radius:4px;text-align:center;line-height:36px;font-size:16px;color:#c61b00}
.link_ts:hover,.link_ts:active{background:#ec472c;color:#fff;text-decoration:none;}
/*block*/
.blk_02,.blk_03,.blk_04,.blk_05,.blk_06,.blk_07,.blk_08{margin-top:20px}
.blk_03 .b-cont p{line-height:28px;padding:3px 0 0}
.blk_03 .b-cont p a{margin-right:5px;}
.blk_03 .b-cont h3,.blk_03 .b-cont h3 a,.blk_03 .b-cont h3 a:visited,.blk_03 .b-cont h3:hover,.blk_03 .b-cont h3:active{font-weight:100;color:#c61b00;font-size:14px;}
.blk_05 .b-tw .b-img{ float:left;}
.blk_05 .b-tw .b-img img{width:70px;height:70px;}
.blk_05 .b-tw .b-txt{margin-left:80px;}
.blk_05 .b-tw h3{font-weight:100;font-size:14px;height:24px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.blk_05 .b-tw p{color:#666;}
.blk_06,.blk_07{overflow:hidden;}
/*title*/
.b_tit{border-top:solid 2px #ec472c;height:46px; overflow:hidden;}
.b_tit h2{font:500 18px/46px 'Microsoft Yahei', '微软雅黑', 'Simhei', '黑体';color:#c61b00; float:left;}
.b_tit h2 a,.b_tit h2 a:visited{color:#c61b00;}
.b_tit h2 a:hover{color:#8f1a08;text-decoration:none;}
.b_tit .more{color:#333;text-decoration:none; float:right;line-height:46px;}
.b_tit .jjpb_subtag{ font-size:16px;}
.b_tit i{ color: #ababab;}
.b_tit .titsmall a{ font-size: 14px; color: #e94835;}

/*img*/
.b_pic img{width:100%;display:block}

/*list*/
ul.b_list{margin:0px 0 30px 0;}
ul.b_list li{line-height:26px;font-size:14px;vertical-align:middle;position:relative;padding-left:10px;}
ul.b_list li:before{content:'';position:absolute;left:0;top:12px;background:#c82309;width:3px;height:3px; overflow:hidden;margin-right:7px;vertical-align:middle}
ul.b_list li a{vertical-align:middle}
ul.b_list li span{ float: right; color: #999;}
ul.b_list_02{margin:10px 0}
.blk_02 .b_pic{height: 250px;overflow: hidden; margin: 0 auto; margin-top: -10px; width:300px; background: #000;}
/*ul.b_list_02 li{line-height:26px;font-size:14px; height:26px;vertical-align:middle;white-space:nowrap;}*/
/*ul.b_list_02 li span{font-size:13px;color:#666}*/
/*ul.b_list_02 li a{padding-left:20px;position:relative}*/
/*ul.b_list_02 li a:before{content:'';width:11px;height:11px;position:absolute;left:3px;top:5px;background:url("../newImages/sp/list_pot.png") no-repeat}*/
/*ul.b_list_02 li a:after{content:'';width:1px;height:15px;background:#dadada;position:absolute;left:8px;top:-10px}*/
/*ul.b_list_02 li.first a:after{display:none;}*/
/*ul.b_list_02 li a:hover:before{background-position:0 -26px;}*/
ul.b_list_02{margin:10px 0}
ul.b_list_02 li{line-height:26px;font-size:14px;vertical-align:middle;position:relative;padding-left:51px;}
ul.b_list_02 li span{font-size:13px;color:#666;position:absolute;left:0;white-space:nowrap}
ul.b_list_02 li a{padding-left:20px;position:relative;display:block;}
ul.b_list_02 li a:before{content:'';width:11px;height:11px;position:absolute;z-index:1;left:3px;top:8px;background:url("//n.sinaimg.cn/finance/jjsy/newImages/sp/list_pot.png") no-repeat}
ul.b_list_02 li a:after{content:'';width:1px;height:100%;background:#dadada;position:absolute;left:8px;top:-10px}
ul.b_list_02 li.first a:after{top:10px;}
ul.b_list_02 li a:hover:before{background-position:0 -26px;}
ul.b_list_03{margin-top:0}
ul.b_list_04{background:url("//n.sinaimg.cn/finance/jjsy/newImages/list_bg.png") no-repeat 5px 16px;}
ul.b_list_04 li{width:290px;line-height:41px;height:41px;font-size:14px;padding-left:30px;white-space:nowrap; overflow:hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;border-top:solid 1px #e6e6e6;}

/*顶端新闻*/
.top_news_focus{width: 462px;height: 583px;overflow: hidden;}
.top_news_focus .news-item{padding-bottom:10px;padding-top:10px; border-top: 1px solid #efefef;border-bottom: 1px solid #efefef; margin-top: -1px;}
.top_news_focus .news-item h3{text-align:left;font-size:20px;font-weight:700;line-height:38px;}
.top_news_focus .news-item h3 a{ color: #464646;}
.top_news_focus .news-item h3 a.red{color: #c41e13;}
.top_news_focus .news-item ul{padding:4px 0;}
.top_news_focus .news-item li{line-height:32px;padding:0 0 0 14px;background:url("//n.sinaimg.cn/finance/jjsy/newImages/list_pot_bg.png") no-repeat 0 50%}
.top_news_focus .news-item:hover{ background: #fafbfd;}
.content_body .blk1{width: 380px; float: left;}
.content_body .blk2{ width:460px; float: left; padding-left: 40px;}
.content_body .blk3{ width: 320px; float: right;}
.top_news_focus .news-item h3.weightnormal{font-weight: normal;}
/* @media screen and (max-width: 1239px) {
	html,body{min-width:1000px}
	.wrap,.topAdWrap,.topAd,.compare-wrap{width:1000px;}
	.compare-wrap{margin-left:-500px;}
	.content_body .body_left {display: none}
	.content_body .body_container{ float:none}
    .searcher_box{width:450px;}
	.searcher_txt{width:240px;}
	.blk_nav_item{padding:0 10px;}
	.nav a, .nav a:link, .nav a:visited{margin-right:0;}
	.blk_fund_tj{width:720px;}
	.f_list .item_li_c{width:207px;}
} */
/*焦点图*/
.slide01_w{ position: relative; margin-bottom:25px; width: 378px; height:230px;}
#ads_20160218 { width: 378px; height: 230px; position: relative; overflow: hidden; }
 .slider_item { float: left; position: relative; width: 378px; height: 230px; } 
.slider_item img { width: 378px; height: 230px; }
.hd_slider_dot{ position: absolute; z-index: 1; left:142px; bottom: -15px;  height:10px;}
.hd_slider_dot .dot_list{ display: inline-block; *display: inline; *zoom: 1; margin-left: 10px; width: 10px; height: 10px; border-radius:50%; line-height: 10px; text-align: center; font-size: 12px; font-family: "arial"; background: #d6d6d6; cursor: pointer; color: #fff;}
.hd_slider_dot .dot_list_cur{border-radius:10px; background: #e44f36; width: 20px;}
.slide01_w .txt{ position:absolute; bottom:0; width:378px; height:46px; font-size:20px; line-height:46px; color:#fff; text-align: center;background:#000; background:rgba(0,0,0,.6);}

/*基金大比拼*/
.p03_l01{ margin-top:20px;}
.jjpb_title{ display:block; width:320px; height:35px; line-height:35px; font-size:16px; font-weight:bold; background:#f3f3f3; text-indent:10px;}
.jjpb_title a{ float:right; font-size:12px; color:#ec472c; font-weight:normal; width:72px; height:20px; line-height:20px; border:1px solid #ec472c; border-radius:2px; margin:6px 10px 0 0;}
.jjpb_title a:hover{ background:#ec472c; color:#fff;}
.jjpb_list {height:153px;overflow:hidden;}
.jjpb_list li,.jjpb_list tr{ height:36px; line-height:36px; border-bottom:1px solid #e7e7e7; width:320px; }
.jjpb_list span{  float:left; }
.jjpb_list .list03_cname{ width:138px; text-align:left; text-indent:10px;}
.jjpb_list .list_tit .list03_cname{  }
.jjpb_list .list03_price{ width:83px; text-align:center;}
.jjpb_list .list03_chg{ width:94px; text-align:right;}
.jjpb_small_banner{ margin-top:12px;display:block;}
.jjpb_small_banner img{ width:100%;}
/*购基步骤*/
.p06_l,.jtool,.jhot,.jnew{ margin-top:30px;}
.jnew,.mt{ margin-top:20px;}
.jtool_selectw{ width:218px;}
.jtool_selectw1{ width:123px; float:left;}
.pding{ height:10px; overflow: hidden;}
.p06_r_c .box{*overflow:hidden;}
/*新基金汇总*/
.jnew .txt{ line-height:28px;}
.jnew .p1{ color:#666;}
.jnew_list{ margin-top:18px;}
.jnew_list h3{ display:block; background:#f3f3f3; width:100%; height:30px; line-height:30px; font-size:14px; font-weight:normal;}
.jnew_list .jnew_cname,.jnew_list .jnew_count{ display:block;}
.jnew_list ul { clear:both; float:left; width:320px;}
.jnew_list ul .jnew_cname{float:left; width:225px; text-indent:10px; }
.jnew_list h3 .jnew_cname{ margin-left:35px; float:left; }
.jnew_list .jnew_count{ margin-right:8px; text-align:right;}
.jnew_list li{ height:41px; line-height:41px; border-bottom:1px solid #e7e7e7; }

/*tabs*/
.blk_07 .blk-menus{line-height:38px;color:#333; zoom:1;border-bottom:1px solid #d4d4d4; }
.blk_07 .blk-menus li{ float:left; padding:0 20px;font:500 16px/44px 'Microsoft Yahei', '微软雅黑', 'Simhei', '黑体'; _display:inline;position:relative; width:114px;padding:0;text-align:center;cursor:pointer}
.blk_07 .blk-menus li.selected{ color:#c61b00; background:#fff;border-bottom:2px solid #ec472c;}


.blk_07 .blk-submenus{ font-size:15px; line-height:32px; padding:10px 0 }
.blk_07 .blk-submenus li{line-height:26px; padding:2px 10px; float:left;margin:0 10px 0 0;cursor:pointer}
.blk_07 .blk-submenus li:hover, .blk_07 .blk-submenus li.selected{ background:#f4725c; color:#fff;border-radius:4px; }
.blk_07 .loading{height:165px; background:url(//n.sinaimg.cn/tech/66ceb6d9/20170803/loading-2.gif) no-repeat center;border:solid 1px #dedede;border-radius:4px;}
.blk_07  .blk-submenus .more{float: right;}

.tech-right-footer{ margin-top: 30px;}
.tech-right-footer .tag{background-image: url(//n.sinaimg.cn/tech/index_v17/tech_tags.png); background-repeat: no-repeat;}
.tech-right-footer,.tech-right-footer a,.tech-right-footer a:visited { color: #666}
.tech-right-footer a:hover { color: #4D97C5}
.tech-right-footer .box p {line-height: 28px;letter-spacing: 1px;text-indent: 6px}
.tech-right-footer .box .tag { padding-left: 36px;font-weight: bold}
.tech-right-footer .box .t1 {background-position: -670px -1360px}
.tech-right-footer .box .t2 { background-position: -670px -1310px}
.tech-right-footer ul {padding: 12px 0 12px 6px;margin: 6px 0 10px;border-top: 1px dashed #CFCFCF; border-bottom: 1px dashed #CFCFCF}
.tech-right-footer li {line-height: 34px}
.tech-right-footer li a:after { content: '|'; display: inline-block; padding: 0 15px}
.tech-right-footer li a:last-child:after {content: ''; padding: 0}
/* 今日点击榜 */
.js-fixed{ margin-top: 0; height: 100%; background: #fff; width: 322px; position:fixed; z-index:1009; top:0; _position:absolute; _top:expression((ff=document.documentElement.scrollTop)+'px');}
#js-bottom-fixed{ height: 1000px;}
/*guga*/
.cj-ad{ float:right;}
.top_finance_app{background-image:url(//n.sinaimg.cn/finance/jjsy/newImages/cj_sinafinance_app.png);
	background-image:-webkit-image-set(url(//n.sinaimg.cn/finance/jjsy/newImages/cj_sinafinance_app.png) 1x, url(//n.sinaimg.cn/finance/jjsy/newImages/cj_sinafinance_app2x.png) 2x);
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:100% 100%;
    width:220px;height:90px;
    
}
.blk_09 .sdd{width: 640px; overflow: hidden;}
.blk_09 .sdd ul{width: 664px;}
.blk_09 .sdd li{width: 86px;  float: left; text-align: center; margin-right:24px; line-height: 22px;}
.blk_09 .sdd li img{width: 86px; height: 86px; margin-bottom: 9px; }
.blk_10{width:640px;}
.blk_10 .p99l-cont{width:640px;height:610px;overflow: hidden;overflow-y:auto;padding-right: 10px;}
.blk_10 .sdyj-item{border-bottom: solid 1px #ddd;margin-bottom: 10px;padding-bottom: 16px;}
.blk_10 .sdyj-item h3{font-size: 18px;color:#333;line-height:40px;}
.blk_10 .sdyj-item .s-desc{font-size: 14px;color:#2a2a2a;line-height:28px;padding:3px 0}
.blk_10 .sdyj-item .s-desc a:hover{color:#f00}
.blk_10 .sdyj-item .s-other{padding:11px 0 5px;font-size: 14px}
.blk_10 .sdyj-item .s-source{color:#999;float: left;}
.blk_10 .sdyj-item .s-source b{color:#333;padding-left: 5px;font-weight: normal;}
.blk_10 .sdyj-item .s-date,.blk_10 .sdyj-item .s-cmt-share{color:#999;float: right;}
.blk_10 .sdyj-item .s-cmt-share a,.blk_10 .sdyj-item .s-cmt-share a:visited{color:#999;margin:0 5px;}
.blk_10 .sdyj-item .s-cmt-share a:hover{color:#f00}
.blk_10 .listmore a{display: block;font-size: 16px;text-align: center;color:#999;line-height:50px}
.sff-loading {text-align: center; animation: spin .5s infinite linear; font-size: 16px;}
@keyframes ball-beat { 50% { opacity: .2; transform: scale(.75) } to { opacity: 1; transform: scale(1) } }
.sff-loading>div { background-color: #999; width: 15px; height: 15px; border-radius: 100%; margin: 5px; display: inline-block; animation: ball-beat .7s 0s infinite linear }
.sff-loading>div:nth-child(2n-1) { animation-delay: .35s!important }

.apage{margin-top:17px;}
.table01_w .tright .arrow{width:10px; height:11px;background: url(//n.sinaimg.cn/finance/jjnj/images/arrow.png) no-repeat; display:inline-block;}
.table01_w .tright{ text-align:center;}
.table01_w .bgcolor{ background:#f3f3f3;}

.blk_07 .blk-submenus li:hover a{color: #fff;}

/* margin */
.jmb{margin-bottom: 20px;}



.gxtjWrap{padding-top: 13px;border-top:1px solid #efefef}
.gxtjWrap .tabs-menu{height:22px;overflow: hidden;line-height: 22px;}
.gxtjWrap .tabs-menu ul{float: left;width:400px}
.gxtjWrap .tabs-menu ul{float: left;}
.gxtjWrap .tabs-menu li.n_tit{font-size: 18px;color:#c61b00;}
.gxtjWrap .tabs-menu .flesh_btn{background: url("//n.sinaimg.cn/finance/66ceb6d9/20181224/flesh_btn.png") no-repeat 1px 1px;width:22px;height:22px;float: right;cursor: pointer;}
.gxtjWrap .tabs-menu .flesh_btn:hover{background-position: -25px 1px}
.gxtjWrap .txtj-content{padding-top: 11px;}
.gxtjWrap .list01 li{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;line-height: 32px; padding: 0 0 0 14px; background: url(//n.sinaimg.cn/finance/jjsy/newImages/list_pot_bg.png) no-repeat 0 50%;}
.gxtjWrap .top_news_focus {height: 388px;}

.newp_wrap{margin-top: 20px;}
.newp_wrap .newp_left{width:640px;float: left;}
.newp_wrap .newp_right{width:320px;float: right;}

#tt_list{width:320px;overflow: hidden;height:715px;}
#tt_list .tt_item{width:320px;float: left;background: url("//n.sinaimg.cn/tech/66ceb6d9/20181228/tt_list_bg.png") no-repeat -999em 0}
#tt_list .tt_item_p1{background-position:0 14px}
#tt_list .tt_item_p2{background-position:0 -726px}
#tt_list .tt_item_p3{background-position:0 -1472px}
#tt_list .tt_item_p4{background-position:0 -2216px}
#tt_list .tt_item li{border-bottom:solid 1px #e6e6e6;height:50px;line-height: 50px;padding-left: 40px;}
#tt_list .tt_item li img{ width:32px; height:32px; float: left; border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%; -ms-border-radius:100%; -o-border-radius:100%;margin:9px 10px 0 0}
#tt_list .tt_item li a,#tt_list .tt_item li a:visited,#tt_list .tt_item li span{color:#333;font-size: 14px;}
#tt_list .tt_item li a:hover,#tt_list .tt_item li a:hover span{color:#c60000;}

/* 深度研究 */
.rmghWrap .r_list{padding-top: 11px;}
.rmghWrap .r_item{height:92px;overflow: hidden;margin-bottom: 10px;}
.rmghWrap .r_item .r_img{float: left;width:46px;height:46px;}
.rmghWrap .r_item img{ width:100%; height:100%; display: block; border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%; -ms-border-radius:100%; -o-border-radius:100%; }
.rmghWrap .r_item .r_txt{background:url("//n.sinaimg.cn/finance/66ceb6d9/20181224/bg1.png") no-repeat;width:269px;height:92px;float: right;font-size: 14px;}
.rmghWrap .r_item .r_txt p{color: #333; padding: 6px 19px 0 14px; text-align: justify; height: 58px;}
.rmghWrap .r_item .r_txt .au{color:#ea4835;padding-left: 14px;}

.headNewsWrap .tabs-contsWrap{height:715px;overflow-y: auto;-webkit-overflow-scrolling: touch}
.headNewsWrap .articles {color: #333; padding-right: 10px;}
.headNewsWrap .i_img {float: left;width:150px;height:100px;margin :20px 20px 20px 0;}
.headNewsWrap .i_img img{width:100%;height:100%;}
.headNewsWrap .i_txt{overflow: hidden;}
.headNewsWrap .articles .item{ border-bottom: 1px solid #D7D7D7; }
.headNewsWrap .articles .title { margin: 18px 0 13px; font-size: 18px; line-height: 22px; }
.headNewsWrap .articles .article-info { margin: 12px 0 14px; line-height: 36px;color:#999;}
.headNewsWrap .articles .article-info b { font-weight: 100; color: #333; }
.headNewsWrap .article-info .read-count { color: #999; }
.headNewsWrap .listmore { padding: 10px 0; }
.headNewsWrap .listmore a,.headNewsWrap .listmore a:visited { background-color: #f0f0f0; line-height: 40px; text-align: center; font-size: 14px; display: block }
.headNewsWrap .listmore a:hover { background-color: #ddd }
/* 头条号人气榜 */
.tt_rankWrap{position: relative;}
.tt_rankWrap .tt_slide_arr{position: absolute;right:0;top:12px;width:54px;}
.tt_rankWrap #tt_left,.tt_rankWrap #tt_right{background: url("//n.sinaimg.cn/finance/66ceb6d9/20181224/icon_bg.png") no-repeat;width:21px;height:21px;float: left;margin-left: 5px;cursor: pointer;}
.tt_rankWrap #tt_left{background-position: -33px 0;}
.tt_rankWrap #tt_right{background-position: -59px 0;}
.tt_rankWrap #tt_left:hover{background-position: -91px 0;}
.tt_rankWrap #tt_right:hover{background-position: -117px 0;}

.sff-loading>div { width: 10px!important; height: 10px!important; margin: 5px!important; }