@-webkit-keyframes circleSlide {
  0% {
    -webkit-transform: translate3d(0,-100%,0);
    -moz-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
  }
  50% {
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform:translate3d(0,-50%,0);
    transform:translate3d(0,-50%,0);
  }
  100% {
    -webkit-transform:translate3d(0,0%,0);
    -moz-transform:translate3d(0,0%,0);
    transform:translate3d(0,0%,0);
  }
}
@-moz-keyframes circleSlide {
  0% {
    -webkit-transform: translate3d(0,-100%,0);
    -moz-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
  }
  100% {
    -webkit-transform:translate3d(0,0%,0);
    -moz-transform:translate3d(0,0%,0);
    transform:translate3d(0,0%,0);
  }
}
@-ms-keyframes circleSlide {
  0% {
    -webkit-transform: translate3d(0,-100%,0);
    -moz-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
  }
  100% {
    -webkit-transform:translate3d(0,0%,0);
    -moz-transform:translate3d(0,0%,0);
    transform:translate3d(0,0%,0);
  }
}
@keyframes circleSlide {
  0% {
    -webkit-transform: translate3d(0,-100%,0);
    -moz-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
  }
  100% {
    -webkit-transform:translate3d(0,0%,0);
    -moz-transform:translate3d(0,0%,0);
    transform:translate3d(0,0%,0);
  }
}
@-webkit-keyframes jumpDn {
  0% {
    -webkit-transform: translate3d(0,-90%,0);
    -moz-transform:translate3d(0,-90%,0);
    transform:translate3d(0,-90%,0);
  }
  40% {
    -webkit-transform:translate3d(0,-10%,0);
    -moz-transform:translate3d(0,-10%,0);
    transform:translate3d(0,-10%,0);
  }
  100% {
    -webkit-transform:translate3d(0,0%,0);
    -moz-transform:translate3d(0,0%,0);
    transform:translate3d(0,0%,0);
  }
}
@-moz-keyframes jumpDn {
  0% {
    -webkit-transform: translate3d(0,-90%,0);
    -moz-transform:translate3d(0,-90%,0);
    transform:translate3d(0,-90%,0);
  }
  40% {
    -webkit-transform:translate3d(0,-10%,0);
    -moz-transform:translate3d(0,-10%,0);
    transform:translate3d(0,-10%,0);
  }
  100% {
    -webkit-transform:translate3d(0,0%,0);
    -moz-transform:translate3d(0,0%,0);
    transform:translate3d(0,0%,0);
  }
}
@-ms-keyframes jumpDn {
  0% {
    -webkit-transform: translate3d(0,-90%,0);
    -moz-transform:translate3d(0,-90%,0);
    transform:translate3d(0,-90%,0);
  }
  40% {
    -webkit-transform:translate3d(0,-10%,0);
    -moz-transform:translate3d(0,-10%,0);
    transform:translate3d(0,-10%,0);
  }
  100% {
    -webkit-transform:translate3d(0,0%,0);
    -moz-transform:translate3d(0,0%,0);
    transform:translate3d(0,0%,0);
  }
}
@keyframes jumpDn {
  0% {
    -webkit-transform: translate3d(0,-90%,0);
    -moz-transform:translate3d(0,-90%,0);
    transform:translate3d(0,-90%,0);
  }
  40% {
    -webkit-transform:translate3d(0,-10%,0);
    -moz-transform:translate3d(0,-10%,0);
    transform:translate3d(0,-10%,0);
  }
  100% {
    -webkit-transform:translate3d(0,0%,0);
    -moz-transform:translate3d(0,0%,0);
    transform:translate3d(0,0%,0);
  }
}


@-webkit-keyframes jumpUp {
  0% {
    -webkit-transform: translate3d(0,0%,0);
    -moz-transform:translate3d(0,0%,0);
    transform:translate3d(0,0%,0);
  }
  40% {
    -webkit-transform:translate3d(0,-80%,0);
    -moz-transform:translate3d(0,-80%,0);
    transform:translate3d(0,-80%,0);
  }
  100% {
    -webkit-transform:translate3d(0,-90%,0);
    -moz-transform:translate3d(0,-90%,0);
    transform:translate3d(0,-90%,0);
  }
}
@-moz-keyframes jumpUp {
  0% {
    -webkit-transform: translate3d(0,0%,0);
    -moz-transform:translate3d(0,0%,0);
    transform:translate3d(0,0%,0);
  }
  40% {
    -webkit-transform:translate3d(0,-80%,0);
    -moz-transform:translate3d(0,-80%,0);
    transform:translate3d(0,-80%,0);
  }
  100% {
    -webkit-transform:translate3d(0,-90%,0);
    -moz-transform:translate3d(0,-90%,0);
    transform:translate3d(0,-90%,0);
  }
}
@-ms-keyframes jumpUp {
  0% {
    -webkit-transform: translate3d(0,0%,0);
    -moz-transform:translate3d(0,0%,0);
    transform:translate3d(0,0%,0);
  }
  40% {
    -webkit-transform:translate3d(0,-80%,0);
    -moz-transform:translate3d(0,-80%,0);
    transform:translate3d(0,-80%,0);
  }
  100% {
    -webkit-transform:translate3d(0,-90%,0);
    -moz-transform:translate3d(0,-90%,0);
    transform:translate3d(0,-90%,0);
  }
}
@keyframes jumpUp {
  0% {
    -webkit-transform: translate3d(0,0%,0);
    -moz-transform:translate3d(0,0%,0);
    transform:translate3d(0,0%,0);
  }
  40% {
    -webkit-transform:translate3d(0,-80%,0);
    -moz-transform:translate3d(0,-80%,0);
    transform:translate3d(0,-80%,0);
  }
  100% {
    -webkit-transform:translate3d(0,-90%,0);
    -moz-transform:translate3d(0,-90%,0);
    transform:translate3d(0,-90%,0);
  }
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0.3; /*初始状态 透明度为0*/
	}
	50% {
		opacity: 1; /*初始状态 透明度为0*/
	}
	100% {
		opacity: 0.3; /*结尾状态 透明度为1*/
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity: 0.3; /*初始状态 透明度为0*/
	}
	50% {
		opacity: 1; /*初始状态 透明度为0*/
	}
	100% {
		opacity: 0.3; /*结尾状态 透明度为1*/
	}
}
@-ms-keyframes fadeIn {
	0% {
		opacity: 0.3; /*初始状态 透明度为0*/
	}
	50% {
		opacity: 1; /*初始状态 透明度为0*/
	}
	100% {
		opacity: 0.3; /*结尾状态 透明度为1*/
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0.3; /*初始状态 透明度为0*/
	}
	50% {
		opacity: 1; /*初始状态 透明度为0*/
	}
	100% {
		opacity: 0.3; /*结尾状态 透明度为1*/
	}
}
@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,6%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,6%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,6%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,6%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,6%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,6%,0) rotateZ(-360deg);
  }
}

@-moz-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,6%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,6%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,6%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,6%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,6%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,6%,0) rotateZ(-360deg);
  }
}

@-ms-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}