.info-stream {width: 100%;height:140px;line-height: 140px;max-width: 1000px;min-width: 600px;position: relative;}
.info-stream .img-area {width: 23.5%;height:100%;float: left; margin-right: 2%;}
.info-stream img {width: 100%;vertical-align: middle;}
.info-stream .text-area {width: 74%;height:100%;float: right;line-height: 40px;}
.info-stream h4 {margin: 10px 0;font-size: 20px;font-family: 'Microsoft YaHei';font-weight: bold;}
.info-stream a {text-decoration: none;color: #333;}
.info-stream a:visited{color: #333;}