.wrap {width: 1000px; margin:  0 auto;}
a:hover {text-decoration: none;}

.header { background: #252830; margin: 0; padding: 0; height: 60px; line-height: 60px; max-width: none; min-width: none; font-weight: normal;}
.header .auto_logo {margin-top: 8px; width: 133px;}
.header .channel_logo {font-family: "Microsoft Yahei"; font-size: 24px; color: #fff;margin-top: 14px; width: 50px;}
.header .channel_logo:hover {color:#e94740;}
.header .divide {margin-top: 20px;}
.header h1 {width: 244px;text-align: center; margin-left: 0; margin-right: 0; padding-right: 10px; height: 60px; line-height: 60px;white-space: nowrap;overflow: hidden; text-overflow:ellipsis;}
.header h1 a { color: #fff;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.header h1 a:hover { color:#e94740;;}
.header .head_list { float: left;width: 522px;}
.header .head_list .btn { float: left; color: #a4a4a5;font-family: "Microsoft Yahei"; font-size: 18px; border: none;padding: 0 9px; margin: 0; height: 65px; line-height: 60px;}
.header .head_list .btn:hover { color: #e94740; font-weight: bold;  background: none;}
.header .head_list .first,.header .head_list .first:hover { color: #e94740; font-weight: bold; background: url(http://i3.sinaimg.cn/qc/2015/0923/icons.png) center 57px no-repeat;}
.header .head_list .on { color: #e94740; font-weight: bold; }
.header .head_list .blur,.header .head_list .blur:hover,.header .head_list .nocurrent {color: #a4a4a5; font-weight: normal ; background: url(http://i3.sinaimg.cn/qc/2015/0923/icons.png) center -59px no-repeat;}
.header .head_list .btn_panorama,.header .head_list .btn_panorama:hover {height: 32px; line-height: 32px; font-size: 16px; font-weight: normal; color: #fff; padding: 0 16px; border-radius: 2px; background:#e94740;margin: 14px 0 0 10px; }

.nav {overflow: visible; width: 950px; margin: 0 auto; position: relative; z-index: 999;}
.category {float: left;font-family: "Microsoft Yahei"; color: #999;}
.select_list {  border:none; margin: 0 10px 0 0; padding: 0;}
.select_list .show_text {margin: 0; padding: 0 5px 0 0; line-height: 48px;height: 48px;overflow: hidden;max-width: 414px; font-weight:normal;}
.select_list .trigger { width: 11px; height: 8px; display: inline-block; margin: 20px 0 0; position: static; background: url(http://i3.sinaimg.cn/qc/2015/0923/icons.png) 0px -193px no-repeat; transition: transform 0.5s; -moz-transition: transform 0.5s; -webkit-transition: transform 0.5s; -o-transition: transform 0.5s; }
.select_list:hover .trigger {transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
.select_content {display: inline-block; margin-top: 0; position: absolute; top: 39px; left: 39px; display: none;}

.select_content .all_type a:hover{background: #e94740;}
.select_content dt { color: #333; font-weight: bold;}
.select_content dd:hover{background: #e94740;}
.nav .tab em {margin-right: 0;padding:0 4px}
.nav .tab .a_text:hover, .nav .active .a_text {color: #e94740;}
.nav .carbody, .nav .cartrim { color: #333; position: relative; }
.nav .carbody .hd , .nav .cartrim .hd { color: #484848; font-weight: bold; cursor: pointer;}
.nav .sanjiao { display: inline-block; width: 12px; height: 10px; background: url(http://i3.sinaimg.cn/qc/2015/0923/icons.png) 0px -192px no-repeat; margin:0 3px; transition: transform 0.5s; -moz-transition: transform 0.5s; -webkit-transition: transform 0.5s; -o-transition: transform 0.5s; }
.nav .carbody:hover .sanjiao, .nav .cartrim:hover .sanjiao{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
.nav .page { float: right; padding-left: 0px;}
.nav .text { margin: 0 0 0 5px;}
.nav .color {float: none; position: absolute; top: 34px; left: 0;border: 1px solid #c4c4c4;box-shadow: 1px 1px 5px #c4c4c4; z-index: 1000; background: #fff; width: 120px; display: none;}
.nav .color li {height: 27px; line-height: 27px; padding-right: 10px; overflow: hidden;}
.nav .color li:hover {background: #e94740; }
.nav .color li:hover a { color: #fff;}
.nav .carbodychosen,.nav .cartrimchosen  { color: #e94740;}
.nav .carbodychosen i,.nav .cartrimchosen i { display: inline-block; margin-right: 10px; position: relative; top: 2px; *top: -2px; width: 14px; height: 14px;}
.nav .color .allcolor { padding-left: 10px; border-bottom: 1px solid #c4c4c4; height: 30px; line-height: 30px;}
.nav .color .allcolor a { font-family: "Microsoft Yahei"; }
.nav .color .allcolor:hover { background: #fff;}
.nav .color .allcolor:hover a { color:#e94740;}
.nav .color .a_color {display: inline-block; margin-left: 10px; position: relative; top: 2px; *top: -2px;}
.nav .color .des { padding-left: 10px;}
.nav .car-des { float: left; width: 840px; height: 49px; line-height: 49px; text-overflow: ellipsis; white-space: nowrap;  overflow: hidden; text-align: center; color: #e94740; font-family: "Microsoft Yahei"; font-size: 16px;}

.main_area,.content .content_bar,.pic_list {margin: 0 auto; width: 950px;}
.pic_list .active {border-color:#e94740;}
.content_bar a {color: #333;}
.content_bar a:hover,.content_bar .price:hover,.content_bar a:hover {color: #e94740;}
.content_bar .tel {padding-left: 10px;}
.content_bar .jj_art .jiang{color: #e94740;padding-right: 5px;  border-right: 1px solid #ccc;}
.content_bar .jj_art .artTitle{padding-left: 5px;}

.left_arrow:hover:before{border-right-color:#e94740;}
.right_arrow:hover:before{border-left-color:#e94740;}

.side_btns .app {display: none}

.inquiryicon-s1 {*display: inline; *padding: 0 8px;}