*{margin:0;padding: 0;}
html{}
a{text-decoration:none;}
li{list-style-type:none;}
body, dl, dt, dd, ol, ul, pre, form, field, input, blockquote, th, td, h1, h2, h3, h4, h5, h6,div{ font-family:'microsoft yahei','微软雅黑',宋体,Tahoma,Verdana,Arial,Helvetica,sans-serif;color:#484848;}
.clear{clear:both;}		
.float-left{float: left;}