.sina-comment-wrap{ border-top: 2px solid #999}
.sina-comment-form .hd .tip{
    background: url("//n.sinaimg.cn/travel/2017/images/youhua.png") no-repeat left top;
}
.sina-comment-form .hd .count em{ font-size:20px; color: #e95241 }
.sina-comment-wrap .btn-red{ background: #E95241; color: #ffffff}
.sina-comment-list .list .name a:link, .sina-comment-list .list .name a:visited {
    color: #006b9c;
}
.sina-comment-wrap .btn-disabled, .sina-comment-wrap .btn-disabled:hover, .sina-comment-wrap .btn-disabled:active {
    color: #696969;
    background: #E1E1E1;
    cursor: default;
}