/* ============== 横切定义 ============== */
.main{margin: 6px 0;background: url(http://comment.sinajs.cn/bbs_zxh_1211_04.png) repeat-y 100% 0;}
.main h1{background: #fff;font:28px/80px "微软雅黑"}
.main .ml{float:left; width:640px; _overflow:hidden;}
.main .mr{float:right; width:290px; padding:20px 0 0 20px;overflow:hidden}

.tit_01{ height:30px; overflow:hidden; zoom:1; background:url(http://comment.sinajs.cn/bbs_zxh_1211_05.png) repeat-x 0 15px}
.tit_01 h2{float:left; background:#fafafa; padding-right:5px; font:15px/30px "微软雅黑"}

.my{ padding:9px 0 14px 1px}
.my .pic{float:left; margin-right:25px;}
.my .txt{ overflow:hidden; *zoom:1}
.my .txt h3{font:18px/30px "arial"; height:36px;}
.my .link{line-height: 22px;}
.my .link a{display:inline-block;}
.my a.weibo_link{ background:url(http://comment.sinajs.cn/bbs_zxh_1211_05.png) no-repeat 0 -37px; padding-left:21px;}
.my a:link, .my a:visited{color:#333}
.my a:hover{color:#c00}

.blk_01{ padding:10px 10px 10px 0}
.blk_01 .blk_list{ margin:0 0 15px;}
.blk_01 .blk_num{ margin:4px 4px 0 0; background:url(http://comment.sinajs.cn/bbs_zxh_1211_05.png) no-repeat 0 -80px; height:33px; width:70px; float:left; color:#c00; font-family:Arial; font-size:15px; line-height:33px; padding-right:20px; text-align:right;}
.blk_01 .blk_txt{ overflow:hidden; *zoom:1;}
.blk_01 .blk_num a:link,.blk_01 .blk_num a:visited{color:#c00;text-decoration: none;}
.blk_01 .blk_num a:hover,.blk_01 .blk_num a:active{color:#c00;text-decoration: underline;}
.top-list-wrap-fix{background-color:#FAFAFA;}
/* 广告 */
.adBlock{background: #EDEFF2;margin:10px 10px 20px;padding:0 0 10px;text-align: center;}

/*返回顶部按钮*/
.top_btn {position:fixed; left:50%; bottom:100px; margin-left:476px; width:25px; overflow:hidden; height:25px; _position:absolute;}
.top_btn .toplink { background:url(http://i3.sinaimg.cn/ent/deco/2012/0907/content/ent_zxh_0816_02v9.png) no-repeat -100px -300px; width:25px; height:25px; outline:none; overflow:hidden; display:block; text-indent:-999em; cursor:pointer;}
.top_btn .toplink:hover {background-position:-150px -300px}
/*微博转发按钮*/
.weibo_btn {position:fixed; left:50%; bottom:100px; margin:0 0 0 -501px; text-align:center; color:#4c4c4c; width:26px; _position:absolute;}

.weibo_btn .wt_link, .weibo_btn .wt_link:visited {background:#fff url(http://i0.sinaimg.cn/dy/2011/0905/U6893P1DT20110905170320.gif) no-repeat 4px 5px; width:21px;outline:none; overflow:hidden; display:block; cursor:pointer; color:#4c4c4c; border:solid 1px #ccc;padding:29px 2px 7px; line-height:14px;}
.weibo_btn .wt_link:hover { background-color:#eee;color:#4c4c4c; text-decoration:none;}
.weibo_btn .wt_link, .weibo_btn .wt_link:visited{text-decoration:none}
/*以下为评论css*/
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearit { clear:both; height:0; font-size:0; overflow:hidden; }
.blkContainerCommentblk img{border:0;}
.blkContainerCommentblk
.blkContainerCommentblk .f_red, .blkContainerCommentblk .f_red:visited, .blkContainerCommentblk .f_red:hover { color:#D10000 !important;}
.blkContainerCommentblk #comment_t_show1 a:link, #comment_t_show1 a:visited { text-decoration:none; }
.blkContainerCommentblk #comment_t_show1 a:hover { text-decoration:underline; }
.blkContainerCommentblk #comment_t_show1 a { font-weight:normal; }
/*.blkContainerCommentblk { overflow:hidden; /*border-top:solid 3px #a7a7a7;*/ }*/
.blkContainerCommentblk h2 { margin:0px; }
.blkContainerCommentblk *.f_c00, .blkContainerCommentblk *.fred { color:#CC0000; }
.blkContainerCommentblk div { font-size:12px; }
.blkContainerCommentblk .cmnt_user_cont{ padding: 12px 0 0;position: relative;}
.cmnt-emotion-btns{float:left; display:inline;_margin-top:-2px;}
.cmnt-emotion-btns span{position: relative;top:-3px;*top:0;}
.blkContainerCommentblk .cmnt-emotion-trigger{display:inline-block;width:44px;height:26px;background: url(http://i2.sinaimg.cn/dy/deco/2012/1218/bg.png) no-repeat 0 -180px;}
.cmnt-emotion-btns span a{display: inline-block;padding:0 2px;}
.blkContainerCommentblk .cmnt-emotion-trigger-active{background:url(http://i2.sinaimg.cn/dy/deco/2012/1218/bg.png) no-repeat  0 -210px;}
.blkContainerCommentblk .cmnt_user{ float:right; display:inline;margin:2px 15px 0 0;*margin-top:3px;}
.blkContainerCommentblk .cmnt_name{ float:left;display: inline;margin:2px 0 0 0;}
.blkContainerCommentblk .cmnt_password{ margin-left:10px; float:left; display:inline;margin-top:2px;}
.blkContainerCommentblk .cmnt_user_link{ margin-left:10px; float:left; color:#666; line-height:23px; _line-height:27px; display:inline;margin-top:2px;}
.blkContainerCommentblk .post_box_top .cmnt_remeber,.blkContainerCommentblk .post_box_bottom .cmnt_remeber{padding-right:25px;_padding-top:2px;}
.blkContainerCommentblk .cmnt_remeber input{vertical-align:-2px;}
.blkContainerCommentblk .cmnt_user_link label input{margin-right:5px; }
.blkContainerCommentblk .cmnt_user_login{margin: 0 30px 0 10px;}
.blkContainerCommentblk .cmnt_user_login_info{position: absolute;left:0;top:-21px;color:#666; line-height:23px;_line-height:27px; }
.blkContainerCommentblk .cmnt_user_login_info .notice{ width: 90px;background:url(http://i0.sinaimg.cn/ent/deco/2012/0907/content/ent_zxh_0816_01v3.png) no-repeat -25px -1198px #FFF7DD;border: 1px solid #FFCE59;_background-position:-35px -1200px;padding:3px 13px 3px 27px; color:#ff7e00;}
.blkContainerCommentblk .cmnt_user_logout{ padding-left:10px;}
.blkContainerCommentblk .username_icon { background:url(http://i0.sinaimg.cn/ent/deco/2012/0907/content/ent_zxh_0816_01v3.png) no-repeat -33px -849px; vertical-align:middle; margin:0 5px; width:16px; height:16px; overflow:hidden;}
.blkContainerCommentblk .weibo_icon { background:url(http://i0.sinaimg.cn/ent/deco/2012/0907/content/ent_zxh_0816_01v3.png) no-repeat -31px -1051px; vertical-align:middle; margin:0 5px; width:16px; height:16px; overflow:hidden;}
.Mblk_cmnt {font-size:12px;  margin:0px auto; /*overflow:hidden;*/_zoom:1;}
.blkContainerCommentblk .cmnt_user_other{ float:right;}
.blkContainerCommentblk .share_wt{ float:left; font-size:12px; line-height:24px;}
.blkContainerCommentblk .ccto_link{ margin-right:20px; background:url(http://i2.sinaimg.cn/ent/deco/2012/0907/content/ent_zxh_0816_02v13.png) no-repeat 0 -250px; width:49px; height:23px; float:left; overflow:hidden; line-height:300px;display: none;}
.blkContainerCommentblk .to_mb{ background:url(http://i2.sinaimg.cn/ent/deco/2012/0907/content/ent_zxh_0816_02v13.png) no-repeat -100px -250px; width:17px; height:20px;float:left; overflow:hidden; line-height:300px;margin:1px; _margin:0;}
.blkContainerCommentblk .to_mb_selected{ background-position: -150px -250px; }

.Mblk_cmnt .b_cont2 { border:solid 1px #ccc; }
.Mblk_cmnt .b_cont2 .c_title { height:46px; line-height:46px; background-color:#f3f3f3;border-top:1px solid 
#FCFCFC; }
.Mblk_cmnt .b_cont2 .c_title .cmenu{ position:relative;cursor:default; width:100px; float:left;font-size:16px;font-family:微软雅黑, 黑体; font-weight:bold; text-align:center;}
.Mblk_cmnt .b_cont2 .c_title .selected{ background:#fff; color:#000; margin-bottom:-1px; padding-bottom:1px; position:relative;}
.Mblk_cmnt .b_cont2 .c_title .more { float:right; font-size:12px; font-weight:normal; padding:0 20px 0 15px; color:#666;}
.Mblk_cmnt .b_cont2 .c_title .more span{font-style: normal;color:#b60c0c;font-size: 14px;font-family: arial; }
.Mblk_cmnt .b_cont2 .c_title .more a, .Mblk_cmnt .b_cont2 h2 .more a:visited { color:#666; text-decoration:none; }
.Mblk_cmnt .b_cont2 .c_title .more a:hover { color:#c00; text-decoration:underline; }
.Mblk_cmnt .b_cont2 .c_title .cmenu .hot{background:url(http://i3.sinaimg.cn/ent/deco/2012/0907/content/ent_zxh_0816_comment_hot.png) no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src='http://i3.sinaimg.cn/ent/deco/2012/0907/content/ent_zxh_0816_comment_hot.png');_background:none;width:27px; height:11px;right:3px; top:8px; position:absolute; overflow:hidden;}
/* 大提交开始 */

.Mblk_cmnt .b_cont3 {border-style:solid; border-width:1px 0 0; padding:17px 10px 9px; border-color:#dedede; background-color:#efefef; z-index: 1000;}
.Mblk_cmnt .b_cont3 .cmnt_form { padding:0 0 5px; overflow:hidden; zoom:1 }
.Mblk_cmnt .b_cont3 .cmnt_comment { float:left;}
.blkContainerCommentblk .form_input_long {border:1px solid #ababab; width:120px; height:14px; padding:4px 5px 3px; color:#ccc; box-shadow:inset 1px 1px rgba(0,0,0,0.1); border-radius:1px}
.blkContainerCommentblk .form_input_c333 {color:#333;}
.Mblk_cmnt .b_cont3 textarea {height:72px; border-radius:6px; box-shadow:inset 2px 2px 2px rgba(0,0,0,.1); overflow:hidden; padding:4px 10px; }
.Mblk_cmnt .b_cont3 .cmnt_user_other{margin-right:70px;}
.Mblk_cmnt .post_comment { float:right; margin:56px 5px 0 0;  background:url(http://i2.sinaimg.cn/ent/deco/2012/0907/content/ent_zxh_0816_02v13.png) no-repeat 0 -200px; height:24px; width:58px; cursor:pointer; color:#FFF; border:none; font-size:14px; font-weight:bold; }
/* 大提交结束 */

.Mblk_cmnt .b_txt { padding:15px 0 0; }
.Mblk_cmnt .comment_item {border-bottom:1px dotted #ccc; _border-bottom:none; _background:url(http://i2.sinaimg.cn/dy/2010/0610/2010610122226.gif) repeat-x 0px -186px;_zoom:1; }
.Mblk_cmnt .comment_item_cont { padding:20px 19px 0 28px;}
.Mblk_cmnt .comment_item_cont .t_face{ display:inline; float:left; width:50px; height:64px; padding:1px 0}
.Mblk_cmnt .comment_item_cont .t_content{word-wrap:break-word; overflow:hidden;*zoom:1;margin-left:62px; _margin-left:59px;}
.Mblk_cmnt .comment_item .hot { position:absolute; background:url(http://i3.sinaimg.cn/ent/deco/2012/0907/content/ent_zxh_0816_comment_hot.png) no-repeat; width:26px; height:11px; display:none; left:-1px; top:0}
.Mblk_cmnt .comment_hot{ position:relative;}
.Mblk_cmnt .comment_hot .hot{ display:block;}
.Mblk_cmnt .comment_item .datetime{ float:left; color:#999;font-family: arial;line-height: 24px;}
.Mblk_cmnt .comment_selected { background-color:#FBFAF8;}
.Mblk_cmnt .comment_content { padding:10px 0 0;font-size:14px; }
.Mblk_cmnt .comment_content p{font-size: 14px;}
.Mblk_cmnt .comment_content p,.orig_content{word-break:break-all;word-wrap:break-word;}
/*隐藏回复里的时间*/
.Mblk_cmnt .orig_time{line-height:24px;float:left;font-family:arial;}

.Mblk_cmnt .comment_more,.Mblk_cmnt .comment_loading,.Mblk_cmnt .comment_tip {border:0; background:#fff;}
.Mblk_cmnt .comment_loading{margin: 15px 0;}
.Mblk_cmnt .comment_loading span,.Mblk_cmnt .comment_tip span{display:block; margin:0 auto; height:30px;padding-top: 10px;color:#666;  margin:0 auto; text-align:center;font-size:14px;background: #F1F1F1;font-family: "微软雅黑"}
.Mblk_cmnt .comment_loading img{vertical-align: middle;margin-right:10px;}
.Mblk_cmnt .comment_more a, .Mblk_cmnt .comment_more a:visited{ font-size:14px;display:block; margin:0 auto; height:40px;color:#666; line-height:40px; margin:0 auto; text-align:center;border-top:#d0d0d0 1px solid; margin-top:-1px;font-family: "微软雅黑"}	
.Mblk_cmnt .comment_more a:hover,.Mblk_cmnt .comment_more a:active { color:#666; text-decoration:none;background:url(http://i3.sinaimg.cn/ent/deco/2012/0907/content/ent_zxh_0816_btn_bgv3.png) repeat-x;background-position:0 -50px;}

.Mblk_cmnt .t_info { color:#666; line-height:20px; font-size:12px; }
.Mblk_cmnt .t_info .t_username { color:#666; padding:3px 0;font-size:14px;}
.Mblk_cmnt .t_info .t_area { color:#999; padding-left:15px; width:96px; }
.Mblk_cmnt .t_info .t_newslink{float:right;}
.Mblk_cmnt .comment_item  .t_username{font-size:12px}
.Mblk_cmnt .comment_selected  .t_username{ background-position:-33px -847px;}
.Mblk_cmnt .comment_selected  .t_mobile{ background-position:-37px -950px;}
.Mblk_cmnt .comment_selected  .t_weibo{ background-position:-31px -1147px;}

.comment_orig_content{margin:10px 0; color:#999;}
.comment_orig_content .comment_orig_content{margin-top:0;}
.orig_cont{ border:solid 1px #F3DDB3; background:#FFFEF4; padding:4px;color:#999;}
.orig_cont_sub{ border-top:0}
.comment_orig_content .orig_index{ float:right; color:#666; font-family:Arial; padding-right:5px;line-height:30px;}
.comment_orig_content .orig_user{ line-height:25px; padding-left:12px; padding-top:6px;}
.comment_orig_content .orig_user span{ color:#999; padding-right:5px;}
.comment_orig_content .orig_area{padding-left: 15px;}
.comment_orig_content .orig_content{padding:5px 105px 5px 12px;line-height:24px; font-size:14px; color:#666}
/*.comment_orig_content .orig_reply{visibility: hidden;}*/
.Mblk_cmnt .t_txt { line-height:22px;font-size:14px; color:#333; word-break:break-all;word-wrap:break-word;}
.Mblk_cmnt .reply {clear:both;height: 24px;margin:10px 0 5px 0;*zoom:1;vertical-align: middle;text-align: right;position: relative;}
.Mblk_cmnt .orig_cont .reply {margin:5px 0 0 12px;}
.Mblk_cmnt .orig_cont .post_box{border:1px solid #ccc;}
.Mblk_cmnt .orig_cont .box_border_top span{margin-top:-10px;}

.comment_ding_link{ height:24px;line-height:24px;display:inline-block;padding-left:2px;vertical-align:middle}
.comment_ding_link span{display: inline-block;padding: 0 10px 0 8px;}
.comment_ding_link em{font-style: normal;color:#D10000;font-family: arial;}
.Mblk_cmnt  .comment_ding_link:link,.Mblk_cmnt  .comment_ding_link:visited{color:#333;text-decoration: none;}
.Mblk_cmnt  .comment_ding_link:hover,.Mblk_cmnt  .comment_ding_link:active{color:#333;text-decoration: none;background: url(http://i2.sinaimg.cn/dy/deco/2012/1218/bg.png) no-repeat 0 -380px;text-decoration: none;}
.comment_ding_link:hover span,.comment_ding_link:active span{color:#333;text-decoration: none;background: url(http://i2.sinaimg.cn/dy/deco/2012/1218/bg.png) no-repeat right -410px;}
.Mblk_cmnt .comment_ding_link_active:link,.Mblk_cmnt .comment_ding_link_active:visited{cursor: text;color:#777;text-decoration: none;cursor: text;}
.Mblk_cmnt .comment_ding_link_active:hover,.Mblk_cmnt .comment_ding_link_active:active{background: none;color:#777;text-decoration: none;cursor: text;}
.Mblk_cmnt .comment_ding_link_active:hover span,.Mblk_cmnt .comment_ding_link_active:active span{background: none;color:#777;text-decoration: none;}

.comment_reply_link{  display:inline-block; width:50px; height:24px;line-height: 24px; vertical-align:middle;text-align: center;}
.comment_reply_link:link,.comment_reply_link:visited{color:#333;text-decoration: none;}
.Mblk_cmnt .comment_reply_link:hover{ background:url(http://i2.sinaimg.cn/dy/deco/2012/1218/bg.png) no-repeat 0 -350px;color:#333;text-decoration: none;}

/*.cmnt-share-btn-wrap{height:24px;display: inline-block;position: relative;}*/
.cmnt-share-tirgger{ display:inline-block; width:51px; height:24px;line-height: 24px; vertical-align:middle;text-align: center;position: relative;z-index: 10;}
.cmnt-share-tirgger:link,.cmnt-share-tirgger:visited{color:#333;text-decoration: none; }
.Mblk_cmnt .cmnt-share-tirgger-active:link,.Mblk_cmnt .cmnt-share-tirgger:hover{ color:#333;text-decoration: none;background:url(http://i2.sinaimg.cn/dy/deco/2012/1218/bg.png) no-repeat 0 -350px;cursor: pointer;}
.cmnt-share-tirgger em{font-style: normal;display:inline-block;width:50px;background:url(http://i2.sinaimg.cn/dy/deco/2012/1218/bg.png) no-repeat 0 -320px;}
.cmnt-share-btns{display: none;width:68px;height:24px;overflow:hidden;position: absolute;right:-14px;top:0;}
.cmnt-share-btn-sina,.cmnt-share-btn-qq{width:24px;height:24px;margin-left:3px;text-indent: -9999em;text-align:left;float:left;}
.cmnt-share-btn-sina{background: url(http://i2.sinaimg.cn/dy/deco/2012/1218/bg.png) no-repeat 0 -510px;left:50px;}
.cmnt-share-btn-qq{background: url(http://i2.sinaimg.cn/dy/deco/2012/1218/bg.png) no-repeat 0 -540px;left:80px;}
.cmnt-share-btn-sina:hover{background-position: -30px -510px;}
.cmnt-share-btn-qq:hover{background-position: -30px -540px;}

.cmnt-reflash-btn{display: inline-block;width: 50px;height: 23px;overflow: hidden;line-height: 90px;background: url(http://i2.sinaimg.cn/dy/deco/2012/1218/bg.png) no-repeat 0 -120px;margin-top:12px;}
.cmnt-reflash-btn:hover{background-position: 0 -150px;}
.cmnt-reflash-btn:active{background-position: -60px -120px;}
.Mblk_cmnt .comment_selected .t_others .datetime { color: #999; }
.Mblk_cmnt .t_others .reply { float:right; display:none; }
.Mblk_cmnt a, .Mblk_cmnt a:visited { text-decoration:none; color:#666;outline: none;}
.Mblk_cmnt a:hover { text-decoration:underline; color:#c00 }
#cmnt_inline_post_box { margin-bottom:-1px;position: relative;}
.orig_cont .cmnt_inline_post_box { padding-top:10px;}

.Mblk_cmnt .box_border_top_cont { height:9px;height:7px\9; position:relative;z-index: 100; margin-top:-6px; _display:none}
.Mblk_cmnt .box_border_top { height:9px; position:absolute; top:0; right:90px;color:#efefef;}
.Mblk_cmnt .comment_orig_content .box_border_top{right:70px;}
.Mblk_cmnt .box_border_top *{ display:block; font-size:17px; font-style:normal; font-family:"SimSun"; height:11px; overflow:hidden;}
.Mblk_cmnt .box_border_top em{ color:#ccc}
.Mblk_cmnt .box_border_top span{ color:#F1F1F1; margin-top:-11px;}
.Mblk_cmnt .post_box {background-color:#efefef; padding:40px 15px 9px; position:relative;background: url(http://i2.sinaimg.cn/dy/deco/2012/1218/bg.png) no-repeat 19px -988px #F1F1F1;zoom:1;
}
.Mblk_cmnt .orig_cont .post_box{padding:40px 10px 9px;}
.Mblk_cmnt .post_box_count{padding:0 18px 5px 0;font-size: 14px;text-align: right;position: absolute;right:5px;top:11px;}
.Mblk_cmnt .post_box_count a:link,.Mblk_cmnt .post_box_count a:visited{color:#333;}
.Mblk_cmnt .post_box_count a:hover{color:#c00;}
.Mblk_cmnt .post_box_count .f_red{color:#b60c0c;font-family:arial;}

.Mblk_cmnt .login_info { margin: 4px 0; }
.Mblk_cmnt textarea, .Mblk_cmnt .form_input { border: 1px solid #ababab; }
.Mblk_cmnt .post_box textarea {height:20px; line-height:20px; float:left; border-radius:6px; box-shadow:inset 2px 2px 2px rgba(0,0,0,.1); overflow:hidden; padding:4px 10px 4px 30px; background:#fff url(http://i2.sinaimg.cn/ent/deco/2012/0907/content/ent_zxh_0816_02v13.png) no-repeat -244px -302px;zoom:1;font-size: 14px;}
/* 评论按钮 */
.Mblk_cmnt .post_inline_comment {margin:-4px 3px 0 15px; float:left; width:82px;height:33px; cursor:pointer; color:#FFF; border:none; font-size:14px; font-weight:bold;float:right;display:inline;background:url(http://i2.sinaimg.cn/dy/deco/2012/1218/bg.png) no-repeat 0 -40px;text-indent: -9999em;}
.Mblk_cmnt .post_inline_comment:hover,.Mblk_cmnt .post_inline_comment:active { background-position:0 -80px;}
.Mblk_cmnt .post_inline_comment_disbled:link,.Mblk_cmnt .post_inline_comment_disbled:visited,.Mblk_cmnt .post_inline_comment_disbled:hover,.Mblk_cmnt .post_inline_comment_disbled:active{background-position: 0 0;}

.Mblk_cmnt .form_input { width:110px; }
.Mblk_cmnt .comment_content p.comment_posting, .comment_orig_content .orig_content p.comment_posting{ background:url(http://i0.sinaimg.cn/dy/deco/2012/1019/sina_comment_icon_successv5.png) no-repeat; width:129px; height:30px; line-height:25px; text-align:center; font-size:12px; color:#ff7e00;}
/*.Mblk_cmnt .post_box .cmnt_user_cont{ display:none;}*/
.Mblk_cmnt .post_box_show .cmnt_user_cont{ display:block; padding-top:10px;}
.Mblk_cmnt .post_box_top{z-index: 1000;/*width:610px;*/}
.Mblk_cmnt .post_box_top .cmnt_user_cont{display: none;}
.Mblk_cmnt .post_box_top textarea{width:590px;}
.blkCommentBoxFix .post_box_top textarea,.blkCommentBoxFix6 .post_box_top textarea{width:567px;}
.Mblk_cmnt .post_box_showall textarea {/*width:590px;*/ width: 96.5%; height:72px; line-height:24px; float:left; border-radius:6px;box-shadow: 0 1px 1px #C6C6C6 inset;/* box-shadow:inset 2px 2px 2px rgba(0,0,0,.1);*/ overflow:auto; padding:4px 10px; background:#fff; font-size:14px}
.Mblk_cmnt .post_box_showall .cmnt_user_cont{display: block;}
/*.Mblk_cmnt .post_box_showall .post_inline_comment { margin:34px 13px 0 0}*/
.Mblk_cmnt .post_box_show textarea {width:96.5%; height:48px; line-height:24px; float:left; border-radius:6px; box-shadow:inset 2px 2px 2px rgba(0,0,0,.1); overflow:auto; padding:4px 10px; background:#fff; font-size:14px}
/*.Mblk_cmnt .post_box_show .post_inline_comment{ margin-top:34px}*/
.cmnt_user_login{display: none;}

.orig_cont .post_box_show textarea{ width:97%; padding:4px 5px;}
.blkContainerCommentblk .orig_cont .form_input_long { width:100px}
.Mblk_cmnt .orig_cont .post_inline_comment { float:right; margin-top:-5px; margin-right:2px; display:inline}

/*daichang modify 201208231614*/
/*评论分页*/
.comment_pager{padding:12px 20px 20px 0;text-align: right;}
.comment_pager a,.comment_pager span{display: inline-block;height: 21px;line-height: 21px;padding: 0 8px;margin-left: 4px;border: 1px solid #ddd;}
.comment_pager a,.comment_pager a:link{color: #666;}
.comment_pager a:hover{color: #000;}
.comment_pager .pager-more{border: 0;padding: 0;color: #666;}
.comment_pager .current,.comment_pager .current:link,.comment_pager .current:hover{background: #aaa;color: #fff;border-color:#aaa; }

/*/评论分页*/
.blkContainerCommentblk .form_input_long {border:1px solid #ababab; width:120px; height:14px; padding:4px 5px 3px; color:#333; box-shadow:inset 1px 1px rgba(0,0,0,0.1); border-radius:1px;}
.blkContainerCommentblk input:focus{outline: none;}
.blkContainerCommentblk :-moz-placeholder { color: #888; }
.blkContainerCommentblk ::-webkit-input-placeholder { color:#888; }
.blkContainerCommentblk .gray{color: #888;}
.comment_item_page{ background:#fff url(http://i1.sinaimg.cn/dy/deco/2012/0910/ent_zxh_0816_page_bg.png) repeat-x; margin-top:-1px;}
.Mblk_cmnt .comment_selected  .t_weibo{ background-position:-31px -1047px;}
.t_txt .comment_content_emotion{display: inline-block;margin:0 2px;vertical-align: -5px;}
.orig_reply_wrap{margin-top: 10px;border-top: 1px dashed #ccc; padding-top:5px;}
.orig_reply_wrap .orig_content{padding-left:0;}
.orig_reply_wrap .orig_content .reply{margin-left:0;}

.post_box_cont{width:100%;position: relative;}
.Mblk_cmnt .b_cont3 .cmnt_form{position: relative;}
.Mblk_cmnt .post_tip{position: absolute;top:50%;left:50%;margin:-15px 0 0 -56px;line-height: 30px;font-family: "微软雅黑","黑体";font-size: 16px;color: #888;}
.Mblk_cmnt .post_tip p{margin:0;padding:0;font-size: 16px;}
.Mblk_cmnt .orig_cont .post_tip{top:68px;}
.Mblk_cmnt .post_tip .post_tip_succ{background:url(http://i2.sinaimg.cn/dy/deco/2012/1218/bg.png) no-repeat 0 -240px;padding-left: 35px;}
.Mblk_cmnt .post_tip .post_tip_error{background:url(http://i2.sinaimg.cn/dy/deco/2012/1218/bg.png) no-repeat 0 -280px;padding-left: 35px;}
.comment_item .reply{position: relative;}
.comment_item .reply .vote_tip{display: none;width: 48px;height: 28px;text-indent: -9999em;text-align:left;background:url("http://i0.sinaimg.cn/ent/deco/2012/0907/content/ent_zxh_0816_01v3.png") no-repeat scroll right -1380px;position: absolute;top:0;right:124px;}
.blkCommentBoxFix .post_box_top,.blkCommentBoxFix6 .post_box_top{-moz-box-shadow: 0 5px 3px rgba(0,0,0,.1);-webkit-box-shadow: 0 5px 3px rgba(0,0,0,.1);box-shadow: 0 5px 3px rgba(0,0,0,.1);-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=180, Color='#C5C5C5')";filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=180, Color='#C5C5C5');}

/*彩票提示*/

.comment_tip_o{height:23px;line-height: 23px;padding-left: 30px;margin:0 0 1px 0;border:1px solid #ECECEC;border-radius:2px;color:#EF9200;background: url(http://i1.sinaimg.cn/ty/deco/2012/1009/sports_dc_02.png) no-repeat 7px -76px #FBFBFB;display:none;}
.comment_tip_o p a,.comment_tip p a:visited{font-size: 12px;}

/*表情*/
.article-layer{border-spacing: 0px;}
.article-layer .a-l-top-c,.article-layer .a-l-btm-c,.article-layer .a-l-m-l,.article-layer .a-l-m-r { height:4px; background:url(http://timg.sjs.sinajs.cn/t36/style/images/common/layer/wraplayer_09.png); }
.article-layer .a-l-m-c { background:#fff; }
.article-layer .a-l-top-r,.article-layer .a-l-top-l,.article-layer .a-l-btm-l,.article-layer .a-l-btm-r { width:4px; height:4px; background:url(http://timg.sjs.sinajs.cn/t36/style/images/common/layer/wraplayer_09.png); }
.article-layer .a-l-top-l { -webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; }
.article-layer .a-l-top-r { -webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; }
.article-layer .a-l-btm-l { -webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; }
.article-layer .a-l-btm-r { -webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px; }
.article-layer .a-l-box { border:1px solid #C6C6C6; }
.a-l-close-wrap {float: right;display: inline;width: 16px;height: 16px;margin:-17px -17px 0 0;}
.a-l-close{ display: block; background:url(http://i2.sinaimg.cn/dy/deco/2012/1218/bg.png) no-repeat scroll 0 -580px; cursor:pointer; height:16px; width:16px; }
.a-l-close:hover{background-position: -30px -580px;}
.a-l-btn a { margin:0 5px; }
.a-l-arrow { width:16px; height:8px; overflow:hidden; position:absolute; left:134px; top:-8px; background:url(http://timg.sjs.sinajs.cn/t36/style/images/common/new_index_bg.png?id=1317114904156) no-repeat -142px -71px; _background:url(http://timg.sjs.sinajs.cn/t36/style/images/common/layer/wraplayer.gif?id=1317114904156) no-repeat 0 -12px; }

.face-list { padding:20px 20px 10px; position:relative; }
.face-list .a-l-arrow { left:25px; }
.face-list .face-list-items { width:330px; }
.face-list .face-list-items ul{padding: 0;margin: 0;}
.face-list .face-list-items li { float:left; height:28px; width:28px; padding:0 5px 5px 0; overflow: hidden;}
.face-list .face-list-items li a:link,.face-list .face-list-items li a:visited { width:26px; height:26px; text-align:center; display:block; border:1px solid #E8E8E8; }
.face-list .face-list-items li a:hover { border:1px solid #0095cd;background: #fff9ec; }
.face-list .face-list-items li img{border:0;border:none;}