@charset "UTF-8";
/** Created by zhaojian3 on 2016/4/20. */
@import url(http://n.sinaimg.cn/games/2016vr/VR-page.css);
.recom_l li p, .recom_r li, .yxtj-wrap li h4, .pro-art-gamerank .gamerank-list .title { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

img { max-width: 100%; }

/*********************************************************ARTICLE LEFT**********************************************************/
/*---- 新闻正文样式 ----*/
.location { display: block; font-size: 14px; position: relative; z-index: 10; }

.location h1 { font-size: 24px; height: 70px; line-height: 70px; border-bottom: 1px solid #dedede; }

/* 关键词添加链接样式*/
.vipmark { color: #f65049; }

/*---- 正文标题底下相关信息 ----*/
.breadcrumb { color: #929291; }

.breadcrumb a { color: #929291; }

.breadcrumb a:hover { color: #f65049; }

.breadcrumb i { font-style: normal; font-family: '宋体'; font-size: 10px; color: #cbcbcb; }

.txtdetail { position: relative; height: 48px; line-height: 48px; color: #929291; }

.txtdetail a { color: #929291; }

.txtdetail a:hover { color: #f65049; }

.txtdetailright { padding-top: 16px; position: absolute; top: 4px; right: 0; }

.forward a, .txtdetail .comment, .topshare .share-icon, .topshare .sdown a, .txtdetail .fontjia, .txtdetail .fontjian { background-image: url(http://n.sinaimg.cn/game/news/2015/images/sprite.png); background-repeat: no-repeat; }

.txtdetail .comment { width: 16px; height: 16px; display: block; background-position: 0 -24px; }

.txtdetail .comment:hover { background-position: 0 -42px; }

.topshare { width: 16px; height: 32px; padding: 0 20px; display: inline-block; cursor: pointer; position: relative; z-index: 99; }

.topshare .share-icon { width: 100%; height: 16px; background-position: 0 -60px; }

.topshare .sdown { width: 148px; border: 1px solid #d2d2d2; background: #FFFFFF; padding: 12px 3px 3px 13px; position: relative; margin-top: 15px; margin-left: -70px; display: none; }

.topshare .sdown a { width: 28px; height: 28px; display: block; margin: 0 9px 8px 0; float: left; }

.topshare .sdown a.share-01 { background-position: 0 -169px; }

.topshare .sdown a.share-02 { background-position: 0 -197px; }

.topshare .sdown a.share-03 { background-position: 0 -225px; }

.topshare .sdown a.share-04 { background-position: 0 -253px; }

.topshare .sdown a.share-05 { background-position: 0 -281px; }

.topshare .sdown a.share-06 { background-position: 0 -309px; }

.topshare .sdown a.share-07 { background-position: 0 -337px; }

.topshare .sdown a.share-08 { background-position: 0 -365px; }

.topshare .sdown a.share-01:hover { background-position: -28px -169px; }

.topshare .sdown a.share-02:hover { background-position: -28px -197px; }

.topshare .sdown a.share-03:hover { background-position: -28px -225px; }

.topshare .sdown a.share-04:hover { background-position: -28px -253px; }

.topshare .sdown a.share-05:hover { background-position: -28px -281px; }

.topshare .sdown a.share-06:hover { background-position: -28px -309px; }

.topshare .sdown a.share-07:hover { background-position: -28px -337px; }

.topshare .sdown a.share-08:hover { background-position: -28px -365px; }

.topshare .sdown .sharearr { display: block; width: 11px; height: 7px; background: url(http://n.sinaimg.cn/game/news/2015/images/sharearr.gif) no-repeat; position: absolute; left: 77px; top: -7px; }

.txtdetail .fontjia { width: 16px; height: 16px; display: block; cursor: pointer; background-position: 0 -96px; margin-right: 22px; }

.txtdetail .fontjia:hover { background-position: 0 -114px; }

.txtdetail .fontjian { width: 16px; height: 16px; display: block; cursor: pointer; background-position: 0 -132px; }

.txtdetail .fontjian:hover { background-position: 0 -150px; }

.forward { width: 97px; height: 24px; position: absolute; right: 0; top: 0; }

.forward a { display: block; width: 100%; height: 100%; background-color: #ff3b3b; background-position: 9px 0; font-size: 12px; text-indent: 29px; line-height: 24px; color: #fff; border-radius: 2px; }

.forward a:hover { background-color: #e53535; }

/*---- 正文页顶部链接 ----*/
.sgtext_link { text-align: right; }

.sgtext_link a { color: #f65049; }

.sgtext_link a:hover { text-decoration: underline; }

.sgtext_link span { color: #d5d5d5; padding: 0 26px; }

/*---- 正文右侧评分 ----*/
.CGWRScore { width: 214px; height: 145px; float: right; margin-left: 20px; margin-bottom: 10px; overflow: hidden; }

.CGWRScore_img { display: block; width: 105px; height: 145px; float: left; margin-right: 6px; overflow: hidden; }

.CGWRScore_img img { width: 100%; height: 100%; }

.CGWRScore_con { width: 102px; float: right; position: relative; text-align: center; }

.CGWRScore_show { width: 72px; height: 72px; position: absolute; left: 15px; top: 2px; }

.CGWRScore_num { width: 72px; height: 72px; margin: 2px auto 10px; font-size: 15px; line-height: 72px; color: #828282; }

.CGWRScore_num:first-letter { font-size: 30px; }

.CGWRScore_con i { display: block; font-size: 12px; line-height: 25px; }

.CGWRScore_con i a { color: #828282; }

.CGWRScore_con i a:hover { color: #f65049; }

.CGWRScore_con span { display: block; font-size: 12px; line-height: 20px; }

/*---- 正文 ----*/
.text { width: 100%; padding: 20px 0 44px; font-size: 14px; line-height: 30px; }

.text p { margin: 12px 0; }

.img_wrapper { text-align: center; }

.img_wrapper img { display: block; margin: 0 auto; }

.img_wrapper .img_descr { margin: 5px auto; display: inline-block; display: -moz-inline-stack; zoom: 1; text-align: left; }

/*---- 正文页底部分享及其他 ----*/
.txtbot { margin-bottom: 45px; }

.share_wrap { float: right; }

.bshare-custom a { padding: 0 !important; margin: 0 !important; width: 32px !important; height: 32px !important; border-radius: 16px; margin-right: 4px !important; background: url(http://www.sinaimg.cn/gm/project/public/textshare.jpg) no-repeat !important; }

.bshare-custom a.bshare-sinaminiblog { background-position: 0 0 !important; margin-left: 12px !important; }

.bshare-custom a.bshare-sinaminiblog:hover { background-position: -32px 0 !important; }

.bshare-custom a.bshare-weixin { background-position: 0 -32px !important; }

.bshare-custom a.bshare-weixin:hover { background-position: -32px -32px !important; }

.bshare-custom a.bshare-qzone { background-position: 0 -96px !important; }

.bshare-custom a.bshare-qzone:hover { background-position: -32px -96px !important; }

.bshare-custom a.bshare-qqim { background-position: 0 -128px !important; }

.bshare-custom a.bshare-qqim:hover { background-position: -32px -128px !important; }

.bshare-custom a.bshare-douban { background-position: 0 -160px !important; }

.bshare-custom a.bshare-douban:hover { background-position: -32px -160px !important; }

.bshare-custom a.bshare-renren { background-position: 0 -192px !important; }

.bshare-custom a.bshare-renren:hover { background-position: -32px -192px !important; }

.bshare-custom a.bshare-qqmb { display: none !important; }

.bshare-custom a.bshare-neteasemb { display: none !important; }

.bshare-custom a.bshare-more { width: 5px !important; background-position: 0 -224px !important; }

.bshare-custom a.bshare-more:hover { background-position: -32px -224px !important; }

.bshare-custom a.share_weimi { background-position: 0 -64px !important; }

.bshare-custom a.share_weimi:hover { background-position: -32px -64px !important; }

.txtbotright { float: right; margin-top: 4px; }

.txtbotright .comment { width: 76px; height: 24px; padding: 0 22px; border-left: 1px solid #d6d6d6; border-right: 1px solid #d6d6d6; }

.txtbotright .comment a { display: block; width: 76px; height: 100%; background: url(http://n.sinaimg.cn/game/news/2015/images/sprite.png) no-repeat 0 -394px; }

.txtbotright .comment a:hover { background-position: 0 -420px; }

.txtbotright .comment a p { text-indent: 36px; font-size: 15px; line-height: 24px; }

.txtbotright .font_l, .txtbotright .font_s { width: 22px; height: 24px; padding: 0 22px; border-right: 1px solid #d6d6d6; }

.txtbotright .font_l a, .txtbotright .font_s a { display: block; width: 100%; height: 100%; background: url(http://n.sinaimg.cn/game/news/2015/images/sprite.png) no-repeat; }

.txtbotright .font_l a { background-position: 0 -446px; }

.txtbotright .font_l a:hover { background-position: 0 -472px; }

.txtbotright .font_s a { background-position: 0 -498px; }

.txtbotright .font_s a:hover { background-position: 0 -524px; }

/*----正文页标题通用 ----*/
.ltit { width: 100%; height: 56px; font-size: 20px; line-height: 56px; border-top: 1px solid #dedede; position: relative; }

.ltit i { width: 80px; height: 2px; background-color: #f65049; overflow: hidden; position: absolute; left: 0; top: -1px; }

.ltit_t37 { margin-top: 37px; }

.ltit_k120 { width: 120px !important; }

/*---- 精彩推荐----*/
.recom { width: 100%; /*height: 168px;*/ overflow: hidden; margin-bottom: 22px; font-size: 14px; }

.recom_l { width: 458px; }

.recom_l li { width: 201px; float: left; margin-right: 28px; }

.recom_l li .recom_img { width: 201px; height: 106px; overflow: hidden; }

.recom_l li .recom_img img { display: block; width: 100%; height: 100%; }

.recom_l li p { width: 100%; height: 50px; line-height: 52px; text-align: center; }

.recom_r { width: 350px; }

.recom_r ul { margin-top: -10px; }

.recom_r li { width: 100%; height: 40px; line-height: 40px; background: url(http://n.sinaimg.cn/game/news/2015/images/dot.gif) no-repeat 0 center; text-indent: 15px; }

/*---- 广告 ----*/
.gg { margin-bottom: 45px; }

.gg, .gg img { width: 100%; display: block; }

/***********************************产品库**********************************/
/*nav2*/
.navwp2 { width: 100%; height: 160px; background-color: #fbfbfb; border-bottom: 1px solid #e3e3e3; }

.nav2 { width: 1200px; margin: 0 auto; padding-top: 20px; font-size: 14px; }

.nav2top { height: 77px; margin-bottom: 20px; }

.nav2game { width: 100px; height: 75px; border: 1px solid #dfdfdf; margin-right: 22px; float: left; }

.nav2name { padding-top: 4px; padding-bottom: 19px; height: 28px; }

.nav2name strong { font-size: 18px; line-height: 28px; float: left; padding-right: 30px; }

.nav2name span.define { display: block; width: 80px; height: 26px; background: url(http://n.sinaimg.cn/games/2016vr/sprite_article.png) no-repeat 0 -1489px; text-indent: 10px; line-height: 26px; margin-top: 1px; float: left; margin-right: 13px; }

.nav2name a.card { display: block; float: left; width: 116px; height: 26px; border: 1px solid #fdc29c; border-radius: 2px; text-indent: 34px; line-height: 26px; background: url(http://n.sinaimg.cn/game/news/2015/images/sprite.png) no-repeat 14px -550px; }

.nav2name a.card:hover { border-color: #f65049; background-color: #f65049; color: #fff; background-position: 14px -578px; }

.nav2item { height: 16px; overflow: hidden; }

.nav2item a { display: block; float: left; height: 100%; line-height: 16px; padding-left: 20px; padding-right: 40px; background: url(http://n.sinaimg.cn/games/2016vr/sprite_article.png) no-repeat; }

.nav2item a.sec { background-position: 0 -1381px; }

.nav2item a.sec:hover { background-position: 0 -1471px; }

.nav2item a.gamedoc { background-position: 0 -1309px; }

.nav2item a.gamedoc:hover { background-position: 0 -1399px; }

.nav2item a.cgwr { background-position: 0 -1327px; }

.nav2item a.cgwr:hover { background-position: 0 -1417px; }

.nav2item a.detailinfo { background-position: 0 -1345px; }

.nav2item a.detailinfo:hover { background-position: 0 -1435px; }

.nav2item a.comment { background-position: 0 -1363px; }

.nav2item a.comment:hover { background-position: 0 -1453px; }

.nav2menu { width: 1198px; height: 42px; border-top: 1px solid #e3e3e3; border-left: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; }

.nav2menu li { margin-top: -1px; float: left; width: 145px; }

.nav2menu li a { display: block; /* float: left;*/ height: 42px; font-size: 16px; text-align: center; line-height: 42px; /*padding: 0 27px;*/ border-top: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; position: relative; }

.nav2menu li a:hover, .nav2menu li a.current { font-weight: bold; line-height: 40px; color: #f65049; background-color: #fff; border-top: 2px solid #f65049; border-bottom: 1px solid #fff; }

.nav2menu li a span { font-size: 10px; line-height: 14px; color: #fff; background-color: #f65049; padding: 0 6px; border-radius: 7px; position: absolute; /*left: 98px;*/ left: auto; top: 2px; z-index: 999; }

.nav2menu li a:hover span, .nav2menu li a.current span { font-weight: normal; top: 1px; }

/*nav(end)---old*/
.propiclist .listboxwp { padding: 16px 0 43px; }

/*---- cgwr介绍 ----*/
.intro { width: 100%; margin-top: -10px; }

.intro p { font-size: 14px; line-height: 28px; margin: 10px 0; text-indent: 2em; }

/*---- 产品库相关 ----*/
.pro { width: 100%; font-size: 14px; overflow: hidden; }

.pro_sec1 { padding-bottom: 17px; line-height: 24px; }

.pro_sec1 .pro_time { padding-left: 22px; background: url(http://n.sinaimg.cn/game/news/2015/images/sprite.png) no-repeat 0 -1013px; }

.pro_sec1 .lightgray { font-weight: bold; color: #ebebeb; padding: 0 16px; }

.pro_sec2 { height: 64px; line-height: 64px; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; margin-bottom: 14px; position: relative; }

.pro_sec2 p { font-size: 15px; font-weight: bold; float: left; padding-right: 18px; }

.pro_sec2 .vote { float: left; width: 138px; height: 30px; margin-top: 17px; }

.pro_sec2 .vote span { display: block; width: 80px; height: 26px; line-height: 26px; text-align: center; border: 2px solid #e0e0e0; border-right: none; float: left; }

.pro_sec2 .vote a.vote_btn { display: block; width: 56px; height: 30px; float: left; background-color: #f65049; color: #fefefe; text-align: center; line-height: 30px; }

.pro_sec2 .vote a.vote_btn:hover { background-color: #eb5f02; }

.pro_sec2 h2 { float: left; }

.pro_sec2 .bshare-custom { width: 208px; /* position: absolute; right: 165px; top: 16px;*/ float: right; margin: 16px 10px 0 0; }

.pro_sec2_downbtn { display: inline-block; float: right; padding: 0 18px; line-height: 32px; font-size: 14px; color: #fff; background: #f65049; margin: 16px 0 0 0; }

.pro_sec2_downbtn:hover { color: #eee; }

.pro_sec2 .bshare-custom a { padding: 0 !important; margin: 0 !important; width: 32px !important; height: 32px !important; border-radius: 16px; margin-right: 4px !important; background: url(http://n.sinaimg.cn/game/news/2015/images/share2.jpg) no-repeat !important; }

.pro_sec2 .bshare-custom a.bshare-sinaminiblog { background-position: 0 0 !important; margin-left: 12px !important; }

.pro_sec2 .bshare-custom a.bshare-sinaminiblog:hover { background-position: 0 -35px !important; opacity: 1 !important; }

.pro_sec2 .bshare-custom a.bshare-weixin { background-position: -36px 0 !important; }

.pro_sec2 .bshare-custom a.bshare-weixin:hover { background-position: -36px -35px !important; opacity: 1 !important; }

.pro_sec2 .bshare-custom a.bshare-qqim { background-position: -72px 0px !important; }

.pro_sec2 .bshare-custom a.bshare-qqim:hover { background-position: -72px -35px !important; opacity: 1 !important; }

.pro_sec2 .bshare-custom a.bshare-more { width: 5px !important; background-position: -108px 0px !important; }

.pro_sec2 .bshare-custom a.bshare-more:hover { background-position: -108px -35px !important; opacity: 1 !important; }

.pro_sec3 { width: 100%; overflow: hidden; margin-bottom: 13px; }

.pro_sec3 li { width: 261px; height: 36px; line-height: 36px; margin-right: 10px; overflow: hidden; float: left; text-overflow: ellipsis; white-space: nowrap; }

.pro_sec4 { width: 100%; overflow: hidden; margin-bottom: 45px; }

.pro_sec4 ul { width: 664px; }

.pro_sec4 li { width: 127px; height: 34px; float: left; margin-right: 39px; }

.pro_sec4 li a span { display: block; width: 32px; height: 32px; border: 1px solid #e0e0e0; float: left; background: url(http://n.sinaimg.cn/game/news/2015/images/sprite.png) no-repeat; }

.pro_sec4 li a:hover span { border-color: #f65049; background-color: #f65049; }

.pro_sec4 li a p { width: 92px; height: 32px; line-height: 32px; text-align: center; border: 1px solid #e0e0e0; border-left: none; float: left; }

.pro_sec4 li a:hover p { color: #f65049; }

.pro_sec4 li.pro_t1 a span { background-position: 0 -1037px; }

.pro_sec4 li.pro_t1 a:hover span { background-position: 0 -1071px; }

.pro_sec4 li.pro_t2 a span { background-position: 0 -1105px; }

.pro_sec4 li.pro_t2 a:hover span { background-position: 0 -1139px; }

.pro_sec4 li.pro_t3 a span { background-position: 0 -1173px; }

.pro_sec4 li.pro_t3 a:hover span { background-position: 0 -1207px; }

.pro_sec4 li.pro_t4 a span { background-position: 0 -1241px; }

.pro_sec4 li.pro_t4 a:hover span { background-position: 0 -1275px; }

.pro_sec5 { margin-bottom: 26px; }

.pro_sec5 .pro_img { display: block; width: 338px; height: 166px; float: left; margin-top: 8px; margin-right: 24px; }

.pro_sec5 .pro_img img { width: 100%; height: 100%; }

.pro_sec5 p { width: 100%; line-height: 30px; }

.pro_sec6 { height: 42px; line-height: 42px; margin-bottom: 45px; }

.pro_sec6 strong.card { display: block; width: 118px; float: left; font-size: 16px; text-align: center; color: #fff; background-color: #f65049; }

.pro_sec6 p { padding-left: 18px; width: 360px; background-color: #f5f5f5; float: left; }

.pro_sec6 p i { color: #d7d7d7; padding: 0 18px; }

.pro_sec6 a.card_btn { display: block; width: 64px; height: 42px; float: left; text-align: center; color: #fff; font-size: 16px; font-weight: bold; }

.pro_sec6 a.ling { background-color: #2bce59; margin-right: 1px; }

.pro_sec6 a.ling:hover { background-color: #29c354; }

.pro_sec6 a.tao { background-color: #fcb710; }

.pro_sec6 a.tao:hover { background-color: #efae0f; }

/*---- 左边标题样式 ----*/
.ltit1 { border-top: 1px solid #e3e3e3; font-size: 20px; font-weight: bold; padding: 20px 0 0; height: 33px; line-height: 20px; *line-height: 19px; }

.ltit1 a.more { float: right; font-weight: normal; color: #828282; font-size: 14px; }

.ltit1 a.more:hover { color: #f65049; }

.ltit1 i { float: left; display: block; width: 4px; height: 20px; font-size: 12px; background-color: #f65049; margin: 0 12px 0 0; }

/*---- 最新消息 ----*/
.lnewlist { width: 100%; font-size: 14px; margin-bottom: 32px; overflow: hidden; }

.lnewlist .listboxwp:last-child { border: none; }

.lnewlist .listboxwp h3 { font-size: 16px; font-weight: bold; margin-bottom: 10px; }

.lnewlist .listboxwp h3 a { color: #474747; }

.lnewlist .listboxwp p { margin-bottom: 15px; }

.lnewlist li { width: 376px; line-height: 38px; height: 38px; overflow: hidden; float: left; margin-right: 31px; text-indent: 15px; background: url(http://n.sinaimg.cn/game/news/2015/images/dot.gif) no-repeat left center; text-overflow: ellipsis; white-space: nowrap; }

/*-----相关视频----*/
.xgsp-top4 { margin-right: -20px; padding: 10px 0 50px 0; }

.xgsp-top4 .item { float: left; width: 188px; margin-right: 20px; }

.xgsp-top4 .item:hover .picwp .imgvideo { background-position: -98px -221px; }

.xgsp-top4 .item .picwp { height: 106px; overflow: hidden; text-align: center; vertical-align: middle; position: relative; }

.xgsp-top4 .item .picwp img { vertical-align: middle; }

.xgsp-top4 .item .picwp .imgvideo { width: 34px; height: 34px; background: url(http://n.sinaimg.cn/games/2016vr/sprite.png) -98px -181px; position: absolute; top: 50%; left: 50%; margin: -17px 0 0 -17px; }

.xgsp-top4 .item p { line-height: 24px; margin-top: 10px; }

/*------相关游戏推荐-------*/
.yxtj-wrap { margin-bottom: 30px; }

.yxtj-wrap ul { margin-right: -15px; }

.yxtj-wrap li { float: left; width: 265px; padding: 15px 11px 10px 0; line-height: 28px; }

.yxtj-wrap li .pic-wp { width: 100px; height: 75px; display: block; float: left; margin: 3px 20px 0 0; border: solid 1px #e7e7e7; overflow: hidden; }

.yxtj-wrap li .pic-wp img { display: block; width: 100%; height: 100%; }

.yxtj-wrap li h4 { font-size: 14px; font-weight: bold; }

/*------游戏下载 多平台下载------*/
.plats-wrap { margin-bottom: 50px; }

.plats-wrap .plat-item { padding: 10px 0 20px 0; border-bottom: solid 1px #e7e7e7; line-height: 2.5; }

.plats-wrap .plat-name { font-size: 20px; font-weight: bold; overflow: hidden; }

.plats-wrap .plat-name .reddot { display: block; float: left; width: 5px; height: 5px; background: #f65049; border-radius: 100%; margin: 23px 12px 0 0; }

.plats-wrap .plat-downbtn { display: block; width: 162px; height: 32px; line-height: 32px; color: #fff; background: #f65049; text-align: center; margin: 10px 0; position: relative; overflow: hidden; }

.plats-wrap .plat-downbtn:hover:before { width: 100%; }

.plats-wrap .plat-downbtn:before { display: block; content: ""; width: 0; height: 100%; position: absolute; z-index: 0; left: 0; top: 0; background: rgba(255, 255, 255, 0.2); transition: all .2s; }

.plats-wrap .plat-downbtn .down-icon { display: inline-block; width: 20px; height: 20px; background: url("http://n.sinaimg.cn/games/2016vr/sprite1.png") no-repeat; background-position: -108px -302px; vertical-align: middle; margin: 0 5px 0 0; }

/*---- 游戏新闻图片 ----*/
.piclist .listboxwp { border-top: 1px solid #e7e7e7; border-bottom: none; }

.piclist .listboxwp h3 a.more { float: right; font-weight: normal; color: #828282; font-size: 14px; }

.piclist .listboxwp h3 a.more:hover { color: #f65049; }

/*---- 最近游戏 ----*/
.lategame { width: 100%; overflow: hidden; padding-top: 14px; margin-bottom: 28px; font-size: 14px; }

.lategame ul { width: 650px; }

.lategame li { width: 105px; float: left; margin-right: 25px; }

.lategame li span { display: block; width: 105px; height: 145px; overflow: hidden; }

.lategame li span img { width: 100%; height: 100%; }

.lategame li p { width: 100%; height: 46px; line-height: 46px; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.wbbox { width: 100%; padding-top: 14px; margin-bottom: 40px; }

/*新闻列表页*/
.autofrash { padding-bottom: 20px; font-size: 14px; text-align: center; }

.autofrash .refrashrdio { margin: 0 10px; vertical-align: middle; }

.newslist { font-size: 14px; padding: 0 0 30px; }

.newslist li { height: 44px; line-height: 44px; background: url(http://n.sinaimg.cn/game/news/2015/images/dot.gif) no-repeat 0 21px; }

.newslist .gray { margin: 0 5px 0 15px; }

.pagewrapup { margin-bottom: 30px; }

.pagewrapdown { margin-bottom: 30px; }

/*下载页*/
.downloadurl { width: 625px; height: 38px; margin: 30px 0; }

.downloadurl a { display: block; float: left; width: 128px; height: 34px; border: 2px solid #ffdfca; font-weight: bold; text-align: center; color: #f65049; font-size: 15px; line-height: 34px; margin-right: 32px; }

.downloadurl a:hover { color: #fff; background: #f65049; border-color: #f65049; }

.digest { font-size: 14px; line-height: 30px; margin-bottom: 30px; }

.digest p { margin: 12px 0; }

/*---- 视频 ----*/
.videoplay { width: 625px; height: 432px; }

.videobox { width: 100%; overflow: hidden; }

.videolist li { padding: 30px 0; border-bottom: 1px solid #e7e7e7; height: 108px; overflow: hidden; }

.videolist li .videoimg { float: left; width: 179px; height: 108px; overflow: hidden; margin-right: 25px; position: relative; }

.videoimg a { display: block; width: 179px; height: 108px; }

.videoimg img { width: 179px; height: 108px; }

.videoimg b { display: block; width: 170px; height: 25px; background: url(http://n.sinaimg.cn/game/news/2015/images/videoimgbg.png); position: absolute; bottom: 0; left: 0; padding: 35px 9px 0 0; text-align: right; color: #eaeaea; font-weight: normal; }

.videoimg a i { background: url(http://n.sinaimg.cn/game/news/2015/images/sprite2.png) no-repeat -97px -181px; display: block; width: 35px; height: 35px; top: 37px; left: 72px; padding: 0; position: absolute; transition: -webkit-transform 0.5s; transition: transform 0.5s; transition: transform 0.5s, -webkit-transform 0.5s; }

.videoimg a span { display: block; width: 61px; height: 20px; background: url(http://n.sinaimg.cn/game/news/2015/images/op0.7.png); position: absolute; right: 0; bottom: 0; text-align: center; line-height: 20px; color: #d1d1d1; }

.videoimg a:hover i { background-position: -97px -220px; transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); -ms-transform: rotate(360deg); }

.videoinfor { line-height: 28px; font-size: 14px; color: #828282; height: 108px; overflow: hidden; }

.videoinfor h4 { color: #474747; font-size: 16px; line-height: 22px; margin: -2px 0 10px 0; }

.videoinfor p { overflow: hidden; line-height: 24px; height: 48px; margin-bottom: 9px; }

.videoinfor .anchor, .videoinfor .dtime { padding-right: 32px; }

.videoinfor .sharebtn { height: 18px; }

.videobox .page_more { margin: 40px 0 20px; }

/*3.5閺冦儰鎱ㄩ弨绛▂ zm*/
/*---- 下载页 ----*/
.MMCont { width: 100%; }

.MMCont iframe { margin: 0 auto; width: 550px !important; }

.MMCont table { width: 100%; border-collapse: collapse; }

.MMCont table td { height: 50px; border: 1px solid #d1d1d1; }

.MMCont table td img { margin-right: 10px; }

.MMCont table.xit td { border: none; }

/*------ 产品库图片轮播 ------*/
.ps_box { width: 625px; overflow: hidden; height: 459px; position: relative; margin: 0 auto; }

.ps_box .pb { height: 450px; }

.ps_box .pb li { width: 625px; height: 450px; float: left; }

.ps_box .pb li img { max-width: 625px; max-height: 450px; }

.ps_box .viewArrows { width: 46px; height: 82px; position: absolute; top: 184px; background: url(http://n.sinaimg.cn/game/news/2015/images/op0.7.png) no-repeat; text-indent: -9999px; cursor: pointer; }

.ps_box .viewArrows span { display: block; width: 46px; height: 82px; background: url(http://n.sinaimg.cn/game/news/2015/images/arrow.png) no-repeat; }

.ps_box .pprev { left: 0; }

.ps_box .pnext { right: 0; }

.ps_box .pprev span { background-position: 0 -82px; }

.ps_box .pprev span:hover { background-position: -46px -82px; }

.ps_box .pnext span:hover { background-position: -46px 0; }

.single1 h2.ltit2 { padding: 31px 0 0; height: 41px; }

.single1 h2.bor0 { border-top: none; }

.picother { margin: 17px 0 26px; }

.emptySpan { height: 100%; display: inline-block; vertical-align: middle; }

.pb li img { vertical-align: middle; }

.hdFigureWrap { margin: 0 auto; }

#piclistdiv .listboxwp .conimgwp img { height: 143px; }

.weixinpop_frame_box { margin-bottom: -55px; }

.gray { color: #929291; }

/**************************************************产品库右侧**********************************************************/
.pro-art-right-title { border-top: solid 1px #e7e7e7; line-height: 30px; height: 30px; padding: 20px 0; }

.pro-art-right-title .more { float: right; color: #a3a3a2; font-size: 14px; }

.pro-art-right-title .more:hover { color: #f65049; }

.pro-art-right-title .left-border { float: left; width: 4px; height: 20px; background: #f65049; margin: 6px 12px 0 0; }

.pro-art-right-title h4 { font-weight: bold; font-size: 20px; }

.newestnews { margin-bottom: 45px; }

.pro-art-gameinfo { margin-bottom: 40px; }

.gameinfo-d { line-height: 38px; }

.gameinfo-d .shuoming { float: right; color: #929291; }

.gameinfo-d .shuoming:hover { color: #f65049; }

.rscore { /*width: 291px;*/ height: 52px; padding: 8px 0; border-radius: 34px; border: 2px solid #ededed; position: relative; margin-bottom: 25px; }

.rscore img { float: left; margin: 7px 18px 0 16px; }

.rscore p { line-height: 26px; }

.rscore .chart_wrap, .rscore .chart_score { width: 72px; height: 72px; position: absolute; right: -2px; top: -2px; }

.rscore .chart_score { line-height: 72px; color: #828282; text-align: center; font-size: 15px; }

.rscore .chart_score:first-letter { font-size: 30px; }

.rscore .chart_score_no:first-letter { font-size: 15px; }

.charactors-item { overflow: hidden; }

.charactors-item .line { border-top: solid 1px #e7e7e7; margin: 30px 0 25px; }

.charactors-item .list-item { margin-right: -14px; }

.charactors-item .list-item .label { font-size: 15px; font-weight: bold; margin-bottom: 15px; }

.charactors-item .list-item .label .reddot { display: block; width: 5px; height: 5px; border-radius: 100%; background: #f65049; float: left; margin: 8px 8px 0 0; }

.charactors-item .list-item .item { width: 146px; height: 34px; line-height: 34px; border: solid 1px #e7e7e7; position: relative; float: left; margin: 12px 14px 0 0; }

.charactors-item .list-item .item .c-text { display: block; width: 110px; text-align: center; font-weight: bold; }

.charactors-item .list-item .item .c-num { display: block; width: 32px; height: 32px; border: solid 2px #ffdad8; color: #f65049; text-align: center; position: absolute; right: -1px; top: -1px; }

.pro-art-gamerank { margin-bottom: 30px; }

.pro-art-gamerank .gamerank-list .g-l-item { padding: 15px 0; border-bottom: solid 1px #e7e7e7; }

.pro-art-gamerank .gamerank-list .g-l-item:nth-of-type(1) { padding-top: 10px; }

.pro-art-gamerank .gamerank-list .g-l-item:last-of-type { border: none; }

.pro-art-gamerank .gamerank-list .greydot { display: block; width: 4px; height: 4px; background: #c2c2c2; float: left; margin: 8px 6px 0 0; }

.pro-art-gamerank .gamerank-list .title { font-size: 14px; font-weight: bold; margin-bottom: 5px; }

.pro-art-gamerank .gamerank-list p { line-height: 26px; color: #808080; }

.pro-art-gamedown .label_name { display: inline-block; line-height: 30px; padding: 0 15px; background: #ececec; font-size: 14px; font-weight: bold; margin-bottom: 20px; }

.pro-art-gamedown .table { margin: 1px 0 0 1px; }

.pro-art-gamedown .table .td { display: block; width: 102px; height: 42px; text-align: center; line-height: 42px; border: solid 1px #e8e8e8; float: left; margin: -1px 0 0 -1px; position: relative; z-index: 1; }

.pro-art-gamedown .table .td.tab { cursor: pointer; }

.pro-art-gamedown .table .td.tab.current, .pro-art-gamedown .table .td.tab:hover { background: #f65049; color: #fff; border-color: #f65049; z-index: 2; }

.pro-art-gamedown .tabconwp .tabcon { display: none; padding: 10px 0; line-height: 40px; }

.pro-art-gamedown .tabconwp .tabcon:nth-of-type(1) { display: block; }

.xiaobian { margin-bottom: 40px; }

.xiaobian .x-text { font-size: 14px; line-height: 30px; }