        /* 登录提示相关样式*/
        #userPosition {
            padding: 0;
            margin: 0;
            border: 0;
            position: absolute;
            z-index: 999;
        }
        
        #sinaNote {
            position: absolute;
            z-index: 999999;
            width: auto;
            overflow: hidden;
            padding: 0;
            margin: 0;
            border: 1px solid #CCCCCC;
            background: #ffffff;
			text-align:left;
        }
        
        #sinaNote li {
            font-size: 12px;
            list-style: none;
            margin: 0 1px;
            height: 20px;
            padding: 0 5px;
            clear: both;
            line-height: 20px;
            cursor: pointer;
            color: #999999;
        }
        
        #sinaNote li.note {
            text-align: left;
            color: #999999;
        }
        /* end登录提示相关样式*/