.feed-card-toast{position:absolute;width:330px;padding:45px 80px;top:100px;left:50%;margin-left:-200px;z-index:10000;border:1px solid #adadad;background-color:#fff}
.feed-card-toast-icon0,.feed-card-toast-icon1{width:52px;height:52px;display:inline;float:left;margin-right:10px}
.feed-card-toast-icon0{background:url(http://www.sinaimg.cn/IT/deco/2014/0619/index/toastIcons.png) no-repeat}
.feed-card-toast-icon1{background:url(http://www.sinaimg.cn/IT/deco/2014/0619/index/toastIcons.png) no-repeat 0 -108px}
.feed-card-toast-tip{font-size:20px;color:#333;overflow:hidden;line-height:26px;padding-top:12px}
.feed-card-toast-action{margin-top:25px;text-align:center}
.feed-card-toast-action a{display:inline-block;padding:7px 20px;text-decoration:none;font-size:18px;color:#fff;background-color:#48a2ed}
.feed-card-toast-action a:hover{text-decoration:none;color:#fff;background-color:#64b7fc}
.feed-card-toast-close{position:absolute;right:10px;top:10px}
.feed-card-toast-close a{display:block;width:35px;height:35px;text-indent:-9999em;overflow:hidden;cursor:pointer;background:url(http://www.sinaimg.cn/IT/deco/2014/0619/index/toastIcons.png) no-repeat -7px -198px}
.feed-card-toast-close a:hover{background-position:-8px -260px}
.feed-card{font-family:"Microsoft YaHei","\u5FAE\u8F6F\u96C5\u9ED1",Arial,SimSun,"\u5B8B\u4F53"}
.feed-card a{text-decoration:none}
.feed-card-item-no-data{text-align:center;padding:20px 0;font-size:16px}
.feed-card-fixed{padding-top:50px}
.feed-card-fixed .feed-card-tab{position:fixed;z-index:20;width:660px;top:0;background:#fff;box-shadow:1px 1px 1px rgba(0,0,0,.1),-1px 1px 1px rgba(0,0,0,.1)}
.feed-card-tab{border-top:2px solid #1f90df;position:relative;z-index:10;white-space:nowrap;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.feed-card-tabs{height:46px;border:1px solid #dfdfdf;border-top:none}
.feed-card-tab-firstTab,.feed-card-tab-lastTab,.feed-card-tab-tabContainer{float:left;display:inline;height:47px}
.feed-card-tab-lastTab{width:114px;overflow:hidden}
.feed-card-tab-lastTab .feed-card-tab-tabi{border-left:1px solid #dfdfdf;padding:0 10px 1px 30px;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 11px 17px #fbfbfb;width:75px}
.feed-card-tab-lastTab .feed-card-tab-tabi:hover{color:#1f90df;background-position:11px -84px}
.feed-card-tab-lastTab .feed-card-tab-tabi-selected{border-bottom-color:#fff;color:#545454;background-position:12px -881px;background-color:#fff}
.feed-card-tab-lastTab .feed-card-tab-tabi-selected:hover{color:#1f90df;background-position:12px -985px}
.feed-card-tab-tabi{position:relative;line-height:45px;float:left;padding:0 10px;cursor:pointer;font-size:17px;color:#545454;text-align:center}
.feed-card-tab-tabi-selected{border-bottom:2px solid #1f90df;color:#1f90df}
.feed-card-tab-tabi2{position:relative}
.feed-card-tab-tabi2 i{position:absolute;right:10px;top:15px;width:16px;height:16px;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 0 -403px;display:none}
.feed-card-tab-more-trigger{position:absolute;right:0;top:0;line-height:45px;color:#545454;z-index:1;padding:0 23px 0 10px;width:40px;cursor:pointer;font-size:17px}
.feed-card-tab-more-trigger i{position:absolute;right:10px;top:15px;width:16px;height:16px;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 0 -403px}
.feed-card-tab-more-trigger:hover i{background-position:0 -503px}
.feed-card-tab-more-trigger-open i{background-position:0 -603px}
.feed-card-tab-more-trigger-open:hover i{background-position:0 -603px}
.feed-card-tab-more{position:absolute;z-index:10;box-shadow:2px 2px 0 #f0f0f0;border:1px solid #dfdfdf;border-top:none;border-bottom:none;line-height:45px;text-align:center;width:100px;float:none;background-color:#fff;max-height:552px;overflow-y:auto}
.feed-card-tab-more span{font-size:16px;display:block;float:none;height:45px;overflow:hidden;padding:0 10px;border-bottom:1px solid #dfdfdf}
.feed-card-tab-more span:hover{background-color:#f1f1f1}
.feed-card-tab-tabi-selected i{background-position:0 -503px}
.feed-card-tab-tabi2-open i{background-position:0 -603px}
.feed-card-tab-edit,.feed-card-tab-labels{border:1px solid #dfdfdf;border-top:none;box-shadow:2px 2px 0 #f0f0f0;position:absolute;z-index:10;width:658px;background-color:#fff}
.feed-card-tab-labels{padding-bottom:15px;line-height:20px}
.feed-card-tab-labels a{float:left;font-size:15px;margin:15px 0 0 15px}
.feed-card-tab-edit-col,.feed-card-tab-edit-label{margin:0 20px 0 20px;padding:20px 0 20px 0}
.feed-card-tab-edit-label{position:relative;border-top:1px solid #dfdfdf}
.feed-card-tab-edit-label-tip{position:absolute;font-size:14px;color:#fff;line-height:30px;padding:0 10px;background-color:#1f90df;border-radius:2px;width:142px;left:62px;top:33px;z-index:10;zoom:1}
.feed-card-tab-edit-label-tip i{width:20px;height:10px;position:absolute;right:10px;bottom:-10px;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 0 -1111px}
.feed-card-tab-edit-tit{line-height:24px}
.feed-card-tab-edit-tit h5{float:left;font-size:18px;color:#1f90df;margin:0}
.feed-card-tab-edit-tit p{float:left;margin:0;font-size:16px;color:#666}
.feed-card-tab-select{background-color:#fff}
.feed-card-tab-edit-cols{clear:both;margin-top:15px;line-height:30px}
.feed-card-tab-edit-cols a{float:left;width:88px;margin-right:13px;margin-bottom:5px;padding-left:20px;height:28px;font-size:16px;color:#000;border:1px solid #fff}
.feed-card-tab-edit-cols a:hover{background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 3px 90px;background-color:#d6ebff;border-color:#1f90df}
.feed-card-tab-edit-cols a.selected{background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 3px -291px;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 3px -291px false}
.feed-card-tab-edit-labels{margin-top:20px;background-color:#fff;position:relative;zoom:1}
.feed-card-tab-edit-labels a{float:left;position:relative;zoom:1;margin-right:10px;margin-bottom:10px;padding-left:28px;padding-right:8px;line-height:30px;font-size:16px;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 8px -889px;border:1px solid #dfdfdf;color:#000;white-space:nowrap}
.feed-card-tab-edit-labels a:hover{border:1px solid #1f90df;background-color:#d6ebff;background-position:8px -993px}
.feed-card-tab-tabContainer{position:relative;overflow:hidden;height:47px}
.feed-card-tab-ctabs{-webkit-transform:translate3d(0,0,0);transition:left .1s ease-out;position:absolute;z-index:1}
.feed-card-tab-goLeft,.feed-card-tab-goRight{position:absolute;width:20px;height:46px;border-bottom:1px solid #dfdfdf;text-indent:-99999em;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 6px -783px #fff;z-index:10}
.feed-card-tab-goLeft{left:-1px}
.feed-card-tab-goRight{right:-1px;background-position:6px -683px}
.feed-card-tab-edit-addLabel{margin-top:25px}
.feed-card-tab-edit-addLabelForm{float:left;width:220px;height:36px;position:relative;border:1px solid #dfdfdf;border-top-left-radius:3px;border-bottom-left-radius:3px}
.feed-card-tab-edit-addLabelForm input{position:absolute;height:20px;left:0;width:164px;border:0;padding:8px 10px;margin:0;font-size:14px;font-family:"Microsoft YaHei","\u5FAE\u8F6F\u96C5\u9ED1",Arial,SimSun,"\u5B8B\u4F53"}
.feed-card-tab-edit-addLabelForm a{position:absolute;right:-1px;top:-1px;width:37px;height:38px;text-indent:-9999em;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 12px -189px;background-color:#1f90df;border-top-right-radius:3px;border-bottom-right-radius:3px}
.feed-card-tab-edit-addLabelForm a:hover{background-color:#34a1ed}
.feed-card-tab-edit-hotLabels{width:376px;height:38px;overflow:hidden;margin-left:20px;float:left;display:inline;line-height:36px;font-size:16px}
.feed-card-tab-edit-hotLabels span{color:#747474;margin-right:20px;float:left}
.feed-card-tab-edit-hotLabels a{float:left;padding-left:20px;padding-right:3px;font-size:16px;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 0 100px;color:#000;border:1px solid #fff;margin-right:15px;color:#000}
.feed-card-tab-edit-hotLabels a:hover{color:#000;background-color:#d6ebff;background-position:3px -91px;border-color:#1f90df}
.feed-card-tab-edit-hotLabels a.selected{background-position:3px -286px}
.feed-card-tab-reorder{padding:20px;overflow:hidden}
.feed-card-tab-reorder-c{margin-top:15px;position:relative}
.feed-card-tab-reorder-c a{float:left;position:relative;width:110px;height:30px;line-height:30px;text-align:center;margin-right:10px;margin-bottom:10px;border:1px solid #dfdfdf;color:#000;font-size:14px}
.feed-card-tab-reorder-c a:hover{color:#000}
.feed-card-tab-reorder-c a:hover{background-color:#d6ebff;border-color:#1f90df}
.feed-card-tab-edit-step{background-color:#fbfbfb;color:#747474;padding:8px 0}
.feed-card-tab-edit-step p{padding:0;margin:0 0 0 20px;float:left;display:inline;font-size:14px;line-height:38px}
.feed-card-tab-edit-steps{float:right;margin-right:15px;display:inline}
.feed-card-tab-edit-steps a{display:inline-block;margin-left:5px;zoom:1;font-size:15px;line-height:38px;text-align:center;width:80px;border-radius:2px}
.feed-card-tab-edit-steps .prev{border:1px solid #1f90df;background-color:#d6ebff;color:#000}
.feed-card-tab-edit-steps .prev:hover{border:1px solid #1f90df;background-color:#e9f3fd}
.feed-card-tab-edit-steps .done,.feed-card-tab-edit-steps .next{border:1px solid #1f90df;background-color:#1f90df;color:#fff}
.feed-card-tab-edit-steps .done:hover,.feed-card-tab-edit-steps .next:hover{border:1px solid #1f90df;background-color:#34a1ed}
.feed-card-icon,.feed-card-list li,.feed-card-login-close,.feed-card-wb a{background:url(http://www.sinaimg.cn/IT/deco/2014/0721/commonIcons5.png) no-repeat}
.feed-card-wb a{background-position:0 -388px;padding-left:20px;font-size:12px;color:red!important}
.feed-card-clearfix{zoom:1}
.feed-card-clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both}
.feed-card-tags{float:left;margin-left:20px}
.feed-card-news-spliter{margin-right:10px}
.feed-card-a-qa .feed-card-news-spliter{margin-left:10px}
.feed-card-tags a{margin-right:10px}
.feed-card-item{padding:18px 0 20px;border-bottom:1px solid #e5e5e5}
.feed-card-item:hover{background-color:#fafafa}
.feed-card-item h2{margin:0;font-size:20px;font-weight:700;height:28px;line-height:28px;overflow:hidden}
.feed-card-item h2 i{display:inline-block;zoom:1;height:28px;line-height:26px;vertical-align:top;margin-left:5px}
.feed-card-item img{border:none}
.feed-card-login-item{padding:10px 0}
.feed-card-login-item:hover{background-color:transparent}
.feed-card-item-blog .feed-card-item-hd{height:50px;overflow:hidden}
.feed-card-item-blog .feed-card-item-head{float:left}
.feed-card-item-blog .feed-card-item-name{float:left;font-size:20px;font-weight:700;height:28px;margin:10px 0 0 20px;line-height:28px;overflow:hidden}
.feed-card-item-blog .feed-card-item-name a:link,.feed-card-item-blog .feed-card-item-name a:visited{color:#fc6c0d;text-decoration:none}
.feed-card-item-blog .feed-card-item-name a:active,.feed-card-item-blog .feed-card-item-name a:hover{color:#cfa785;text-decoration:none}
.feed-card-item-blog h2{margin-top:10px}
.feed-card-item-blog .feed-card-c .feed-card-txt{margin-bottom:7px}
.feed-card-item-blog .feed-card-item-name i{display:inline-block;width:1px;height:20px;background:#fc6c0d;margin:0 8px;overflow:hidden;vertical-align:-3px}
.feed-card-login{line-height:38px;height:38px;border:1px solid #d6d6d6;border-radius:3px;background-color:#f5f5f5;text-align:center;font-size:14px}
a.feed-card-login-login{margin-left:10px;display:inline-block;width:80px;height:30px;line-height:30px;border-radius:2px;color:#fff;background-color:#3b3b3b;text-align:center}
a.feed-card-login-login:visited{color:#fff}
a.feed-card-login-login:hover{color:#fff;background-color:#000}
.feed-card-login-close{float:right;text-indent:-9999em;border-left:1px solid #d6d6d6;width:40px;height:38px;border-top-right-radius:3px;border-bottom-right-radius:3px;background-position:9.5px -304.5px;opacity:.7}
.feed-card-login-close:hover{opacity:1}
.feed-card-img{float:left;position:relative;margin-top:5px;margin-right:15px}
.feed-card-img,.feed-card-photo,.feed-card-picAlbum-i,.feed-card-topic,.feed-card-topic-img,.feed-card-weibo-photos{overflow:hidden}
.feed-card-img img,.feed-card-photo img,.feed-card-picAlbum-i img,.feed-card-topic img,.feed-card-topic-img img,.feed-card-weibo-photos img{-webkit-transition:-webkit-transform .3s ease;-moz-transition:-moz-transform .3s ease;-ms-transition:-ms-transform .3s ease;transition:transform .3s ease}
.feed-card-img img:hover,.feed-card-photo img:hover,.feed-card-picAlbum-i img:hover,.feed-card-topic img:hover,.feed-card-topic-img img:hover,.feed-card-weibo-photos img:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
.feed-card-img .feed-card-icon{position:absolute;left:10px;bottom:10px}
.feed-card-txt{font-size:15px;line-height:26px;color:#555}
.feed-card-txt-p{padding:0;margin:0;margin-bottom:10px}
.feed-card-txt-p2{padding:0;margin:0;height:66px;overflow:hidden}
.feed-card-txt-link{line-height:20px;padding-left:10px}
.feed-card-a{margin-top:12px;font-size:14px;color:#555;height:20px;overflow:hidden}
.feed-card-a-qa a{margin-right:10px}
.feed-card-news-label{margin-right:5px}
.feed-card-a a{color:#555!important}
.feed-card-a a:visited{color:#555}
.feed-card-time{float:left;display:inline;margin-right:10px}
.feed-card-actions,.feed-card-bbs-info{float:right;display:inline}
.feed-card-spliter{margin:0 8px 0 10px;font-size:12px;vertical-align:1px}
.feed-card-bbs-info .feed-card-news-spliter{margin-left:10px}
.feed-card-share{cursor:pointer}
.feed-card-tg{margin-right:10px;background-color:#efefef;padding:3px 7px}
.feed-card-icon-reco{padding-left:30px;background-position:-17px -177px}
.feed-card-icon-hot{padding-left:30px;background-position:-17px -665px}
.feed-card-icon-qaq{padding-left:31px;background-position:-16px -428px}
.feed-card-icon-qaa{width:30px;height:23px;background-position:-16px -486px;float:left}
.feed-card-icon-vote{padding-left:50px;background-position:0 -576px}
.feed-card-icon-score{padding-left:50px;background-position:0 -620px}
.feed-card-icon-video{padding-left:30px;background-position:-17px -24px}
.feed-card-icon-svideo{background:url(http://www.sinaimg.cn/IT/deco/2014/0619/index/playIcon.png) no-repeat;cursor:pointer;height:22px;width:22px;display:block}
.feed-card-icon-svideo:hover{background:url(http://www.sinaimg.cn/IT/deco/2014/0619/index/playIconH.png) no-repeat}
.feed-card-icon-img{padding-left:30px;background-position:-17px -55px}
.feed-card-icon-picAlbum{font-size:13px;color:#666;height:23px;line-height:23px;font-style:normal;padding-left:24px;background-position:-24px -85px;font-weight:400}
.feed-card-icon-topic{padding-left:50px;background-position:0 -116px}
.feed-card-icon-bbs{padding-left:26px;background-position:-23px -536px}
.feed-card-icon-wb{padding-left:30px;background-position:-17px -147px}
.feed-card-picAlbum-i{float:left;margin-right:5px}
.feed-card-list{list-style:none;padding:0;margin:0}
.feed-card-list li{padding-left:12px;height:26px;overflow:hidden;background-position:-39px 11px}
.feed-card-photo{width:215px;display:inline;float:left;margin-right:7px}
.feed-card-photo .img,.feed-card-photo img{display:block;width:215px;height:144px}
.feed-card-photo .img{position:relative;margin-bottom:12px;overflow:hidden}
.feed-card-photo i{position:absolute;left:10px;bottom:10px}
.feed-card-photo a{font-size:15px}
.last-feed-card-photo{margin-right:0}
.feed-card-video{width:160px;display:inline;float:left;margin-right:6px}
.feed-card-video .img,.feed-card-video img{display:block;width:160px;height:107px}
.feed-card-video .img{position:relative;margin-bottom:12px;overflow:hidden}
.feed-card-video i{position:absolute;left:10px;bottom:10px}
.feed-card-video a{font-size:15px}
.feed-card-video div{color:#555;font-size:15px;margin-top:10px}
.last-feed-card-video{margin-right:0}
.feed-card-topic-img{width:300px;float:left;height:200px;overflow:hidden}
.feed-card-topic-img img{width:300px;height:200px}
.feed-card-topic-txt{color:#555;margin-left:313px}
.feed-card-topic-txt p{line-height:26px;padding:0;margin:0;height:100px;word-break:break-all;overflow:hidden;font-size:14px;margin-top:-5px}
.feed-card-topic-txt2 p{height:72px;word-break:break-all;overflow:hidden}
.feed-card-topic{display:inline;float:left;width:110px;margin-right:7px;font-size:15px}
.feed-card-topic img{display:block;width:110px;height:73px}
.feed-card-topic .img{display:block;margin-bottom:10px;overflow:hidden}
.last-feed-card-topic{margin-right:0}
.feed-card-topic-list h5{font-size:15px;margin:0;padding:0;color:#333;font-weight:400}
.feed-card-topic-list ul{font-size:15px;line-height:26px;margin-top:10px;list-style:none;padding:0;margin:0}
.feed-card-picAlbum{height:143px;overflow:hidden}
.feed-card-c{margin-top:15px}
.feed-card-c-qa{line-height:24px}
.feed-card-c1{margin-top:13px}
.feed-card-c1 .feed-card-txt{overflow:hidden}
.feed-card-c2{position:relative}
.feed-card-c2 .feed-card-txt{height:52px;overflow:hidden}
.feed-card-do-score,.feed-card-do-vote{margin-top:12px}
.feed-card-do-score a,.feed-card-do-vote a{border-radius:2px;font-size:14px;padding:2px 10px;border:1px solid #e1e1e1;background-color:#fefefe}
.feed-card-scroll-page{position:absolute;top:-3px;right:0;line-height:30px;font-size:14px}
.feed-card-scroll-page a{opacity:.8}
.feed-card-scroll-page a:hover{opacity:1}
.feed-card-scroll-num{display:inline-block;zoom:1;margin-right:10px}
.feed-card-scroll-next,.feed-card-scroll-prev{display:inline-block;zoom:1;width:28px;height:28px;text-indent:-9999em;background-color:#f7f7f7;border:1px solid #e5e5e5;border-radius:2px;cursor:pointer}
.feed-card-scroll-prev{background-position:9px -267px}
.feed-card-scroll-next{background-position:-26px -267px}
.feed-card-share-users{line-height:30px;font-size:14px;padding-top:10px;clear:both}
.feed-card-share-users a{color:#173271}
.feed-card-share-users a:visited{color:#173271}
.feed-card-share-users a:hover{color:#04153d}
.feed-card-share-user{float:left;margin-right:10px}
.feed-card-share-user img{float:left;display:inline;height:30px;width:30px;border-radius:50%;margin-right:5px}
.feed-card-share-num{float:left;color:#555}
.feed-card-loading{padding:10px 0;text-align:center;margin-top:10px}
.feed-card-loading1{cursor:pointer;background-color:#e5ecf5;border:1px solid #1f90df;color:#137dc6;border-radius:3px}
.feed-card-loading1:hover{background-color:#aeccf3;border:1px solid #1f90df;color:#01375c}
.feed-card-page{padding:20px 0 10px;text-align:center;font-size:13px}
.feed-card-page span{color:#ccc;margin-right:3px}
.feed-card-page a{padding:7px 14px;border:1px solid #d7d7d7;border-radius:2px;color:#333;cursor:pointer;background-color:#f5f5f5;text-decoration:none}
.feed-card-page a:hover{background-color:#4895e4;border-color:#3586d9;color:#fff}
.feed-card-page .pagebox_num_nonce{padding:7px 14px;border:1px solid #123586;color:#fff;background-color:#4895e3;border-radius:2px}
.feed-card-page .pagebox_next_nolink,.feed-card-page .pagebox_pre_nolink{padding:7px 14px;border:1px solid #e4e4e4;border-radius:2px;background-color:#fff}
.feed-card-ipad .feed-card-item:hover{background-color:#fff}
.feed-card-ipad .feed-card-tab-lastTab .feed-card-tab-tabi:hover{color:#545454;background-position:11px 17px}
.feed-card-ipad .feed-card-tab-lastTab .feed-card-tab-tabi-selected:hover{color:#545454;background-position:12px -881px}
.feed-card-ipad .feed-card-tab-edit-cols a:hover{color:#000;background:0 0;border-color:#fff}
.feed-card-ipad .feed-card-tab-edit-cols a.selected{background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 3px -291px}
.feed-card-ipad .feed-card-tab-edit-labels a:hover{color:#000;border:1px solid #dfdfdf;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 8px -889px}
.feed-card-ipad .feed-card-tab-edit-hotLabels a:hover{color:#000;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 0 100px;border-color:#fff}
.feed-card-ipad .feed-card-tab-edit-hotLabels a.selected{background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 3px -286px}
.feed-card-ipad .feed-card-tab-edit-steps .done:hover{border:1px solid #1f90df;background-color:#1f90df;color:#fff}
.feed-card-ipad .feed-card-img img:hover{-webkit-transform:none;-moz-transform:none;transform:none}
.feed-card-comment-w{position:relative}
.feed-card-comment-top{position:absolute;z-index:10;top:-9px;color:#efefef;right:52px}
.feed-card-comment-top em,.feed-card-comment-top span{display:block;font-size:17px;font-style:normal;font-family:SimSun;height:11px;overflow:hidden;color:#ccc}
.feed-card-comment-top span{color:#fff;margin-top:-10px}
.show-close .feed-card-comment-close{display:block}
.feed-card-comment-close{display:none;position:absolute;z-index:10;bottom:1px;right:20px;line-height:40px;font-size:14px}
.feed-card-comment-close span{font-size:12px}
.feed-card-hotc{line-height:30px;font-size:14px;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:5px}
.feed-card-hotc .photo{float:left}
.feed-card-hotc .photo img{width:30px;height:30px;border-radius:15px}
.feed-card-hotc .name{margin-left:10px}
.feed-card-hotc .c{margin-left:10px}
h2 .feed-card-wb-ad-url{top:-2px;margin-left:5px;position:relative;font-weight:400}
.feed-card-wb-ad-url{font-size:12px;color:red!important;padding-left:20px;background:url(http://www.sinaimg.cn/IT/deco/2014/0721/commonIcons5.png) no-repeat 0 -388px}
.feed-card-guessLikeIcon{position:absolute;right:2px;top:8px;background:url(http://n.sinaimg.cn/ty/index/btn_guess.gif) no-repeat!important;width:12px;height:12px;overflow:hidden;z-index:500}
.feed-card-guessTips{margin-top:10px;position:relative;overflow:hidden;height:100px;-webkit-transition:height .2s ease-out;-moz-transition:height .2s ease-out;-o-transition:height .2s ease-out;-ms-transition:height .2s ease-out;transition:height .2s ease-out}
.feed-card-guessTipsC{border-bottom:1px solid #d7dde2;background:#f4f7fa;text-align:center;padding:20px 0}
.feed-card-guessTipsA{background:url(http://n.sinaimg.cn/ty/index/btn_arrow_guess.jpg) no-repeat;width:18px;height:9px;position:absolute;left:50%;margin-left:-9px;top:88px;z-index:3}
.feed-card-guessTipsT{line-height:24px;font-size:16px;color:#727983;height:24px;text-align:center;margin:0}
.feed-card-guessTipsBtn{cursor:pointer;position:absolute;right:92px;top:26px;width:80px;height:25px;overflow:hidden;text-align:center;line-height:25px;font-size:14px;color:#fff!important;background:#2789e2}
.feed-card-guessTips-hide{height:0}
.feed-card-weibo{padding:20px;border:1px solid #eee;background-color:#fefefe;width:560px}
.feed-card-weibo-portrait{width:50px;float:left}
.feed-card-weibo-portrait img{width:50px;height:50px;display:block;border-radius:2px}
.feed-card-weibo-c{margin-left:68px}
.feed-card-weibo-author{font-size:14px;font-weight:700}
.feed-card-weibo-txt{font-size:14px;margin-top:10px;line-height:22px;color:#333}
.feed-card-weibo-photos{margin-top:10px;width:339px}
.feed-card-weibo-photos a{height:80px;width:80px;overflow:hidden;float:left;margin-right:5px;margin-bottom:5px}
.feed-card-weibo-photos img{display:block}
.feed-card-weibo-a{color:#555;font-size:12px;margin-top:10px}
.feed-card-weibo-time{float:left}
.feed-card-weibo-source{float:left;display:inline;margin-left:10px}
.feed-card-weibo-actions{float:right}
.feed-card-weibo-spliter{margin:0 5px}
.feed-card-weibo-icon{display:inline-block;width:16px;height:14px;background:url(http://www.sinaimg.cn/IT/deco/2014/0716/weiboIcons.png) no-repeat 0 100px;zoom:1;vertical-align:text-bottom;margin-left:2px}
.feed-card-weibo-icon-verify0{background-position:-50px 0}
.feed-card-weibo-icon-verify2{background-position:-75px -1px}
.feed-card-weibo-icon-zan{background-position:-221px -1px}
.feed-card-notification{margin:10px 0;text-align:center;line-height:30px;font-size:14px;cursor:pointer;border-radius:2px;border:1px solid #f2e3a8;background-color:#fffeef;color:#d66807}
.feed-card-notification:hover{border:1px solid #e0c661;background-color:#f7f4d6;color:#be671b}
.feed-card-tag-more{margin:15px 5px 5px;line-height:30px;font-size:15px}
.feed-card-tag-more a{color:#1f90df;opacity:.8}
.feed-card-tag-more a:visited{color:#1f90df}
.feed-card-tag-more a:hover{color:#1f90df;opacity:1}
.feed-card-tab-toast{position:absolute;top:56px;right:0;line-height:30px;background-color:#f5f5f5;border:1px solid #e6e6e6}
.feed-card-tab-toast div{margin-right:30px;padding:0 10px;font-size:14px;color:#333}
.feed-card-tab-toast a{float:right;text-indent:-9999em;margin-top:-30px;border-left:1px solid #e6e6e6;width:29px;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 8px -889px}
.feed-card-tab-toast a:hover{background-position:8px -993px}
.feed-card-tab-toast span{display:block;position:absolute;width:14px;height:8px;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat -3px -1155px;right:40px;top:-8px}
.feed-card-video-player-w{margin-top:15px}
.feed-card-video-player-close{padding:3px 15px 3px 10px;width:65px;color:#333;font-size:14px;line-height:20px;background:url(http://www.sinaimg.cn/IT/deco/2014/0721/commonIcons5.png) no-repeat 71px -340px #fff;border:1px solid #e1e1e1;border-bottom:none;border-top-left-radius:2px;border-top-right-radius:2px;cursor:pointer;position:relative;z-index:1}
.feed-card-video-player-c{position:relative;margin-top:-1px;width:640px;padding:10px 9px;border:1px solid #e1e1e1;background-color:#fff}
.feed-card-video-player{width:640px;height:516px;background-color:#000}
.feed-card-tag-tip{padding:0 12px;background-color:#fff5da;border:1px solid #ffcb5b;line-height:40px;height:40px;font-size:14px;color:#e78321;margin:10px 0}
.feed-card-tag-tip div{float:left}
#feedCardTagTipLabel{font-style:normal;font-weight:700}
#feedCardTagTipAdd{display:inline-block;margin:0 10px;line-height:30px;height:30px;padding:0 15px;color:#fff;background-color:#ff8500;border-radius:2px}
#feedCardTagTipAdd:hover{background-color:#f46d01}
#feedCardTagTipClose{float:right;width:30px;height:30px;margin-top:4px;text-indent:-99999em;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 9px -889px #f5f5f5;border:1px solid #e6e6e6}
#feedCardTagTipClose:hover{background-position:9px -993px}
.feed-card-select-tag{border:1px solid #dfdfdf;box-shadow:1px 1px 1px rgba(0,0,0,.1),-1px 1px 1px rgba(0,0,0,.1);position:relative}
.feed-card-select-tag-close{padding:10px;height:32px}
.feed-card-select-tag-close a{float:right;width:30px;height:30px;text-indent:-99999em;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 9px -889px #f5f5f5;border:1px solid #e6e6e6}
.feed-card-select-tag-close a:hover{background-position:9px -993px}
.feed-card-select-tags{padding:10px 12px}
.feed-card-select-tags a{float:left;position:relative;zoom:1;margin-right:10px;margin-bottom:10px;padding-left:28px;padding-right:8px;line-height:30px;font-size:16px;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 8px -889px;border:1px solid #dfdfdf;color:#000;white-space:nowrap}
.feed-card-select-tags a:hover{border:1px solid #1f90df;background-color:#d6ebff;background-position:8px -993px}
.feed-card-select-tag-tip{padding:8px 10px;border-top:1px solid #dfdfdf}
.feed-card-select-tag-tip p{float:left;line-height:38px;font-size:15px;display:inline;margin:0;-webkit-transition:color .3s ease;-ms-transition:color .3s ease;-o-transition:color .3s ease;-moz-transition:color .3s ease;transition:color .3s ease}
.feed-card-select-tag-tip p span{color:#e78321;margin-right:5px}
.feed-card-select-tag-tip p.error{color:red}
.feed-card-select-tag-tip p.error span{color:#e78321}
.feed-card-select-tag-tip a{float:right;font-size:15px;line-height:38px;text-align:center;width:80px;border-radius:2px;border:1px solid #1f90df;background-color:#1f90df;color:#fff}
.feed-card-select-tag-tip a:hover{border:1px solid #1f90df;background-color:#34a1ed;color:#fff}
.feed-card-tab-labels2{padding-bottom:10px;border:1px solid #dfdfdf;border-top:none}
.feed-card-tab-labels-c{line-height:20px;margin-right:80px;overflow:hidden}
.feed-card-tab-labels-c a{float:left;font-size:15px;margin:10px 0 0 15px;padding-right:15px;border-right:1px solid #dfdfdf}
.feed-card-tab-labels-c a.active{color:#1f90df}
.feed-card-tab-labels-toggle{float:right;width:70px;height:25px;margin-top:10px;font-size:15px;background:url(http://www.sinaimg.cn/IT/deco/2014/0724/tabIcons2.png) no-repeat 35px -400px}
.feed-card-tab-labels-toggle:hover{background-position:35px -500px}
.feed-card-tab-labels-toggle-open{background-position:35px -600px!important;color:#1f90df!important}
.feed-card-notification2{margin-top:10px;background-color:#fff5da;border:1px solid #ffcb5b;line-height:40px;font-size:14px;padding:0 15px;color:#e78321}
.feed-card-select-tag-will{position:absolute;font-size:15px;color:#333;top:20px;left:10px}
.feed-card-select-tag-will span{color:#1f90df}
.feed-card-item{padding-bottom:30px}
.feed-card-item h2 a{color:#000!important}
.feed-card-item h2 a:hover{color:#0093d0}
.feed-card-item .feed-card-txt,.feed-card-item .feed-card-txt-summary,.feed-card-txt-detail{color:#555!important}
.feed-card-txt-detail:hover{color:#ce0000}
.feed-card-comment:hover{color:#ce0000}
.feed-card-item .feed-card-page .pagebox_num_nonce{border:1px solid #be0900;background-color:#c00}
.feed-card-item .feed-card-page a:hover{border:1px solid #be0900;background-color:#c00}
.feed-card-item .feed-card-tags a:hover{color:#ce0000}
.feed-card-item .feed-card-comment-close:link,#feedCard .feed-card-comment-close:visited{color:#555}
.feed-card-item .feed-card-comment-close:active,#feedCard .feed-card-comment-close:hover{color:#ce0000}
.lookmore{ width:100%; height:46px; line-height:46px; font-size:14px; text-align:center; color:#767676; border:1px solid #ccc; border-radius:2px; box-sizing:border-box; cursor:pointer}

