.new-energy{ display: none; width: 100%;/* height: 120px;*/ height: 0; background: #019b79; position: fixed; bottom: -120px; left: 0; z-index: 9999;}
.new-energy .cbox{ width: 1150px; margin: 0 auto;}
.new-energy .new-logo{ width: 246px; height: 120px; background: url('//www.sinaimg.cn/qc/2018/0302/newenergy02.png') 0 center no-repeat;}
.new-energy .focus-arrow{ width: 854px; overflow: hidden;}
.new-energy .focus-arrow .quickbox{ width: 854px; height: 90px; margin-top: 16px; overflow: hidden; position: relative;}
.new-energy .focus-arrow .quickbox .aside {overflow: hidden; position: absolute; top: 0px ; left: -224px;}
.new-energy .focus-arrow .quickbox .aside li {width: 414px; height: 90px; float: left; padding: 0 10px;}
.new-energy .focus-arrow .quickbox .aside li a{ width: 414px; height: 90px; display: block; position: relative;}
.new-energy .focus-arrow .quickbox .aside li img{ width: 135px; height: 90px; display: block;}
.new-energy .focus-arrow .quickbox .aside li .info{ width: 265px; height: 90px; padding-left: 14px; color: #ffffff; background: #2b775d;}
.new-energy .focus-arrow .quickbox .aside li .tit{ height: 44px; margin-top: 7px; margin-bottom: 3px; overflow: hidden; font-size: 16px; line-height: 22px;}
.new-energy .focus-arrow .quickbox .aside li .param{ height: 32px; overflow: hidden; font-size: 14px; line-height: 32px;}
.new-energy .focus-arrow .quickbox .aside li .param span{ margin-right: 10px;}
.new-energy .focus-arrow .quickbox .aside li .param i{ margin: 0 8px 0 5px; line-height: 28px; color: #84b0a1;}
.new-energy .focus-arrow .quickbox .icons { display: none; position: absolute; left: 50%; bottom: 65px;}
.new-energy .focus-arrow .quickbox .icons li { float: left; width: 20px; height: 20px; background: url("//i1.sinaimg.cn/qc/autoimages/autoVersion2014/ico-sprite.png") no-repeat 0px -316px; cursor: pointer;}
.new-energy .focus-arrow .quickbox .icons li.on { background-position: -20px -316px;}
.new-energy .focus-arrow .quickbox .qbtn{ width: 200px; height: 90px; position: absolute; top: 0px; z-index: 9;}
.new-energy .focus-arrow .quickbox .qbtn .shade { width: 200px; height: 90px; display: block;}
.new-energy .focus-arrow .quickbox .qbtn .btn{ width: 64px; height: 64px; display: block; color: #ffffff; text-indent: -300px; overflow: hidden; background: url('//www.sinaimg.cn/qc/2018/0302/newenergy01.png') 0 0 no-repeat; position: absolute; top: 12px;}
.new-energy .focus-arrow .quickbox .qprev { left: 0;}
.new-energy .focus-arrow .quickbox .qnext { right: 0;}
.new-energy .focus-arrow .quickbox .qprev .shade{ background-image: linear-gradient(-90deg, rgba(0,0,0,0.03) -3%, #019b79 100%);}
.new-energy .focus-arrow .quickbox .qnext .shade{ background-image: linear-gradient(90deg, rgba(0,0,0,0.03) -3%, #019b79 100%);}
.new-energy .focus-arrow .quickbox .qprev .btn { left: 0; background-position: 0 0;}
.new-energy .focus-arrow .quickbox .qnext .btn { right: 0; background-position: -64px 0;}
.new-energy .close-btn{width: 33px; height: 34px; text-indent: -300px; overflow: hidden; background: url('//www.sinaimg.cn/qc/2017/1107/pop_close01.png') 0 0 no-repeat; cursor: pointer; position: absolute; right: 0; top: 0;}
@media screen and (max-width: 1279px) {
	.new-energy .cbox{ width: 1000px;}
	.new-energy .new-logo{ width: 146px; background: url('//www.sinaimg.cn/qc/2018/0302/newenergy03.png') 0 center no-repeat;}
}

#sidebar{ bottom: 187px;}

/* 2019上海车展订制皮肤覆盖 */
.new-energy{ background: #eb373f;}
.new-energy .new-logo{ background: url('//n.sinaimg.cn/auto/8c6236fe/20190411/041101.png') 0 center no-repeat;}
.new-energy .focus-arrow .quickbox .aside li .info{ background: #bc242a;}
.new-energy .focus-arrow .quickbox .qprev .shade{ background-image: linear-gradient(-90deg, rgba(0,0,0,0.03) -3%, #eb373f 100%);}
.new-energy .focus-arrow .quickbox .qnext .shade{ background-image: linear-gradient(90deg, rgba(0,0,0,0.03) -3%, #eb373f 100%);}