/* base style */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: none;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Microsoft YaHei", "\u5FAE\u8F6F\u96C5\u9ED1", "Arial", "SimSun", "\u5B8B\u4F53", "Arial Narrow", "HELVETICA";
}
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
select,
input {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
input,
textarea {
  outline-style: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
table {
  border-collapse: collapse;
}
input,
textarea,
select,
button,
a,
span,
em,
i {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 62.5%;
}
body {
  background: #fff;
  font: 12px/20px "Microsoft YaHei", "\u5FAE\u8F6F\u96C5\u9ED1", "Arial", "SimSun", "\u5B8B\u4F53", "Arial Narrow", "HELVETICA";
  font-size: 1.2rem;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after,
.clearfix:before {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
::selection {
  background: #f35a5a;
  color: white;
}
::-moz-selection {
  background: #f35a5a;
  color: white;
}
/* function */
.inlineBlock {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* variable */
/* common */
@font-face {
  font-family: 'WhnFont';
  src: url('/images/product/font/whnfont.eot');
  src: url('/images/product/font/whnfont.eot?#iefix') format('embedded-opentype'), url('/images/product/font/whnfont.woff2') format('woff2'), url('/images/product/font/whnfont.woff') format('woff'), url('/images/product/font/whnfont.ttf') format('truetype'), url('/images/product/font/whnfont.svg#WhnFont') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  width: 100%;
}
body {
  -webkit-text-size-adjust: 100%;
  line-height: 20px;
  width: 100%;
}
/* for select */
.select-list {
  overflow-x: hidden;
}
/* default size */
/* top-bar style */
.top-bar-wrap {
  width: 100%;
  background-color: #424242;
  border-bottom: 2px solid #f35a5a;
}
.top-bar {
  width: 1260px;
  margin: 0 auto;
  height: 58px;
  font-size: 0;
  line-height: 60px;
}
.top-bar a {
  color: #fff;
}
.top-bar a:hover {
  color: #f35a5a;
}
.top-bar-l,
.top-bar-r {
  overflow: hidden;
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
}
.top-bar-l {
  width: 70%;
  float: left;
  text-align: left;
}
.top-bar-r {
  overflow: hidden;
  text-align: right;
}
/* head style */
.head-wrap {
  width: 100%;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
  z-index: 9;
}
.head {
  width: 1260px;
  margin: 0 auto;
  padding: 40px 0 40px;
}
.head-l {
  overflow: hidden;
  float: left;
}
.user-avatar {
  float: left;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.user-avatar img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.user-avatar .img-wrap {
  background: url('/images/product/avatar-80.png') no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block\9;
}
.user-avatar .img-wrap:first-of-type {
  background: none;
}
.user-info {
  float: left;
  margin-left: 25px;
  margin-top: 10px;
}
.user-info span {
  font-size: 14px;
  font-size: 1.4rem;
  color: #a2a2a2;
  line-height: 30px;
}
.user-info span a {
  font-size: 20px;
  font-size: 2rem;
  color: #333333;
}
.user-info span a:hover {
  color: #f35a5a;
}
.user-info #logout {
  color: #f35a5a;
  cursor: pointer;
}
.user-info .user-btn1,
.user-info .user-btn2 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 106px;
  height: 33px;
  background-color: #f35a5a;
  color: #fff;
  text-align: center;
  line-height: 33px;
  border-radius: 3px;
  cursor: pointer;
}
.user-info .user-btn1 {
  margin-right: 10px;
}
.user-login {
  float: left;
  margin-left: 25px;
}
.login-p1 {
  font-size: 20px;
  font-size: 2rem;
  color: #333333;
}
.login-p2 {
  font-size: 14px;
  font-size: 1.4rem;
  color: #f35a5a;
  margin: 5px 0;
}
.login-wrap {
  position: relative;
}
.login,
.register {
  float: left;
  width: 106px;
  height: 33px;
  line-height: 33px;
  background-color: #f35a5a;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
}
.login:hover,
.register:hover {
  color: #fff;
  background-color: #df4848;
}
.register {
  margin-left: 5px;
}
.head-r {
  float: right;
  margin-top: 20px;
}
.link {
  font-size: 18px;
  font-size: 1.8rem;
  float: left;
  height: 38px;
  line-height: 38px;
  padding: 0 30px;
}
.link:hover {
  color: #f35a5a;
}
.link-phone {
  display: none;
}
.search {
  position: relative;
  float: right;
}
.s-input {
  width: 265px;
  height: 38px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e0e0e0 \9;
}
.s-input input {
  height: 100%;
  vertical-align: top;
  border: none;
  color: #afafaf;
  font-size: 14px;
  font-size: 1.4rem;
  width: 95px;
  margin-left: 10px;
  padding-top: 9px\9;
  height: auto\9;
}
.s-input input:first-of-type {
  padding-top: 0;
  height: 100%;
}
.s-type {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 120px;
  height: 100%;
  line-height: 38px;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  color: #797979;
  position: relative;
  border-right: 1px solid #f2f2f2;
  border-right: 1px solid #e0e0e0 \9;
}
.s-type i {
  font-family: 'WhnFont';
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.3px;
  font-size: 10px;
  position: absolute;
  font-style: normal;
  right: 5px;
  color: #999;
}
.s-submit {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 30px;
  height: 100%;
  line-height: 38px;
  text-align: center;
  font-family: 'WhnFont';
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.3px;
  font-size: 18px;
  color: #f35a5a;
}
.s-list {
  position: absolute;
  display: none;
  background-color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  margin-top: 3px;
  width: 160px;
  border: 1px solid #e0e0e0 \9;
  border-radius: 3px;
  box-shadow: 0 0 8px #ddd;
}
.s-list li {
  height: 35px;
  line-height: 35px;
}
.s-list a {
  color: #666;
  text-indent: 30px;
  width: 100%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  cursor: pointer;
}
.s-list a:hover {
  color: #fff;
  background-color: #f35a5a;
}
.s-list .a-1 {
  color: #000;
}
.s-list .li-1 {
  border-bottom: 1px solid #e7e7e7;
}
/* footer style */
.footer-wrap {
  width: 100%;
  margin: 40px auto;
  border-top: solid 1px #dcdcdc;
}
.footer-wrap .footer {
  text-align: center;
  line-height: 30px;
  color: #999;
  margin: 40px auto;
  width: 1000px;
  font-size: 12px;
  font-size: 1.2rem;
}
.footer-wrap .footer a {
  color: #818181;
  padding: 0 5px;
}
.footer-wrap .footer a:hover {
  text-decoration: underline;
}
.footer-wrap .footer-span {
  padding: 0 5px;
}
/* 1260px */
@media only screen and (max-width: 1260px) {
  /* top-bar style */
  .top-bar {
    width: 100%;
  }
  .top-bar-l {
    text-indent: 15px;
  }
  .top-bar-r a {
    margin-right: 15px;
  }
  /* head style */
  .head {
    width: 100%;
  }
  .head-l {
    margin-left: 10px;
  }
  .head-r {
    margin-right: 10px;
  }
  /* main style */
  .main {
    width: 100%;
  }
}
/* 1000px */
@media only screen and (max-width: 1000px) {
  .footer-wrap .footer {
    width: 100%;
  }
}
/* 800px */
@media only screen and (max-width: 800px) {
  /* head style */
  .head {
    padding: 40px 0 30px;
  }
  .head-l {
    float: none;
  }
  .head-r {
    margin-left: 10px;
    float: left;
  }
  .link {
    padding: 0 15px;
    font-size: 14px;
    font-size: 1.4rem;
    float: right;
  }
  /* footer style */
  .footer-wrap {
    margin: 15px auto 0;
    border: none;
  }
  .footer-wrap .footer {
    margin: 10px auto;
    width: 100%;
  }
}
/* 640px */
@media only screen and (max-width: 640px) {
  /* top-bar style */
  .top-bar {
    height: 40px;
    line-height: 40px;
  }
  .top-bar span {
    font-size: 12px;
    font-size: 1.2rem;
  }
  .top-bar-l {
    text-indent: 10px;
  }
  .top-bar-r a {
    margin-right: 10px;
  }
  /* head style */
  .head {
    padding: 20px 0 10px;
  }
  .link {
    height: 32px;
    line-height: 32px;
  }
  .s-input {
    width: 255px;
    height: 32px;
  }
  .s-input input {
    font-size: 12px;
    font-size: 1.2rem;
  }
  .s-type {
    line-height: 32px;
    font-size: 12px;
    font-size: 1.2rem;
    width: 110px;
  }
  .s-type i {
    font-size: 10px;
    font-size: 1rem;
  }
  .s-submit {
    line-height: 32px;
  }
  .s-list {
    width: 130px;
    font-size: 12px;
    font-size: 1.2rem;
  }
  .s-list a {
    text-indent: 20px;
  }
  .s-list li {
    height: 30px;
    line-height: 30px;
  }
  .user-avatar {
    width: 60px;
    height: 60px;
  }
  .user-avatar .img-wrap {
    background: url('/images/product/avatar-60.png') no-repeat;
  }
  .user-info {
    margin-left: 10px;
    margin-top: 5px;
  }
  .user-info span {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 25px;
  }
  .user-info span a {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .user-info .user-btn1,
  .user-info .user-btn2 {
    width: 90px;
    height: 25px;
    line-height: 25px;
  }
  .user-info .user-btn1 {
    margin-right: 5px;
  }
  .user-login {
    margin-left: 10px;
  }
  .login-p1 {
    font-size: 14px;
    font-size: 1.4rem;
    float: left;
    line-height: 25px;
  }
  .login-p2 {
    font-size: 12px;
    font-size: 1.2rem;
    float: left;
    margin: 0;
    padding-left: 5px;
    line-height: 25px;
  }
  .login-wrap {
    margin-top: 5px;
  }
  .login,
  .register {
    width: 60px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-size: 1.2rem;
  }
}
/* 460px */
@media only screen and (max-width: 460px) {
  /* head style */
  .head {
    padding: 10px 0 6px;
  }
  .head-r {
    float: none;
    margin-top: 15px;
    margin-bottom: 3px;
  }
  .link {
    display: none;
  }
  .search {
    float: left;
  }
  .s-input {
    width: 270px;
  }
  .s-input input {
    width: 110px;
  }
  .link-phone {
    display: block;
    float: right;
    font-size: 12px;
    font-size: 1.2rem;
    position: relative;
    height: 32px;
    width: 28px;
  }
  .link-phone:hover {
    color: #f35a5a;
  }
  .lp-span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100%;
    height: 100%;
    line-height: 27px;
    font-family: 'WhnFont';
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.3px;
    font-size: 28px;
    color: #999;
    cursor: pointer;
  }
  .lp-span.active {
    color: #f35a5a;
  }
  .lp-ul {
    position: absolute;
    display: none;
    right: 0;
    top: 32px;
    background-color: #fff;
    font-size: 14px;
    font-size: 1.4rem;
    margin-top: 3px;
    width: 100px;
    border: 1px solid #e0e0e0 \9;
    border-radius: 3px;
    box-shadow: 0 0 8px #ddd;
  }
  .lp-li {
    height: 30px;
    line-height: 30px;
  }
  .lp-li a {
    color: #666;
    width: 100%;
    text-align: center;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    cursor: pointer;
  }
  .lp-li a:hover {
    color: #fff;
    background-color: #f35a5a;
  }
  .user-avatar {
    width: 40px;
    height: 40px;
  }
  .user-avatar .img-wrap {
    background: url('/images/product/avatar-40.png') no-repeat;
  }
  .user-info {
    margin-top: 0;
  }
  .user-info span {
    line-height: 20px;
  }
  .user-info span a {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .user-info .user-btn1,
  .user-info .user-btn2 {
    width: 85px;
    height: 22px;
    line-height: 22px;
  }
  .user-info .user-btn1 {
    margin-right: 0px;
  }
  .login-p1,
  .login-p2 {
    display: none;
  }
  .login-wrap {
    margin-top: 8px;
  }
  /* footer style */
  .footer-wrap .footer {
    font-size: 10px;
    font-size: 1rem;
    line-height: 20px;
  }
}
