.TAP14 .ac-icon{background-image:url(http://i.sso.sina.com.cn/images/login/top_account_icon_red.png);_background-image:url(http://i.sso.sina.com.cn/images/login/top_account_icon_red_ie6.png);}
.TAP14 .ac-login .active,
.TAP14 .ac-login-cnt a:hover,
.TAP14 .ac-dropdown,
.TAP14 .ac-dropdown li,
.TAP14 .message .msg-link:hover,
.TAP14 .message .active,
.TAP14 .msg-dropdown,
.TAP14 .msg-tab li,
.TAP14 .msg-tab li a,
.TAP14 .msg-tab span{border-color:#c7c7c7;}
.TAP14 .msg-lst li{border-color:#f4f4f4;}
.TAP14 .msg-tab li a.cur{border-color:#cc0000;}
.TAP14 .msg-dropdown,
.TAP14 .ac-dropdown,
.TAP14 .ac-login .active,
.TAP14 .ac-login-cnt:hover,
.TAP14 .message .msg-link:hover,
.TAP14 .message .active{background:#fff;}
.TAP14 .msg-lst li:hover,
.TAP14 .ac-dropdown li a:hover{background:#f4f4f4;}
.TAP14{color:#333;}
.TAP14 a:link,
.TAP14 a:visited{color:#333;text-decoration:none;}
.TAP14 a:hover{color:#fa8200;text-decoration:none;}
.TAP14 .msg-tab li a.cur{color:#C00;}
.TAP14 a.list-link:link,
.TAP14 a.list-link:visited,
.TAP14 a.list-link:hover{color:#cc0000;}
.TAP14 .ac-login .log-links a:link,
.TAP14 .ac-login .log-links a:visited,
.TAP14 .ac-login a.msg-link:link,
.TAP14 .ac-login a.msg-link:visited{color:#333}
/*
.TAP14 .ac-login .log-links a:hover,
.TAP14 .message .msg-link:hover,
.TAP14 .ac-login .active,
.TAP14 .message .active,
.TAP14 .message .active:hover,
.TAP14 .ac-login a.msg-link:hover{color:#fa8200}*/