/* CSS */
@font-face {
	font-family: 'icomoon';
	src:url('http://i2.sinaimg.cn/cj/sf/20/2015/0602/fonts/U12668P1591T20D2F59DT20150604152817.eot?-vrc7nu');
	src:url('http://i2.sinaimg.cn/cj/sf/20/2015/0602/fonts/U12668P1591T20D2F59DT20150604152817.eot?#iefix-vrc7nu') format('embedded-opentype'),
		url('http://n.sinaimg.cn/5e90ac6c/20150604/U12668P1591T20D5F59DT20150604152748.woff?-vrc7nu') format('woff'),
		url('http://i0.sinaimg.cn/cj/sf/20/2015/0602/fonts/U12668P1591T20D4F59DT20150604152802.ttf?-vrc7nu') format('truetype'),
		url('http://i0.sinaimg.cn/cj/sf/20/2015/0602/fonts/U12668P1591T20D3F59DT20150604152725.svg?-vrc7nu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'icomoonsifa';
	src:  url('http://n.sinaimg.cn/news/sifapublic/font/icomoon.eot?9edg9k');
    src:  url('http://n.sinaimg.cn/news/sifapublic/font/icomoon.eot?9edg9k#iefix') format('embedded-opentype'),
    url('http://n.sinaimg.cn/news/sifapublic/font/icomoon.ttf?9edg9k') format('truetype'),
    url('http://n.sinaimg.cn/news/sifapublic/font/icomoon.woff?9edg9k') format('woff'),
    url('http://n.sinaimg.cn/news/sifapublic/font/icomoon.svg?9edg9k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon-LOGO span.path1 ,.icon-LOGO span.path2 ,.icon-LOGO span.path3 ,.icon-LOGO span.path4 ,
.icon-LOGO span.path5 ,.icon-LOGO span.path6 ,.icon-LOGO span.path7 ,.icon-LOGO span.path8 ,
.icon-LOGO span.path9 ,.icon-LOGO span.path10 ,.icon-LOGO span.path11 ,.icon-LOGO span.path12 ,
.icon-LOGO span.path13 {
	display:inline-block;
	vertical-align:middle;
	font-family: 'icomoonsifa'!important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="icon-"], [class*=" icon-"] {
	display:inline-block;
	vertical-align:middle;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*=" icon-medium"]{
    display:none;
}
.icon-LOGO{
    line-height: 1;
}
.icon-LOGO .path1:before {
	content: "\e900";
    color: rgb(255, 255, 255);
}
.icon-LOGO .path2:before {
	content: "\e901";
    margin-left: -3.888671875em;
    color: rgb(0, 0, 0);
}
.icon-LOGO .path3:before {
	content: "\e902";
    margin-left: -3.888671875em;
    color: rgb(224, 38, 41);
}
.icon-LOGO .path4:before {
	content: "\e903";
    margin-left: -3.888671875em;
    color: rgb(0, 0, 0);
}
.icon-LOGO .path5:before {
	content: "\e904";
    margin-left: -3.888671875em;
    color: rgb(0, 0, 0);
}
.icon-LOGO .path6:before {
	content: "\e905";
    margin-left: -3.888671875em;
    color: rgb(0, 0, 0);
}
.icon-LOGO .path7:before {
	content: "\e906";
    margin-left: -3.888671875em;
    color: rgb(0, 0, 0);
}
.icon-LOGO .path8:before {
	content: "\e907";
    margin-left: -3.888671875em;
    color: rgb(0, 0, 0);
}
.icon-LOGO .path9:before {
	content: "\e908";
    margin-left: -3.888671875em;
    color: rgb(0, 0, 0);
}
.icon-LOGO .path10:before {
	content: "\e909";
    margin-left: -3.888671875em;
    color: rgb(0, 0, 0);
}
.icon-LOGO .path11:before {
	content: "\e90a";
    margin-left: -3.888671875em;
    color: rgb(0, 0, 0);
}
.icon-LOGO .path12:before {
	/* content: "\e60b";
	margin-left: -4.5595703125em;
	color: rgb(35, 24, 21); */
}
.icon-LOGO .path13:before {
	/* content: "\e60c";
	margin-left: -4.5595703125em;
	color: rgb(35, 24, 21); */
}
.icon-weiboLOGO{
    line-height:1px;
}
.icon-weiboLOGO .path1:before {
	content: "\e60d";
	color: rgb(255, 255, 255);
}
.icon-weiboLOGO .path2:before {
	content: "\e60e";
	margin-left: -1em;
	color: rgb(229, 0, 18);
}
.icon-weiboLOGO .path3:before {
	content: "\e60f";
	margin-left: -1em;
	color: rgb(242, 150, 0);
}
.icon-weiboLOGO .path4:before {
	content: "\e610";
	margin-left: -1em;
	color: rgb(242, 150, 0);
}
.icon-weiboLOGO .path5:before {
	content: "\e611";
	margin-left: -1em;
	color: rgb(35, 24, 21);
}
.icon-daV:before {
	content: "\e612";
}
.icon-biaotifuhao:before {
	content: "\e613";
}
.icon-iconfont-fangdian:before {
	content: "\e614";
}
.icon-iconfont-xiaoyuandian:before {
	content: "\e615";
}
.icon-iconfont-yugao:before {
	content: "\e616";
}
.icon-iconfont-dayuandian:before {
	content: "\e617";
}
.icon-iconfont-shipin:before {
	content: "\e618";
}
.icon-iconfont-paimai:before {
	content: "\e619";
}
.icon-weibopure:before {
	content: "\e61a";
}
.icon-iconfont-wupinleixing:before {
	content: "\e61b";
}
.icon-iconfont-shangyiye:before {
	content: "\e61c";
}
.icon-iconfont-xiayiye:before {
	content: "\e61d";
}
.icon-iconfont-shuaxin:before {
	content: "\e61e";
}
.icon-iconfont-zuosanjiao:before {
	content: "\e61f";
}
.icon-iconfont-yousanjiao:before {
	content: "\e620";
}
.icon-iconfont-share:before {
	content: "\e621";
}
.icon-iconfont-xinlangweibo:before {
	content: "\e622";
}
.icon-iconfont-qqkongjian:before {
	content: "\e623";
}
.icon-iconfont-weixin:before {
	content: "\e624";
}
.icon-iconfont-tengxunweibo:before {
	content: "\e625";
}
.icon-iconfont-laiwang:before {
	content: "\e626";
}
.icon-iconfont-gengduofenxiang:before {
	content: "\e627";
}
.icon-iconfont-pinglun:before {
	content: "\e628";
}
.icon-iconfont-shoucnag:before {
	content: "\e629";
}
.icon-iconfont-dayin:before {
	content: "\e62a";
}
.icon-zitijiada:before {
	content: "\e62b";
}
.icon-zitisuoxiao:before {
	content: "\e62c";
}
