/* CSS */
/*-------------------初始化样式--------------------*/
body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font: 12px/20px "Microsoft YaHei","\u5FAE\u8F6F\u96C5\u9ED1","Arial","SimSun","\u5B8B\u4F53";
	color: #393837;
	background-color: #FFFFFF;
}
ul,dl,dt,dd,h1,h2,h3,h4,h5,h6,form { padding:0; margin:0;}
ul { list-style:none;}
img { border:0px;}
a{text-decoration: none;outline: none;color:#6B7A7F;}
a:visited{text-decoration: none;}
a:hover{cursor: pointer;text-decoration: none; color:#3C97D6;}
a:focus{-moz-outline-style: none;text-decoration: none;}
img{border: 0;}
.clear{clear: both;}
/*------------------重定义样式----------------------*/
.page_float_left{float: left;}
.page_float_right {float: right;}

/*------------------header区----------------------*/
#header_body{margin:0 auto;width:1000px;}
.header_login_area{margin:20px 0 0;}
a.header_logo{display:inline-block;margin:0;/*height:35px;font-size:35px;*/}
a.header_logo span{font-family: 'icomoonsifa';height: 35px;font-size: 30px;margin-top: 4px;}
/*header右侧区*/
.top_attention_area{margin:5px 0px 5px 0;}
.attention_name{display:inline-block;font-size:14px;line-height:24px;color:#333333;}
.attention_name_v {font-size: 20px;color: #2eb0f9;}
span.test{display:inline-block;width:72px;height:24px;vertical-align:middle;}
.header_menu_area{margin:0px 0 0 0;background:#203b7a;}
i.iconOfficialWeibo {background: url(http://n.sinaimg.cn/news/sifapublic/images/v.png);width: 16px;height: 14px;display: inline-block;margin: 0px 2px 0 0;vertical-align: middle;}
/*书签*/
.shuqian{font-size: 14px;font-family: "微软雅黑";line-height: 26px;background-image: url(http://www.sinaimg.cn/dy/2016/0307/U12667P1591DT20160307175006.jpg);background-repeat: no-repeat;background-position: 0px 2px;height: 26px;padding-left: 14px;padding-bottom: 16px;margin-right: 5px;}
/*微博新浪法院频道*/
.pindao{font-size: 14px;font-family: "微软雅黑";line-height: 26px;background-image: url(http://www.sinaimg.cn/dy/2016/0307/U12667P1591DT20160307181743.jpg);background-repeat: no-repeat;background-position: 0px 0px;height: 26px;padding-bottom: 16px;margin-right: 5px;padding-left: 29px;}
/*nav主导航区*/
ul.header_menu{margin:0px;padding:0;height:43px;list-style:none;background:#203b7a;}
ul.header_menu li{float:left;margin:0;padding:12px 0 0 0;}
ul.header_menu li.last{float:right;}
ul.header_menu li.last a:hover{color:#FFFFFF;background-color:#a41303;background-image:none;height: 45px;line-height: 45px;margin-top: -13px;border-right: 1px solid #550800;}
ul.header_menu li a{display:block;padding:0 25px;margin:0;font-size:14px;color:#FFFFFF;border-right: 1px solid #203b7a;/* -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; */}
ul.header_menu li a.on{background-color:#a41303;height: 45px;line-height: 45px;margin-top: -13px;border-right: 1px solid #550800;background-image: none;}
ul.header_menu li a:hover{color:#FFFFFF;background-color:#a41303;background-image:none;height: 45px;line-height: 45px;margin-top: -13px;border-right: 1px solid #550800;}
.menu_line{background:url("http://n.sinaimg.cn/news/sifapublic/images/sifapublicheadline_03.png") right center no-repeat;}
					
/*右侧浮动法院频道公众号*/
.side-btns-2w {width: 110px;top: 260px;_top: expression(documentElement.scrollTop + 200);left: 51%;margin: 0 0 0 505px;position: fixed;_position: absolute;z-index: 0;overflow: hidden;font: 12px Arial;color: #333;}
.piaofu {width: 110px;background-color: #ebebeb;height: 142px;text-align: center;padding-top: 4px;}
.piaofu img{width: 90px;height: 90px;text-align: center;padding-top: 6px;padding-right: 6px;padding-bottom: 6px;padding-left: 6px;}
.side-btns-2w a {font: 12px Arial;color: #333;float: right;background-color: #FFF;}
/**/
#footer_wrapper{min-width:1000px;background:#f7f7f7;}
#footer_body{margin:0 auto;padding:35px 0;width:1000px;}
.footer_info{margin: 35px auto 0;color:#666;text-align: center;}

/*footer正文页*/
.page-footer .spliter {font-size: 12px;margin: 0 5px;}
.page-footer {font-size: 14px;border-top: 1px solid #d0d0d0;padding-top: 10px;margin-top: 20px;}
.page-footer p {text-align: center;line-height: 30px;padding: 0;margin: 0;}
.page-footer p a{color: #333;}
.page-footer p a:hover{color: #fe8503;}
.page-padding{height:15px;display: block;width: 1000px;}