@charset "UTF-8";
.SG_top_wrap { width: 100%; background-color: #252525; position: relative; z-index: 10000; margin: 0 auto 30px; }

.SG_top { width: 1200px; height: 60px; font: 14px/58px "Microsoft Yahei"; color: #afafaf; margin: 0 auto; }

.SG_top a { color: #afafaf; cursor: pointer; text-decoration: none; }

.SG_top a:hover { color: #f65049; text-decoration: none; }

.SG_top_menu { float: left; }

.SG_top_menu a { margin-right: 25px; }

.SG_top_line { display: block; width: 1px; height: 12px; margin: 24px 10px 0; background-color: #4a4a4a; float: left; overflow: hidden; }

/*通用*/
.SG_box_wrap, .Sselect_menu_wrap, .SG_Login_wrap, .SG_Logined_wrap { background: url(http://i0.sinaimg.cn/gm/home/2014/gray.png) repeat; }

.SG_Login_box input.SG_name, .SG_Login_box input.SG_pass, .SG_Login_box input.SG_weidun, .SG_Login_box input.SG_door, .SG_Login_box ul li a.open_kb { background: url(http://n.sinaimg.cn/games/2016vr/topnav.png) no-repeat; }

.SG_top_div { width: 110px; float: left; position: relative; }

.SG_top_div a.SG_top_link { background: url("http://n.sinaimg.cn/games/2016vr/topnav.png") no-repeat; display: block; width: 60px; padding: 0 25px; text-align: center; border-color: transparent; border-style: solid; border-width: 0 1px 0 1px; }

.SG_top_div a.SG_top_link:hover, .SG_top_div a.SG_top_link.hover { height: 61px; border-color: #1c1c1c; border-style: solid; border-width: 0 1px 0 1px; }

.SG_top_div.SG_top_nav { width: 106px; }

.SG_top_div.SG_top_nav a.SG_top_link { background-position: 0 0; width: 54px; text-indent: 2px; }

.SG_top_div.SG_top_nav a.SG_top_link:hover, .SG_top_div.SG_top_nav a.SG_top_link.hover { background-position: 0 -60px; }

.SG_top_div.SG_top_phone { width: 121px; text-indent: 5px; }

.SG_top_div.SG_top_phone a.SG_top_link { background-position: 0 -120px; width: 71px; }

.SG_top_div.SG_top_phone a.SG_top_link:hover, .SG_top_div.SG_top_phone a.SG_top_link.hover { background-position: 0 -180px; }

.SG_top_div.SG_top_phone_rel { width: 103px; text-indent: 2px; }

.SG_top_div.SG_top_phone_rel a.SG_top_link { background-position: 0 -360px; width: 53px; }

.SG_top_div.SG_top_phone_rel a.SG_top_link:hover, .SG_top_div.SG_top_phone_rel a.SG_top_link.hover { background-position: 0 -420px; }

.SG_top_div:hover { background-color: #343434; }

.SGtn_box_wrap .SG_box { line-height: 35px; }

.SG_box_wrap { position: absolute; left: 0px; top: 60px; display: none; z-index: -1; }

.SGtpr_box_wrap { width: 167px; color: #a7a7a6; line-height: 20px; }

.SGtpr_box_wrap .SG_box { width: 145px; padding: 10px; }

.SGtpr_box_wrap img { width: 145px; height: 145px; display: block; }

.SGtpr_box_wrap p { margin: 10px 0; }

.SG_box { background-color: #343434; border: 1px solid #1c1c1c; }

.SG_box .zhan { display: inline-block; width: 14px; }

.SG_arrtop { display: block; width: 11px; height: 6px; background-position: 0 -566px; position: absolute; left: 24px; top: 9px; }

.SG_botbg { display: block; width: 100%; height: 2px; font-size: 0px; background-color: #000; opacity: 0.1; filter: alpha(opacity=10); }

/*导航*/
.SG_top_nav a.SG_top_link { background-position: 0 0; position: relative; z-index: 2; }

.SG_top_nav a.SG_top_link:hover, .SG_top_nav a.SG_top_link.hover { color: #f65049; background-position: 0 -38px; }

.SGtn_box_wrap { /*width: 772px;*/ }

.SGtn_box_wrap .SG_box { width: 760px; padding: 20px 0; color: #e2e2e2; font-family: "SimSun"; }

.SGtn_box_wrap .navs-list-item { float: left; border-right: solid 1px #3d3d3d; }

.SGtn_box_wrap .navs-list-item a { padding: 0 32px; font-family: "Microsoft Yahei"; }

.SGtn_box_wrap .navs-list-item.last { border: none; }

/*客户端*/
.SG_top_phone a.SG_top_link { background-position: 0 -76px; width: 71px; padding: 0 25px; }

.SG_top_phone a.SG_top_link:hover, .SG_top_phone a.SG_top_link.hover { color: #f65049; background-position: 0 -114px; }

.SGtp_box_wrap { width: 692px; }

.SGtp_box_wrap .SG_box { width: 670px; padding: 0 0 20px 20px; }

.SGtp_box_wrap .SG_box ul { zoom: 1; }

.SGtp_box_wrap .SG_box ul:after { visibility: hidden; display: block; font-size: 0; content: ""; clear: both; height: 0; }

.SGtp_box_wrap .SG_box li { width: 223px; height: 50px; margin-top: 20px; float: left; }

.SGtp_box_wrap .SG_box li img { float: left; border-radius: 10px; }

.SGtp_box_wrap .SG_box li p { width: 158px; height: 28px; font-size: 14px; font-weight: bold; line-height: 28px; float: left; padding-left: 15px; }

.SGtp_box_wrap .SG_box li span { display: block; width: 158px; height: 22px; font-size: 12px; line-height: 22px; color: #464746; float: left; padding-left: 15px; }

.SGtp_box_wrap .SG_box li span a { color: #787978; }

.SGtp_box_wrap .SG_box li span a:hover { color: #f65049; text-decoration: underline; }

/*未登录*/
.SG_login { width: 70px; float: right; position: relative; }

.SG_login a.slogin { display: block; width: 70px; text-indent: 31px; background: url("http://n.sinaimg.cn/games/2016vr/topnav.png") no-repeat; background-position: 0 -480px; position: relative; z-index: 2; border-color: transparent; border-style: solid; border-width: 0 1px 0 1px; }

.SG_login a.slogin:hover, .SG_login a.slogin.hover { color: #f65049; background-color: #343434; height: 60px; border-color: #1c1c1c; border-style: solid; border-width: 0 1px 0 1px; }

.SG_Login_wrap { width: 299px; position: absolute; right: 0; top: 59px; display: none; z-index: -1; }

.SG_Login_wrap .SG_arrtop { left: 14px; }

.SG_Login_box { width: 257px; padding: 20px 20px 20px 20px; background-color: #343434; border: 1px solid #252525; }

.SG_Login_box p { padding-bottom: 20px; color: #8c8c8c; font-size: 14px; line-height: 20px; }

.SG_Login_box ul li { width: 257px; height: 43px; line-height: 43px; margin-bottom: 15px; position: relative; overflow: hidden; }

.SG_Login_box ul li.SG_Login_error { color: #ff2626; text-indent: 12px; background-color: #3e3e3e; display: none; }

.SG_Login_box ul li.SG_Login_detail { color: #8c8c8c; text-indent: 12px; background-color: #3e3e3e; display: none; }

.SG_Login_box ul li.SG_Login_detail a { font-weight: bold; color: #f65049; }

.SG_Login_box ul li.SG_Login_detail a:hover { text-decoration: underline; }

.SG_Login_box input.SG_name, .SG_Login_box input.SG_pass, .SG_Login_box input.SG_name, .SG_Login_box input.SG_weidun, .SG_Login_box input.SG_door { display: block; width: 237px; height: 43px; padding: 0 10px; font-size: 14px; line-height: 43px; border: 0; text-indent: 28px; color: #8e8e8e; background-color: #3e3e3e; }

.SG_Login_box ul li.doorli input.SG_door { float: left; }

.SG_Login_box ul li.doorli a.code { display: block; width: 111px; height: 43px; float: left; }

.SG_Login_box input.SG_door { width: 116px; margin-right: 10px; }

.SG_Login_box ul li a.close_loginname { font-family: "Simsun"; font-weight: bold; color: #8e8e8e; width: 12px; height: 12px; line-height: 12px; position: absolute; top: 16px; right: 16px; overflow: hidden; }

.SG_Login_box ul li a.close_loginname:hover { color: #f65049; }

.SG_Login_box .pass_keyboard { display: block; width: 20px; height: 20px; position: absolute; right: 10px; top: 10px; background: url("http://n.sinaimg.cn/games/2016vr/topnav.png") no-repeat; background-position: 0 -700px; display: none; }

.SG_Login_box .SG_pass:focus ~ .pass_keyboard { display: block; }

.SG_Login_box input.SG_name { background-position: 0 -537px; }

.SG_Login_box input.SG_pass { background-position: 0 -577px; }

.SG_Login_box input.SG_weidun { background-position: 0 -657px; }

.SG_Login_box input.SG_door { background-position: 0 -616px; }

.SG_login_input { height: 32px; margin-bottom: 15px; line-height: 32px; }

.SG_login_input input { vertical-align: middle; }

.SG_login_input a { color: #f65049; }

.SG_login_input a:hover { text-decoration: underline; }

.SG_login_btn { width: 257px; height: 43px; background-color: #f65049; font-size: 16px; color: #fff; text-align: center; border: none; cursor: pointer; }

.SG_login_btn:hover { background-color: #f65049; }

.SG_form_closed { display: block; width: 24px; height: 24px; line-height: 24px; text-align: center; position: absolute; right: 20px; _right: 20px; top: 18px; cursor: pointer; font-family: "Simsun"; font-size: 20px; color: #8e8e8e; color: #6e6e6e; }

.SG_form_closed:hover { background: #f65049; color: #fff !important; }

/*已登录*/
.SG_logined { float: right; /*padding-right: 14px;*/ position: relative; }

.SG_logined a.SG_wb_logo { display: block; width: 113px; height: 100%; padding: 0 10px; overflow: hidden; }

.SG_logined a.SG_wb_logo:hover, .SG_logined a.SG_wb_logo.hover { color: #f65049; background-color: #343434; }

.SG_wb_img { display: block; width: 34px; height: 34px; margin-top: 13px; float: right; overflow: hidden; position: relative; }

.SG_wb_img img { width: 34px; height: 34px; border-radius: 50%; }

.SG_wb_img span { display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; }

.SG_wb_logo p { display: block; width: 70px; height: 60px; float: right; padding-left: 6px; text-align: center; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.SG_Logined_wrap { position: absolute; left: 0; width: 100%; display: none; z-index: 1000; }

.SG_Logined_wrap .SG_arrtop { left: 8px; }

.SG_Logined_box { padding: 6px 0; background-color: #343434; border: 1px solid #1c1c1c; border-top: none; }

.SG_Logined_box a { display: block; width: 100%; text-indent: 14px; height: 34px; line-height: 34px; text-align: left; color: #afafaf; text-decoration: none; white-space: nowrap; }

.SG_Logined_box a:hover { color: #f65049; background-color: #252525; *background: none; }
