/* [2,717,134] published at 2017-04-19 19:30:16 */

.wb_rec{ margin-top: 0px; margin-bottom: 20px; display:none; }
.wb_rec_c{ width: 556px; padding-bottom: 20px; padding-top: 5px; margin: 0 auto; border: 1px solid #ccc;}
.wb_rec_tt{ margin-left: 20px; padding-left: 30px; font-size: 15px; height: 32px; line-height: 32px; overflow: hidden; color: #5b5b5f; background: url(http://i1.sinaimg.cn/IT/deco/2013/1106/weibo/wb_rec_wb.png) left center no-repeat;}
.wb_rec_tt a, .wb_rec_tt a:visited{ color: #5b5b5f;}
.wb_rec_wb{ margin: 0 auto; margin-top: 5px; width: 512px; padding-bottom: 10px; border: 1px solid #ccc;}
.wb_rec_wb .wb_rec_pic_w{ float: left; display: inline; margin-left: 10px; margin-top: 10px;}
.wb_rec_wb_c{ float: right; display: inline; margin-top: 8px; margin-right: 10px; width: 425px; color: #272727; font-size: 14px; line-height: 22px;}
.wb_rec_wb_c a.wb_rec_wb_user, .wb_rec_wb_c a.wb_rec_wb_user:visited{ color: #0075B8;}
.wb_rec_wb_c a.wb_rec_wb_text, .wb_rec_wb_c a.wb_rec_wb_text:visited{ color: #272727;}
.wb_rec_wb_pic{ display: inline-block; margin-left: 0px; margin-top: 2px; margin-left: 5px; width: 14px; height: 14px; background: url(http://i0.sinaimg.cn/IT/deco/2013/1106/weibo/checked1.gif) 0 -100px no-repeat;}
.wb_rec_list{ padding-top: 20px;}
.wb_rec_list .wb_rec_item{ float: left; display: inline; width: 110px; height: 110px;}
.wb_rec_pic_w{ position: relative; display: block; width: 52px; height: 52px; margin: 0 auto; cursor: pointer;}
.wb_rec_pic{ display: block; margin: 0; width: 50px; height: 50px; border: 1px solid #ccc;}
.wb_rank_check{ position: absolute; z-index: 2; left: 0; bottom: 0; display: block; width: 15px; height: 14px; font-size: 0; line-height: 0; overflow: hidden; background: url(http://i0.sinaimg.cn/IT/deco/2013/1106/weibo/checked1.gif) 0 -50px no-repeat;}
.checked{ background: url(http://i0.sinaimg.cn/IT/deco/2013/1106/weibo/checked1.gif) 0 0 no-repeat;}
.wb_rec_name{ padding-top: 3px; line-height: 24px; font-size: 14px; text-align: center;}
.wb_rec_name a, .wb_rec_name a:visited{ color: #070A4D;}
.wb_rec_detail{ text-align: center; line-height: 22px; font-size: 12px; color: #656565;}
.wb_rec_fl{ float: left; display: inline; margin-left: 150px; margin-top: 10px; width: 75px; padding-left: 15px; height: 27px; overflow: hidden; line-height: 27px; _line-height: 28px; text-align: center; font-size: 14px; color: #fff; cursor: pointer; background: url(http://i0.sinaimg.cn/IT/deco/2013/1106/weibo/weibo_rec_btns.png) 0 0 no-repeat; -webkit-transition: all ease 0.6s; transition: all ease 0.6s;}
.wb_rec_fl:hover{ opacity: 0.8; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);}
.wb_rec_fled{ float: left; display: inline; margin-left: 150px; margin-top: 10px; width: 70px; padding-left: 20px; height: 27px; overflow: hidden; line-height: 27px; _line-height: 28px; text-align: center; font-size: 14px; color: #656565; background: url(http://i0.sinaimg.cn/IT/deco/2013/1106/weibo/weibo_rec_btns.png) 0 -50px no-repeat;}
a.wb_rec_more, a.wb_rec_more:visited{ float: left; display: inline; margin-left: 40px; margin-top: 10px; width: 132px; height: 27px; overflow: hidden; line-height: 27px; _line-height: 28px; text-align: center; font-size: 14px; color: #fff; cursor: pointer; background: url(http://i0.sinaimg.cn/IT/deco/2013/1106/weibo/weibo_rec_btns.png) -130px 0 no-repeat; -webkit-transition: all ease 0.6s; transition: all ease 0.6s;}
a.wb_rec_more:hover{ opacity: 0.8; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80); color: #fff; text-decoration: none;}

.wb_card_w{ position: absolute; z-index: 20000; width: 260px; /*visibility: hidden;*/}
.wb_card_w a, .wb_card_w a:visited{ color: #0082cb;}
.wb_card_w a:hover{ color: #390; text-decoration: underline;}
.wb_card_bg{ position: absolute; z-index: 20001; width: 268px; left: -4px; top: -4px; border-radius: 5px; background-color: #bbb; opacity: .7; filter: alpha(opacity=70);}
.wb_card{ position: relative; z-index: 20002; border-color: #fff; background-color: #fff; border: 1px solid #999; border-radius: 5px;}
.wb_card_ptp{ float: left; display: inline; margin-left: 10px; margin-top: 10px; width: 56px; height: 56px;}
.wb_card_ptp img{ display: block; width: 50px; height: 50px; padding: 2px; border: 1px solid #ccc;}
.wb_card_ptt{ float: left; display: inline; margin-left: 15px; margin-top: 10px;}
.wb_card_nick{ font-size: 12px; height: 15px; line-height: 15px; margin-bottom: 4px;}
.wb_card_nick a{ color: #0082cb;}
.wb_card_nick a:hover{ color: #390; text-decoration: underline;}
.wb_card_v0{ border: 0 none; width: 14px; height: 10px; background: url(http://timg.sjs.sinajs.cn/t35/style/images/common/new_index_bg.png) no-repeat 0 -35px; overflow: hidden;}
.wb_card_fans{ font-size: 12px; height: 15px; line-height: 15px; margin-bottom: 4px; color: #737373;}
.wb_card_add_w a.wb_card_add{ display: block; width: 56px; height: 18px; line-height: 18px; _line-height: 19px; text-align: left; overflow: hidden; background-color: #e3ffd5;border: 1px solid #cff3bb; color: #2265a7;}
.wb_card_added{ display: block; width: 56px; height: 18px; line-height: 18px; _line-height: 19px; text-align: center; background-color: #eaeaea; border: 1px solid #d7d7d7; color: #666; overflow: hidden;}
.wb_card_add_w a.wb_card_add em{float: left; display: inline; font-family: Arial; font-size: 17px; font-weight: bold; font-style: normal; margin: 0 1px 0 3px; line-height: 18px; overflow: hidden; cursor: pointer;}
.wb_card_add_w a.wb_card_add:hover{ text-decoration: none; background-color: #4fbe4f; border: 1px solid #393; color: #fff;}
.wb_card_info{ margin: 0 10px; line-height: 24px; color: #737373; font-size: 12px;}
.wb_card_wb{ margin: 0 10px; padding: 5px 0 7px; border-top: 1px dotted #BBB; line-height: 17px; color: #737373; font-size: 12px;}
.wb_card_wb a.wb_card_wb_time{ margin-right: 5px;}
.wb_card_arr{ position: absolute; z-index: 20003; left: 20px; display: block; width: 16px; height: 8px; background: url(http://timg.sjs.sinajs.cn/t35/style/images/common/new_index_bg.png?id=201101211705) no-repeat;}
.wb_card_arr_bot{ bottom: -7px; _bottom: -13px; border-top: 0; background-position: -223px -71px;}
.wb_card_arr_top{ top: -7px; border-top: 0; background-position: -142px -71px;}

/* hb2014 */

.wb_rec_hongbao{display:none !important;}

/*
  .wb_rec{ position: relative;}
  .wb_hongbao_2013{ display: block !important; position: absolute; right: 20px; top: 0; width: 337px; height: 77px;}
  .wb_rec_c{ padding-top: 39px; background: #fff url(http://i1.sinaimg.cn/dy/main/hongbao2014/04/web_rec_hb2013_bg.jpg) 0 0 no-repeat; border: 1px solid #F5346E;} 

  .wb_rec_tt{ background: none;}
  .wb_rec_tt a{ display: block; width: 85px; height: 32px; overflow: hidden; text-indent: -99em; cursor: pointer;}
  .wb_rec_wb{ background-color: #fff; border: 1px solid #F5346E;}

  .wb_rec_pic_w a.wb_rec_hongbao, .wb_rec_pic_w a.wb_rec_hongbao:visited {font-family: "Microsoft YaHei","Î¢ÈíÑÅºÚ"; font-size:14px !important;}
*/
