@charset "gb2312";
/* 初始化环境 */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,table,td,th,form,fieldset,img,dl,dt,dd{margin:0;padding:0;}
textarea,input,select,body{font-size:12px;}
select,input{vertical-align:middle;margin:0;}
fieldset,img{border-width:0;border-style:solid;}
ul,ol{list-style:none;}

a{color:#000;text-decoration:none;}
a:visited{color:#800080;text-decoration:none;}
a:hover{color:#f00;text-decoration:underline;}

.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.clearfix{zoom:1;}
.clearit{clear:both;font-size:0;line-height:0;height:0;}

.VBody{background:#fff;-webkit-text-size-adjust:none;}
#wrap{width:950px;text-align:left;margin:0 auto;}
#topWrap{zoom:1;text-align: center;}
.banner{overflow:hidden;width:950px;}
.bannerMemo{position:absolute;color:#fff;font-size:14px;bottom:5px;right:5px;font-family:"微软雅黑";}

#headBox{width:950px;margin:0 auto;}

/* 共用列表 begin */
.list_009 li{padding-left:1em;background:url(http://i1.sinaimg.cn/dy/deco/2007/1211/yocc/unfcn_mj_01.gif) no-repeat 5px 50%;}
.list_00f li{padding-left:1em;background:url(http://i1.sinaimg.cn/dy/deco/2007/1211/yocc/unfcn_mj_01.gif) no-repeat -995px 50%;}
.list_000 li{padding-left:1em;background:url(http://i1.sinaimg.cn/dy/deco/2007/1211/yocc/unfcn_mj_01.gif) no-repeat -1995px 50%;}
.list_333 li{padding-left:1em;background:url(http://i1.sinaimg.cn/dy/deco/2007/1211/yocc/unfcn_mj_01.gif) no-repeat -2995px 50%;}
.list_666 li{padding-left:1em;background:url(http://i1.sinaimg.cn/dy/deco/2007/1211/yocc/unfcn_mj_01.gif) no-repeat -3995px 50%;}
.list_999 li{padding-left:1em;background:url(http://i1.sinaimg.cn/dy/deco/2007/1211/yocc/unfcn_mj_01.gif) no-repeat -4995px 50%;}
li.padding{height:24px!important;overflow:hidden;display:none;background:none!important;}
.blueStar .star{color:#009;}
/* 共用列表 end */

/* 广告位 */
.AdPosition{width:950px;overflow:hidden;margin-bottom:10px;zoom:1;}


/* 常用链接 begin */
.linkRed,a.linkRed:link,a.linkRed:visited{color:#f00!important;}/* 红色 */
a.linkRed:hover{color:#c00!important;}
.linkRed01,a.linkRed01:link,a.linkRed01:visited{color:#f00!important;}/* 红色 */
a.linkRed01:hover{color:#c00!important;}
.linkBlack,a.linkBlack:link,a.linkBlack:visited{color:#000!important;}/* 黑色 */
a.linkBlack:hover{color:#f00!important;}
.linkWhite,a.linkWhite:link,a.linkWhite:visited{color:#fff!important;}/* 白色 */
a.linkWhite:hover{color:#f00!important;}
.videoNews,a.videoNews{background:url(http://i1.sinaimg.cn/dy/deco/2007/1211/yocc/unfcn_mj_01.gif) no-repeat 100% 50%; padding-right:18px;}
.videoNewsLeft,a.videoNewsLeft{background:url(http://i1.sinaimg.cn/dy/deco/2007/1211/yocc/unfcn_mj_01.gif) no-repeat -19982px 50%; padding-left:18px;}
.liveNewsLeft,a.liveNewsLeft{background:url(http://i3.sinaimg.cn/video/deco/2010/0525/liveNewsLeft.gif) no-repeat 0px 50%;padding-left:22px;}
.musicNews,a.musicNews{background:url(http://image2.sina.com.cn/sms/smc_pic/images/ykrq/images/rq_icon_15.gif) no-repeat 100% 50%; padding-right:18px;}
.musicNewsLeft,a.musicNewsLeft{background:url(http://image2.sina.com.cn/sms/smc_pic/images/ykrq/images/rq_icon_15.gif) no-repeat 1px 50%; padding-left:18px;}
.linkStrong,a.linkStrong{font-weight:bold;}
/* 常用链接 end */

/* ---------- 全局公用样式 end ---------- */


/* 通用部分 */
.author{float:right;padding-right:5px;font-size:12px;}
.datetime{font-size:0.85em;color:#999;padding-left:5px;line-height:1.6em;}
.w_cont_box{zoom:1;}
.w_cont_box:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.contBox{zoom:1;clear:both;_display:inline;overflow:hidden;_overflow:inherit;}
.contBox:after{content:".";display:block;height:0;visibility:hidden;clear:both;}

/* ---------- 横切样式 begin ---------- */
/* p_r3_01 320_360_250 */
.p_r3_01{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r3_01 .p_left{width:320px;float:left;overflow:hidden;}
.p_r3_01 .p_middle{width:360px;float:left;overflow:hidden;margin-left:10px;}
.p_r3_01 .p_right{width:250px;float:left;overflow:hidden;margin-left:10px;}

/* p_r3_02 340_340_250 */
.p_r3_02{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r3_02 .p_left{width:340px;float:left;overflow:hidden;}
.p_r3_02 .p_middle{width:340px;float:left;overflow:hidden;margin-left:10px;}
.p_r3_02 .p_right{width:250px;float:left;overflow:hidden;margin-left:10px;}

/* p_r3_03 250_340_340 */
.p_r3_03{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r3_03 .p_left{width:250px;float:left;overflow:hidden;}
.p_r3_03 .p_middle{width:340px;float:left;overflow:hidden;margin-left:10px;}
.p_r3_03 .p_right{width:340px;float:left;overflow:hidden;margin-left:10px;}

/* p_r3_04 310_310_310 */
.p_r3_04{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r3_04 .p_left{width:310px;float:left;overflow:hidden;}
.p_r3_04 .p_middle{width:310px;float:left;overflow:hidden;margin-left:10px;}
.p_r3_04 .p_right{width:310px;float:left;overflow:hidden;margin-left:10px;}

/* p_r3_05 250_430_250 */
.p_r3_05{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r3_05 .p_left{width:250px;float:left;overflow:hidden;}
.p_r3_05 .p_middle{width:430px;float:left;overflow:hidden;margin-left:10px;}
.p_r3_05 .p_right{width:250px;float:left;overflow:hidden;margin-left:10px;}

/* p_r3_06 250_430_250 自动列表 */
.p_r3_06{zoom:1;overflow:hidden;margin-bottom:10px;position:relative;}
.p_r3_06 .p_left{width:250px;float:left;overflow:hidden;}
.p_r3_06 .p_middle{width:430px;float:left;overflow:hidden;margin-left:10px;}
.p_r3_06 .p_right{width:250px;float:left;overflow:hidden;margin-left:10px;}
.p_r3_06 .p_bottom{height:5px;overflow:hidden;font-size:0;line-height:0;width:950px;clear:both;margin-top:-5px;}

/* p_r3_07 200_300_430 */
.p_r3_07{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r3_07 .p_left{width:200px;float:left;overflow:hidden;}
.p_r3_07 .p_middle{width:300px;float:left;overflow:hidden;margin-left:10px;}
.p_r3_07 .p_right{width:430px;float:left;overflow:hidden;margin-left:10px;}

/* p_r3_08 430_300_200 */
.p_r3_08{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r3_08 .p_left{width:430px;float:left;overflow:hidden;}
.p_r3_08 .p_middle{width:300px;float:left;overflow:hidden;margin-left:10px;}
.p_r3_08 .p_right{width:200px;float:left;overflow:hidden;margin-left:10px;}

/* p_r3_09 200_430_300 */
.p_r3_09{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r3_09 .p_left{width:200px;float:left;overflow:hidden;}
.p_r3_09 .p_middle{width:430px;float:left;overflow:hidden;margin-left:10px;}
.p_r3_09 .p_right{width:300px;float:left;overflow:hidden;margin-left:10px;}

/* p_r2_01 */
.p_r2_01{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r2_01 .p_left{width:250px;float:left;overflow:hidden;}
.p_r2_01 .p_right{width:690px;float:left;overflow:hidden;margin-left:10px;}

/* p_r2_02 */
.p_r2_02{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r2_02 .p_left{width:690px;float:left;overflow:hidden;}
.p_r2_02 .p_right{width:250px;float:left;overflow:hidden;margin-left:10px;}

/* p_r2_03 */
.p_r2_03{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r2_03 .p_left{width:320px;float:left;overflow:hidden;}
.p_r2_03 .p_right{width:620px;float:left;overflow:hidden;margin-left:10px;}

/* p_r2_04 */
.p_r2_04{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r2_04 .p_left{width:620px;float:left;overflow:hidden;}
.p_r2_04 .p_right{width:320px;float:left;overflow:hidden;margin-left:10px;}

/* p_r2_05 470_470 */
.p_r2_05{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r2_05 .p_left{width:470px;float:left;overflow:hidden;}
.p_r2_05 .p_right{width:470px;float:left;overflow:hidden;margin-left:10px;}

/* p_r2_06 560_380 */
.p_r2_06{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r2_06 .p_left{width:560px;float:left;overflow:hidden;}
.p_r2_06 .p_right{width:380px;float:left;overflow:hidden;margin-left:10px;}

/* p_r2_07 380_560 */
.p_r2_07{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r2_07 .p_left{width:380px;float:left;overflow:hidden;}
.p_r2_07 .p_right{width:560px;float:left;overflow:hidden;margin-left:10px;}

/* p_r1 950 */
.p_r1{zoom:1;overflow:hidden;margin-bottom:10px;}

/* p_r4_01 */
.p_r4_01{zoom:1;overflow:hidden;margin-bottom:10px;}
.p_r4_01 .p_left{width:230px;float:left;overflow:hidden;}
.p_r4_01 .p_mLeft{width:230px;float:left;overflow:hidden;margin-left:10px;}
.p_r4_01 .p_mRight{width:230px;float:left;overflow:hidden;margin-left:10px;}
.p_r4_01 .p_right{width:230px;float:left;overflow:hidden;margin-left:10px;}

/* ---------- 横切样式 end ---------- */

/* ---------- 内容样式 begin ---------- */
/* 14px列表 */
.c_t_01{padding:6px 0 4px;}
.c_t_01 li{line-height:23px;font-size:14px;}
.c_t_01 li .postfix{font-size:10px;color:#999;}

/* 12px字号列表 */
.c_t_02{padding:6px 0 4px;zoom:1;}
.c_t_02 li{line-height:20px;}
.c_t_02 li.c_memo{height:auto;line-height:20px;text-indent:2em;padding:5px 0 5px 5px;background:none;}

/* 文本段 */
.c_t_03{padding:4px 10px 4px;line-height:20px;color:#333;zoom:1;}

/* 头条新闻 */
.c_t_04{zoom:1;}
.c_t_04 h1{font-size:20px;font-family:"黑体";font-weight:normal;text-align:center;line-height:38px;color:#cc2e2f;}
.c_t_04 h1 a:link,.c_t_04 h1 a:visited{color:#cc2e2f;text-decoration:none;}
.c_t_04 h1 a:hover{color:#f00;text-decoration:underline;}
.c_t_04 p{line-height:20px;text-align:center;}
.c_t_04 .c_line{background:url(http://i0.sinaimg.cn/dy/deco/2008/0414/images/bg_mj_002.gif) repeat-x 0 0;height:1px;overflow:hidden;margin:6px 4px 0;}

/* 文字表格 */
.c_t_05{padding:6px 0 5px;zoom:1;}
.c_t_05 table{width:100%;line-height:23px;font-size:14px;margin:0 auto;}
.c_t_05 table td{padding-left:8px;}

/* 标题+提要 */
.c_t_06{padding:6px 0 6px 5px;zoom:1;}
.c_t_06 h5{font-size:14px;font-weight:normal;line-height:23px;}
.c_t_06 h6{font-size:12px;font-weight:normal;line-height:23px;}
.c_t_06 .postfix{font-size:12px;color:#666;}
.c_t_06 p{text-indent:2em;line-height:20px;}

/* 排行列表 */
.c_t_07{padding:5px 0 6px 4px;zoom:1;}
.c_t_07 ol{background:url(http://i1.sinaimg.cn/dy/deco/2010/0702/s05_mj_012.gif) no-repeat 0 5px;padding-left:18px;}
.c_t_07 li{line-height:23px;}
.c_t_07 li .num{float:left;width:14px;text-align:center;margin-right:3px;*margin-right:0;color:#666;  display:none;}
.c_t_07 li .count{float:right;padding-right:6px;color:#666;}

/* 特殊文字 */
.c_t_08{padding:6px 0 5px 4px;zoom:1;}
.c_t_08 p{zoom:1;overflow:hidden;line-height:20px;}
.c_t_08 .title{float:left;color:#333;}
.c_t_08 .memo{float:left;}
.c_t_08 h4{font-size:12px;color:#009;line-height:23px;padding:4px 0 0 14px;background:url(http://i1.sinaimg.cn/dy/deco/2007/1211/yocc/unfcn_mj_01.gif) no-repeat 6px 50%;}
.c_t_08 ul{padding-left:12px;}
.c_t_08 ul li{line-height:20px;}

/* 调查/投票 */
.c_t_09{padding:6px;zoom:1;}
.c_t_09 p{line-height:20px; text-indent:2em;}
.c_t_09 ol{padding-top:5px;}
.c_t_09 ol li{line-height:20px;}
.c_t_09 .button{text-align:center;padding-top:10px;height:21px;}

/* 大标题+说明 */
.c_t_10{padding:5px;zoom:1;}
.c_t_10 h1{font-size:20px;font-family:"黑体";font-weight:normal;text-align:center;line-height:36px;color:#cc2e2f;}
.c_t_10 h1 a:link,.c_t_10 h1 a:visited{text-decoration:none;}
.c_t_10 h1 a:hover{text-decoration:underline;}
.c_t_10 p{line-height:23px;text-indent:2em;font-size:14px;}

/* 文本段+列表 */
.c_t_11{padding:5px;zoom:1;}
.c_t_11 p{line-height:23px;text-indent:2em;font-size:14px;}
.c_t_11 ul{zoom:1;padding-top:1px;}
.c_t_11 ul:after.w_cont_box:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_t_11 ul li{font-size:14px;line-height:23px;float:left;width:47%;}

/* 标题+提要14px */
.c_t_12{padding:6px 0 6px 5px;}
.c_t_12 h5{font-size:14px;font-weight:normal;line-height:23px;}
.c_t_12 h6{font-size:12px;font-weight:normal;line-height:23px;}
.c_t_12 .postfix{font-size:12px;color:#666;}
.c_t_12 p{text-indent:2em;line-height:23px;font-size:14px;}

/* 12px字号列表(两列) */
.c_t_13{padding:6px 0 4px;zoom:1;}
.c_t_13:after.w_cont_box:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_t_13 li{line-height:20px;float:left;width:45%;}

/* 12px字号列表(两列) */
.c_t_14{padding:6px 0 4px;zoom:1;}
.c_t_14:after.w_cont_box:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_t_14 li{line-height:23px;float:left;width:45%;font-size:14px;}

/* 视频图片组 90*60 */
.c_p_01{zoom:1;padding:0 0 0 3px;}
.c_p_01:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_p_01 .c_pic{width:118px;text-align:center;float:left;padding:10px 0 0;}
.c_p_01 .c_pic img{width:90px;height:60px;}
.c_p_01 .c_playBg{padding:10px 0 0;height:82px;width:110px;background:url(http://i0.sinaimg.cn/dy/deco/2008/0414/images/bg_mj_004.gif) no-repeat 0 0;margin:0 auto;}
.c_p_01 .c_pic p{padding:6px 0 0;line-height:20px;}

/* 图片组(2列) 135*90 */
.c_p_02{zoom:1;padding-bottom:3px;}
.c_p_02:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_p_02 .c_pic{width:49.9%;text-align:center;float:left;padding:10px 0 0;}
.c_p_02 .c_pic img{display:block;margin:0 auto;border-width:1px;}
.c_p_02 .c_pic p{padding:6px 0 0;line-height:20px;}

/* 图片组 90*60(3列) */
.c_p_03{zoom:1;padding-bottom:3px;}
.c_p_03:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_p_03 .c_pic{width:33.2%;text-align:center;float:left;padding:10px 0 0;}
.c_p_03 .c_pic img{display:block;margin:0 auto;border-width:1px;}
.c_p_03 .c_pic p{padding:6px 0 0;line-height:20px;}

/* 图片组 135*180 */
.c_p_04{zoom:1;padding:0 0 8px 5px;}
.c_p_04:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_p_04 .c_pic{width:16.5%;text-align:center;float:left;padding:15px 0 0;}
.c_p_04 .c_pic img{display:block;margin:0 auto;border-width:1px;}
.c_p_04 .c_pic p{padding:6px 0 0;line-height:20px;}
.c_p_04 .c_pic .memo{line-height:20px;text-align:left;}

/* 图片组(4列) 135*90 */
.c_p_05{zoom:1;}
.c_p_05:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_p_05 .c_pic{width:24.9%;text-align:center;float:left;padding:10px 0 0;zoom:1;}
.c_p_05 .c_pic img{display:block;margin:0 auto;border-width:1px;}
.c_p_05 .c_pic p{padding:6px 0 0;line-height:20px;}

/* 不限宽图片列表 */
.c_p_06{zoom:1;}
.c_p_06:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_p_06 .c_pic{text-align:center;float:left;padding:10px 5px 0;zoom:1;}
.c_p_06 .c_pic img{display:block;margin:0 auto;border-width:1px;}
.c_p_06 .c_pic p{padding:6px 0 0;line-height:20px;}

/* 视频图片组 117*87 */
.c_p_07{zoom:1;padding:0 0 0 5px;}
.c_p_07:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_p_07 .c_pic{width:155px;text-align:center;float:left;padding:7px 0 0;}
.c_p_07 .c_pic img{width:117px;height:87px;}
.c_p_07 .c_playBg{padding:6px 0 0px 0;height:106px;width:129px;background:url(http://video.sina.com.cn/yinjian/2009zt/1126/list_video_bg2.gif) no-repeat 0 0;margin:0 auto;}
.c_p_07 .c_tit{padding:6px 0 0;}
.c_p_07 .c_pic p{line-height:20px;text-align:left;width:129px;margin:0 auto;}
.c_p_07 .datetime{font-size:1em;}
.c_p_07 .author{float:none;}

/* 左图右文字 75*75 */
.c_pt_01{padding:0 0 6px;zoom:1;}
.c_pt_01:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_pt_01 .c_picTxt{float:left;width:100%;}
.c_pt_01 .c_pic{width:89px;float:left;text-align:center;padding:10px 0 0;}
.c_pt_01 .c_pic img{border-width:1px;}
.c_pt_01 .c_txt{margin-left:89px;padding-left:5px;*padding-left:2px;padding-right:2px;padding-top:5px;}
.c_pt_01 .c_txt h4{font-size:14px;font-weight:normal;line-height:23px;}
.c_pt_01 .c_txt h5{font-size:12px;font-weight:normal;padding-left:1em;background:url(http://i1.sinaimg.cn/dy/deco/2007/1211/yocc/unfcn_mj_01.gif) no-repeat 5px 50%;line-height:23px;}
.c_pt_01 .c_txt h5.noDot{padding-left:0;background:none;}
.c_pt_01 .c_txt p{text-indent:2em;line-height:20px;}

/* 微博语录 */
.c_tb_01{overflow:hidden;}
.c_tb_01 .c_picTxt{background:url(http://i0.sinaimg.cn/dy/deco/2008/0414/images/bg_mj_002.gif) repeat-x 0 0;margin-top:-1px;padding:10px 0 14px;}
.c_tb_01 .c_pic{width:65px;padding-top:7px;}
.c_tb_01 .c_pic img{padding:2px;border:1px solid #ccc;background:#fff;}
.c_tb_01 .c_txt{margin-left:65px;}
.c_tb_01 .c_txt .c_memo{line-height:22px;font-size:14px;color:#444;}
.c_tb_01 .c_txt .c_time{font-size:12px;}
.c_tb_01 .c_txt p{text-indent:0;}
.c_tb_01 .c_c_pic img{margin:5px 0;}
.c_tb_01 .small_pic{cursor:url(http://img.t.sinajs.cn/t3/style/images/common/small.cur),auto;padding:5px;border:1px solid #ccc;-webkit-border-radius:5px;-moz-border-radius:5px;background:#f6f6f6;}
.c_tb_01 .big_pic{cursor:url(http://img.t.sinajs.cn/t3/style/images/common/big.cur),auto;}
.c_tb_01 .tb_retweeted{background:#f6f6f6;border:1px solid #e4e4e4;color:#707070;padding:6px 10px 10px;margin:10px 0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size:12px;}
.c_tb_01 .tb_retweeted .small_pic{border:none;}
.c_tb_01 a:link,.c_tb_01 a:visited{color:#0082CB;text-decoration:none!important;}
.c_tb_01 a:hover{color:#0082CB;text-decoration:underline!important;}

/* 微博vip */
.tb_vip{background:url(http://www.sinaimg.cn/dy/deco/2010/1223/tb.gif) no-repeat 100% -1px;padding-right:11px;}

/* 左图右文字 55*55 */
.c_pt_02{}
.c_pt_02 .c_picTxt{zoom:1;}
.c_pt_02 .c_picTxt:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_pt_02 .c_pic{float:left;width:63px;padding:10px 0 3px 3px;text-align:center;}
.c_pt_02 .c_pic img{border-width:1px;display:block;margin:0 auto;}
.c_pt_02 .c_pic p{padding:6px 0 0;line-height:20px;}
.c_pt_02 .c_txt{margin-left:66px;padding-left:3px;*padding-left:0px;padding-top:8px;}
.c_pt_02 .c_txt li{line-height:20px;}
.c_pt_02 .c_txt h5{font-size:12px;font-weight:normal;line-height:22px;}
.c_pt_02 .c_txt p{text-indent:2em;line-height:20px;}

/* 左图右文字 120*80 */
.c_pt_04{zoom:1;}
.c_pt_04:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_pt_04 .c_picTxt{float:left;width:100%;}
.c_pt_04 .c_pic{float:left;width:133px;padding:10px 2px 3px 0;text-align:center;}
.c_pt_04 .c_pic img{border-width:1px;display:block;margin:0 auto;}
.c_pt_04 .c_pic p{padding-top:10px;line-height:14px;}
.c_pt_04 .c_txt{margin-left:133px;padding-left:3px;*padding-left:0px;padding-top:8px;}
.c_pt_04 .c_txt h5{font-size:14px;font-weight:normal;line-height:23px;}
.c_pt_04 .c_txt p{text-indent:2em;line-height:22px;}

/* 左图右文字 300*200 */
.c_pt_05{zoom:1;padding:11px 0 4px;}
.c_pt_05:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_pt_05 .c_pic{float:left;width:314px;text-align:center;}
.c_pt_05 .c_pic img{display:block;margin:0 auto;border-width:1px;}
.c_pt_05 .c_pic p{padding:6px 0 0;line-height:20px;font-size:14px;}
.c_pt_05 .c_txt{float:left;width:615px;padding-left:8px;}
.c_pt_05 .c_txt h4{font-size:14px;color:#009;line-height:26px;}
.c_pt_05 .c_txt p{font-size:14px;line-height:23px;text-indent:2em;width:605px;}
.c_pt_05 .c_txt p a{text-decoration:none;}
.c_pt_05 .c_txt p a:hover{text-decoration:underline;}
.c_pt_05 .c_txt ol{width:605px;background:url(http://i0.sinaimg.cn/dy/deco/2008/0414/images/bg_mj_002.gif) repeat-x top;overflow:hidden;padding:10px 0 0;margin-top:6px;}
.c_pt_05 .c_txt ol li{width:302px;float:left;line-height:20px;}

/* 图片围绕 */
.c_pt_06{zoom:1;padding:11px 5px 4px;}
.c_pt_06:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_pt_06 img{float:left;margin:0 5px 0 0;border-width:1px;}
.c_pt_06 .c_tit{font-size:12px;line-height:20px;padding:0 0 5px;}
.c_pt_06 .c_txt{font-size:12px;line-height:20px;}

/* 焦点图 */
.c_s_01{text-align:center;padding:5px 0;zoom:1;}
.c_s_01 object{display:block;margin:0 auto;}

/* 搜索框 */
.c_s_02{padding:5px 0;text-align:center;zoom:1;}
.c_s_02 .kw{width: 104px;height: 18px;line-height: 18px;padding: 2px 2px 2px 20px;border: 0;border-right:1px solid #ccc;background:url(http://www.sinaimg.cn/dy/deco/2010/1122/search_sprite.png) 0 0 no-repeat;}
.c_s_02 select{width: 53px;height: 22px;*margin-top: 1px;border: 1px solid #ccc;padding: 1px;color: #666;}
.c_s_02 .gray{color: #ccc;}
.c_s_02 .sb{width:44px;height: 22px;padding-bottom:2px;overflow: hidden;*line-height: 23px;_line-height: 25px;cursor:pointer;border:0;background: url(http://www.sinaimg.cn/dy/deco/2010/1122/search_sprite.png) 0 -100px no-repeat;color: #444;}

/* 播放器+文字 */
.c_s_03{zoom:1;}
.c_s_03:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_s_03 .c_player{float:left;padding:10px 0 6px;width:322px;text-align:center;}
.c_s_03 .c_txt{margin-left:322px;padding-left:7px;*padding-left:4px;padding-top:8px;padding-right:8px;}
.c_s_03 .c_txt h4{font-size:14px;color:#009;line-height:26px;font-weight:normal;}
.c_s_03 .c_txt p{font-size:14px;line-height:23px;text-indent:2em;}
.c_s_03 .c_txt p a{text-decoration:none;}
.c_s_03 .c_txt p a:hover{text-decoration:underline;}
.c_s_03 .c_txt ul{background:url(http://i0.sinaimg.cn/dy/deco/2008/0414/images/bg_mj_002.gif) repeat-x top;overflow:hidden;padding:10px 0 0;margin-top:6px;}
.c_s_03 .c_txt ul li{font-size:14px;line-height:23px;}

/* 播放器+文字(小字) */
.c_s_04{zoom:1;}
.c_s_04:after.w_cont_box:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.c_s_04 .c_player{float:left;padding:10px 0 6px;width:322px;text-align:center;}
.c_s_04 .c_txt{margin-left:322px;padding-left:7px;*padding-left:4px;padding-top:8px;padding-right:8px;}
.c_s_04 .c_txt h4{font-size:14px;color:#009;line-height:28px;font-weight:normal;}
.c_s_04 .c_txt p{font-size:12px;line-height:20px;text-indent:2em;}
.c_s_04 .c_txt p a{text-decoration:none;}
.c_s_04 .c_txt p a:hover{text-decoration:underline;}
.c_s_04 .c_txt ul{overflow:hidden;padding:3px 0 0;margin-top:6px;}
.c_s_04 .c_txt ul li{font-size:14px;line-height:23px;}


/* 往日回顾 */
.c_s_05{text-align:center;zoom:1;}
.c_s_05 object{display:block;margin:0 auto;}

/* 阴影焦点图 */
.c_s_06{width:100%;height:280px;overflow:hidden;position:relative;zoom:1;}
.c_s_06 .f_bg{width:950px;height:100%;left:50%;position:absolute;z-index:2;background:url(http://i2.sinaimg.cn/dy/2009/0727/fbg_m_01.png) repeat-y 100% 0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src='http://i2.sinaimg.cn/dy/2009/0727/fbg_m_01.png');margin-left:-950px;}
.c_s_06 .f_txt{position:absolute;left:0;top:0;z-index:3;color:#fff;width:50%;}
.c_s_06 h1{padding:15px 70px 0 10px;font-size:25px;font-weight:normal;line-height:36px;font-family:"微软雅黑","黑体";text-align:center;}
.c_s_06 .c_memo{padding:10px 70px 0 20px;line-height:20px;color:#fff;font-size:12px;}
.c_s_06 a:link,.c_s_06 a:visited{color:#fff;text-decoration:none;}
.c_s_06 a:hover{color:#fff;text-decoration:underline;}
.c_s_06 .f_pic{float:right;}

/* 48x48小图阵列 */
.c_s_07{position:relative;zoom:1;overflow:hidden;}
.c_s_07 .c_box{width:60px;padding:5px 0;float:left;border:0px solid #d2d2d2;}
.c_s_07 .c_pic{text-align:center;}
.c_s_07 .c_pic img{border-width:1px;width:48px;height:48px;}
.c_s_07 .c_txt{display:none;padding-left:6px;width:106px;line-height:16px;padding-top:2px;}
.c_s_07 .c_time{font-size:10px;color:#9b9b9b;}
.c_s_07 .selected{border-width:1px;padding:4px 0;width:174px;margin-right:-116px;position:relative;z-index:2;overflow:hidden;zoom:1;background:#fff;}
.c_s_07 .selected .c_pic{width:58px;float:left;}
.c_s_07 .selected .c_txt{float:left;display:block;}
.c_s_07 .selectedLeft{border-width:1px;padding:4px 0;width:174px;margin-left:-116px;position:relative;z-index:2;overflow:hidden;zoom:1;background:#fff;}
.c_s_07 .selectedLeft .c_pic{width:58px;float:right;}
.c_s_07 .selectedLeft .c_txt{float:left;display:block;}


/*焦点图样式 begin 默认蓝色*/
.focus-zt-cl{overflow:hidden; zoom:1;}
.focus-zt-cl li{zoom:1;overflow:hidden;float:left;clear:both;width:100%;position:relative;}
.focus-zt-cl .tit-cl{background:url(http://i3.sinaimg.cn/dy/2009/1125/focus/focus_blue_cl.png) no-repeat;height:35px;padding-left:10px;cursor:pointer;overflow:hidden; }
.focus-zt-cl .tit-n{padding:0 10px 0 0; background:url(http://i3.sinaimg.cn/dy/2009/1125/focus/focus_blue_cl.png) 100% 0 no-repeat; }
.focus-zt-cl .tit-cl h2{background:url(http://i3.sinaimg.cn/dy/2009/1125/focus/focus_blue_cl.png) 0 -92px no-repeat;font:normal normal normal 20px/35px "微软雅黑",黑体; color:#fff;padding-left:25px; }

.focus-zt-cl div.tit-cl.selected{background:#fff; }
.focus-zt-cl .tit-cl.selected .tit-n{background:#fff; }
.focus-zt-cl .tit-cl.selected h2{background-position:0 -192px; color:#069;}

.focus-zt-cl .img-cl{zoom:1;overflow:hidden;}
.focus-zt-cl .img-cl img{display:block;}
.focus-zt-cl .img-bg{margin-top:-36px;background:#000;opacity:0.6; filter:alpha(opacity=60);height:36px;overflow:hidden; }
.focus-zt-cl .img-tit{margin-top:-36px;line-height:36px;padding:0 10px;color:#fff;height:36px;overflow:hidden;position:relative;z-index:1;}

/*棕色*/
.focus-zt-cl.color-brown .tit-cl,.focus-zt-cl.color-brown .tit-cl h2 , .focus-zt-cl.color-brown .tit-cl.selected h2 , .focus-zt-cl.color-brown .tit-n{background-image:url(http://i2.sinaimg.cn/dy/2009/1125/focus/focus_brown_cl.png);}
.focus-zt-cl.color-brown .tit-cl.selected h2 {color:#380102;}

/*深蓝色*/
.focus-zt-cl.color-blue2 .tit-cl,.focus-zt-cl.color-blue2 .tit-cl h2 , .focus-zt-cl.color-blue2 .tit-cl.selected h2 , .focus-zt-cl.color-blue2 .tit-n{background-image:url(http://i3.sinaimg.cn/dy/2009/1125/focus/focus_blue2_cl.png);}
.focus-zt-cl.color-blue2 .tit-cl.selected h2 {color:#194775;}


/*紫色*/
.focus-zt-cl.color-purple .tit-cl,.focus-zt-cl.color-purple .tit-cl h2 , .focus-zt-cl.color-purple .tit-cl.selected h2 , .focus-zt-cl.color-purple .tit-n{background-image:url(http://i0.sinaimg.cn/dy/2009/1125/focus/focus_purple_cl.png);}
.focus-zt-cl.color-purple .tit-cl.selected h2 {color:#954dbb;}

/*红色*/
.focus-zt-cl.color-red .tit-cl,.focus-zt-cl.color-red .tit-cl h2 , .focus-zt-cl.color-red .tit-cl.selected h2 , .focus-zt-cl.color-red .tit-n{background-image:url(http://i2.sinaimg.cn/dy/2009/1125/focus/focus_red_cl.png);}
.focus-zt-cl.color-red .tit-cl.selected h2 {color:#a00;}

/*绿色*/
.focus-zt-cl.color-green .tit-cl,.focus-zt-cl.color-green .tit-cl h2 , .focus-zt-cl.color-green .tit-cl.selected h2 , .focus-zt-cl.color-green .tit-n{background-image:url(http://i1.sinaimg.cn/dy/2009/1125/focus/focus_green_cl.png);}
.focus-zt-cl.color-green .tit-cl.selected h2 {color:#344229;}

/*灰色*/
.focus-zt-cl.color-gray .tit-cl,.focus-zt-cl.color-gray .tit-cl h2 , .focus-zt-cl.color-gray .tit-cl.selected h2 , .focus-zt-cl.color-gray .tit-n{background-image:url(http://i0.sinaimg.cn/dy/2009/1125/focus/focus_gray_cl.png);}
.focus-zt-cl.color-gray .tit-cl.selected h2 {color:#df1f28;}
/*焦点图样式 end*/

/*微博墙*/
.wbq .box{ float:left; padding:5px 0; display:inline;text-align:center;width:60px;}
.wbq .box img{ display:block; border:solid 1px #ddd; padding:1px;background:#fff;margin:0 auto;}
.wbq .box a:hover img{border-color:#0c0;background:#0c0;}
.wbq .box div{display:none;}
.wbq_box_div{position:absolute; border:solid 1px #ccc; padding:8px; background:#fff;text-align:left;font-size:12px;z-index:10;color:#666;line-height:18px;}
.wbq_box_div span{color:#333;white-space:nowrap;}
.wbq_box_div .approve{background:url(http://img.t.sinajs.cn/t4/style/images/common/ico_user.png) no-repeat 100% -125px;padding-right:25px;}
.wbq_box_div .approve_co{background:url(http://img.t.sinajs.cn/t4/style/images/common/ico_user.png) no-repeat 100% -150px;padding-right:25px;}

/* --------- 内容样式 end --------- */

.footer{text-align:center;line-height:28px;margin:20px auto 0;width:950px;}

/* 调查 */
.c_t_03 .sv_cont_c12{margin-left:0!important;margin-right:0!important;}
.sv_cont_c12{margin-top:-1px!important;}
.sv_cont_c12 form{background:url(http://i0.sinaimg.cn/dy/deco/2008/0414/images/bg_mj_002.gif) repeat-x 0 0;}

/* 视频列表 */
.c_video_list li a{background:url(http://i1.sinaimg.cn/dy/deco/2007/1211/yocc/unfcn_mj_01.gif) no-repeat -19982px 50%; padding-left:20px;}

/* 标题不加粗 */
.w_title{font-weight:normal;}