@charset "gb2312";
/* CSS Document */

.sinaCal {font-size:12px; text-align:center; width:230px; margin:0 auto;}
.sinaCal .dv_title{overflow:hidden; zoom:1; height:36px;}
.sinaCal .dv_day{overflow:hidden;zoom:1;}
.sinaCal .dv_day dd{width:32px; color:#a9a9a9; line-height:22px;height:22px;float:left; font-size:13px;}
.sinaCal .dv_day dd.sunday{ color: #cc0010;}
.dvt_cont select {font-size:13px; padding:2px; border:1px solid #ccc; border-radius:3px; margin-right:10px;}
/*.dvt_cont select {font-size:13px; border:0 none; background:#0B3D5F; margin-right:10px;}*/
.sinaCal table{text-align:center;font-family:Arial; border-collapse:separate;}
.sinaCal td{width:32px;height:30px;line-height:30px; color:#a9a9a9;}
.dv_date a{display:block; color:#2a2a2a; text-decoration:none; zoom:1;}
.dv_date a:visited{color:#2a2a2a; text-decoration:none;}
.dv_date a:hover{color:#2a2a2a; background: url(http://i1.sinaimg.cn/ty/2011hqj/20140508/images/sinaCal.png) no-repeat 1px -39px; text-decoration: none;}
.sinaCal .dv_date span{display:block;}
.sinaCal .today{border:1px solid #f00; line-height:30px;}
.sinaCal .selected{background: url(http://i1.sinaimg.cn/ty/2011hqj/20140508/images/sinaCal.png) no-repeat 1px 0;color:#cc0010!important; font-size: 14px;}
.sinaCal .preMonth,
.sinaCal .nextMonth {width:15px; height:30px; background-image:url(http://i1.sinaimg.cn/ty/2011hqj/20140508/images/small_arrow.png); background-repeat:no-repeat; line-height:99; overflow:hidden;}

.sinaCal .preMonth {float:left; _display:inline; margin-left:5px; background-position:4px 4px;}
.sinaCal .nextMonth {float:right; _display:inline; margin-right:5px; background-position:4px -46px;}