.top-suggest-wrap .top-suggest-mover{background-color: #f0f0f0;color: #2e8ed9;}
#page-tools .time-source .ent1{color: #2e8ed9;}
#page-tools .time-source .ent1:hover { color: #2e8ed9;}
.weibomod-usercard a{color:#2e8ed9;text-decoration:none;font-size: 14px;}
.weibomod-usercard .weibomod-usercard-counts a{color: #2e8ed9;}
.weibomod-usercard a:hover{color:#2e8ed9;text-decoration:underline}
.weibomod-dropdown .weibomod-usercard a.weibomod-usercard-followBtn{border:0 none;background:url(http://n.sinaimg.cn/tech/article2015/followBtn.png) no-repeat 0 0;text-indent:-9999px}
.weibomod-dropdown .weibomod-usercard a.weibomod-usercard-followBtn:hover{ background:url(http://n.sinaimg.cn/tech/article2015/followBtn_hover.png) }
.page-tool-i a {	display:block;	width:30px;	height:40px;	position:relative;	margin-top:-10px;	background:url("http://n.sinaimg.cn/tech/article2015/main_desktop2.png")  no-repeat;	text-indent:-9999em}
.page-tool-c {
	cursor:pointer
}
.page-tool-c:hover a {
	background-position:-358px -72px
}
.page-tool-c:hover span {
	color:#2e8ed9
}
.page-tool-c a {
	background-position:-359px 8px;
	float:left
}
.page-tool-c span {
	float:left;
	position:relative;
	margin:-10px 0 0 10px;
	line-height:40px;
	color:#333;
	font-size:14px
}
.page-tool-s a {
	background-position:-200px 7px
}
.page-tool-s a:hover {
	background-position:-200px -73px
}
.page-tool-f a {
	background-position:-283px 7px
}
.page-tool-f a:hover {
	background-position:-290px -71px
}
.page-tool-f .favorited {
	background-position:-290px -72px
}
.page-tool-p a {
	background-position:-124px 7px
}
.page-tool-p a:hover {
	background-position:-124px -73px
}
.page-tool-u a {
	width:36px;
	background-position:-60px 7px
}
.page-tool-u a:hover {
	background-position:-60px -72px
}
.page-tool-d a {
	width:36px;
	background-position:0 7px
}
.page-tool-d a:hover {
	background-position:0 -72px
}
.content_wrappr_left .quotation-left{  top:0;left:0; background: url("http://n.sinaimg.cn/tech/article2015/quatation.png")  no-repeat;}
.content_wrappr_left .quotation-right{ right:0;background: url("http://n.sinaimg.cn/tech/article2015/quatation.png")  no-repeat;background-position: 0 -28px;margin-top: 40px;}

.content_wrappr_left .tech-quotation{position:relative;margin-bottom: 30px;}
.content_wrappr_left .tech-quotation .tech-span{position: absolute;width: 27px;height: 27px;}
.content_wrappr_left .tech-quotation-left{  top:0;left:0; background: url("http://n.sinaimg.cn/tech/article2015/quatation.png")  no-repeat;}
.content_wrappr_left .tech-quotation-right{ right:0;bottom:0;background: url("http://n.sinaimg.cn/tech/article2015/quatation.png")  no-repeat;background-position: 0 -28px;}
.content_wrappr_left .tech-quotation .tech-con{margin:0 45px;background: #eee;padding: 6px;overflow: hidden;}
.content_wrappr_left .tech-quotation p{margin-bottom: 0;line-height:24px;font-size:16px;color:#666;}

.content_wrappr_left .content .wt_article_link{color: #2e8ed9;}
.content_wrappr_left .content p a:hover{color: #2e8ed9;}
.content-bottom .art_keywords span{color: #2e8ed9;}

.right_title, .left_title{border-left: 3px solid #2e8ed9;}
.tab-rank .tab .cur, .tab-img .tab .cur, .tab-promote .tab .cur{background-color: #2e8ed9;}
.tab-rank .tab .triangle, .tab-img .tab .triangle, .tab-promote .tab .triangle{border-color: #2e8ed9 transparent transparent transparent;}
.tab-promote .linkList a:hover { color: #2e8ed9;text-decoration: underline;}

#feedCard h2 a{color: #000}
#feedCard h2 a:hover{color: #2e8ed9;}
.feed-card-txt-detail:hover{color: #2e8ed9;}
.feed-card-a a{color:#555}.feed-card-a a:visited{color:#555}
.content_wrappr_left .content p a,#path_search .text a:hover,.focus-news-body a:hover,.right_title a:hover,.content-bottom .art_keywords a:hover,.feed-card-tags-kw a:hover,.feed-card-a a:hover{color: #2e8ed9;}
#feedCard .feed-card-page .pagebox_num_nonce{   border: 1px solid #2e8ed9; background-color: #2e8ed9;}
#feedCard .feed-card-page a:hover{   border: 1px solid #2e8ed9; background-color: #2e8ed9;}
#feedCard .feed-card-tags a:hover{  color: #2e8ed9;}
.feed-card-page a:hover{background-color:#2e8ed9;border-color:#2e8ed9;color:#fff}
#right-column .right-column a:hover{color: #2e8ed9;text-decoration: underline;}


.content-related{margin-bottom: 30px;}
.content-related h2{font-size: 18px;color: #333;height: 22px;line-height:22px;padding-bottom: 10px;}
.content-related ul{padding: 10px 0;border-bottom: 1px dashed #ccc;border-top: 1px dashed #ccc;}
.content-related li{width:666px;height:24px;line-height:24px;overflow:hidden;padding-left:14px;background:url("http://n.sinaimg.cn/tech/article2015/list.png") 0 50% no-repeat;}
.content-related li a{font-size:14px;color:#333;}
.content-related li a:hover{color:#2e8ed9;}

.content-links{padding-bottom: 16px;margin-bottom:30px;border: 1px solid #ccc;border-top: 3px solid #2e8ed9;}
.content-links h2{font-size: 18px;color: #333;height: 22px;line-height:22px;padding: 10px 62px 16px;background: url("http://n.sinaimg.cn/tech/article2015/tag.png") 20px -2px no-repeat;}
.content-links ul{width: 640px;overflow: hidden;padding: 0 20px;}
.content-links li{width:320px;height:24px;line-height:24px;overflow:hidden;float: left;}
.content-links li a{font-size:14px;color:#333;}
.content-links li a:hover{color:#2e8ed9;}

.content_wrappr_left .content .img_descr{color: #333;}

#ad_top{overflow: hidden;}

#search_submit{position:absolute;right: 0;top: 0;}

.top-suggest-more a:hover{text-decoration: none;color: #2e8ed9;}

.content-page-num.cur{border: 1px solid #2e8ed9;background-color: #2e8ed9;}








