body,input,button,select,textarea,table{font-size:14px;font-family:"Microsoft YaHei";color:#7d7d7e}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
fieldset,img {border:0;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
input,button,select,textarea{outline:none;}
textarea{resize:none;}
a:link, a:visited,a:hover, a:active {text-decoration: none;}
html,body{-webkit-text-size-adjust:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
audio,canvas,video {display:inline-block;*display:inline;*zoom:1;}
.clear:after {visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0;}
.clear{zoom:1;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
img{vertical-align: top;border: none;}

/*#Head{width:1200px;margin:0 auto}*/
.nav{width:100%;height:80px;position:relative}
.logo{width:151px;height:33px;display:inline-block;text-align:left;float:left;margin-top:22px;}
.nav ul{float:left;padding-left:50px}
.nav ul li{float:left;margin-right:42px}
.nav .navList .nonselected a{display:block;width:96px;height:80px;text-align:center;font-size:18px;line-height:80px;color:#4d4d4d;font-weight:bold}
.selected{background:#ff8a00;color:#fff}
.weibo a{display:inline-block;text-align:right}
.nav .selected a{display:block;width:96px;height:80px;text-align:center;font-size:18px;line-height:80px;color:#4d4d4d;font-weight:bold;background:#ff8a00;color:#fff;}
.nav .nonselected a:hover{background:#ff8a00;color:#fff}
.subMenu a{position:relative;float:left;text-indent:0;display:block;width:96px;height:80px;text-align:center;font-size:18px;line-height:80px;color:#4d4d4d;font-weight:bold}
.subMenu b{background: url(http://i3.sinaimg.cn/gm/wj2014/icon.png) no-repeat 0 -7px;width:10px;height:6px;position:relative;top: 40px;right:20px;margin: 0 2px;float:left;overflow: hidden;}

#Head .container{position:absolute;top:90px;left:0;z-index:100;width:1200px;height:123px;background:url(http://i0.sinaimg.cn/gm/wj2014/pngbg.png) repeat}
#Head .ca-container{width:1158px;height:78px;background:#f9f9f9;padding:20px;border:1px solid #e1e1e1}
#Head .ca-wrapper{position:absolute;top:20px;left:0;width:1072px;height:80px;overflow:hidden;margin-left:66px;margin-right:50px}/*必须要的元素*/
#Head .ca-item{width:366px;height:80px;float:left;margin-right:25px}
#Head .ca-nav{position:relative}
#Head .ca-nav-prev{background:url(http://i3.sinaimg.cn/gm/wj2014/prev.png) no-repeat;width:25px;height:80px;position:absolute;top:0;left:0;padding-right:20px;display:inline-block}
#Head .ca-nav-next{background:url(http://i1.sinaimg.cn/gm/wj2014/next.png) no-repeat;width:25px;height:80px;position:absolute;top:0;right:0}
#Head .ca-nav-prev, .ca-nav-next:hover{cursor:pointer}
#Head .img{display:block;float:left;margin-right:9px}
#Head .box1{width:210px;height:80px;float:left}
#Head .box1 h3{width:210px;margin-bottom:11px}
#Head .box1 h3 a{font-size:16px;line-height:16px;color:#474747;}
#Head .box1 h3 a:hover{color:#ff8a00}
#Head .box1 p{width:210px;line-height:24px;color:#949494;}

.bg{background:#272727;width:100%;height:440px;margin-bottom:40px;}
.bgm{width:1200px;height:440px;margin:0 auto 40px;}
.rightPic{float:left;width:680px}
.rightPic a {display: block;width: 682px;height: 440px;position: relative;}
.rightPic .mask {width: 682px;height: 42px;position: absolute;left: 0;top:398px;opacity: 0.5;filter: alpha(opacity=50);background: #000;}
.rightPic .info {line-height:42px;color: #fff;position: absolute;left: 24px;top: 396px;font-size:18px}
.rightPic .info:hover{color:#ff8a00}
.leftPic{float:left;width:518px}
.leftPic a {display: block;width: 518px;height: 220px;position: relative;}
.leftPic .mask {width: 518px;height: 42px;position: absolute;left: 0;top:178px;opacity: 0.5;filter: alpha(opacity=50);background: #000;}
.leftPic .info {line-height:42px;color: #fff;position: absolute;left: 24px;top: 178px;font-size:18px}
.leftPic .info:hover{color:#ff8a00}

.actIcon{display:inline-block;font-size:16px;line-height:16px;background:#fef200;padding:12px 18px 12px 38px;background:url(http://n.sinaimg.cn/games/wj/images);color:#414141}
.act{background:url(http://n.sinaimg.cn/games/wj/act.png) no-repeat;margin-bottom:10px;position:relative}
.qianming{height:40px}
.act ul{height:22px;min-height:22px;position:absolute;top:8px;left:123px;overflow:hidden}
.qianming a{display:block;line-height:22px;color:#fff;padding-left:20px;font-size:16px;}
.qianming a:hover{color:#f5a700}

#Center .c1{padding:20px 20px 20px 20px;border:1px solid #eee;_margin-bottom:32px}
#Center .c1 h1 a{font-size:24px;line-height:24px;color:#00c0ff;}
#Center .c1 .boxBFirst{padding-top:5px;}
#Center .boxB{width:885px;height:108px;border-bottom:1px solid #eeeeee;padding-top:25px;padding-bottom:25px;}
#Center .boxB .newsImg {display: block;width: 179px;height: 108px;position: relative;float:left;margin-right:20px}
#Center .boxB .mask {width: 65px;height: 20px;position: absolute;left: 0;top:87px;opacity: 0.5;filter: alpha(opacity=50);background: #000;}
#Center .boxB .info {line-height:20px;color: #fff;position: absolute;left: 5px;top: 87px;}
#Center .boxB .box2{width:686px;float:left}
#Center .boxB .box2 h3{line-height:16px;margin-bottom:12px}
#Center .boxB .box2 h3 a{font-size:16px;color:#000}
#Center .boxB .box2 h3 a:hover{color:#f5a700}
#Center .boxB .box2 p{width:686px;height:88px;font-size:14px;color:#949494;line-height:30px;overflow:hidden}
.newsMore{display:block;width:100%;height:41px;line-height:41px;text-align: center;font-size:14px;color:#474747;background:#e9e9e9;}
.newsMore:hover{background:#ff8a00;color:#fff;}

#Center .more{display:inline-block;text-align:center;line-height:40px;width:642px;background:#e9e9e9;color:#474747} 
#Center .more:hover{color:#fff;background:#ff8a00}  
.beauty{border:1px solid #eeeeee;width:1198px;margin:29px auto 0;}
.beautyPic{width:1160px;padding:19px 19px 9px 19px;}
.beauty h1 a{display:block;background:url(http://i0.sinaimg.cn/gm/wj2014/beauty.png) no-repeat;font-size:24px;color:#fff;line-height:54px;height:54px;padding-left:17px}
.beauty h1 span{display:inline-block;font-size:12px;color:#ff8baa;padding-left:15px;line-height:24px}
.picLeft{width:352px;float:left;margin-right:10px;}
.picRight{width:798px;float:left;}
.picLeft a{display: block;width: 352px;height: 394px;position: relative;overflow: hidden;}
.picLeft .mask{width: 352px;height: 52px;position: absolute;left: 0;bottom:-52px;opacity: 0.7;filter: alpha(opacity=70);background: #000;line-height:52px;color: #fff;font-size:16px;text-align: center;}
.picRight ul{width:808px;margin-right:-10px;}
.picRight li{width:192px;float:left;margin-right:10px;margin-bottom:10px;}
.picRight a{display: block;width: 192px;height: 192px;position: relative;overflow: hidden;}
.picRight .mask{width: 192px;height: 52px;position: absolute;left: 0;bottom:-52px;opacity: 0.7;filter: alpha(opacity=70);background: #000;line-height:52px;color: #fff;font-size:16px;text-align: center;}

#Content{width:1200px;margin:0 auto;}
#Center{width:926px;float:left;}
#Left{width:249px;float:right}
#part{position:relative}
.ad2{display:block;width:980px;margin:30px auto 30px;}

.picDaily h2 a{display:block;background:url(http://i1.sinaimg.cn/gm/wj2014/picDaily.png) no-repeat;font-size:20px;color:#787856;line-height:39px;height:39px;padding-left:17px}
.picDaily h2 span{display:inline-block;font-size:12px;color:#d1cf1c;padding-left:15px;line-height:24px}
.picDaily h3{font-size:18px;line-height:18px;color:#ff9000;padding-left:21px;padding-top:11px}
.picDaily p a{line-height:40px;font-size:16px;color:#343434;padding-left:21px;padding-bottom:7px}
.picDaily p a:hover{color:#ff9000}
.pBtm{border:1px solid #eee;width:247px;border-top:none;margin-top:-4px}
.pBtm h3 a{color:#ffa142}

.player, .picDaily, .nmirc{margin-bottom:20px;}
.player h2 a{display:block;background:url(http://i3.sinaimg.cn/gm/wj2014/player.png) no-repeat;font-size:20px;color:#fff;line-height:38px;height:38px;padding-left:17px}
.player h2 span{display:inline-block;font-size:12px;color:#78dcff;padding-left:15px;line-height:24px}
.player h3{font-size:18px;line-height:18px;color:#ff0048;padding-left:21px;padding-top:11px}
.player p a{line-height:40px;font-size:16px;color:#343434;padding-left:21px;padding-bottom:7px}
.player p a:hover{color:#00c0ff}
.p1Btm{border:1px solid #eee;width:247px;border-top:none;margin-top:-4px}
.p1Btm h3 a{color:#ff0048}


.video h2 a{display:block;background:url(http://i0.sinaimg.cn/gm/wj2014/hotvideo.png) no-repeat;font-size:24px;color:#fff;line-height:54px;height:54px;padding-left:17px}
.video h2 span{display:inline-block;font-size:12px;color:#343434;padding-left:15px;line-height:24px}
.video h3{padding-left:16px;line-height:32px}
.video h3 a{font-size:16px;line-height:24px;color:#474747;text-align:left;height:24px;overflow: hidden;}
.video h3 a:hover{color:#ff8a00}
.video ul{margin-left:17px;margin-top:13px}
.video ul li{width:212px;height:69px;margin-bottom:20px}
.video ul .vImg{display:block;float:left;margin-right:9px;}
.video ul li p{width:88px;float:left;line-height:24px}
.video ul li p a{color:#474747}
.video ul li p a:hover{color:#ff8a00}
.vBtm{background:#f1f1f1;height:370px;width:249px;margin-top: -13px;padding-top: 20px;}
.vMore{line-height:40px;display:inline-block;width:215px;text-align:center;background:#d7d7d7;margin-left:17px;color:#616161;margin-bottom:19px}
.vMore:hover{color:#fff;background:#ff8a00}
.vBtm .vImg{position:relative}
.vTop{position:relative}

.star {background: url(http://i3.sinaimg.cn/gm/wj2014/bofang.png) no-repeat;}
.star1{background:url(http://i1.sinaimg.cn/gm/wj2014/vpage.png) no-repeat}
.vTop a span{position: absolute;width: 70px;height: 70px;overflow: hidden;left: 90px;top: 70px;display: block;}
.vTop a span em {display: block;width: 150px;height: 70px;position: relative;background-position:0 0}
.vBtm .vImg span{position: absolute;width: 25px;height: 25px;overflow: hidden;left: 10px;top: 40px;display: block;}
.vBtm .vImg span em {display: block;width: 150px;height: 25px;position: relative;background-position:0 -146px}
#Center1 .newsImg{position:relative}
#Center1 .newsImg span{position: absolute;width: 35px;height: 35px;overflow: hidden;left: 70px;top: 40px;display: block;}
#Center1 .newsImg span em {display: block;width: 150px;height: 35px;position: relative;}



.nmirc h2 a{display:block;background:url(http://i3.sinaimg.cn/gm/wj2014/nmirc.png) no-repeat;font-size:20px;color:#fff;line-height:38px;height:38px;padding-left:17px}
.nmirc h2 span{display:inline-block;font-size:12px;color:#ffc84c;padding-left:15px;line-height:24px}
.nmirc .number{background:url(http://i0.sinaimg.cn/gm/wj2014/shuxian2.png) no-repeat 0 3px;padding-left:12px;margin-top:10px;margin-left:9px}
.nmirc .n1{color:#ffb400;}
.nmirc .n2{color:#474747;width:100px}
.nmirc .n2:hover{color:#ffb400}
.nmirc p a{color:#474747}
.nmirc p a:hover{color:#ffb400}
.nmirc ul{margin-top:22px;padding-left:9px;margin-bottom:17px}
.nmirc li{margin-right:26px;float:left}
.nmirc li a{width:100px;height:142px;line-height:24px}
.nmirc .gameViewBtm{border:1px solid #e9e9e9;border-top:none;width:247px;margin-top: -13px;padding-top: 10px;}



.RightC_nav {margin-top: 25px;width: 293px;font-size:18px;color:#FF8A00;line-height: 36px;height:41px;overflow: hidden;border-top:2px solid #FF8A00;position:relative}	
.RightC_nav1 {margin-top: 13px;width: 293px;font-size:18px;color:#FF8A00;line-height: 18px;padding-top:15px;overflow: hidden;border-top:2px solid #FF8A00;position:relative}	
.RightC_nav2 {margin-top: 25px;width: 293px;font-size:18px;color:#FF8A00;line-height: 46px;overflow: hidden;border-top:2px solid #FF8A00;position:relative}	

.Right_bt_1 {text-align: left;}
.Right_bt:link, .Right_bt:visited {display: block;width: 46px;padding-left: 9px;font-size: 14px;line-height: 14px;text-align: right;float: right;
overflow: hidden;text-decoration: none;	}
.RightC_con_img {width: 295px;margin: 0;overflow: hidden;}
.BoxDD {width: 293px;height: 101px;margin: 0px 12px 12px 0px;float: left;position: relative;}
.z_font0 {color: #fff;}
.z_font0 a:link, .z_font0 a:visited {color: #fff;text-decoration: none;}
.RightC_con_img a {display: block;overflow: hidden;padding: 0;margin-bottom: 12px;}
.BoxDD a img {display: block;padding: 0;margin: 0;width: 293px;height: 101px;position: absolute;left: 0px;top: 0px;}		
.mask3{width: 293px;height: 24px;position: absolute;left: 0;bottom: 0px;opacity: 0.7;filter: alpha(opacity=70);background: #000;}
.info3{font-size:12px;line-height: 24px;color: #fff;position: absolute;left: 45px;bottom: 0px;text-align:center}
.mask2{width: 141px;height: 24px;position: absolute;left: 0;bottom: 0px;opacity: 0.7;filter: alpha(opacity=70);background: #000;}
.info2{display:inline-block;overflow:hidden;width: 141px;height:24px;font-size:12px;line-height: 24px;color: #fff;position: absolute;left: 0px;bottom: 0px;text-align:center}
.ListD {display: block;width: 295px;margin-top: 10px;overflow: hidden;list-style: none;font-size:12px}
.z_font5 {color: #626262;}
.ListD li {display: block;width: 295px;height: 38px;list-style: none;line-height: 38px;border-bottom: 1px dashed #dfdfdf;overflow: hidden;vertical-align: middle;}
.z_font5 a:link, .z_font5 a:visited {color: #626262;text-decoration: none;}	
.ListD li a {display: block;width: 220px;color: #5d5d5d;float: left;height: 38px;overflow: hidden;}
.ListD li a:hover{color:#f5a700}
.ListD li span {padding: 0px;text-align: left!important;color: #9d9b9b;background: none;float: left;overflow: hidden;}
.Right_bt0{position:absolute;top:14px;right:-2px;color:#9a9a9a}
.Right_bt1{position:absolute;top:18px;right:-2px;color:#9a9a9a}
.Right_bt2{position:absolute;top:18px;right:-2px;color:#9a9a9a}
.RightD_con_img {width: 295px;margin: 0;overflow: hidden;_width:300px}
.BoxD {width: 141px;height: 90px;margin: 0px 6px 21px 0;float: left;position: relative;}	
.boxD3{margin-bottom:0}
.ListD li a{padding-left:0}

#Head1{width:100%;background:#fff}
.nav1{width:980px;height:80px;;margin:0 auto;position:relative}
.logo{width:151px;height:33px;display:inline-block;text-align:left;float:left;margin-top:22px;}
.weibo1{position:absolute;top:30px;right:0}
.nav1 ul{float:left;padding-left:50px}
.nav1 ul li{float:left;margin-right:22px}
.nav1 .navList .nonselected a{display:block;width:96px;height:80px;text-align:center;font-size:18px;line-height:80px;color:#4d4d4d;font-weight:bold}
.nav1 .selected a{display:block;width:96px;height:80px;text-align:center;font-size:18px;line-height:80px;color:#4d4d4d;font-weight:bold;background:#ff8a00;color:#fff}
.nav1 .nonselected a:hover{background:#ff8a00;color:#fff}
.nav1 .subMenu a{position:relative;float:left;text-indent:0;display:block;width:96px;height:80px;text-align:center;font-size:18px;line-height:80px;color:#4d4d4d;font-weight:bold}
.nav1 .weibo a{display:inline-block;text-align:right}
.nav1 .subMenu b{background: url(http://i3.sinaimg.cn/gm/wj2014/icon.png) no-repeat;background-position:0 -7px;width:10px;height:6px;position:relative;top: 40px;right:20px;margin: 0 2px;float:left;overflow: hidden;}

#Head1 .container{position:absolute;top:90px;left:0;z-index:100;width:980px;height:123px;background:url(http://i0.sinaimg.cn/gm/wj2014/pngbg.png) repeat}
#Head1 .ca-container{width:938px;height:78px;background:#f9f9f9;padding:20px;border:1px solid #e1e1e1;}
#Head1 .ca-wrapper{position:absolute;top:20px;left:0;width:860px;height:80px;overflow:hidden;}/*必须要的元素*/
#Head1 .ca-item{width:288px;height:80px;float:left;margin-right:15px}
#Head1 .ca-nav{position:relative}
#Head1 .ca-nav-prev{background:url(http://i3.sinaimg.cn/gm/wj2014/prev.png) no-repeat;width:25px;height:80px;position:absolute;top:0;left:0;display:inline-block}
#Head1 .ca-nav-next{background:url(http://i1.sinaimg.cn/gm/wj2014/next.png) no-repeat;width:25px;height:80px;position:absolute;top:0;right:0;display:inline-block}
#Head1 .ca-nav-prev, .ca-nav-next:hover{cursor:pointer}
#Head1 .img{display:block;float:left;margin-right:9px}
#Head1 .box1{width:144px;height:80px;float:left}
#Head1 .box1 h3{width:144px;margin-bottom:11px}
#Head1 .box1 h3 a{font-size:16px;line-height:16px;color:#474747;}
#Head1 .box1 h3 a:hover{color:#ff8a00}
#Head1 .box1 p{width:144px;line-height:24px;color:#949494;}

#Content1{width:940px;margin:20px auto 70px;background:#fff;padding:20px;border:1px solid #eee}
#Center1{width:606px;float:left;margin-right:20px}
#zLeft{width:293px;float:right;margin-top:-25px;}

#Center1 .actIcon{display:inline-block;font-size:16px;line-height:16px;background:#fef200;background:url(http://n.sinaimg.cn/games/wj/images);color:#414141}
#Center1 .act{background:url(http://i2.sinaimg.cn/gm/wj2014/act.png) no-repeat;margin-bottom:28px;width:626px;}
#Center1 .qianming{height:40px}
#Center1 .qianming a{font-size:16px;color:#fff;}
#Center1 .qianming a:hover{color:#f5a700}
#Center1 .c1{width:608px;}
#Center1 .c1 h1 a{font-size:24px;line-height:24px;color:#f5a700;}
#Center1 .boxB{width:608px;height:108px;border-bottom:1px solid #eeeeee;padding-top:25px;padding-bottom:25px;}
#Center1 .boxB .newsImg {display: block;width: 179px;height: 108px;position: relative;float:left;margin-right:20px}
#Center1 .boxB .mask {width: 65px;height: 20px;position: absolute;left: 0;top:87px;opacity: 0.5;filter: alpha(opacity=50);background: #000;}
#Center1 .boxB .info {width:60px;line-height:20px;color: #fff;position: absolute;left: 5px;top: 87px}
#Center1 .boxB .box2{width:408px;float:left}
#Center1 .boxB .box2 h3{line-height:16px;margin-bottom:12px}
#Center1 .boxB .box2 h3 a{font-size:16px;color:#000}
#Center1 .boxB .box2 h3 a:hover{color:#f5a700}
#Center1 .boxB .box2 p{width:408px;height:88px;font-size:14px;color:#979797;line-height:30px;overflow:hidden;}

.ListPage{height:34px; text-align:center; margin:0 auto; color:#464646; font-size:14px; margin:25px auto 0;vertical-align:central;}
.ListPage a{color:#595959;text-decoration:none;background:#eee }
.ListPage a:hover {text-decoration:none;background:#ff8a00;color:#fff;border:1px #ff8a00 solid }
.ListPage span{margin-right:8px; overflow:hidden;line-height:25px; text-align:center; }
.ListPage span a{overflow:hidden; padding:5px 10px;}
.ListPage span.pagebox_next a{border:1px #b6b6b6 solid;text-decoration:none; text-align:center; cursor:pointer;}
.ListPage span.pagebox_num_nonce{border:1px #ff8a00 solid; color:#fff; cursor:default; padding:5px 10px;background:#ff8a00;cursor:pointer}
.ListPage span.pagebox_num{color:#eeeeee}
.ListPage span.pagebox_num a{border:1px #c7c7c7 solid;text-decoration:none; cursor:pointer;}
.ListPage span.pagebox_num a:hover{border:1px #ff8a00 solid; }
.ListPage span.pagebox_next a:hover{border:1px #ff8a00 solid; }

#zbody{background:#f3f3f3}

.Head_wrap{background:#fff;width: 100%;height: 80px;border-top: 2px solid #ededed}
.fixstyle{border-bottom:2px solid #ededed;position: fixed;top: 0;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop));box-shadow:-moz-box-shadow:0 2px 0 rgba(0,0,0, 0.07);-webkit-box-shadow:0 2px 0 rgba(0,0,0, 0.07);box-shadow:0 2px 0 rgba(0,0,0, 0.07)}
*html{background-image:url(about:blank);background-attachment:fixed}
#Head{width: 100%;height: 80px;background-color: #fff;z-index: 1000!important;}
#Head1{width: 100%;height: 80px;background-color: #fff;z-index: 1000!important; border-top: 2px solid #ededed}
.nav{width:1200px;height:80px;margin: 0px auto;background:relative}
#topclose{display: block;width: 29px;height: 30px;background:url(http://i0.sinaimg.cn/gm/wj2014/close.png) no-repeat;position:absolute;right:0;top:80px }
#topclose:hover{display: block;width: 29px;height: 30px;background:url(http://i3.sinaimg.cn/gm/wj2014/close_hover.png) no-repeat;position:absolute;right:0;top:80px }

#Foot { width:100%; background:#323232; margin:0px auto; font-family:"Microsoft YaHei"; overflow:hidden; }
.Foot_t { width:1200px; padding:30px 0px; margin:0px auto; overflow:hidden; }
.Foot_right,.Foot_share,.Foot_search { width:650px; float:left; overflow:hidden; }
.Foot_div { width:166px; min-height:146px; padding:0px 14px 10px; text-align:left; background:#2b2b2b; float:left; overflow:hidden; display:inline; margin-right:15px; }
.Foot_div h1 { display:block; width:96px; padding:14px 0px; font-size:14px; color:#b5b5b5!important; font-weight:bold; overflow:hidden; }
.Foot_div p { display:block; line-height:24px; font-size:12px; overflow:hidden; }
.Foot_link { width:720px; padding:13px 13px 13px 90px; margin-top:15px; text-align:left; font-size:12px; line-height:24px; background: url(http://i1.sinaimg.cn/gm/ol/sjyxpd/images/PD-8.gif) 12px 12px no-repeat #2b2b2b; float:left; overflow:hidden; }
.Foot_link span { padding-right:6px; }
.Foot_right { width:330px; }
.Foot_logo { width:330px; overflow:hidden;}
.Foot_logo span { padding:0px 24px; font-size:34px; color:#4d4d4d; font-family:"宋体";  }
.Foot_share,.Foot_search { width:330px; padding-top:20px; }
.Foot_share span,.Foot_search span { display:block; width:330px; height:30px; line-height:30px; padding-bottom:6px; text-align:left; color:#b3b3b3; font-size:14px; font-weight:bold; overflow:hidden; }
.Foot_share a { display:block; float:left; overflow:hidden; display:inline; margin-right:10px; }
a.qqZone { width:32px; height:32px; background:url(http://i1.sinaimg.cn/gm/ol/sjyxpd/images/foot_6.gif) no-repeat; }
.Foot_search .search_ss { width:330px; overflow:hidden; }

.Foot_left { width: 860px; float:left; overflow:hidden; color:#8c8c8c; }
.Foot_left a:link,.Foot_left a:visited { color:#8c8c8c; text-decoration:none; }
.Foot_left a:hover,.Foot_left a:active { color:#fff; text-decoration:none; }

.Foot_div h1 a:link,.Foot_div h1 a:visited { color:#b5b5b5; text-decoration:none; }
.Foot_div h1 a:hover,.Foot_div h1 a:active { color:#fff; text-decoration:none; }

#Gtrail { width:100%; min-width:980px; background:#292929; padding:20px 0px; font-family:"Microsoft YaHei"; overflow:hidden; } 
#Gtrail #ZWTrail { width:980px; margin:0px auto; font-size:12px; color:#787878; line-height:14px; text-align:center; }
#Gtrail #ZWTrail a,#Gtrail #ZWTrail a:visited { color:#787878; text-decoration:none; }
#Gtrail #ZWTrail a:hover { color:#ffffff; text-decoration:none; }

/*----搜索----*/
.anv_text { width:286px; height:32px; line-height:32px; margin:0; padding:0px; padding-left:10px; border:none; color:#b5b5b5; font-family:"Microsoft YaHei"; background:#505050; font-size:12px; text-align:left; float:left; overflow:hidden; }
.anv_button { width:34px; height:32px; margin:0; padding:0; border:none; cursor:pointer; background: url(http://i2.sinaimg.cn/gm/ol/sjyxpd/M_03.gif) 0px 0px no-repeat; float:left; overflow:hidden; }
.anv_button:hover { background-position:0px -32px; }

#wfcontainer{background:#f3f3f3;width:100%;padding-top:20px;padding-bottom:40px}
#wrapper{width: 1250px;margin: 0 auto;}
.brand-list{width: 1250px; overflow: hidden;margin-right:-25px}
.brand-list .brand-bd{position: relative; margin-left: 24px; margin-top: 5px;}
.brand-list .item{position: absolute; width: 200px; border: 1px solid #f8f8f8; padding: 9px; top:0; left: 40%; background:#fff;border:1px solid #e9e9e9}
.brand-list .item h3{font-size: 42px; color: #666; font-family: arial; font-weight: bold; line-height: .8; margin-bottom: 20px;}
.brand-list .item p{margin-bottom: 8px;line-height:38px}
.brand-list .item a{color:#000}
.brand-list .item a:hover{color:#f5a700}

#wrapper{width:100%;background:#efefef;padding-top:50px}
#waterfall{position:relative;width:1200px;margin:0 auto;}
.column{width:200px;margin-right:45px;float: left;}
.last{margin-right: 0}
.item{width:200px;padding: 9px;background:#fff;border:1px solid #e9e9e9;overflow:hidden;margin-bottom: 30px;}
.item h3{font-size: 42px; color: #666; font-family: arial; font-weight: bold; line-height: .8; margin-bottom: 20px;}
.item p{margin-bottom: 8px;line-height:38px}
.item a{display: block;width: 200px;position: relative;overflow:hidden;color:#000} 
.item a:hover{color:#f5a700}
.item a img{z-index:100}
.wfmask{width: 200px;height: 30px;position: absolute;left: 0;top:-30px;opacity: 0.7;filter: alpha(opacity=70);background: #000;}
.wfinfo{line-height:30px;color: #fff;position: absolute;left: 10px;top:-30px;}
.wfcomment{background:url(http://i2.sinaimg.cn/gm/wj2014/waterfall_comment.png) no-repeat 0 2px;width:16px;height:16px;padding-left:20px}
.wfnum{background:url(http://i3.sinaimg.cn/gm/wj2014/waterfall_num.png) no-repeat 86px 2px;width:16px;height:16px;padding-left:106px}