@font-face {
font-family: "icons";
src: url("icons.eot");
src: url("icons.eot?#iefix") format("embedded-opentype"),
url("icons.woff") format("woff"),
url("icons.ttf") format("truetype"),
url("icons.svg#icons") format("svg");
font-weight: normal;
font-style: normal;
}

[class^="i-"], [class*="i-"] {
font-family: icons !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

    .i-ad-exp:before {
    content: "\F101";
    }
    .i-arrow-down:before {
    content: "\F102";
    }
    .i-arrow-left:before {
    content: "\F103";
    }
    .i-arrow-right-three:before {
    content: "\F104";
    }
    .i-arrow-right:before {
    content: "\F105";
    }
    .i-arrow-up:before {
    content: "\F106";
    }
    .i-backtop:before {
    content: "\F107";
    }
    .i-close-bold:before {
    content: "\F108";
    }
    .i-close-thin:before {
    content: "\F109";
    }
    .i-comment-oval:before {
    content: "\F10A";
    }
    .i-comment-rect:before {
    content: "\F10B";
    }
    .i-contact:before {
    content: "\F10C";
    }
    .i-delete:before {
    content: "\F10D";
    }
    .i-email:before {
    content: "\F10E";
    }
    .i-fail:before {
    content: "\F10F";
    }
    .i-feedback:before {
    content: "\F110";
    }
    .i-fire:before {
    content: "\F111";
    }
    .i-heart:before {
    content: "\F112";
    }
    .i-home:before {
    content: "\F113";
    }
    .i-live:before {
    content: "\F114";
    }
    .i-loading:before {
    content: "\F115";
    }
    .i-location-fix:before {
    content: "\F116";
    }
    .i-location-nav:before {
    content: "\F117";
    }
    .i-logo-sogou:before {
    content: "\F118";
    }
    .i-logo-sohu:before {
    content: "\F119";
    }
    .i-more-bold:before {
    content: "\F11A";
    }
    .i-more-thin:before {
    content: "\F11B";
    }
    .i-play-btn:before {
    content: "\F11C";
    }
    .i-refresh:before {
    content: "\F11D";
    }
    .i-search-cancel:before {
    content: "\F11E";
    }
    .i-search:before {
    content: "\F11F";
    }
    .i-share-app:before {
    content: "\F120";
    }
    .i-share-circle:before {
    content: "\F121";
    }
    .i-share-safari:before {
    content: "\F122";
    }
    .i-thumb:before {
    content: "\F123";
    }
    .i-video-play:before {
    content: "\F124";
    }
    .i-view:before {
    content: "\F125";
    }

