body,div,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;}

h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
code,kbd,pre,samp,tt{font-family:courier new,courier,monospace;*font-size:108%;line-height:100%}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}
section,article,aside,header,footer,nav,dialog,figure{display:block;}
  
input,textarea,select{*font-size:100%}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{display:none;}
fieldset,img{border:0;}
input[type=submit]{cursor:pointer}
button{cursor:pointer}

table{border-collapse:collapse; border-spacing:0;}
table,td,tr,th{font-size:inherit;font:100%}
small{font-size:12px;}
ul,ol{list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}

ins {text-decoration:none;}
del {text-decoration:line-through;}

figure{margin:0;}
caption,th{text-align:left}

.fB,b,strong{font-weight:bold;}
.f12px{font-size:12px;}
.f14px{font-size:14px;}
.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}

.left,.fl{float:left;}
.right,.fr{float:right;}

.cl{clear:left;}
.cr{clear:right;}
/*.clear {clear:both; height:0; overflow:hidden; display:block;}*/

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}/* Hides from IE-mac \*/
* html .clearfix{height:1%;}
.clearfix{display:block;}/* End hide from IE-mac */ 

a {text-decoration:none}
a:hover{text-decoration: underline}

.more{text-align:right; float:right; font-size:12px;}
a.detail{ color:#ba2636}

.dis{display:block;}
.undis{display:none;}
.show{display:block;}
.hidden{display:none!important;}

blockquote:before, blockquote:after, q:before, q:after {content: ""; }
blockquote, q {quotes: "" "";}
:focus {outline: 0;}
a:focus{text-decoration:underline}

.cDGray,.cDGray:visited,.cDGray a{color:#727171;}
.cBlue,.cBlue:visited,.cBlue a{color:#1E50A2;}
.cDRed,.cDRed:visited,.cDRed a{color:#ba2636;}
.cRed {color:#ff0000;}
.cRed a:hover,a.cRed:hover,.cBlue a:hover,a.cBlue:hover,.cDRed a:hover,a.cDRed:hover,.cGray a:hover,a.cGray:hover,.cDGray a:hover,a.cDGray:hover,.cWhite a:hover,a.cWhite:hover,.cBlack a:hover,a.cBlack:hover,.cGreen a:hover,a.cGreen:hover,.cYellow a:hover,a.cYellow:hover{color:#ba2636;}

/* span blank */
.blankW {background:#fff;}
.blank3 {clear:both; height:3px; overflow:hidden; display:block; font-size:1px;}
.blank5 {clear:both; height:5px; overflow:hidden; display:block; font-size:1px;}
.blank10 {clear:both; height:10px; overflow:hidden; display:block; font-size:1px;}
.blank12 {clear:both; height:12px; overflow:hidden; display:block;}
.blank15 {clear:both; height:15px; overflow:hidden; display:block;}
.blank20 {clear:both; height:20px; overflow:hidden; display:block;}

.Area{clear:both; width:950px; height:auto; margin:0px auto;}

/* 标准头 */
#indexNav,#channelNav{height:22px;margin:0 auto;background:#fff;color:#000;text-align:left;}
#channelNav{background:#EFEBEF;}
#indexNav ul,#channelNav ul{padding-right:6px;}
#indexNav li,#channelNav li{float:left;margin:5px auto 0;padding:0 2px 0 0;line-height:14px;}
#indexNav .end,#channelNav .end{padding-right:0;}
#indexNav .red a,#channelNav .red a{color:#f00;}
#indexNav a,#channelNav a{color:#000;}
#channelNav .end{padding-right:0}
#channelNav .red a{color:#f00}
#channelNav a{color:#000;text-decoration: none}

/* 标准底 */
#foot{width:950px;margin:5px auto 0;padding:5px 0 10px;border-top:1px solid #333;color:#333;line-height:22px;}
#foot a{color:#333}
#foot span{font-family:Arial;}.bot {background:url(http://news.sohu.com/upload/news20080425/news2/images/bg02.gif) no-repeat 0 0;height:3px;font-size:1px;width:965px;margin:0 auto;}

/* 大白有头尾私有定义*/
.ui_foot{text-align:center; color:#333;}
.ui_foot a{color:#333;}