/* digg style*/
div#diggpager
{
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
	margin: 3px;
	padding-top: 3px;
	text-align: center;
}

	div#diggpager a
	{
		border-right: #aaaadd 1px solid;
		padding-right: 5px;
		border-top: #aaaadd 1px solid;
		padding-left: 5px;
		padding-bottom: 2px;
		margin: 2px;
		border-left: #aaaadd 1px solid;
		color: #000099;
		padding-top: 2px;
		border-bottom: #aaaadd 1px solid;
		text-decoration: none;
	}

		div#diggpager a:hover
		{
			border-right: #000099 1px solid;
			border-top: #000099 1px solid;
			border-left: #000099 1px solid;
			color: #000;
			border-bottom: #000099 1px solid;
		}

		div#diggpager a:active
		{
			border-right: #000099 1px solid;
			border-top: #000099 1px solid;
			border-left: #000099 1px solid;
			color: #000;
			border-bottom: #000099 1px solid;
		}

	div#diggpager span.current
	{
		border-right: #000099 1px solid;
		padding-right: 5px;
		border-top: #000099 1px solid;
		padding-left: 5px;
		font-weight: bold;
		padding-bottom: 2px;
		margin: 2px;
		border-left: #000099 1px solid;
		color: #fff;
		padding-top: 2px;
		border-bottom: #000099 1px solid;
		background-color: #000099;
	}

	div#diggpager a.disabled
	{
		border-right: #eee 1px solid;
		padding-right: 5px;
		border-top: #eee 1px solid;
		padding-left: 5px;
		padding-bottom: 2px;
		margin: 2px;
		border-left: #eee 1px solid;
		color: #ddd;
		padding-top: 2px;
		border-bottom: #eee 1px solid;
	}
/* meneame style*/
div#menepager
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 80%;
	padding-bottom: 3px;
	margin: 3px;
	color: #ff6500;
	padding-top: 3px;
	text-align: center;
}

	div#menepager a
	{
		border-right: #ff9600 1px solid;
		padding-right: 7px;
		background-position: 50% bottom;
		border-top: #ff9600 1px solid;
		padding-left: 7px;
		background-image: url(images/meneame.jpg);
		padding-bottom: 5px;
		border-left: #ff9600 1px solid;
		color: #ff6500;
		margin-right: 3px;
		padding-top: 5px;
		border-bottom: #ff9600 1px solid;
		text-decoration: none;
	}

		div#menepager a:hover
		{
			border-right: #ff9600 1px solid;
			border-top: #ff9600 1px solid;
			background-image: none;
			border-left: #ff9600 1px solid;
			color: #ff6500;
			border-bottom: #ff9600 1px solid;
			background-color: #ffc794;
		}

		div#menepager a:active
		{
			border-right: #ff9600 1px solid;
			border-top: #ff9600 1px solid;
			background-image: none;
			border-left: #ff9600 1px solid;
			color: #ff6500;
			border-bottom: #ff9600 1px solid;
			background-color: #ffc794;
		}

	div#menepager span.current
	{
		border-right: #ff6500 1px solid;
		padding-right: 7px;
		border-top: #ff6500 1px solid;
		padding-left: 7px;
		font-weight: bold;
		padding-bottom: 5px;
		border-left: #ff6500 1px solid;
		color: #ff6500;
		margin-right: 3px;
		padding-top: 5px;
		border-bottom: #ff6500 1px solid;
		background-color: #ffbe94;
	}

	div#menepager a.disabled
	{
		border-right: #ffe3c6 1px solid;
		padding-right: 7px;
		border-top: #ffe3c6 1px solid;
		padding-left: 7px;
		padding-bottom: 5px;
		border-left: #ffe3c6 1px solid;
		color: #ffe3c6;
		margin-right: 3px;
		padding-top: 5px;
		border-bottom: #ffe3c6 1px solid;
	}
/*flickr style*/
div#flickrpager
{
	text-align: center;
	background: #f9f9f9 none repeat scroll 0 0;
	border: 1px solid #cbd8e4;
	border-radius: 3px;
	height: 27px;
	line-height: 25px;
	margin:20px 0px;
}

	div#flickrpager a:first-child
	{
		border-left: none;
	}


	div#flickrpager a
	{
		border-left: #cbd8e4 1px solid;
		padding: 4px 11px;
		background-position: 50% bottom;
		color: #666;
		text-decoration: none;
	}

		div#flickrpager a:hover
		{
			color: #2854b9;
		}

		div#flickrpager a:active
		{
			color: #2854b9;
		}

	div#flickrpager span.current
	{
		border-left: #cbd8e4 1px solid;
		padding: 4px 11px;
		color: #2854b9;
		font-weight:bold;
	}

	div#flickrpager a img
	{
		vertical-align: top;
	}

	div#flickrpager a.disabled
	{
		 cursor: not-allowed;
	}

	div#flickrpager a[disabled='disabled']
	{
		 cursor: not-allowed;
	}


/* black-red style*/
div#graypager
{
	font-size: 11px;
	color: #fff;
	font-family: tahoma, arial, helvetica, sans-serif;
	background-color: #3e3e3e;
	text-align: center;
	padding: 6px 0px;
}

	div#graypager a
	{
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 2px;
		margin: 2px;
		color: #fff;
		padding-top: 2px;
		background-color: #3e3e3e;
		text-decoration: none;
	}

		div#graypager a:hover
		{
			color: #fff;
			background-color: #ec5210;
		}

		div#graypager a:active
		{
			color: #fff;
			background-color: #ec5210;
		}

	div#graypager span.current
	{
		padding-right: 5px;
		padding-left: 5px;
		font-weight: bold;
		padding-bottom: 2px;
		margin: 2px;
		color: #fff;
		padding-top: 2px;
		background-color: #313131;
	}

	div#graypager a.disabled
	{
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 2px;
		margin: 2px;
		color: #868686;
		padding-top: 2px;
		background-color: #3e3e3e;
	}
/*black style*/
div#blackpager
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 80%;
	padding-bottom: 10px;
	margin: 3px;
	color: #a0a0a0;
	padding-top: 10px;
	background-color: #000;
	text-align: center;
}

	div#blackpager a
	{
		border-right: #909090 1px solid;
		padding-right: 5px;
		background-position: 50% bottom;
		border-top: #909090 1px solid;
		padding-left: 5px;
		background-image: url(images/bar.gif);
		padding-bottom: 2px;
		border-left: #909090 1px solid;
		color: #c0c0c0;
		margin-right: 3px;
		padding-top: 2px;
		border-bottom: #909090 1px solid;
		text-decoration: none;
	}

		div#blackpager a:hover
		{
			border-right: #f0f0f0 1px solid;
			border-top: #f0f0f0 1px solid;
			background-image: url(images/invbar.gif);
			border-left: #f0f0f0 1px solid;
			color: #ffffff;
			border-bottom: #f0f0f0 1px solid;
			background-color: #404040;
		}

		div#blackpager a:active
		{
			border-right: #f0f0f0 1px solid;
			border-top: #f0f0f0 1px solid;
			background-image: url(images/invbar.gif);
			border-left: #f0f0f0 1px solid;
			color: #ffffff;
			border-bottom: #f0f0f0 1px solid;
			background-color: #404040;
		}

	div#blackpager span.current
	{
		border-right: #ffffff 1px solid;
		padding-right: 5px;
		border-top: #ffffff 1px solid;
		padding-left: 5px;
		font-weight: bold;
		padding-bottom: 2px;
		border-left: #ffffff 1px solid;
		color: #ffffff;
		margin-right: 3px;
		padding-top: 2px;
		border-bottom: #ffffff 1px solid;
		background-color: #606060;
	}

	div#blackpager a.disabled
	{
		border-right: #606060 1px solid;
		padding-right: 5px;
		border-top: #606060 1px solid;
		padding-left: 5px;
		padding-bottom: 2px;
		border-left: #606060 1px solid;
		color: #808080;
		margin-right: 3px;
		padding-top: 2px;
		border-bottom: #606060 1px solid;
	}
/*badoo style*/
div#badoopager
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 13px;
	padding-bottom: 10px;
	color: #48b9ef;
	padding-top: 10px;
	font-family: arial, helvetica, sans-serif;
	background-color: #fff;
	text-align: center;
	margin: 10px 0px;
}

	div#badoopager a
	{
		border-right: #f0f0f0 2px solid;
		padding-right: 5px;
		border-top: #f0f0f0 2px solid;
		padding-left: 5px;
		padding-bottom: 2px;
		margin: 0px 2px;
		border-left: #f0f0f0 2px solid;
		color: #48b9ef;
		padding-top: 2px;
		border-bottom: #f0f0f0 2px solid;
		text-decoration: none;
	}

		div#badoopager a:hover
		{
			border-right: #ff5a00 2px solid;
			border-top: #ff5a00 2px solid;
			border-left: #ff5a00 2px solid;
			color: #ff5a00;
			border-bottom: #ff5a00 2px solid;
		}

		div#badoopager a:active
		{
			border-right: #ff5a00 2px solid;
			border-top: #ff5a00 2px solid;
			border-left: #ff5a00 2px solid;
			color: #ff5a00;
			border-bottom: #ff5a00 2px solid;
		}

	div#badoopager span.current
	{
		border-right: #ff5a00 2px solid;
		padding-right: 5px;
		border-top: #ff5a00 2px solid;
		padding-left: 5px;
		font-weight: bold;
		padding-bottom: 2px;
		border-left: #ff5a00 2px solid;
		color: #fff;
		padding-top: 2px;
		border-bottom: #ff5a00 2px solid;
		background-color: #ff6c16;
	}

	div#badoopager a.disabled
	{
		display: none;
	}

	div#badoopager input[type=text]
	{
		width: 30px;
	}
