@charset "utf-8";
/* CSS Document */

/*@font-face {
	font-family: 'CenturyGothic';
	src: url('fonts/GOTHIC.eot');
	src: url('fonts/GOTHIC.eot?#iefix') format('embedded-opentype'),
		url('fonts/GOTHIC.woff') format('woff'),
		url('fonts/GOTHIC.ttf') format('truetype'),
		url('fonts/GOTHIC.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, img, div {border: 0 none;margin: 0;padding: 0;}

body{   
	font-size:14px;
    font-family: 'Microsoft YaHei';
    color:#666;  
    background: #fff; 
   
}
a {text-decoration:none;outline:none;}

a:active{star:expression(this.onFocus=this.blur());}

:focus{outline:0;}

a:hover{color:#CC0000;text-decoration:underline;transition: all 0s ease 0s; }

ul{list-style:none;}

li{list-style:none;}

img{border:none; vertical-align:middle;}

.clearfix:before,.clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;clear: both; height:0px;}
.clear {clear: both;}



.webkit { font-size:7px;
    -webkit-transform: scale(0.7);
	-webkit-text-size-adjust:none;
}
