@charset "utf-8";
/* CSS Document */


.fl{ float: left;}
.fr{float: right;}

@media only screen and (min-width: 100px) and (max-width: 640px) {
.topbg,.menu,.foot,.ny-con{width:1140px;margin:auto;}
	
}
.container{
	width:1140px;
	margin:auto;
}

.topbg{
	height:85px;
	background: #fff;
}
.logoimg{
	width:316px;
	height:85px;
	
}
.search{
	background: url(../images/search.png) no-repeat left top;
	width: 213px;
	height:31px;
	line-height: 31px;
	margin-top:29px;
}
.search .inp-text{
	width:176px;
	height:29px;
	line-height: 29px;
	background: none;
	border:none;padding-left:5px;
}
.search .inp-but{
	width:30px;
	height:30px;
	cursor: pointer;
	background: none;
	border:none;
	
	
}

/*top end*/

.banner{
	height:484px;
	/*background: url(../images/ban.jpg) no-repeat center top;*/
}
.pos{
	position: relative;
	/*height:484px;*/
}
.an-left{
	position: absolute;
	left:0px;
	top:160px;
}
.an-right{
	position: absolute;
	right:0px;
	top:160px;
	
}

.navn ul{
	height:49px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.navn ul li{
float: left;
width:282px;
border-right:1px solid #2f8cf4;
	text-align: center;
	line-height: 49px;
	
	
	
}
.navn ul li a{
	color:#fff;
	font-size: 16px;
	font-weight: bold;
	
	 display: block;
	 line-height: 49px;
	 background: url(../images/ico1.png) no-repeat left top; 
	
}
.navn ul li a:hover{
	text-decoration: none;
	color:#6b6a67;
	background-color: #fff;
}
.navn ul li a.a1{
	background-position: 78px -2px;
	background-color: #0572EC;
}
.navn ul li a.a1:hover{
	background-position: 78px -58px;
	background-color: #fff;
}
.navn ul li a.a2{
	background-position: -224px -2px;
	background-color: #0572EC;
}
.navn ul li a.a2:hover{
	background-position: -224px -58px;
	background-color: #fff;
}
.navn ul li a.a3{
	background-position: -506px -4px;
	background-color: #0572EC;
}
.navn ul li a.a3:hover{
	background-position: -506px -60px;
	background-color: #fff;
}
.navn ul li a.a4{
	background-position: -783px -2px;
	background-color: #0572EC;
}
.navn ul li a.a4:hover{
	background-position: -783px -58px;
	background-color: #fff;
}
/*导航*/
.indexcon{
	height:252px;
	padding-bottom: 35px;
	padding-top: 25px;
}
.new{
	width:555px;
}
.new-top{
	height:25px;
	line-height: 25px;
	border-bottom: 1px solid #ddd;
}
.new-top .new-tit{
	font-size: 16px;
	font-weight: bold;
	color:#333;
}
.new-top .new-more a{
	font-size: 12px;
	color:#999;
}

.new ul li{
	line-height: 47px;
	text-align: right;
	border-bottom: 1px dotted #ccc;
}
.new ul li a{
	float: left;
	font-size: 14px;
	color:#666;
	padding-left:15px;
	background: url(../images/at.png) no-repeat left center;
}
.new ul li span{
	font-size: 14px;
	color:#999;
}
.new-img{
	width:585px;
}
.new-img ul li{
	float: left;
	width:263px;
	margin-left:26px;
}
.new-img ul li span{
	display: block;
	width:130px;
	height:8px;
	background: #6bcfdf;
	border-radius: 10px;
	margin-top:15px;
	
}
.new-img ul li span.yy{
	background: #fec514;
}
.new-img ul li a{
	font-size: 16px;
	font-weight: bold;
	color:#1b71d6;
	display: block;
	margin:20px 0;
}
.new-img ul li p{
	font-size: 13px;
	color:#666;
}












.foot{
	height:93px;
	background: #191919;
	
	text-align: center;
	
}

.foot p{
	color:#fff;
	font-size: 12px;
	line-height: 64px;
}



