/*多图交替8 图交替 dtjt8.html*/
.dtjt8_div_img{position:relative;overflow:hidden;}
.dtjt8_div_img img{display:block;}
.dtjt8_div_img .number{position:absolute;right:5px;bottom:5px;}
.dtjt8_div_img .number .nomal{width:16px;height:16px;line-height:16px;display:block;text-align:center;opacity: 0.7;background:#6C6D6E;float:left;color:#FFF;margin-right:5px;border:1px solid #FFF;font-size:12px;TEXT-DECORATION:none}
.dtjt8_div_img .number .current{width:16px;height:16px;line-height:16px;display:block;text-align:center;opacity: 0.7;background:red;float:left;color:#FFF;margin-right:5px;border:1px solid #FFF;font-size:12px;TEXT-DECORATION:none}