@charset "UTF-8"; 
/**
 * [xLarge Screen for PC]
 * >=1200
 */
@media screen and (min-width: 1200) {
}

/**
 * [Large Screen for PC & Pad]
 * 960~1199
 */
@media screen and (max-width: 1199px) {
.main-nav-panel .wp-menu .menu-item a.menu-link {padding: 0 30px;}
.focus .focus-title-bar {right: 0; max-width: 100%; margin: 0;}
.focus .focus-pagination {max-width: 100%; right: 0; margin: 0;}
.wp-container .wp-inner {padding: 25px 4px; width: auto;}
.wp-column-page .wp-container .wp-inner, .wp-info-page .wp-container .wp-inner {padding: 0 4px;}
.wp_articlecontent table {width: 100%;}
.post-10 .news_list .news .news_title {width: 73%;}
.wp-link .wp-inner {padding: 25px 4px;}
.post-13 {width: 100%;}
.zdy-2 .news {
    width: 208px;
}
.zdy-2 li .imgs{width: 200px;}
.post-10 .news_list .news {
    padding: 10px 0px 10px 0px;
}
.post-13 .wp-menu .menu-item {
    padding-right: 30px;
}
}

/**
 * [Medium Screen for Pad]
 * 768~959
 */
@media screen and (max-width: 959px) {
.main-nav-panel .wp-menu .menu-item a.menu-link {padding: 0 14px;}
.focus-navigation {visibility: hidden;}
.wp-column-menu {width: 100%; float: none; margin: 0;}
.column-head .column-anchor h3.anchor-title {padding: 0;}
.wp-column-news {float: none;}
.wp-column-news .column-news-box {margin: 0 6px;}
.column-head .column-anchor {padding: 6px;}
.column-head .column-anchor .column-switch {display: block;}
.column-head .column-anchor h3.anchor-title {font-size: 16px;}
.column-list-wrap li a span {padding: 6px 0 6px 5px;}
.column-list-wrap .sub-list li a span {padding: 3px 0 3px 15px;}
.column-body {display: none;}
.list-meta .column-title {font-size: 16px;}
.info-box {margin: 0 14px;}
.article {padding: 10px 0;}
.article h1.arti-title {padding: 5px 0;}
.main1 .mod_left {width: 100%;}
.post-8 {width: 39%;}
.post-9 {width: 57.5%;}
.main1 .mod_right {width: 100%; margin-top: 20px;}
.post-10 .news_list .news .news_title {width: 88%;}
.wp-link .content_left {width: 100%;}
.post-13 {width: 100%; margin: 0 auto; float: none;}
.post-13 .wp-menu .menu-item {}
.wp-link .content_center {width: 50%; background: none;}
.wp-link .content_right {width: 50%;}
.shares li {margin: 0 10px;}
.post-15 {float: none; width: 50%; margin: 0 auto; text-align: center;}
.post-15 .wp-menu .menu-item {width: 33.3%;}
.post-15 .wp-menu .menu-item a.menu-link {background: none;}
.con-add {text-align: center;}
.botlinks .links-wrap {
     margin: 4px 0px;
    width: 110px;
}
.post-7 .con {
    text-align: center;
}
.zdy-2 li .slt.pr {
    position: relative;
    text-align: left;
}
.time {
    text-align: left;
}
.zdy-2 li .nr {
    text-align: left;
}
.bt {
    text-align: left;
}
.post-12 .news_list .news .news_box .news_imgs img {
    width: 50%;
    max-width: 50%;
}
}

/**
 * [Small Screen for Smart Phone and Mini Pad]
 * 480~767
 */
@media screen and (max-width: 767px) {
body, p {font-size: 16px;}
a {font-size: 16px;}
.wp-header .wp-inner {margin: 0 6px; padding: 15px 0 5px 0;}
.wp-header {padding: 0;}
.wp-navi {display: none;}
.wp-navi-slide {display: block; background-color: #eee;}
.wp-navi-slide .navi-slide-head {display: block;}
.wp-navi-slide .wp-menu {display: none;}
.main-nav-panel .wp-menu .menu-item {display: block; float: none; border-top: 1px solid #ddd; overflow: hidden;}
.main-nav-panel .wp-menu .menu-item a.menu-link {display: block; height: 39px; line-height: 39px; padding: 0 18px; color: #222; font-size: 15px; background-color: #fff;}
.main-nav-panel .wp-menu .menu-item a.menu-link:hover {text-decoration: none; color: #fff; background-color: #0C3C74}
.wp-header .wp-panel {margin: 0; float: none; clear: both; width: auto;}
.wp-header .search-panel {margin-bottom: 10px;}
.wp-header .logo-panel {position: relative;}
.wp-header .navi-aside-toggle-show {display: block;}
.logo-window {width: auto; margin: 0 40px; padding: 15px 0; text-align: center;}
.logo-window img {width: 100%; max-width: 330px;}
.lang-panel, .top-nav-panel {display: none;}
.wp-info-page .search-panel, .wp-info-page .top-nav-panel, .wp-column-page .search-panel, .wp-column-page .top-nav-panel {}
.wp-footer .wp-inner .footer .copyright {display: block;}
.list-meta .column-path, .list-meta .column-title {float: none;}
.list-meta .column-title {display: none;}
.list-meta .column-path {padding-left: 24px; background: url(img/sitemap-icon.png) no-repeat 0 4px;}
.list-meta .column-path .path-name {display: none;}
.wp_paging {margin: 5px 0 0px 0;}
.wp_paging li a {font-size: 15px;}
.wp_paging .pages_count, .wp_paging .page_jump {display: none;}
.info-box {margin: 0 10px;}
.article {padding: 6px 0;}
.article .arti-metas span {font-size: 14px;}
.article .arti-metas .read-options {display: inline-block;}
.wp_entry, .wp_entry p, .article .entry, .article .entry p {font-size: 16px;}
.focus .focus-title-bar {bottom: 0;}
.focus .focus-title {padding: 0 10px;}
.focus .focus-pagination {display: none;}
.wp-container .wp-inner {padding: 15px 8px; box-shadow: 0px 4px 16px -3px #84304b;}
.wp-column-page .wp-container .wp-inner, .wp-info-page .wp-container .wp-inner {padding: 0 8px;}
.post-8 {width: 100%;}
.post-9 {width: 100%; margin-top: 10px;}
.post-10 .news_list .news .news_title {width: 81.5%;}
.post-11 .news_list .news {width: 100%; margin-bottom: 20px;}
.post-11 .news_list {margin: 0;}
.post-11 .news_list .news .news_box {margin: 0;}
.post-12 .tt {margin-bottom: 16px;}
.post-12 .news_list .news {width: 50%;}
.post-13 .wp-menu .menu-item {width: 33.3%;}
.wp-link .content_center {width: 100%;}
.content_center .content-logo {background: none; padding: 30px 0;}
.wp-link .content_right {width: 100%;}
.post-15 {width: 70%;}
.botlinks .links-wrap {
    width: 100%;
}
.botlinks .links-wrap .link-items {
    min-width: 100%;
}
.wp-panel.yqlj-panel.panel-43 {
    float: none;
	margin-left:0px;
}
.zdy-2 .sudy-scroll, .zdy-2 .sudy-scroll-wrap, .zdy-2.news_list {
    width: 100%!important;
}
.post-7 .con {
    text-align: left;
}
.zdy-2 .news .bt, .zdy-2 li .bt a {
    width: 100%;text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;}
	.zdy-2 li .slt.pr .bt {
    padding-left: 0px;
}
.zdy-2 .news {
    width: 100% !important;
}
.zdy-2 .sudy-scroll-wrap > ul {
    width: 100%!important;
}
.zdy-2 .news-box .qbox {
    width: 100% !important;
    height: auto;
}
.sudy-scroll {
    position: relative;
    width: 100% !important;
    height: 1100px !important;
}
.sudy-scroll-wrap {
    height: 1100px !important;
}
li.news-box.clearfix {
    width: 100% !important;
    height: 1100px !important;
}
.post-12 .news_list .news {
    width: 50%;
}
.post-12 .news_list .news .news_box .news_imgs img {
    width: 50%;
    max-width: 50%;
}
}

/**
 * [xSmall Screen for Smart Phone]
 * 480~767
 */
@media screen and (max-width: 479px) {
.cols_list .cols .cols_title {width: 70%;}
.info-box {margin: 0 6px;}
.post-10 .news_list .news .news_title {width: 72%;}
.post-11 .news_list .news .news_box .news_con .news_arti {margin-left: 92px;}
.post-11 .news_list .news .news_box .news_con .news_arti .news_text {margin-top: 4px;}
.post-12 .news_list {margin: 0;}
.post-12 .news_list .news .news_box {margin: 0;}
.post-12 .news_list .news {width: 50%;}
.post-13 .wp-menu .menu-item {width: 100%;}
.wp-panel.yqlj-panel.panel-43 {
    float: none;
	margin-left:0px;
}
.botlinks .links-wrap {
    width: 100%;
}
.botlinks .links-wrap .link-items {
    min-width: 100%;
}
.post-13 .wp-menu .menu-item {
    padding-right: 0px;
}
.post-13 .con {
    padding: 0;
}
.post-13 .wp-menu .menu-item a.menu-link {
    font-size: 13px;
}
.sudy-scroll {
    position: relative;
    width: 100% !important;
    height: 1100px !important;
}
.sudy-scroll-wrap {
    height: 1100px !important;
}
li.news-box.clearfix {
    width: 100% !important;
    height: 1100px !important;
}
.zdy-2 .news {
    width: 100%;
	padding: 0;
	height: auto;
}
.zdy-2 li .imgs {
    width: 100%;
    height: 153px;
}
.zdy-2 li .nr {
    height: auto !important;
}
.main1 {
    background: #fff;
}.mod_right .con {
     padding: 0px 0px 0px 0px; 
}
.bt {
    width: 400px;
    overflow: hidden;
}
}
@media screen and (max-width: 360px) {
.bt {
    width: 360px;
    overflow: hidden;
}
}
/**
 * [Tiny Screen for Older Phone and Smart Phone]
 * <319
 */
@media screen and (max-width: 319px) {
.top-nav-panel .wp-menu .menu-item a.menu-link {font-size: 14px; height: 28px; line-height: 28px;}
}
