@charset "utf-8";
/* CSS Document */
.w460{width:460px;}
.font-gray{color:#999999;margin-left:18px;}
img{border:0 none;}
.svc-banner{height:333px;width:100%;background:url(i/b.png) repeat;}
.services{margin-top:-50px;position:relative;z-index:1;font-family: "Microsoft Yahei";}
.services .mt img{cursor:pointer;}
.services a:hover,.door-service a:hover{text-decoration:none;}
.services .mc,.door-service .dsvc-con{border:8px solid #bdbfc2;border-top:0 none;}
.door-service h1{font-size:28px;}
.services .mc li{background:url(i/b1.png) repeat-x;height:226px;}
.services .mc .fr{width:500px;padding:30px;font-size:15px;line-height:24px;color:#818181;}
.services .mc .fr h3{color:#596d8a;font-size:20px;line-height:30px;font-weight:normal;}
.services .mc .fr a.s-btn{width:95px;height:28px;display:inline-block;background:url(i/btn.png) no-repeat;line-height:26px;color:#fff;font-size:14px;text-align:center;margin-top:10px;}
.services .mc .fl{width:335px;height:166px;}
.services .mc .fore1 .fl{background:url(i/new-1.png) no-repeat;}
.services .mc .fore2 .fl{background:url(i/new-2.png) no-repeat;}
.services .mc .fore3 .fl{background:url(i/new-3.png) no-repeat;}
.services .mc .fore4 .fl{background:url(i/new-4.png) no-repeat;}
.services .svc-tel{border-top:8px solid #BDBFC2;margin-top:5px;}
.services .svc-tel h2{color: #87a8b1;font:normal 30px "Microsoft Yahei";text-align:center;margin:20px 0;border-top:3px solid #87A9B0;margin-top:0;padding-top:20px;}
.services .svc-tel .info{color:#666666;background:#f7f7f7;line-height:22px;font-size:14px;margin:0 10px;padding:5px 0 5px 10px;}
.services .svc-tel .hotline{margin:10px 0 10px 10px;}
.services .svc-tel .hotline dd,.services .svc-tel .hotline dt{background:#87a8b1;height:28px;line-height:28px;color:#fff;text-align:center;float:left;}
.services .svc-tel .hotline dt{width:71px;}
.services .svc-tel .hotline .fst{width:550px;margin:0 10px 0 1px;}
.services .svc-tel .hotline .scd{width:324px;}
.svc-tab{border:8px solid #bdbfc2;border-top:0 none;}
.svc-tab .svc-tabbtn li{border-top:3px solid #323841;height:59px;background:url(i/d1.png) repeat-x top left;position:relative;width:487px;float:left;font-size:22px;line-height:50px;color:#ffffff;text-align:center;cursor:pointer;}
.svc-tab .svc-tabbtn .svc-tab-curr{background:url(i/d.png) repeat-x top left;}
.svc-tab .svc-tabbtn .svc-tab-curr span{background:url(i/s.png) no-repeat;width:15px;height:9px;display:inline-block;position:absolute;top:50px;left:236px;}
.svc-tab .svc-tabcon{font-size:16px;color:#666666;}
.svc-tab .svc-tabcon h1{color:#5196a8;font-size:30px;font-weight:bold;font-weight:normal;}
.svc-tab .svc-tabcon h2{font-size:22px;margin:40px 0;font-weight:normal;}
.svc-tab .svc-tabcon .method{background:url(i/b1.png) repeat-x bottom left;padding:20px;}
.svc-tab .svc-tabcon .method1{background-image:none;}

.door-service{margin-top:-50px;position:relative;z-index:1;font-family: "Microsoft Yahei";}
.door-service .svc-bg{background:url(i/bg.png) repeat-x;width:990px;height:265px;position:absolute;top:0;left:0;}
.dsvc-tab{margin:15px 0;position:relative;z-index:2;font-size:16px;line-height:24px;color:#444444;}
.dsvc-tab .dsvc-tabbtn li{height:60px;width:243px;float:left;margin-right:0px;}
.dsvc-tab .dsvc-tabbtn li a{background:url(i/btns-new.png) no-repeat;display:block;height:51px;width:243px;margin-top:9px;text-align:center;font-size:22px;line-height:51px;color:#fff;cursor:default;}
.dsvc-tab .dsvc-tabbtn li .tabbtn1{background-position:0 0;}
.dsvc-tab .dsvc-tabbtn li .tabbtn2{background-position:0 -60px;}
.dsvc-tab .dsvc-tabbtn li .tabbtn3{background-position:0 -120px;}
.dsvc-tab .dsvc-tabbtn li .tabbtn4{background-position:0 -180px;}
.dsvc-tab .dsvc-tabbtn .dsvc-tab-curr a{height:60px;margin-top:0;line-height:60px;font-size:26px;}
.dsvc-tab h2{font-size:22px;margin:10px 0;font-weight:normal;}
.fore1 h2{color:#5bad7e;}
.fore2 h2{color:#947f95;}
.fore3 h2{color:#f46b6d;}
.fore4 h2{color:#8aaab3;}
.fore5 h2{color:#9d604b;}
.fore5 h2 span{background:url(i/step.png) no-repeat;width:78px;height:28px;display:inline-block;vertical-align:middle;margin-right:10px;text-align:center;color:#fff;}
.dsvc-tab .dsvc-tabcon{background:#fff;padding:20px 0 40px;}
.dsvc-tab .dsvc-tabcon .s-con{padding:20px;}
.dsvc-tab1 .dsvc-tabcon1{background:#fff;padding:20px 20px 40px;}
.dsvc-tab1 .dsvc-tabbtn1{border-top:8px solid #bdbfc2;}
.dsvc-tab1 .dsvc-tabbtn1 li{width:324px;text-align:center;background:#efefef;height:49px;color:#666666;line-height:49px;font-size:22px;float:left;border-left:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;}
.dsvc-tab1 .dsvc-tabbtn1 .more-li li{width:251px;}
.dsvc-tab1 .dsvc-tabbtn1 .no-bl{border-left:0 none;}
.dsvc-tab1 .dsvc-tabbtn1 .more-li .long-li{width:218px;}
.dsvc-tab1 .dsvc-tabbtn1 .lon-li{width:245px;}
.door-service h2{font-size:22px;margin:20px 0;font-weight:normal;color:#3f3a36;height:42px;line-height:42px;border-radius:8px;padding-left:20px;}
.dsvc-tab1 h2{background:#8bcfa0;}
.no-tabcon{border-top: 8px solid #BDBFC2;}
.no-tabcon h2{background:#d3c0d6;}
.dsvc-tab h3{font-size:18px;margin-bottom:20px;font-weight:normal;color:#818181;}
.dsvc-tab1 .dsvc-tabcon1{line-height:28px;color:#444444;font-size:16px;}
.dsvc-tab1 .dsvc-tabbtn1 .dsvc-tab-curr1{background:#fff;border-bottom:0 none;}
/*tab-wrap*/
.tab-wrap{border:1px solid #d2d2d2;border-top-left-radius:20px;border-bottom-right-radius:20px;overflow:hidden;width:931px;margin-bottom:10px;}
.tab-wrap table{width:932px;border-collapse:collapse;text-align:center;color:#494949;}
.tab-wrap th{border-right:1px solid #d2d2d2;height:38px;font-weight:normal;}
.tab-wrap .t-l{text-align:left;}
.tab-wrap td{border-top:1px solid #d2d2d2;;border-right:1px solid #d2d2d2;padding:10px;font-size:14px;}
.step-1,.step-2,.step-3{padding-left:100px;font-size:18px;height:45px;line-height:45px;margin:10px 0 5px;}
.step-1{background:url(i/s1.jpg) no-repeat left center;}
.step-2{background:url(i/s2.jpg) no-repeat left center;}
.step-3{background:url(i/s3.png) no-repeat left center;}
.tit{height:30px;line-height:30px;margin:10px 0;padding-left:10px;}
.door-service .tit{border-bottom:1px solid #bebfc3;}
.door-service .fore5 .pur{background:url(i/purchase.png) no-repeat left center;padding-left:100px;height:50px;line-height:50px;}
.door-service .fore5 .pur b{margin-right:30px;color:#fff;font-weight:normal;}
.door-service .fore2 h4{height:25px;ling-height:25px;background:#ece0ee;padding-left:10px;font-size:16px;font-weight:normal;color:#818181;margin-bottom:10px;width:550px;}
.door-service .fore2 .fix{height:25px;ling-height:25px;background:#ece0ee;padding:0 10px;display:inline-block;}
.no-tabcon{padding:20px 20px 40px;}
.fore4 .dsvc-tab1 .dsvc-tabbtn1 li{width:194px;}
.door-service .fr{float:none;text-align:right;}