/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block}
table{border-collapse:collapse;border-spacing:0}
caption,th{font-weight:normal;text-align:left}
img{border:0}
li{list-style:none}
h1,h2,h3,h4,h5,h6,small{font-size:100%}
textarea{overflow:auto;resize:none}
label,summary{cursor:default}
a,button{cursor:pointer}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold}
del,ins,u,s,a,a:hover{text-decoration:none}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 'Microsoft YaHei',\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;color:#333;}
body{background:#fff}
img{vertical-align:top}
.clr:after{display:block;visibility:hidden;clear:both;height:0;content:'.'}
.clr{zoom:1}
.fl{float:left}
.fr{float:right}
.hide{display:none;}
.wrapper{width:1000px;margin:0 auto;}
/* header */
.header{padding:12px 0;height:50px;background:#fff;width:100%;min-width:1000px;z-index:9;}
.logo{float:left;}
.menu{float:right;text-align:right;font-size:16px;line-height:34px;}
.menu a{display:inline-block;margin-left:55px;color:#2b3a3f; padding:8px 0px 0 0px}
.menu a.app{width:125px;height:35px;background:url(../../../images/devsmart/devsmart/homeIcon.png) no-repeat -337px -542px;overflow:hidden;text-indent:99999em;vertical-align:middle;}
.menu a.app:hover{ border:0}
.menu a.cur{color:#ff0046; border-bottom:#ff0000 2px solid}
.menu a.cur,.menu a:hover{color:#ff0046; }
/* banner */
.banner,.banner2,.banner3{width:100%;min-width:1000px;}
.banner{height:500px;background:url(../../images/devsmart/banner.jpg) no-repeat top center;}
.banner2{height:709px;background:url(../../images/devsmart/manage.jpg) no-repeat top center;}
.banner3{height:709px;background:url(../../images/devsmart/find.jpg) no-repeat top center;}
.bannerInfo{padding-left:544px;width:432px;}
.bannerInfo p,.con2Info p{margin-top:18px;border-top:1px solid #fff;padding-top:20px;font-size:16px;line-height:1.8em;color:#fff;}
.banner2 .bannerInfo{padding-top:240px;}
.banner3 .bannerInfo{padding-top:65px;}
/* icons */
.icon1,.icon2,.icon3,.icon4,.icon5,.icon6,.support1,.support2,.support3,.support4,.support5,.support6{width:134px;height:135px;display:inline-block;background:url(../../images/devsmart/homeIcon.png) no-repeat;}
.icon1{background-position:-13px -13px;}
.icon2{background-position:-173px -13px;}
.icon3{background-position:-333px -13px;}
.icon4{background-position:-493px -13px;}
.icon5{background-position:-653px -13px;}
.icon6{background-position:-813px -13px;}
.icon1:hover{background-position:-13px -173px;}
.icon2:hover{background-position:-173px -173px;}
.icon3:hover{background-position:-333px -173px;}
.icon4:hover{background-position:-493px -173px;}
.icon5:hover{background-position:-653px -173px;}
.icon6:hover{background-position:-813px -173px;}
.support1,.support2,.support3,.support4,.support5,.support6{height:54px;}
.support1{background-position:-13px -372px;}
.support2{background-position:-173px -372px;}
.support3{background-position:-333px -372px;}
.support4{background-position:-493px -372px;}
.support5{background-position:-653px -372px;}
.support6{background-position:-813px -372px;}

/* title */
.title1,.title2,.title3,.title4,.title5,.title6{background:url(../../images/devsmart/homeTitle.png) no-repeat;overflow:hidden;text-indent:-99999em;}
.title1{width:250px;height:60px;margin:0 auto 15px;}
.title2{width:342px;height:75px;background-position:0 -331px;}
.title3{width:256px;height:76px;background-position:0 -465px;}
.title4{width:234px;height:74px;background-position:0 -593px;}
.title5{width:195px;height:57px;background-position:0 -109px;margin:0 auto 20px;}
.title6{width:305px;height:59px;background-position:0 -216px;margin:0 auto 50px;}
/* content */
.con1{padding:100px 0;}
.item{width:33.3333%;padding-top:35px;float:left;}
.itemInner{padding:0 40px;text-align:center;}
.item dt{padding:20px 0;font-size:20px;}
.item dd{font-size:16px;color:#a2a2a2;line-height:1.5em;}

.con2{padding-top:80px;}
.con2Info{padding-top:150px;width:420px;float:left;}
.con2Info p{border-top:1px solid #ff4061;color:#2b3a3f;}
.con2Pic{margin:0 -30px 0 440px;width:589px;height:628px;background:url(../../images/devsmart/service.jpg) no-repeat;}

.con3{width:100%;padding:100px 0;background:#f9f9f9;mine-width:1000px;}
.con3 .itemInner{padding:0 30px;}
.con3 .item dd{font-size:14px;text-align:left;}

.con4{padding:90px 0 100px;}
.pitem{width:25%;height:339px;position:relative;float:left;}
.pitemInner{border:1px solid #e4e4e4;margin:-1px 0 0 -1px;padding-top:50px;height:288px;text-align:center;}
.pitem dl{padding-top:40px;}
.pitem dt{font-size:16px;color:#2b3a3f;}
.pitem dd{padding-top:13px;}
.pitemIntro{color:#a2a2a2;padding:0 20px;line-height:1.5em;}
.pitemMore{display:none;color:#fff;font-family:\5b8b\4f53;}
.smartIcon{width:54px;height:55px;display:none;background:url(../../images/devsmart/homeIcon.png) no-repeat -53px -533px;}
.pitemHover{width:100%;height:339px;background:url(../../images/devsmart/hoverbg.png) repeat-x left top;position:absolute;left:0;top:0;z-index:1;text-align:center;cursor:pointer;}
.pitemHover dl{position:absolute;left:0;bottom:35px;z-index:2;width:100%;}
.pitemHover dt{font-size:20px;color:#fff;}
.pitemHover .pitemIntro{display:none;}
.pitemHover .pitemMore{display:block;}
.pitemHover .smartIcon{display:inline-block;}

/* footer */
.footer{width:100%;padding:45px 0 50px;background:#333333;font-size:14px;color:#fff;text-align:center;min-width:1000px;}
.footer a{margin:0 20px;color:#fff;}
.pt20{padding-top:20px;}
.ovh{overflow:hidden;}

/* 弹层 */
.popMask{width:100%;height:100%;position:fixed;left:0;top:0;background:url(../../images/devsmart/popBg.png) repeat;z-index:10;}
.popWin{padding:45px;width:615px;background:#fff;position:absolute;left:50%;margin-left:-350px;top:30px;}
.appDiv{padding:20px 50px;}
.appMa,.appStore,.appAndriod,.appTitle{background:url(../../images/devsmart/app.png) no-repeat;overflow:hidden;text-indent:-9999em;display:block;}
.appMa{float:right;width:252px;height:252px;}
.appTitle{width:180px;height:66px;background-position:0 -273px;}
.appStore{width:184px;height:43px;background-position:0 -361px;margin-top:15px;}
.appAndriod{width:184px;height:43px;background-position:0 -420px;margin-top:15px;}
.appText{padding-top:20px;font-size:18px;color:#999;line-height:1.4em;}
.popClose{width:30px;height:30px;background:url(../../images/devsmart/homeIcon.png) no-repeat -225px -545px;position:absolute;right:17px;top:17px;cursor:pointer;}

.product{text-align:center;}
.product h3{font-size:28px;line-height:1.5em;color:#000;font-weight:500;}
.product p{font-size:16px;color:#a2a2a2;line-height:1.5em;padding:5px 0 20px;}
.product img{margin:0 25px;}

/* 下载页 */
.dowbanner{width:100%; height:576px; background:url(../../images/devsmart/dowbanner.jpg) no-repeat center #ff283c}
.dowbanner .dow_bancon{width:1000px; margin:auto; height:576px; position:relative; background:url(../../images/devsmart/dowbanner.jpg) no-repeat center}
.dowbanner .codebox{width:444px; height:222px; position:absolute; top:194px; right:20px; background:url(../../images/devsmart/codebg.png) no-repeat}
.dowbanner .codebox a{ display:block;width:245px; height:60px; overflow:hidden; text-indent:-9999px; position:absolute; top:0px; right:0px; background:url(../../images/devsmart/dowbut.png) no-repeat; opacity:0.8;filter:alpha(opacity=80)}
.dowbanner .codebox a:hover{ opacity:1;filter:alpha(opacity=100)}
.dowbanner .codebox a.andr{ top:112px; background-position:0 -112px}

.dowbox .dowcon{ width:1000px; margin:auto; height:500px; overflow:hidden; position:relative}
.dowbox .dowcon dl{ width:400px; float:left; padding-top:150px; letter-spacing:1px;text-align:justify; text-justify:inter-ideograph;}
.dowbox .dowcon dl dt{ height:50px; position:relative; padding-left:65px; line-height:50px; color:#333; font-size:34px}
.dowbox .dowcon dl dt i{ display:block; width:48px; height:48px; position:absolute; left:0; top:0; background:url(../../images/devsmart/dowico.png) no-repeat}
.dowbox .dowcon dl dt i.ico2{ background-position:-58px 0}
.dowbox .dowcon dl dt i.ico3{ background-position:-120px 0}
.dowbox .dowcon dl dt i.ico4{ background-position:-190px 0}
.dowbox .dowcon dl dd{ height:50px; position:relative; line-height:30px; padding-top:30px; font-size:16px; color:#666}
.dowbox .dowcon .imgbox{ position:absolute; right:0; bottom:0}

.grey{ background:#f7f7f7}
.grey .dowcon{ width:1000px; margin:auto; height:500px; overflow:hidden}
.grey .dowcon dl{ float:right;}
.grey .dowcon .imgbox{ position:absolute; left:0; bottom:0}
