@charset "gb2312";
/*../ui/task/news/14Q3/0812_feed_comment/css/comment.css*/
/* [2,717,207] published at 2017-09-25 14:06:05 */

/*20150113160627*/

/*reset*/
.sina-comment-wrap a:link,.sina-comment-wrap a:visited{text-decoration: none;}
.sina-comment-wrap a:hover,.sina-comment-wrap a:active{text-decoration: underline;}
.sina-comment-wrap{color:#333;background:#fff;font:12px/20px "Microsoft Yahei","\5FAE\8F6F\96C5\9ED1","SimSun","\5B8B\4F53","Arial Narrow",serif;}
.sina-comment-wrap ul,
.sina-comment-wrap ol,
.sina-comment-wrap li,
.sina-comment-wrap p,
.sina-comment-wrap form,
.sina-comment-wrap fieldset,
.sina-comment-wrap table,
.sina-comment-wrap td,
.sina-comment-wrap th,
.sina-comment-wrap img{margin:0;padding:0;border:0;font-weight: normal;}
.sina-comment-wrap img{border:0;}
.sina-comment-wrap select,.sina-comment-wrap input{vertical-align:middle;font-size:12px;}
.sina-comment-wrap textarea {resize:vertical;font-size: 12px;}
.sina-comment-wrap ul{list-style:none;}
.sina-comment-layer .clearfix:after,.sina-comment-wrap .clearfix:after{content:'.';display:block;height:0;clear:both;visibility: hidden;}
.sina-comment-layer .clearfix,.sina-comment-wrap .clearfix{*zoom:1;}
.sina-comment-wrap .clearit{clear:both;font-size:0;line-height:0;height:0;}
.sina-comment-wrap .gray{color:#888;}
.sina-comment-wrap{margin: 0 auto;background:#fff;border:1px solid #E9E9E9;}
/*背景*/
.sina-comment-share-sina,.sina-comment-share-qq,.sina-comment-form .ft .trigger,.sina-comment-form .ft .trigger-active,.sina-comment-list .title .reflash,.sina-comment-tip .succ i,.sina-comment-tip .error i,.sina-comment-layer .a-l-close,.sina-comment-form .ft .user .ico,.sina-comment-vote-tip,.sina-comment-chkbox i{background: url(//n.sinaimg.cn/default/7919a7ba/20170830/bg.png) no-repeat 0 0;}
/*按钮*/

.sina-comment-wrap .btn,.sina-comment-tip .btn {display: inline-block;*display: inline; zoom: 1;  vertical-align: baseline; margin: 0 2px;  cursor: pointer; text-align: center; text-decoration: none; font: 16px/21px "Microsoft Yahei","\5FAE\8F6F\96C5\9ED1","SimSun","\5B8B\4F53","Arial Narrow"; padding: 6px 30px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; word-wrap:break-word;word-break:break-all;}
.sina-comment-wrap .btn:hover,.sina-comment-tip .btn:hover {text-decoration: none;}
.sina-comment-wrap .btn:active,.sina-comment-tip .btn:active {position: relative; top: 1px;}
.sina-comment-wrap .btn-red,.sina-comment-tip .btn-red {color: #faddde;background: #FF8500; }
.sina-comment-wrap .btn-red:hover, .sina-comment-tip .btn-red:hover {background: #F46D00; }
.sina-comment-wrap .btn-red:active, .sina-comment-tip .btn-red:active {color: #de898c;}
.sina-comment-wrap .btn-red:link, .sina-comment-tip .btn-red:link,.sina-comment-wrap .btn-red:visited, .sina-comment-tip .btn-red:visited{color:#fff !important;}
.sina-comment-wrap .btn-red:hover, .sina-comment-tip .btn-red:hover,.sina-comment-wrap .btn-red:active, .sina-comment-tip .btn-red:active{color:#fff !important;}

.sina-comment-wrap .btn-disabled,.sina-comment-wrap .btn-disabled:hover,.sina-comment-wrap .btn-disabled:active{color: #696969;background: #E1E1E1; cursor: default;}
.sina-comment-wrap .btn-disabled:link,.sina-comment-wrap .btn-disabled:visited{color:#696969 !important;}
.sina-comment-wrap .btn-disabled:hover,.sina-comment-wrap .btn-disabled:active{color:#696969 !important;}
.sina-comment-tip .btn-gray {color: #333;background: #E2E2E2; }
.sina-comment-tip .btn-gray:hover {background: #E2E2E2; }
.sina-comment-tip .btn-gray:active {color: #333;}
.sina-comment-tip .btn-gray:link,.sina-comment-tip .btn-gray:visited{color:#333 !important;}
.sina-comment-tip .btn-gray:hover,.sina-comment-tip .btn-gray:active{color:#333 !important;}

/*评论框*/
.sina-comment-form{padding:0 20px;}
.sina-comment-form .hd{height:30px;line-height: 20px;}
.sina-comment-form .hd .tip{float:left;direction: ltr; text-indent: -999em; width:125px;height:26px; position:relative;}
.sina-comment-form .hd .count{float: right;line-height: 28px;font-size: 14px;}
.sina-comment-form .hd .count a:link,.sina-comment-form .hd .count a:visited{color:#333;}
.sina-comment-form .hd .count a:hover{color:#c00;}
.sina-comment-form .hd .count em{color:#b60c0c;font-family:arial;font-style: normal;}
.sina-comment-form .bd{padding-right: 10px;_padding-right:0;position: relative;_zoom:1;}
.sina-comment-form .bd .inner{width:100%;}
.sina-comment-form .bd .box{display: block;padding: 8px 5px;width:100%;height:24px; margin:0;border:1px solid #ccc;overflow: auto;font-size: 14px;font-family: "Microsoft Yahei","\5FAE\8F6F\96C5\9ED1","SimSun","\5B8B\4F53","Arial Narrow",serif;resize:none;}
.sina-comment-form .bd .box:focus{border-color:#ccc;outline: none;}
.sina-comment-form .bd .tip{position: absolute;left:50%;top:50%;}
.sina-comment-form .ft{padding: 20px 0 0;width:100%;font-size: 14px;position: relative;}
.sina-comment-form .ft a:link,.sina-comment-form .ft a:visited{color:#333;text-decoration: none;}
.sina-comment-form .ft a:hover,.sina-comment-form .ft a:active{color:#c00;text-decoration: none;}
.sina-comment-form .ft .face{float: left;}
.sina-comment-form .ft .control{float: right;position: relative;}
.sina-comment-form .ft .user,.sina-comment-form .ft .login,.sina-comment-form .ft .weibo, .sina-comment-form .ft .btns{float: left;}
.sina-comment-form .ft .control .info{margin:0;}
.sina-comment-form .ft .user .ico{float: left;display: inline; background-position:  0 -670px; vertical-align:middle; margin:3px 5px 0; width:16px; height:16px; overflow:hidden;}
.sina-comment-form .ft .user .name{margin-right: 8px;}
.sina-comment-form .ft .user .logout{margin-left: 8px;}

.sina-comment-form .ft .login .login-lnk{margin-right: 8px;}
.sina-comment-form .ft .login .register-lnk{margin-left: 8px;}

.sina-comment-form .ft .btns{margin:0 0 0 15px;position: relative;top:-7px;}
.sina-comment-form .ft .btns .btn{float: left;}
.sina-comment-form .ft .weibo{margin-left: 15px;cursor: pointer;}
.sina-comment-chkbox i{float:left;display:inline;background-position:  0 -446px; width:17px; height:20px;overflow:hidden; line-height:300px;margin: -1px 1px 0 0;}
.sina-comment-chkbox-selected i{ background-position: 0 -476px; }
.sina-comment-form .ft .trigger{float:left;position: relative;margin: -4px 0 0; width:44px;height:26px;background-position:  0 -180px;direction: ltr; text-indent: -999em; overflow:hidden;}
.sina-comment-form .ft .trigger-active{background-position:  0 -210px;}
.sina-comment-form .ft .common{float: left;}
.sina-comment-form .ft .common a{padding: 0 5px;}
.sina-comment-form .ft .login{float: left;}
.sina-comment-form .ft .login input{border:1px solid #ababab; width:120px; height:14px; padding:4px 5px 3px;box-shadow:inset 1px 1px rgba(0,0,0,0.1); border-radius:1px;line-height: 14px;float: left;display: inline;margin-right: 10px;}
.sina-comment-form .ft .login input:focus{border-color:#777;outline: none;}
.sina-comment-form .ft .login .login-auto,.sina-comment-form .ft .login .login-other{float: left;display: inline;margin: 2px 10px 0 0;}

/*评论列表*/
.sina-comment-list{position:relative;*zoom:1;}
.sina-comment-list .title{height:37px;overflow: hidden;}
.sina-comment-list .title .name{width:100px; line-height:35px;float:left;font-size:16px;font-family:"Microsoft Yahei","\5FAE\8F6F\96C5\9ED1"; text-align:center;color:#020202;}
.sina-comment-list .title .reflash{float:left;width: 50px;height: 23px;overflow: hidden;line-height: 90px;background-position:  0 -120px;margin-top:12px;}
.sina-comment-list .title .reflash:hover{background-position: 0 -150px;}
.sina-comment-list .title .reflash:active{background-position: -60px -120px;}
.sina-comment-list .list .item{position: relative;border-bottom:1px dotted #ccc; _border-bottom:none; _background:url(//i0.sinaimg.cn/IT/deco/2014/0821/feed/dot_a.png) repeat-x 0 bottom;background-color: #fff;_zoom:1;padding: 20px 0 0;list-style: none;margin:0 10px;}
.sina-comment-list .list .item:hover{background: #FBFAF8;}
.sina-comment-list .list .item .head{width:50px;padding:20px 0 0 10px;position: absolute;left:0;top:0;}
.sina-comment-list .list .item .head img{border-radius: 25px;}
.sina-comment-list .list .item .cont{margin:0 10px 0 80px;}
.sina-comment-list .list .item .lnk{float: right;}
.sina-comment-list .list .item .num{float: right;font-family: Georgia;}
.sina-comment-list .list .cont .txt{display: inline-block; padding:0 0 5px;line-height:24px; font-size:14px;word-wrap:break-word;word-break:break-all;}
.sina-comment-list .list .cont .info{display:inline; font-size: 14px; margin-bottom: 5px;}
.sina-comment-list .list .cont .info a:link,.sina-comment-list .list .cont .info a:visited{color:#1a5c99;text-decoration: none;}
.sina-comment-list .list .cont .info a:hover,.sina-comment-list .list .cont .info a:active{color:#1a5c99;text-decoration: underline;}
.sina-comment-list .list .cont .area{color:#999; padding-left:10px; }
.sina-comment-list .list .cont .lnk:link,.sina-comment-list .list .cont .lnk:visited{color:#666;;}
.sina-comment-list .list .cont .lnk:hover,.sina-comment-list .list .cont .lnk:active{color:#c00;;}
.sina-comment-list .list .cont .action{height: 26px;margin:10px 0 5px 0;font-size: 12px;text-align: left;}
.sina-comment-list .list .item .time{color:#999;}
.sina-comment-txt-face{vertical-align: middle;}

.sina-comment-list .item .btns a:link,.sina-comment-list .item .btns a:visited{color:#999;}
.sina-comment-list .item .btns a:hover,.sina-comment-list .item .btns a:active{color:#c00;text-decoration: none;}

.sina-comment-list .item:hover .btns a:link,.sina-comment-list .item:hover .btns a:visited{color:#666;}
.sina-comment-list .item:hover .btns a:hover,.sina-comment-list .item:hover .btns a:active{color:#c00;}

.sina-comment-list .item .vote{ height:25px;line-height:24px;display:inline-block;padding-left:2px;vertical-align:middle;}
.sina-comment-list .item .vote span{display: inline-block;padding: 0 2px 0 0;}
.sina-comment-list .item .vote em{font-style: normal;color:#1a5c99;font-family: arial;vertical-align: top;}
.sina-comment-list .item .vote:hover,.sina-comment-list .item .vote:active{color:#c00;cursor: pointer;}

.sina-comment-list .item .vote-active:link,.sina-comment-list .item .vote-active:visited{color:#666;text-decoration: none;cursor: text;}
.sina-comment-list .item .vote-active:hover,.sina-comment-list .item .vote-active:active{background: none;color:#666;text-decoration: none;cursor: text;}
.sina-comment-list .item .vote-active:hover span,.sina-comment-list .item .vote-active:active span{background: none;color:#666;text-decoration: none;}
.sina-comment-list .item .reply{  display:inline-block; width:45px; height:25px;line-height: 24px; vertical-align:middle;text-align: center;}
.sina-comment-list .item .share{ display:inline-block; height:25px;line-height: 24px; vertical-align:middle;text-align: center;position: relative;z-index: 10;}
.sina-comment-list .item .btns .share-active:link,.sina-comment-list .item .btns  .share-active:visited,.sina-comment-list .item:hover  .btns .share-active:link,.sina-comment-list .item:hover .btns  .share-active:visited{ color:#c00;cursor: pointer;}
.sina-comment-list .item .share em{font-style: normal;display:inline-block;}
.sina-comment-list .item .txt-toggle{margin-left: 5px;}
.sina-comment-list .item .txt-toggle:link,.sina-comment-list .item .txt-toggle:visited{color:#FF8500;text-decoration: none;}
.sina-comment-list .item .txt-toggle:hover,.sina-comment-list .item .txt-toggle:active{color:#c00;text-decoration: none;}

/*盖楼*/

.sina-comment-list .list .floor-wrap{margin-top:12px;}
.sina-comment-list .list .floor a:link,.sina-comment-list .list .floor a:visited{color:#666;}
.sina-comment-list .list .floor a:hover,.sina-comment-list .list .floor a:active{color:#c00;}
.sina-comment-list .list .floor{position: relative;border:solid 1px #F3DDB3; background:#FFFEF4; padding:4px;color:#666;margin: 0 0 12px;*zoom:1;}
.sina-comment-list .list .floor-out{margin-top: -13px;}
.sina-comment-list .list .floor .head{display: none;}
.sina-comment-list .list .floor .cont{margin-left: 0;margin:8px 12px;}
.sina-comment-list .list .floor .cont .action{margin-top: 5px;}
.sina-comment-list .list .reply-form-wrap{position: relative;clear: both;*zoom:1;margin-left: 60px;}
.sina-comment-list .list .reply-form-top{width:18px;height:12px; position:absolute; top:-8px; right:85px;color:#efefef;*zoom:1;z-index: 10;}
.sina-comment-list .list .reply-form-top em,.sina-comment-list .list .reply-form-top span{ display:block; font-size:17px; font-style:normal; font-family:"SimSun"; height:11px; overflow:hidden;}
.sina-comment-list .list .reply-form-top em{ color:#ccc}
.sina-comment-list .list .reply-form-top span{ color:#fff; margin-top:-10px;}
.sina-comment-list .list .reply-form{clear:both;}
.sina-comment-list .list .reply-form{padding:0 20px;margin-top: 10px;*zoom:1;}
.sina-comment-list .list .reply-form .hd{display: none;}
.sina-comment-list .list .reply-form .ft .action{margin:0;}
.sina-comment-list .list .action .btns{float: right;*margin-top: -20px;}

.sina-comment-list .loading{display: none;border-radius: 5px; margin:5px;background:url(//i3.sinaimg.cn/ent/deco/2012/0912/images/indicator_24.gif) center center no-repeat #F1F1F1;}
.sina-comment-list .more{font-family:"Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1";font-size: 14px;padding-left: 20px; border-top: 1px solid #E9E9E9;margin-top: -1px;position: relative; top:0; right: 0;}
.sina-comment-list .loading a, .sina-comment-list .loading a:visited,.sina-comment-list .more a, .sina-comment-list .more a:visited{/* display: block;  */line-height:40px; margin:0 auto;}
.sina-comment-list .more a span, .sina-comment-list .more a:visited span{color:#333;}
.sina-comment-list .more a em, .sina-comment-list .more a:visited em{font-style: normal;}
.sina-comment-list .more a:hover,.sina-comment-list .more a:active {text-decoration: none;}
.sina-comment-list .more a:hover span,.sina-comment-list .more a:active span {text-decoration: none;}
.sina-comment-list .more a:hover em,.sina-comment-list .more a:active em {text-decoration: none;}
.sina-comment-list .loading a:hover,.sina-comment-list .loading a:active{color: #c00;text-decoration: none;}

/*表情层*/
.sina-comment-layer{border-spacing: 0;border-collapse:collapse;}
.sina-comment-layer tr,.sina-comment-layer td{padding: 0;}
.sina-comment-layer .a-l-top-c,.sina-comment-layer .a-l-btm-c,.sina-comment-layer .a-l-m-l,.sina-comment-layer .a-l-m-r,.sina-comment-layer .a-l-top-r,.sina-comment-layer .a-l-top-l,.sina-comment-layer .a-l-btm-l,.sina-comment-layer .a-l-btm-r { height:4px; background:url(//timg.sjs.sinajs.cn/t36/style/images/common/layer/wraplayer_09.png); }
.sina-comment-layer .a-l-top-r,.sina-comment-layer .a-l-top-l,.sina-comment-layer .a-l-btm-l,.sina-comment-layer .a-l-btm-r { width:4px;}
.sina-comment-layer .a-l-m-c { background:#fff; }
.sina-comment-layer .a-l-top-l { -webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px;border-top-left-radius:4px }
.sina-comment-layer .a-l-top-r { -webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px;border-top-right-radius:4px }
.sina-comment-layer .a-l-btm-l { -webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px }
.sina-comment-layer .a-l-btm-r { -webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px;border-bottom-right-radius:4px; }
.sina-comment-layer .a-l-box { border:1px solid #C6C6C6; }
.sina-comment-layer .a-l-close-wrap {float: right;display: inline;width: 16px;height: 16px;margin:-17px -17px 0 0;}
.sina-comment-layer .a-l-close{ display: block; background-position:  0 -580px; cursor:pointer; height:16px; width:16px; }
.sina-comment-layer .a-l-close:hover{background-position: -30px -580px;}
.sina-comment-layer .a-l-btn a { margin:0 5px; }
.sina-comment-layer .a-l-arrow { width:16px; height:8px; overflow:hidden; position:absolute; left:134px; top:-8px; background:url(//timg.sjs.sinajs.cn/t36/style/images/common/new_index_bg.png?id=1317114904156) no-repeat -142px -71px; _background:url(//timg.sjs.sinajs.cn/t36/style/images/common/layer/wraplayer.gif?id=1317114904156) no-repeat 0 -12px; }
.sina-comment-face-list { padding:20px 20px 10px; position:relative; }
.sina-comment-face-list .a-l-arrow { left:18px; }
.sina-comment-face-list .face-list-items { width:330px; }
.sina-comment-face-list .face-list-items ul{padding: 0;margin: 0;}
.sina-comment-face-list .face-list-items li { float:left; height:28px; width:28px; padding:0 5px 5px 0; overflow: hidden;}
.sina-comment-face-list .face-list-items li a:link,.sina-comment-face-list .face-list-items li a:visited { width:26px; height:26px; text-align:center; display:block; border:1px solid #E8E8E8; }
.sina-comment-face-list .face-list-items li a:hover { border:1px solid #0095cd;background: #fff9ec; }
.sina-comment-face-list .face-list-items li img{border:0;border:none;}

/*评论提示*/
.sina-comment-tip{position: absolute;left:50%;background: #fff;z-index: 1000; padding: 18px 24px; box-shadow: 0 1px 7px 4px rgba(224,224,224,0.50);
border-radius: 8px;  *border: 1px solid #eee; max-width: 302px;}
.sina-comment-tip .inner{overflow:hidden;line-height: 24px;font-family: "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";font-size: 14px;color: #888; position: relative;}
.sina-comment-tip i{width: 40px;height: 32px;overflow: hidden;position: absolute;left:0;top:0;}
.sina-comment-tip .txt{margin-left: 35px; font-size: 14px;}
.sina-comment-tip .txt a:link,.sina-comment-tip .txt a:visited{color:#ff8500; text-decoration: none;}
.sina-comment-tip .txt a:hover,.sina-comment-tip .txt a:active{color:#c00; text-decoration: none;}
.sina-comment-tip .succ i{background-position:  0 -240px;}
.sina-comment-tip .error i{background-position:  0 -280px;}
.sina-comment-tip .bd,.sina-comment-tip .ft { text-align: center;}
.sina-comment-tip .btn { display: inline-block; width: 108px; padding: 8px 0; font-size: 14px;}
.sina-comment-tip .ft { margin-top: 10px;}

/*顶提示*/
.sina-comment-vote-tip{display: none;width: 48px;height: 28px;direction: ltr; text-indent: -9999em;text-align:left;background-position:  0 -820px;position: absolute;top:0;}

/*分享提示*/
.sina-comment-share{display: none;width:58px;height:24px;overflow:hidden;position: absolute;top:0;z-index:999;}
.sina-comment-share-sina,.sina-comment-share-qq{width:24px;height:24px;margin-left:3px;direction: ltr; text-indent: -9999em;text-align:left;float:left;}
.sina-comment-share-sina{background-position:  0 -510px;left:50px;}
.sina-comment-share-qq{background-position:  0 -540px;left:80px;}
.sina-comment-share-sina:hover{background-position: -30px -510px;}
.sina-comment-share-qq:hover{background-position: -30px -540px;}

/*---------------------------------- 以下为JS控制样式，勿删 ----------------------------------*/

/*JS 列表相关，列表加载中，通过在容器上添加或删除.sina-comment-list-{type}-loading的类来控制对应的加载提示的显示*/
.sina-comment-list-all-loading .all-loading, .sina-comment-list-hot-loading .hot-loading, .sina-comment-list-latest-loading .latest-loading{display: block;}
.sina-comment-list-all-loading .more{display: none;}
.sina-comment-list,.sina-comment-list .hot-wrap,.sina-comment-list .latest-wrap{display: none;}
.sina-comment-list-has-all,.sina-comment-list-has-hot .hot-wrap,.sina-comment-list-has-latest .latest-wrap{display: block;}
.sina-comment-list-has-hot .latest-wrap{border-top: 1px solid #ccc;margin-top: -1px;position:relative;zoom:1;}

/*JS 回复 模拟回复成功 隐藏回复内容的对应的“支持”，“回复”和“分享”按钮*/
.sina-comment-list .item-hack .action .btns{display: none;}
.sina-comment-list .item-hack .floor .action .btns{display: inline;}
.sina-comment-list .floor-hack{border-top:1px dashed #ccc;margin-top:10px;padding-top:5px;}
.sina-comment-list .floor-hack .lnk,.sina-comment-list .list .floor-hack .action .btns{display: none;}

/*JS 登录相关,sina登录和weibo登录，在body上添加sinacMNT_前缀的类，控制显示隐藏对应内容*/
.sina-comment-form .login{display: block;_display:inline;}
.sinacMNT_login .sina-comment-form .login,.sinacMNT_weibo_login .sina-comment-form .login{display: none;}
.sina-comment-form .user{display: none;}
.sinacMNT_login .sina-comment-form .user,.sinacMNT_weibo_login .sina-comment-form .user{display: block;_display:inline;}
/*预登录*/
.sinacMNT_pre_login .sina-comment-form .user{display: block;_display:inline;}
.sinacMNT_pre_login .sina-comment-form .control .login{display: none;}
/*.sina-comment-form .face{display: none;}
.sinacMNT_login .sina-comment-form .face,.sinacMNT_weibo_login .sina-comment-form .face{display: block;_display:inline;}*/

/*JS 实名验证，不通过实名验证的用户，不显示“分享功能”*/
.sina-comment-form .ft .weibo,.sina-comment-list .item .share{display:none;}
.sinacMNT_weibo_login_security .sina-comment-list .item .share{display:inline-block;}
.sinacMNT_weibo_login_security .sina-comment-form .ft .weibo{display: block;_display:inline;}

.flat-floor-wrap{display: inline;}
.flat-floor-wrap a:link,.flat-floor-wrap a:visited{color:#1a5c99;text-decoration: none;}
.flat-floor-wrap a:hover,.flat-floor-wrap a:active{color:#1a5c99;text-decoration: underline;}

.sina-comment-list .reflash{display: none;}
