.result__error_no_command
{
	text-align: center;
	font-size: 190%;
	color: red;
}

.result__results,.result__info,.result__info_command,.result__info_time,.result__results_items_web
{}

.result__info,/*.result__info_command,*/.result__info_time
{
	position: relative; 
	left: 1.5%;
	width: 90%;
	/*height: 20%;*/
	font-size: 110%;
}
/*.result__info_command
{
	font-size: 20%;
}*/
.result__info_time
{
	margin-top: 0.7%;
	font-size: 80%;
	font-style: italic;
}

.result__results_items_web,.result__result_item_web
{

}

.result__result_item_web, .result__result_contents_no_contents
{
	position: relative;
	left: 5%;
	margin: 0, 2%, 0, 0;
}
.result__result_item_web
{
	width: 70%;
	background-color: #EAEAEA;

	border-width: 10px;
	border-style: solid;
	border-color: #EAEAEA;
	border-radius: 10px;

	font-size: 100%;
	margin-bottom: 2%;
	list-style: none;
	overflow: hidden;
}
.result__result_contents_no_contents
{
	text-align: center;
	font-size: 100%;
}

.result__result_item_web_title,.result__result_item_web_contents,.result__result_item_web_url
{
	position: relative;
	left: 2%;
}
.result__result_item_web_title
{
	font-size: 120%;
	margin-top: 0.4%;
	margin-bottom: 0.5%;
}
.result__result_item_web_contents, .result__result_item_web_contents_pic,.result__result_item_web_contents_text
{
	left: 3%;
	font-style: italic;
	margin-bottom: 0.2%;
	vertical-align: middle;
	display: inline;
	/*height:100%;*/
}
.result__result_item_web_contents_pic
{
	max-height: 70%;
	width: auto;
	overflow:hidden;
	display:inline-flex;
}
.result__result_item_web_contents_pic_property{max-height:200px;}
.result__result_item_web_contents_text{width:60%;}
.result__result_item_web_url
{
	font-style: italic;
	color: green;
	cursor: pointer;
}