/*CSS*/
@charset "utf-8";
/*公共头尾*/

/*公共头尾*/
/*公共样式区*/
.page_float_right {
    float: right;
}
.page_float_left {
    float: left;
}
/*公共样式区*/
/**/
.curtain{
    width: 1000px;
    margin: 20px auto;
    border: 1px solid #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    height: 430px;
    overflow: hidden;
}
.iframe{
    padding: 10px;
}
.option_tab{
    width: 230px;
    padding-right: 10px;
}
.tabbutton{

}
.tabbutton ul li{
    width: 115px;
    float: left;
    text-align: center;
    background-color: #f1f2f4;
    padding: 5px 0 5px 0;
    cursor: pointer;
}
.tabbutton ul li a{
    color: #333;
    font-size: 14px;
}
.tabbutton ul li.currentvideo{
	border-top: 5px solid #c75f5c;
	background-color: #fff;
	padding: 0px 0 5px 0;

}
.tablist{

}
.tablist .showon{
    display: block;
}
.tabcon{
    display: none;
}

.tabcon ul li{

}
li.n_name_fy{
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}
li.name_fy{
    font-size: 14px;
    color: #222;
    line-height: 23px;
}
li.n_time_sl{
font-size: 12px;
    color: #999;
    margin-top: 10px;
}
li.time_sl{
    font-size: 14px;
    color: #222;
    line-height: 23px;
}
li.n_infor_case{
font-size: 12px;
    color: #999;
    margin-top: 10px;
}
.infor_caselast{
    font-size: 14px;
    color: #222;
    line-height: 23px;
    max-height: 229px;
    overflow: hidden;
}
/**/