body {font-size:12px; margin:0px; padding:0px; background:#fff;}

ul {margin:0px; list-style:none; padding:0px;}
dl, dd, li, form {margin:0px;}
input,select,option {font-size:12px;}
table {border-collapse:collapse; width:100%;}
td,th,h3 {padding:0px; margin:0px;}
img {border:none;}

a:link {color:#0100A3; text-decoration:none;}
a:visited {color:#551A8B; text-decoration:none;}
a:hover {color:#0100A3; text-decoration:underline;}
a:active {color:#0100A3; text-decoration:none;}

.clear {clear:both; font-size:0px; height:0px;}


.divErrorData, .divEmptyData {height:150px; line-height:150px; text-align:center;}

.wrap {width:980px; margin:0px auto;}

.banner {height:30px; background:url(//www.sinaimg.cn/cj/subject/2009/0618/banner_03.gif) no-repeat; margin:10px 0;}
.lookup_wrap {float:right; width:250px; padding:5px 0 0; text-align:right; height:22px; margin-top:5px;}
.lookup_wrap input, .lookup_wrap select {color:#666;}
.time_wrap {float:right; width:300px; height:22px; line-height:22px; background:url(//www.sinaimg.cn/cj/money/images/iconOpening.gif) no-repeat 0px 9px; padding:5px 0 0 20px; margin-top:5px;}
.banner .link_wrap {float:right; width:90px; height:22px; line-height:22px; padding:5px 0 0 10px; margin-top:5px; text-align:center;}
.banner_line {height:5px; margin-bottom:10px; font-size:0px; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_jpg.jpg) repeat-x 0px -145px;}

.content {background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_gif.gif) repeat-y -335px 0;}



.navtree {float:left; width:165px; border-top:1px solid #B8BAC9;}
.navtree h3 {height:24px; line-height:24px; border:1px solid #B8BAC9; border-top:none; font-size:14px; text-align:center; font-weight:normal; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_jpg.jpg) repeat-x;}
.navtree ul {background:#f3f3f5; padding:4px 0; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_gif.gif) repeat-y; border-bottom:1px solid #B8BAC9;}
.navtree li {height:24px; line-height:24px; position:relative;}
.navtree li.active {border-left:2px solid #c5c7d3; border-right:1px solid #c5c7d3; background:#fff url(//www.sinaimg.cn/cj/subject/2009/0618/hq_jpg.jpg) repeat-x 0px -31px; z-index:10;}
/*?ùμ?o?overD§1?*/
.navtree a {padding-left:15px; display:block; height:24px; outline:none; margin:0 1px;}
.navtree a:link {color:#333; text-decoration:none;}
.navtree a:visited {color:#333; text-decoration:none;}
.navtree a:hover {color:#333; text-decoration:underline; background:#e8e8ec;}
.navtree a:active {color:#333; text-decoration:none;}
.navtree a.parentLink {background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) 145px -118px no-repeat;}
.navtree a.parentLink:hover {text-decoration:underline; background:#e8e8ec url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) 145px -118px no-repeat;}
.navtree .active a:link, .navtree .active a:visited, .navtree .active a:hover, .navtree .active a:active {background:none; text-decoration:none;}
.navtree h3 a {padding:0px; margin:0px; text-align:center; position:relative;}
.navtree h3 a:hover {text-decoration:none; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_jpg.jpg) repeat-x 0px -105px;}
.navtree h3.active a:hover {text-decoration:none; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_jpg.jpg) repeat-x 0px -105px;}
.navtree h3 a label {display:block; height:13px; width:13px; position:absolute; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) 0px -420px no-repeat; left:10px; top:4px; cursor:pointer;} 
.navtree h3.active a label {background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) 0px -452px no-repeat;}
.navtree div.lv_1, .navtree div.lv_2 {position:absolute; top:0px; background:#fff; display:none;}
.navtree div.lv_1 {left:130px;}
.navtree div.lv_2 {left:119px;}
.navtree dl {background:url(//www.sinaimg.cn/cj/subject/2009/0618/sd_rt.gif) repeat-y center right; border:1px solid #c5c7d3; padding:1px 0px 0;}
.navtree div.lv_1 dl {width:270px;}
.navtree div.lv_2 dl {width:130px;}
.navtree dd {width:137px; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_gif.gif) repeat-y -168px 0; float:left; position:relative;}
.navtree dd.active {background:#fff url(//www.sinaimg.cn/cj/subject/2009/0618/hq_jpg.jpg) repeat-x 0px -31px; z-index:20; border-left:1px solid #fff;}
.navtree dt {font-size:0px; line-height:0px; height:3px; overflow:hidden; clear:both; background:url(//www.sinaimg.cn/cj/subject/2009/0618/sd_btm.gif) repeat-x bottom; border-bottom:1px solid #92939F; border-right:1px solid #92939F;}
.navtree .white_line {height:22px; top:1px; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 0 -150px; width:3px; position:absolute; left:-2px;}
.navtree li.active .lv_1 a {display:block; height:24px; padding-left:14px; margin:0px 1px; outline:none;}
.navtree li.active .lv_1 a:link {text-decoration:none;}
.navtree li.active .lv_1 a:visited {text-decoration:none;}
.navtree li.active .lv_1 a:hover {text-decoration:underline; background:#e8e8ec url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 4px -187px; border:1px solid #d7d7de; height:22px; line-height:22px; padding-left:13px;}
.navtree li.active .lv_1 a:active {text-decoration:none;}
.navtree li.active dd a.parentLink {}
.navtree li.active dd a.parentLink:link {text-decoration:none; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) 122px -118px no-repeat;}
.navtree li.active dd a.parentLink:visited {text-decoration:none; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) 122px -118px no-repeat;}
.navtree li.active dd a.parentLink:hover {text-decoration:none; background:#e8e8ec url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) 121px -119px no-repeat; border:1px solid #d7d7de; height:22px; line-height:22px; padding-left:13px;}
.navtree li.active dd a.parentLink:active {text-decoration:none; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) 122px -118px no-repeat;}
.navtree li.active dd.active a:link, .navtree li.active dd.active a:visited, .navtree li.active dd.active a:hover, .navtree li.active dd.active a:active {text-decoration:none; background:none; border:none; line-height:24px; height:24px; padding-left:13px; border-left:1px solid #c5c7d3; margin-left:0px;}
.navtree li.active dd.active .lv_2 a {}
.navtree li.active dd.active .lv_2 a:link {text-decoration:none; border:none; margin:0px 1px;}
.navtree li.active dd.active .lv_2 a:visited {text-decoration:none; border:none; margin:0px 1px;}
.navtree li.active dd.active .lv_2 a:hover {text-decoration:underline; background:#e8e8ec url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 4px -187px; border:1px solid #d7d7de; height:22px; line-height:22px; padding-left:12px; margin:0px 1px;}
.navtree li.active dd.active .lv_2 a:active {text-decoration:none; margin:0px 1px;}
/*.navtree li.active div.lv_1, .navtree li.active div.white_line_1 {display:block;}
.navtree dd.active div.lv_2, .navtree dd.active div.white_line_2 {display:block;}*/


.list_wrap {float:right; width:807px;}

.list_wrap .list_page_item {display: inline}
.list_wrap .pages a.list_page_text_drop {width: 17px; border: 0px; display: inline-block; margin: -10px 0 -10px -25px; padding: -2px 0px; border: 0px; outline: none; overflow: hidden;}
.list_wrap .pages a.list_page_text_drop::hover {border: 0px;}
.list_wrap .pages a.list_page_text_drop::active {border: 0px;}
.list_wrap .pages a.list_page_text_drop img {border: 0px; outline: none;}
.list_wrap .item_page_combo {margin-right: 0px;}
.list_wrap .list_page_text {background: url(//www.sinaimg.cn/cj/subject/2009/0618/images/dropcombo.png) no-repeat; width: 25px; height: 16px; border: 0px solid #d6d8d8; text-align: right; padding: 2px 18px 2px 2px; margin: 0px;}
/*.list_wrap #list_page_text_drop2 {position: relative; left: 25px; top: 0px;}*/
.list_wrap .list_page_drop {width: 45px; position: absolute; overflow: auto;}
.list_wrap .list_page_drop { background: url(//www.sinaimg.cn/cj/subject/2009/0618/images/dropback.png) repeat; }
.list_wrap .list_page_drop li {display: block; height: 18px; line-height: 18px; text-align: right; padding-right: 5px;}
.list_wrap .list_page_drop li a {display: block; color: #000; text-decoration: none;}
.list_wrap .list_page_drop .list_page_drop_arrow {display: block; width: 37px; height: 18px; margin: 0px 2px; background: url(//www.sinaimg.cn/cj/subject/2009/0618/images/drop.png) no-repeat}
.list_wrap .list_page_drop .list_page_drop_up {background-position: -2px -20px }
.list_wrap .list_page_drop .list_page_drop_down {background-position: -2px -234px; }

.nav2_top_div_all_news {float: right; width: 130px; text-align: right; line-height: 30px; height: 30px; padding: 0px;}
.nav2_top_news_scroller {height: 30px;}
.nav2_top_news_list {width: 300px; float: left; overflow: hidden; height: 30px; line-height: 30px;}
.nav2_top_news_border {width: 2px; height: 20px; display: inline; border-left: 1px solid #666; margin-top: 5px; margin-right: 3px;}
.nav2_top_news_item {outline: none; display: block; float: left; overflow: hidden; text-align: left; padding-left: 2px; line-height: 30px; height: 30px}

#list_page_form {outline: 0px; border: 0px; margin: 0px; padding:0px;}


/* filter:alpha(opacity=0); opacity: 0; */

.list_wrap .list_page_drop div {}



/*#list_wrap {display:none;}
#list_wrap.hasTable {display:block;}
#list_wrap.hasTable .iframe_wrap {display:none;}

#list_wrap.hasIframe {display:block;}
#list_wrap.hasIframe .tbl_wrap, #list_wrap.hasIframe .nav2 {display:none;}*/
/*±íí·*/
.list_wrap .head {height:24px; line-height:24px; border:1px solid #B8BAC9; font-size:12px; text-align:center; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_jpg.jpg) repeat-x; padding-left:8px; position:relative;}
.list_wrap #rank_wrap .head {margin-top:15px;}
.list_wrap .head .nav {float:left; height:24px; line-height:24px; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 0px 5px; padding-left:17px;}
.list_wrap .nav2 {border-left:#D7D7DE solid 1px; border-right:#D7D7DE solid 1px;}
.list_wrap .head table {width:200px; float:right;}
.list_wrap .head td {vertical-align:middle; height:24px; line-height:24px; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 0px -81px; padding:0px; text-align:center;}
.list_wrap .head td input {width:40px;}
.list_wrap .head td #code_input {width:80px;}
.list_wrap .hqtime {float:right; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 0px -38px; padding:0 5px 0 17px;}
.list_wrap .tbl_wrap {border:1px solid #d7d7de; border-top:none; padding:1px;}
.list_wrap .tbl_page_bottom {height: 30px;}
.list_wrap .tbl_wrap.noborder {border:none; margin-bottom:20px;}
.list_wrap #rank_wrap .tbl_wrap.noborder {margin:0px;}
.list_wrap .tbl_wrap table .sort_up {background:#D4EDFF url(//www.sinaimg.cn/cj/subject/2009/0618/down_arrow.gif) no-repeat center right;}
.list_wrap .tbl_wrap table .sort_down {background:#D4EDFF url(//www.sinaimg.cn/cj/subject/2009/0618/up_arrow.gif) no-repeat center right;}
.list_wrap .tbl_wrap thead th {padding:0 6px;}
.list_wrap .tbl_wrap tbody th {padding:0 3px;white-space: nowrap;}
.list_wrap .tbl_wrap tbody th.m200 {max-width: 300px; text-align: left; padding-left: 10px;line-height: 20px;}
.list_wrap .tbl_wrap thead td, .list_wrap thead th {height:25px; line-height:25px; font-weight:normal; background:#D4EDFF; border-bottom:1px solid #ACD3F2;}
.list_wrap .tbl_wrap tbody td, .list_wrap tbody th {height:29px; line-height:29px; font-weight:normal; border-bottom:1px solid #d7d7de;}
.list_wrap .tbl_wrap thead td, .list_wrap tbody td {text-align:right; padding-right:10px;}
.list_wrap tr.highlight td, .list_wrap tr.highlight th {background:#E6F3FC;}
.list_wrap .tbl_wrap tbody td.sort_up, .list_wrap .tbl_wrap tbody td.sort_down, .list_wrap .tbl_wrap tbody th.sort_up, .list_wrap .tbl_wrap tbody th.sort_down {background:#E6F3FC;}
.list_wrap tr.red td.colorize, .list_wrap tr.red th.colorize {color:#f00;}
.list_wrap tr.green td.colorize, .list_wrap tr.green th.colorize {color:#008000;}
.list_wrap tr.global_down td.colorize, .list_wrap tr.global_down th.colorize {color:#f00;}
.list_wrap tr.global_up td.colorize, .list_wrap tr.global_up th.colorize {color:#008000;}
.anh_cn_up, .anh_hk_down {color:#f00;}
.anh_cn_down, .anh_hk_up {color:#008000;}
.pages {height:30px; text-align:right; line-height:30px; margin:10px 0 5px;}
.pages span, .pages a {margin-right:4px; padding:2px 6px;}
.pages span {border:1px solid #D4D9D3; color:#979797;}
.pages a {border:1px solid #9AAFE4;}
.pages a:link {color:#3568B9; text-decoration:none;}
.pages a:visited {color:#3568B9; text-decoration:none;}
.pages a:hover {color:#000; text-decoration:none; border:1px solid #2E6AB1;}
.pages a:active {color:#000; text-decoration:none; border:1px solid #2E6AB1;}
.pages a.now:link, .pages a.now:visited, .pages a.now:hover, .pages a.now:active {text-decoration:none; background:#2C6CAC; border:1px solid #2C6CAC; color:#fff; cursor:default;}

.top_row {height:206px;}
.head h3 {padding:0px 0 0 17px; float:left; height:24px; line-height:24px; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 0px 5px; text-align:left; font-size:12px; width:122px; font-weight:normal;}
.head .tab_wrap {position:absolute; left:100px; top:-3px;}
.head .tab_wrap ul {margin-top:3px;}
.head .tab_wrap li {float:left; width:65px;}
.head .tab_wrap a {display:block;}
.head .tab_wrap li a:link, .head .tab_wrap li a:visited, .head .tab_wrap li a:hover, .head .tab_wrap li a:active {color:#000; outline:none;}
.head .tab_wrap li.active {border:1px solid #0095ff; margin-top:-3px; font-size:14px; height:26px;}
.head .tab_wrap li.active a:link, .head .tab_wrap li.active a:visited, .head .tab_wrap li.active a:hover, .head .tab_wrap li.active a:active {height:26px; line-height:26px; overflow:hidden; color:#fff; text-decoration:none; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_jpg.jpg) no-repeat 0px -70px; cursor:default;}


.pf_view {background:#fff; border-right:1px solid #B8BAC9; position:relative; margin-top:10px; display:none;}
.pf_wrap {border:1px solid #B8BAC9; border-top:none; border-right:none;}
.pf_login {padding:5px; text-align:center; display:none; height:22px; line-height:22px;}
.pf_login input {width:120px;}
.pf_login span {float:right; text-align:right; color:#666; line-height:22px;}
.pf_wrap div.tbl_wrap {padding:0px; margin:0px; border:1px solid #fff; border-right:none; height:177px; overflow:hidden;}
#pfdata_wrap_cn, #pfdata_wrap_hk, #pfdata_wrap_us, #pfdata_wrap_fd {height:153px; overflow-y:scroll;}
.pf_view div.head {border-right:none;}
.pf_wrap table {width:785px;}
.pf_page {float:left; width:20px; height:178px; margin-top:1px;}
.pg_hd {height:25px; background:#D4EDFF; border-bottom:1px solid #acd3f2;}
.pf_page dl {height:152px; background:#f3f3f5; border-left:1px solid #d7d7de;}
.pf_page dt {height:26px; cursor:pointer; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 0px -858px;}
.pf_page dd {height:26px; margin-top:100px; cursor:pointer; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 0px -880px;}
.pf_index {float:right; width:100px; padding:0 5px 0 10px; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 0px -81px;}
.pf_groups {float:right; width:150px; padding-left:10px; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 0px -81px; display:none;}
.pf_groups select {margin-top:2px;}
.pf_logout {float:right; width:65px; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 0px -81px; display:none;}
.list_wrap .pf_wrap .tbl_wrap tbody th {padding:0;}

.mk_view {border:1px solid #B8BAC9; border-top:none;}
.mk_view div.head {border-right:none; border-left:none;}
.mk_select {float:left; width:50px; padding-left:10px; margin-left:45px; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 0px -81px; display:none; line-height:24px; height:24px;}
.mk_select select {margin-top:2px;}
.collapsed .mk_select {display:block;}
.collapsed .tab_wrap {display:none;}
.img_row {height:179px;}
.img_row dl {float:left; width:268px; text-align:center; margin-top:10px;}
.img_row dd {background:#f3f3f5; margin:0px 5px; height:24px; line-height:24px;}
.img_row .up {color:#f00;}
.img_row .down {color:#008000;}
.img_row#stockHK_index_wrap .down, .img_row#stockUS_index_wrap .down, .img_row#future_index_wrap .down {color:#f00;}
.img_row#stockHK_index_wrap .up, .img_row#stockUS_index_wrap .up, .img_row#future_index_wrap .up {color:#008000;}

.head .move {float:right; width:100px; padding-left:10px; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 0px -81px;}
.head .move span {float:left;}
.head .move a {display:block; float:left; width:17px; height:17px; background-image:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif); margin-top:3px; outline:none;}
.head a.moveup:link {background-position:1px -291px;}
.head a.moveup:visited {background-position:1px -291px;}
.head a.moveup:hover {background-position:1px -267px;}
.head a.moveup:active {background-position:1px -291px;}
.head a.movedown:link {background-position:0px -338px;}
.head a.movedown:visited {background-position:0px -338px;}
.head a.movedown:hover {background-position:0px -315px;}
.head a.movedown:active {background-position:0px -338px;}

.head a.noup:link, .head a.noup:visited, .head a.noup:hover, .head a.noup:active {background-position:1px -361px; cursor:default;}

.head a.nodown:link, .head a.nodown:visited, .head a.nodown:hover, .head a.nodown:active {background-position:0px -383px; cursor:default;}

.head .amount {float:right; padding-left:10px; width:125px; background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 0px -81px;}
.head .amount span {float:left;}
.head .amount div {float:left;}
.head .amount a {display:block; float:left; outline:none; width:20px; text-align:center;}
.head .amount a.active {background:url(//www.sinaimg.cn/cj/subject/2009/0618/hq_icons.gif) no-repeat 1px -229px;}
.head .amount a.active:link, .head .amount a.active:visited, .head .amount a.active:hover, .head .amount a.active:active {cursor:default; color:#000; text-decoration:none;}
.head .amount a:visited {color:#0100A3;}


.head span.hkdelay, .head a.hkrefresh {float: right; padding: 0px 0px; font-size: 9pt; height: 20px; display: block; margin: 1px 2px 1px 0px;line-height:20px; background: 0px -20px no-repeat; color: #7B0000; }
#index_wrap .head a.hkrefresh {background-image: url(//www.sinaimg.cn/cj/subject/2009/0618/images/refresh100.gif) ; width: 100px; }
#index_wrap .head a.hkrefresh .hkhqtime {padding-left: 58px;}
.head a.hkrefresh:active {background-position: 0px 0px;}
.head a.hkrefresh:hover {background-position: 0px 0px;}
#list_wrap .head a.hkrefresh {background-image: url(//www.sinaimg.cn/cj/subject/2009/0618/images/refreshbutton.gif); width: 194px; }
#list_wrap .head a.hkrefresh .hkhqtime {padding-left: 105px;}
#list_wrap .head a.hkrefresh:hover {background-position: 1px 0px;;}

.secondaryHeader{height:33px;overflow:hidden;background:url(//i2.sinaimg.cn/dy/images/header/2008/standardl2nav_bg.gif) repeat-x #fff;color:#000;font-size:12px;font-weight:100;}
.secondaryHeader a,.secondaryHeader a:visited{color:#000;text-decoration:none;}
.secondaryHeader a:hover,.secondaryHeader a:active{color:#c00;text-decoration:underline;}
.sHBorder{border:1px #e3e3e3 solid;padding:0 10px 0 12px;overflow:hidden;zoom:1;}
.sHLogo{float:left;height:31px;line-height:31px;overflow:hidden;}
.sHLogo span,.sHLogo span a,.sHLogo span a:link,.sHLogo span a:visited,.sHLogo span a:hover{display:block;*float:left;display:table-cell;vertical-align:middle;*display:block;*font-size:27px;*font-family:Arial;height:31px;}
.sHLogo span,.sHLogo span a img,.sHLogo span a:link img,.sHLogo span a:visited img,.sHLogo span a:hover img{vertical-align:middle;}
.sHLinks{float:right;line-height:31px;}
.sHBorder img{border:0}




.top_nav {height:29px; line-height:29px; background:url(//www.sinaimg.cn/cj/subject/2009/0618/top_nav_bg.gif) repeat-x; margin-bottom:1px;}
.top_nav a:link {color:#fff; text-decoration:none;}
.top_nav a:visited {color:#fff; text-decoration:none;}
.top_nav a:hover {color:#fff; text-decoration:underline;}
.top_nav a:active {color:#fff; text-decoration:none;}
.top_nav dt {float:left; width:102px; text-align:center;}
.top_nav dt.black {background:url(//www.sinaimg.cn/cj/subject/2009/0618/top_nav_bg.gif) 0px -42px repeat-x;}
.top_nav dt.black a {display:block; height:29px; background:url(//www.sinaimg.cn/cj/subject/2009/0618/top_nav_bg.gif) 100px -78px no-repeat;}
.top_nav dt.blue {background:url(//www.sinaimg.cn/cj/subject/2009/0618/top_nav_bg.gif) 0px -114px no-repeat;}
.top_nav dd {float:left; padding-left:20px;}
.top_nav dd a {margin:0px 20px;}
