[cms-style~="blockquote"] {
  border-left: 3px solid #dbdbdb;
  margin: 0.3rem;
  padding-left: 10px;
  font-size: 0.26rem !important;
  color: #888 !important;
}
[cms-style~="blockquote"] * {
  color: #888 !important;
  font-size: 0.26rem !important;
}
@media (max-width: 660px) {
  [cms-style~="font-L"] {
    font-size: 0.34rem !important;
  }
  [cms-style~="font-M"] {
    font-size: 0.26rem !important;
    color: #666;
    font-weight: normal;
    margin-top: 0rem;
  }
}
@media (min-width: 661px) {
  [cms-style~="font-L"] {
    font-size: 18px !important;
  }
  [cms-style~="font-M"] {
    font-size: 16px !important;
    color: #666;
    font-weight: normal;
    margin-top: 0rem;
  }
}
[cms-style~="strong-Bold"] {
  font-weight: 800 !important;
}
[cms-style~="strong-Normal"] {
  font-weight: 300 !important;
}
[cms-style~="align-Center"] {
  text-align: center !important;
}
