/**
 * Created by xuejie1 on 19/3/1.
 * 左侧浮层广告弹窗css
 */


@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 100%, 0);
    transform: translate3d(-100%, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 100%, 0);
    transform: translate3d(-100%, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 100%, 0);
    transform: translate3d(-100%, 100%, 0);
  }
}
@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 100%, 0);
    transform: translate3d(-100%, 100%, 0);
  }
}
.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}
/*正文左侧悬浮窗*/
.Pop-ups{width:198px; height:503px; position: fixed;left:0;bottom:0; background: #fff; border: 1px solid #dedede;z-index: 1000;margin-top:0;margin-left:0;}
.Pop-ups a{color:#474747;}
.Pop-ups a:hover{color:#ff6600;}
.pic_list{width:180px; height: 110px; overflow: hidden; margin: 10px auto 0; position: relative}
.pic_show{width: 180px;height: 110px;}
.pic_show img{width: 100%; height: 100%}
.mask{width: 100%; height: 28px; background: #000; opacity: 0.6; position: absolute; bottom: 0; left: 0; z-index: 2}
.pic_list p{font-size:14px;color: #ffffff; width: 100%; text-align: center; line-height: 28px;position: absolute; bottom: 0; left: 0; z-index: 3;white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.pic_list a:hover p{color:#ff6600}
.con_list{margin-top: 12px}
.con_list li{padding: 0 9px; font-size: 14px;height:32px; line-height: 32px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.con_list i{display: block; width: 3px; height: 3px; background: #c9c9c9; float: left;    margin-right: 5px;  margin-top: 14px; }
.close{position: absolute; top: -27px; right:-1px; z-index: 5}
/*zq*/
#leftFlashDiv{margin-bottom:-20px; width:150px; height:200px; position: fixed; left:0; bottom:0; margin-top: -210px; margin-left:0;overflow:hidden;z-index:150;}
#rightad.Pop-ups p.noAlert{font-size: 14px;color:#f77309;width:164px;margin:13px auto 0;border-top:1px solid #dedede;line-height: 36px;height:36px;text-align: center;}
#rightad.Pop-ups p.noAlert label{cursor:pointer;}
#rightad.Pop-ups p.noAlert .checkL{display: inline-block;display:-moz-inline-stack;position:relative;zoom: 1;*display:inline;vertical-align: middle;width:16px;height:14px;background: url('//n.sinaimg.cn/game/news/2015/images/ch_nostd.png')}
#rightad.Pop-ups p.noAlert .checkL.std{background: url("//n.sinaimg.cn/game/news/2015/images/ch_std.png")}
#popTopNav{width:180px;height:32px;background: #f77309;margin:9px auto 0;overflow:hidden;}
#popTopNav ul{position:relative;top:0;left:0;}
#popTopNav ul li{width:180px;height:32px;line-height: 32px;font-size: 14px;text-align:center;overflow: hidden;white-space: nowrap;}
#popTopNav ul li a:link,#popTopNav ul li a:visited,#popTopNav ul li a:hover,#popTopNav ul li a:active{color:#fff;}
