.searcher{padding-bottom: 0;}
.blk_nav_item{float:left;width:60px;height:60px;padding: 0 20px;}

.rank_txt div{text-align: center;background: url(//n.sinaimg.cn/finance/jjsy/newImages/commom.png) no-repeat 0 -9999em;font-size: 12px;}
.rank_no1 div,.rank_no2 div,.rank_no3 div{color:#fff;width:24px;height:28px;background-position: 0 -341px;margin: 0 auto;line-height: 32px;}
.rank_no div{color:#808080;width:24px;height:28px;margin: 0 auto;line-height: 26px;}
.rank_no2 div{background-position: 0 -379px;}
.rank_no3 div{background-position: 0 -422px;}
.p04_r_c{margin-top: 10px;}
.top_content{margin-top:20px;}
.blk_fund_tj{width: 960px;position: relative; overflow:hidden;}
.f_item_c{display:none;position: absolute;left:0;top:0;width:940px;background: #fff;}
.blk_fund_tabs{border-bottom: 1px solid #d4d4d4;width: 100%;position: relative;background: #f6f6f6;}
.blk_fund_tabs .item_tab{width: 104px;padding:10px 0;font-size: 16px;color: #333;text-align: center;display: inline-block;*display: inline;*zoom:1;position: relative;line-height: 16px;bottom:-1px;}
.blk_fund_tabs .item_tab:hover,.blk_fund_tabs .curr{color:#e64e2e;border-bottom:2px solid #ec472c;}
.f_item_c .tip{position: relative; top: -36px;line-height:36px;color:#808080;font-size: 12px;font-style: italic;}
.blk_fund_contain{padding:0px 0px 0 20px;position: relative;height: 217px;background:#fff;}
.blk_fund_contain .f_item_tit{margin-bottom:16px;color: #333;font-size: 16px;font-weight: normal;margin-top: 20px;}
.f_item_tit .tit_cate{display:inline-block;padding-left: 25px;height: 18px;line-height: 18px;*display: inline;*zoom: 1;position: relative;cursor: pointer;}
.tit_cate i{background: url(//n.sinaimg.cn/finance/2016fund_megagame/img/commom.png) no-repeat -1px -179px;position: absolute;left:0;top:0;width: 25px;height:18px;}
.tit_cate:hover{color:#e64e2e;}
.tit_cate:hover i{background-position:-80px -179px; }
.f_item_tit .tit_tip{padding-left: 10px;color:#a0a0a0;font-size: 12px;}
.tit_tip[href="javascript:;"]:hover{cursor:default;}
.blk_fund_tip{position: absolute;left: -120px;top: 52px;background: #7f7f7f;padding: 0 8px;height: 20px;line-height: 20px;color:#fff;opacity: 0;font-size: 12px;}
.blk_fund_tip i{display: block; width: 0; height: 0; content: ''; font-size: 0; position: absolute; right: -9px; top: 5px; border: 5px dashed transparent; border-left: 5px solid #7f7f7f;}
.f_list .item_li_c{padding:0 20px 10px 20px;border-left:1px solid #e7e7e7;float: left;width:202px;}
.f_list .first{padding:0  20px 0 0;border: 0;}
.item_li_c .item_li_c01,.item_li_c .item_li_c02{position:relative;}
.item_li_c .item_li_c01 .f_name,.item_li_c .item_li_c02 .f_name{color:#333;padding-right: 70px;display:block;width: 132px;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.item_li_c .item_li_c01{padding-bottom: 20px;border-bottom: 1px solid #d7d7d7;margin-bottom: 16px;}
.item_li_c .item_li_c01 .f_buy,.item_li_c .item_li_c02 .f_buy{display: block;height: 20px;width: 54px;text-align: center;display: block;position:absolute;top:0;right: 0;color:#fff;line-height: 20px;background: #e64e2e;font-size: 12px;border-radius: 3px;}
.item_li_c .item_li_c01 .f_buy:hover,.item_li_c .item_li_c02 .f_buy:hover{opacity: 0.8;}
.item_li_c .f_txt{padding-top:12px;color:#808080;height: 18px;font-weight: normal;}
.item_li_c .f_txt .f_up{color:#e64e2e;font-size: 16px;}
.blk_fund_tj:hover .blk_fund_tip{animation:shows 3s backwards; -webkit-animation:shows 3s backwards;}
.item_li_c .f_txt span{font-size: 18px;}
.f_item_list{transition:3s all ease-in;}
.blk_xc_login {margin-bottom: 15px;}
.blk_xc_login .c_b_btn:hover{opacity: .8;filter:alpha(opacity=80);}
@keyframes show
{
	0%   {opacity: 1}
	100% {opacity: 1;}
}

@-moz-keyframes show /* Firefox */
{
	0%   {opacity: 1}
	100% {opacity: 1;}
}

@-webkit-keyframes shows /* Safari 和 Chrome */
{
	0%   {opacity: 1}
	100% {opacity: 1;}
}

@-o-keyframes show /* Opera */
{
	0%   {opacity: 1}
	100% {opacity: 1;}
}
.lg_tit{padding:7px 16px;background:url(//n.sinaimg.cn/finance/jjsy/newImages/dun_bg.png);color:#fff;font-size: 12px;line-height: 16px;}
.lg_tit .tit_txt{padding-left: 29px;font-weight: normal;}
.lg_tit i{float:left;width: 17px;height:22px;background: url(//n.sinaimg.cn/finance/jjsy/newImages/sp/icon_dun.png) no-repeat}
.lg_contain{padding: 18px 12px 0;width: 214px;border: 1px solid #e0e0e0;background:#fff7f6;border-top: 0;height: 192px;}
.lg_contain .btns{margin-top: 4px;}
.lg_contain .btns_l,.lg_contain .btns_r{display:block;width: 113px;height: 28px;line-height: 28px;background-color: #ec472c;font-size: 15px;color:#fff;text-align: center;border-radius: 4px;border:solid 1px #ec472c;margin:0 auto 15px;}
.lg_contain .btns_r{background:#fff;color:#ec472c;}
.lg_contain .btns_l:hover,.lg_contain .btns_r:hover{opacity: .8;}
.login_help a{font-size: 12px;color:#333;}
.login_help{text-align: center;width: 100%;}
.blk_xc_login .c_bottom{margin-top:10px;border-top: 1px dotted #dfdfdf;padding-top: 10px;}
.blk_xc_login .c_b_btn{margin: 8px auto 0;width: 218px;height: 36px;line-height: 36px;text-align: center;color:#fff;background: #d40000;border-radius: 4px;display: block;}
.c_b_tip i{width: 12px;height: 12px;float: left;}
.c_b_tip{text-indent: 10px;color:#808080;font-size: 12px;}
.icon_phone,.icon_time{background: url(//n.sinaimg.cn/finance/2016fund_megagame/img/commom.png) no-repeat;margin-top: 6px;}
.icon_phone{background-position:-1px -406px;}
.icon_time{background-position: -1px -424px;}
.lg_u_info{font-size: 16px;}
.lg_u_info p{padding-top: 14px;}
.lg_u_info .fc_down{color:#36893e;}
.lg_u_info .fc_up{color:#e64e2e;}
.lg_u_info .fc_{color:#aaa;}
.f_item_list{display: none;}
.f_item_list ul{width:1000px}
.blk_fund_contain .curr{display: block;}
#xcf_rank02{position:relative;}
#p04_r_c01_data .icon_cart_buy,#xcf_rank02 .icon_cart_buy,#p04_r_c02_data .icon_cart_buy{margin:0 auto; line-height:18px;display:block;background: #e64e2e;color: #fff!important;text-align: center;width:44px;height: 18px;border-radius: 2px;font-size: 12px;}
.icon_cart_buy:hover{opacity: .8;}
.p03_r_c{position: absolute;left:0;top:103px;width:635px;height: 498px;background: #fff;}
#p03_r_c03 .p03_r_c_c{padding-top: 10px;}
.item_li_c .f_name:hover{color:#c60000;}
#ads_20160218 .slider_item a{display: block;overflow: hidden;width: 378px;}
.tit_cate a[href="javascript:;"]:hover{cursor:default;color:#000;}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}


/*2016基金大赛*/
.m-fund-megagame-part1{padding-top: 10px;background: #fff;}
.m-fund-megagame-blk1{float: left; width: 354px;}
.m-fund-megagame-blk2{float: right; border:1px solid #d2d2d2; padding:8px 20px; width: 308px; height: 118px;background:#f7f7f7;}

.m-fund-megagame-box1{width: 100px;float: left;}
.u-fund-megagame-btn1,.u-fund-megagame-btn2{display: block; margin-bottom: 15px; width: 100px; height: 36px; line-height: 36px; text-align: center; border-radius: 4px; font-size: 12px; color:#fff;}
.u-fund-megagame-btn1{background: #e20000;}
.u-fund-megagame-btn2{background: #ed6500;}
.u-fund-megagame-btn1:hover,.u-fund-megagame-btn2:hover{color:#fff; opacity: 0.7;}
.u-fund-megagame-btn3{display: block; padding-left:36px; width: 64px; height:30px; line-height: 30px; background: url(//n.sinaimg.cn/finance/2016fund_megagame/images/sina_fund_ico4.png) no-repeat 4px center; color: #333; font-size: 14px;}

.m-fund-megagame-box2{width: 226px;float: right;}
.m-fund-megagame-box2 li{display: block;}
.m-fund-megagame-title1{ font-weight: normal;}
.u-fund-megagame-title1{font-size: 16px; color: #333;}
.u-fund-megagame-btn4{float: right; display: block; width: 50px; height: 25px; line-height: 25px; text-align:center; background: #e20000; color: #fff; font-size: 14px; border-radius: 2px; margin-right:10px; margin-top:10px;}
.u-fund-megagame-btn4:hover{color:#fff; opacity: 0.7;}
.u-fund-megagame-des1{font-size: 14px; color: #666;}
.u-fund-megagame-des1 .u-up{color:#e20000;}
.u-fund-megagame-des1 .u-green{color:green;}

.u-fund-megagame-title2{margin-bottom: 10px; font-size: 16px; color: #333; font-weight: normal; text-align: center;}
.u-fund-megagame-title2 a{overflow: hidden; white-space:nowrap; text-overflow: ellipsis; width: 308px; display: block;}
.u-fund-megagame-des2{max-height: 42px; margin-bottom: 10px; font-size: 14px; color: #666; text-align: justify; overflow: hidden;}
.u-fund-megagame-des2 a{color: #e20000; text-align: justify;}
.u-fund-megagame-des2 a:hover{text-decoration: underline;}
.m-fund-megagame-box3{margin:0 auto; width: 90px;}
.u-fund-megagame-btn5,.u-fund-megagame-btn6{display: block; border:1px solid #e9652c; width: 90px; height: 28px; line-height: 28px; text-align:center; background: #e9652c; color: #fff; font-size: 14px; border-radius: 100px;}
/*.u-fund-megagame-btn5{float: left;}*/
/*.u-fund-megagame-btn6{float: right;}*/
.u-fund-megagame-btn5:hover,.u-fund-megagame-btn6:hover{border-color:#d2d2d2; background: #fff; color: #666;}

.u-fund-megagame-loading{display: block; margin: 30px auto; text-align: center; }

#p03_r_c02 .p03_r_c_c{padding-top: 10px;}
/*#xcf_rank02  #p03_r_c03 .icon_cart_buy,#p04_r_c02_data .icon_cart_buy{width: auto;}*/