
/*************评论处样式覆盖xuejie start*************/
.sina-comment-wrap .head {
    border: none;
    background: none;
    height: auto;
    float: left;
    width: 46px;
    margin-left: -76px;
  }
  .sina-comment-form{
      border-top: 3px solid #ff6600;
    }
    .sina-comment-form .wrap-title{
      color: #ff6600;
      background-image: url(//n.sinaimg.cn/games/sina.gdc/sprite-comment.png);
      background-repeat: no-repeat;
      background-position: 0 -296px;
    }
    .sina-comment-form .count em {
      color: #ff6600!important;
    }
    .sina-comment-list .title .name {
      color: #ff6600;
      border-bottom: 2px solid #ff6600;
    }
    .sina-comment-list .name a {
      color: #ff6600;
    }
    .sina-comment-list .txt a {
      color: #ff6600;
    }
    .sina-comment-wrap .more em {
      color: #ff6600;
    }
    .sina-comment-list a:hover, .sina-comment-list a:active {
      color: #ff6600;
    }
    .sina-comment-wrap a:hover, .sina-comment-wrap a:active {
      color: #ff6600;
    }
    .sina-comment-form .comment {
      background: #ff6600;
    }
  
    
    /*************评论处样式覆盖xuejie end*************/
    
  