/* function */
.inlineBlock {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.disableSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
}
/* variable */
/* common */
@font-face {
  font-family: 'WhnFont';
  src: url('/images/product/font/whnfont.eot');
  src: url('/images/product/font/whnfont.eot?#iefix') format('embedded-opentype'), url('/images/product/font/whnfont.woff2') format('woff2'), url('/images/product/font/whnfont.woff') format('woff'), url('/images/product/font/whnfont.ttf') format('truetype'), url('/images/product/font/whnfont.svg#WhnFont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* animation */
@-webkit-keyframes mpulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes mpulse {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.9);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes mpulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes shake {
  0% {
    -moz-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -moz-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -moz-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -moz-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -moz-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -moz-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -moz-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -moz-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -moz-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -moz-transform: translate(1px, -2px) rotate(-1deg);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* main style */
.main-wrap {
  width: 100%;
}
.product-wrap {
  width: 100%;
  background-color: #f35a5a;
  color: #fff;
}
.product {
  width: 1260px;
  margin: 60px auto;
}
.product-imgs {
  float: left;
  width: 512px;
  height: 384px;
  overflow: hidden;
  position: relative;
}
#slide {
  width: 100%;
  position: relative;
}
#slide img {
  width: 512px;
  height: 384px;
  display: block;
}
.slide-item {
  float: left;
}
.slide-btn {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
}
#btnPrev,
#btnNext {
  font-family: 'WhnFont';
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.3px;
  font-size: 30px;
  float: left;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  width: 45px;
  height: 80px;
  background-color: #bebcbb;
  line-height: 80px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.23);
  background-color: #000000 \9;
  filter: alpha(opacity=23);
  _background-color: #bebcbb;
}
#btnNext {
  float: right;
  margin-right: 10px;
}
.product-r {
  overflow: hidden;
  padding-left: 40px;
  height: 380px;
  position: relative;
}
.product-log {
  width: 100px;
  height: 100px;
  float: left;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.product-log img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.product-summary {
  overflow: hidden;
  padding-left: 25px;
  font-size: 0px;
  font-size: 0rem;
}
.product-name {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  color: #fff;
  font-size: 30px;
  font-size: 3rem;
  line-height: 40px;
}
.product-name:hover {
  color: #fff;
}
.product-developer {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 12px;
  font-size: 1.2rem;
  width: 100%;
  padding: 6px 0 8px;
}
.product-times,
.product-like {
  font-size: 14px;
  font-size: 1.4rem;
  margin-right: 20px;
}
.product-times i,
.product-like i {
  font-family: 'WhnFont';
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.3px;
  font-size: 20px;
  font-style: normal;
  padding-right: 10px;
}
.product-like {
  margin-right: 0;
}
.product-intro {
  margin-top: 35px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 32px;
}
.product-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 145px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
  color: #f35a5a;
  font-size: 20px;
  font-size: 2rem;
  bottom: 0;
  left: 40px;
  position: absolute;
}
.price-wrap {
  position: absolute;
  bottom: 0;
  left: 240px;
  height: 45px;
}
.product-price {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 20px;
  font-size: 2rem;
  line-height: 45px;
  vertical-align: top;
}
.product-price i {
  font-size: 30px;
  font-size: 3rem;
  font-style: normal;
}
.old-price {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 45px;
  margin-right: 20px;
  height: 22px;
  border-bottom: 2px solid #fff;
  padding: 0 3px;
}
.old-price i {
  font-size: 18px;
  font-size: 1.8rem;
  font-style: normal;
}
.p-list {
  width: 1260px;
  margin: 0 auto 40px;
}
.no-res {
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
  color: #999;
  padding-top: 40px;
}
.p-item-small,
.p-item-middle,
.p-item-big {
  float: left;
}
.p-item-small span,
.p-item-middle span,
.p-item-big span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  color: #333333;
}
.circle-wrap {
  width: 100%;
  height: 190px;
  line-height: 210px;
  text-align: center;
}
.p-circle {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #f35a5a;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
}
.p-circle img {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.p-circle:hover {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: shake;
  -moz-animation-duration: 0.8s;
  -moz-transform-origin: 50% 50%;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: shake;
  -ms-animation-duration: 0.8s;
  -ms-transform-origin: 50% 50%;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: shake;
  animation-duration: 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.p-circle:hover img {
  display: block;
}
.cover {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block\9;
}
.cover:first-of-type {
  display: none;
}
.circle-wrap .shake {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: shake;
  -moz-animation-duration: 0.8s;
  -moz-transform-origin: 50% 50%;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: shake;
  -ms-animation-duration: 0.8s;
  -ms-transform-origin: 50% 50%;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: shake;
  animation-duration: 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circle-wrap .shake img {
  display: block;
}
.mpulse {
  -webkit-animation-name: mpulse;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: mpulse;
  -moz-animation-duration: 0.8s;
  -moz-transform-origin: 50% 50%;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: mpulse;
  -ms-animation-duration: 0.8s;
  -ms-transform-origin: 50% 50%;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: mpulse;
  animation-duration: 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.p5 {
  width: 20%;
  height: 210px;
}
.p4 {
  width: 25%;
  height: 210px;
}
.p-item-small a {
  width: 100px;
  height: 100px;
}
.p-item-small .cover {
  background: url('/images/product/circle-100.png') \9;
}
.p-item-middle a {
  width: 120px;
  height: 120px;
}
.p-item-middle .cover {
  background: url('/images/product/circle-120.png') \9;
}
.p-item-big a {
  width: 150px;
  height: 150px;
}
.p-item-big .cover {
  background: url('/images/product/circle-150.png') \9;
}
.pagebox-wrap {
  width: 1260px;
  margin: 0 auto;
  text-align: right;
}
/* 1260px */
@media only screen and (max-width: 1260px) {
  .product {
    width: 100%;
  }
  .product-imgs {
    margin-left: 10px;
  }
  .product-r {
    margin-right: 10px;
  }
  .p-list {
    width: 100%;
  }
  .pagebox-wrap {
    width: 100%;
  }
  .pagebox {
    margin-right: 10px;
  }
}
/* 1010px */
@media only screen and (max-width: 1010px) {
  .product {
    margin: 40px 0;
  }
  .product-imgs {
    width: 400px;
    height: 300px;
  }
  #slide img {
    width: 400px;
    height: 300px;
  }
  .product-r {
    padding-left: 20px;
    height: 300px;
  }
  .product-log {
    width: 80px;
    height: 80px;
  }
  .product-summary {
    padding-left: 15px;
    line-height: 18px;
  }
  .product-name {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 28px;
  }
  .product-developer {
    padding: 2px 0 6px;
  }
  .product-intro {
    margin-top: 20px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 28px;
  }
  .product-btn {
    left: 20px;
    width: 120px;
    height: 37px;
    line-height: 37px;
    font-size: 16px;
    font-size: 1.6rem;
  }
  .price-wrap {
    left: 170px;
    height: 37px;
  }
  .product-price {
    line-height: 37px;
    height: 37px;
    font-size: 18px;
    font-size: 1.8rem;
  }
  .product-price i {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .old-price {
    line-height: 37px;
    height: 19px;
  }
  .slide-btn {
    margin-top: -30px;
  }
  #btnPrev,
  #btnNext {
    width: 40px;
    height: 60px;
    line-height: 60px;
  }
  .pagebox-wrap {
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
  }
}
/* 840px */
@media only screen and (max-width: 840px) {
  .product-imgs {
    width: 350px;
    height: 262px;
  }
  #slide img {
    width: 350px;
    height: 262px;
  }
  .product-r {
    height: 262px;
  }
  .product-log {
    width: 70px;
    height: 70px;
  }
  .product-summary {
    padding-left: 10px;
    line-height: 16px;
  }
  .product-name {
    font-size: 22px;
    font-size: 2.2rem;
  }
  .product-developer {
    padding: 0px 0 3px;
  }
  .product-times,
  .product-like {
    font-size: 12px;
    font-size: 1.2rem;
    margin-right: 10px;
  }
  .product-times i,
  .product-like i {
    font-family: 'WhnFont';
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.3px;
    font-size: 16px;
    padding-right: 5px;
  }
  .product-intro {
    line-height: 23px;
  }
  .product-btn {
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-size: 1.4rem;
  }
  .price-wrap {
    left: 140px;
    height: 30px;
  }
  .old-price {
    vertical-align: top;
    margin-right: 10px;
  }
  .product-price {
    line-height: 30px;
    height: 30px;
    vertical-align: bottom;
    font-size: 15px;
    font-size: 1.5rem;
  }
  .product-price i {
    font-size: 22px;
    font-size: 2.2rem;
  }
  .p-item-small a {
    width: 80px;
    height: 80px;
  }
  .p-item-middle a {
    width: 100px;
    height: 100px;
  }
  .p-item-big a {
    width: 120px;
    height: 120px;
  }
  .p5,
  .p4 {
    height: 180px;
  }
  .circle-wrap {
    height: 160px;
    line-height: 180px;
  }
  .pagebox-wrap {
    height: 35px;
    line-height: 35px;
  }
}
/* 700px */
@media only screen and (max-width: 700px) {
  .product-r {
    padding-left: 15px;
  }
  .product-log {
    width: 60px;
    height: 60px;
  }
  .product-name {
    font-size: 20px;
    font-size: 2rem;
    line-height: 20px;
  }
  .product-times {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100%;
    margin-right: 0;
  }
  .product-intro {
    margin-top: 3px;
    line-height: 19px;
    font-size: 13px;
    font-size: 1.3rem;
  }
  .product-btn {
    width: 90px;
    left: 15px;
  }
  .price-wrap {
    left: 120px;
  }
  .old-price {
    font-size: 12px;
    font-size: 1.2rem;
    margin-right: 8px;
  }
  .old-price i {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .product-price {
    font-size: 13px;
    font-size: 1.3rem;
  }
  .product-price i {
    font-size: 18px;
    font-size: 1.8rem;
  }
  .p-item-small a {
    width: 60px;
    height: 60px;
  }
  .p-item-middle a {
    width: 80px;
    height: 80px;
  }
  .p-item-big a {
    width: 100px;
    height: 100px;
  }
  .p5,
  .p4 {
    height: 160px;
  }
  .circle-wrap {
    height: 140px;
    line-height: 160px;
  }
  .p-list {
    margin-bottom: 25px;
  }
}
/* 640px */
@media only screen and (max-width: 640px) {
  .product {
    margin: 20px 0 10px;
  }
  .product-imgs {
    margin: 0 auto;
    width: 512px;
    height: 384px;
    float: none;
  }
  #slide img {
    width: 512px;
    height: 384px;
  }
  .product-r {
    width: 512px;
    height: auto;
    margin: 10px auto;
    padding-left: 0;
  }
  .product-log {
    width: 80px;
    height: 80px;
  }
  .product-summary {
    padding-left: 15px;
    line-height: 18px;
  }
  .product-name {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 28px;
  }
  .product-developer {
    padding: 2px 0 6px;
  }
  .product-times {
    display: inline;
    margin-right: 10px;
  }
  .product-intro {
    margin-top: 12px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
  }
  .product-btn {
    position: static;
    margin-top: 10px;
    width: 120px;
    height: 37px;
    line-height: 37px;
    font-size: 14px;
    font-size: 1.4rem;
  }
  .price-wrap {
    left: 150px;
    height: 37px;
  }
  .product-price {
    line-height: 37px;
    height: 37px;
    vertical-align: top;
    font-size: 16px;
    font-size: 1.6rem;
  }
  .product-price i {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .slide-btn {
    margin-top: -40px;
  }
  #btnPrev,
  #btnNext {
    width: 45px;
    height: 80px;
    line-height: 80px;
  }
}
/* 512px */
@media only screen and (max-width: 512px) {
  .product-imgs {
    width: 460px;
    height: 345px;
  }
  #slide img {
    width: 460px;
    height: 345px;
  }
  .product-r {
    width: 460px;
  }
  .p-item-small a {
    width: 40px;
    height: 40px;
  }
  .p-item-middle a {
    width: 60px;
    height: 60px;
  }
  .p-item-big a {
    width: 80px;
    height: 80px;
  }
  .p5,
  .p4 {
    height: 140px;
  }
  .circle-wrap {
    height: 120px;
    line-height: 140px;
  }
}
/* 460px */
@media only screen and (max-width: 460px) {
  .product-imgs {
    width: 310px;
    height: 232px;
  }
  #slide img {
    width: 310px;
    height: 232px;
  }
  .product-r {
    width: 310px;
  }
  .product-log {
    width: 60px;
    height: 60px;
  }
  .product-summary {
    padding-left: 12px;
    line-height: 16px;
  }
  .product-name {
    font-size: 20px;
    font-size: 2rem;
    line-height: 22px;
  }
  .product-developer {
    padding: 0 0 3px;
  }
  .product-intro {
    margin-top: 10px;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 20px;
  }
  .product-btn {
    margin-top: 15px;
    width: 100px;
    height: 31px;
    line-height: 31px;
    font-size: 14px;
    font-size: 1.4rem;
  }
  .price-wrap {
    left: 120px;
    height: 31px;
  }
  .product-price {
    line-height: 31px;
    height: 31px;
    vertical-align: bottom;
    font-size: 14px;
    font-size: 1.4rem;
  }
  .product-price i {
    font-size: 20px;
    font-size: 2rem;
  }
  .slide-btn {
    margin-top: -30px;
  }
  #btnPrev,
  #btnNext {
    width: 37px;
    height: 60px;
    line-height: 60px;
  }
  .p-item-small a {
    width: 60px;
    height: 60px;
  }
  .p-item-middle a {
    width: 80px;
    height: 80px;
  }
  .p-item-big a {
    width: 100px;
    height: 100px;
  }
  .p-item-small span,
  .p-item-middle span,
  .p-item-big span {
    font-size: 12px;
    font-size: 1.2rem;
  }
  .p3 {
    width: 33.33%;
  }
  .p2 {
    width: 50%;
  }
  .p2,
  .p3 {
    height: 140px;
  }
  .circle-wrap {
    height: 120px;
    line-height: 120px;
  }
  .pagebox-wrap {
    padding-bottom: 0px;
  }
  .pagebox span,
  .pagebox a {
    margin-left: 3px;
    font-size: 10px;
    font-size: 1rem;
    padding: 0 7px;
    height: 20px;
    line-height: 20px;
  }
}
