.s0 {background-color:#F2F6FB; width:210px;font-size:12px;border:1px #ccc solid;}
.s0 a{color:#1F3A87;}
.s0 a:link{color:#1F3A87; text-decoration:none;}
.s0 a:visited{color:#1F3A87; text-decoration:none;}
.s0 a:hover{color:#1F3A87; text-decoration:underline;}

.s1 {margin:0px; padding:5px 0 0 5px;}
.s1 ul{list-style:none; margin:0px;padding: 0px;BORDER:0px;}
.s1 li{float:left; margin:0 2px 0 2px; line-height:25px} 

.s2 {clear:both;margin:0px; padding:0px;clear:both; text-align:center;}

.s3 {width:150px; padding:5px 0 0 5px; margin-left:30px;}
.s3 ul{list-style:none;margin: 0px;padding: 0px;border:0px;}
.s3 li{float:left;width:70px; line-height:20px} 

.s4 {clear:both;padding:5px 5px 5px 0; text-align:right}
.s5 {text-align:left; padding-left:10px; font-size:9px; font-family:Verdana, Arial; color:#666666; line-height:25px;}
.s6 {text-align:center;}

.s7 {margin:0px; padding:5px 0 0 8px;}
.s7 ul{list-style:none; margin:0px;padding: 0px;border:0px;}
.s7 li{float:left; margin:0 1px 0 1px; line-height:25px}