article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}
blockquote,q {
	quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}
body {
	font: 16px/1 STHeiti,"Microsoft Yahei",Helvetica,Verdana,sans-serif;
	color: #000;
	background: #fff
}

a {
	outline: 0;
	text-decoration: none;
	color: #333
}

html,body,#container,#content {
}

#container {
	position: relative;
}

#header {
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 1
}

#header {
	border-top:3px solid #ff8400;background:#f9f9f9;top:0;width:100%;z-index:3;
}
#header .in{width:1000px;margin:0 auto;height:77px;}
	.logo{float:left;}
	.menu-list{padding-top:42px;float:right;overflow:hidden;}
	.menu-list li{float:left;background:url(../img/bg_menu.png) no-repeat;width:68px;height:18px;margin:0 17px;text-indent:-999em;}
	.menu-list li a{display:block;}
	.menu-list li.item1{background-position:0 0;width:34px;}.menu-list li.item1:hover,.menu-list li.item1.cur{background-position:0 -33px;}
	.menu-list li.item2{background-position:-68px 0;}		.menu-list li.item2:hover,.menu-list li.item2.cur{background-position:-68px -33px;}
	.menu-list li.item3{background-position:-170px 0;}		.menu-list li.item3:hover,.menu-list li.item3.cur{background-position:-170px -33px;}
	.menu-list li.item4{background-position:-272px 0;}		.menu-list li.item4:hover,.menu-list li.item4.cur{background-position:-272px -33px;}
	.menu-list li.item5{background-position:-374px 0;}		.menu-list li.item5:hover,.menu-list li.item5.cur{background-position:-374px -33px;}
	.menu-list li.item6{background-position:-476px 0;}		.menu-list li.item6:hover,.menu-list li.item6.cur{background-position:-476px -33px;}

.subfoot{background:#000;color:#a3a3a3;font-family:'microsoft yahei';}
	.subfoot .in{width:1000px;margin:0 auto;overflow:hidden;padding:80px 0 100px;}
	.subfoot .col{float:left;width:180px;font-size:14px;line-height:22px;}
	.subfoot .col2{width:260px;}
	.subfoot h5{font-size:16px;color:#fff;line-height:30px;padding-bottom:16px;}
	.subfoot h5 a{color:#fff;}
	.subfoot a{color:#a3a3a3;}
	a.weibo i{background:url(../img/ico_weibo.png) no-repeat 0 3px;display:inline-block;width:25px;height:23px;}
.subfoot2{background:#131313;color:#919191;font-size:12px;text-align:center;padding:25px 0 80px;}
#goTop{display:none;cursor:pointer;right:0;bottom:100px;}

@media screen and (max-height:580px) {
	html,body {
		overflow-y: auto
	}
}

@media screen and (max-width:640px) {
	html,body {
		overflow-x: auto
	}
}
