* {
	padding: 0;
	margin: 0
}

body {
	padding: 0;
	margin: 0;
	font-size: 12px;
}
.fl {
	float: left
}

.fc {
	text-align: center
}

.fr {
	float: right
}
ul,li,img,form,span,td,tr,table,p,div {
	border: none;
	margin: 0;
	padding: 0
}
#lyb {
	width: 578px;
	background-color: #fff;
	padding: 0 0 20px 0;
	overflow: hidden
}
.black18l1 {
	font-family: 黑体;
	font-size: 18px;
	color: #000;
	letter-spacing: 1px
}
.lh26 {
	line-height: 26px
}
.lh30 {
	line-height: 30px
}
.blank10 {
	height: 10px;
	clear: both;
	overflow: hidden
}
.grey12a {
	color: #666
}
.grey12e {
	color: #444
}

A:link {
	text-decoration: none
}

A:visited {
	text-decoration: none
}

A:active {
	text-decoration: none
}

A:hover {
	text-decoration: underline
}
.clear {
	clear: both;
}
.redb24 {
	font-size: 24px;
	font-weight: bold;
	color: #b81506
}
.red12 {
	color: #b81506;
	font-weight: normal;
	font-size: 12px;
}
.lybblock1 {
	width: 576px;
	border: 1px #dcdddd solid;
	background-color: #fff;
	padding: 0 0 20px 0;
	overflow: hidden
}

.lybbj1 {
	width: 556px;
	height: 34px;
	background-color: #f3f3f3;
	padding: 0 19px 0 11px;
	overflow: hidden
}

.lybtw1 {
	width: 535px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	overflow: hidden
}

.lybpic1 {
	width: 39px;
	overflow: hidden
}

.lybimg1 {
	width: 35px;
	height: 35px;
	border: 1px #dddddd solid;
	padding: 1px;
	margin: 0 0 4px 0
}

.lybtx1 {
	width: 480px;
	margin: -4px 0 0 0;
	overflow: hidden
}

.lybstyle1 {
	width: 578px;
	height: 146px; *
	height: 147px !important;
	overflow: hidden
}

.lybstyle2 {
	width: 576px;
	height: 144px;
	border: 1px #dcdddd solid;
	font-size: 12px;
	overflow: hidden
}

.lybstyle3 {
	width: 125px;
	height: 26px;
	border: 0px;
	margin: 0 0 0 5px;
	font-size: 12px;
	overflow: hidden
}

.lybstyle4 {
	padding: 11px 10px 0 20px; *
	padding: 7px 7px 0 16px !important
}

.lybstyle5 {
	padding: 11px 0 0 11px; *
	padding: 7px 0 0 7px !important
}

.lybblock2 {
	width: 161px;
	height: 26px;
	
	border: 1px #dcdddd solid;
	
	background-color: #fff;
	/*
	padding: 0 0 0 9px;
	*/
	
	margin: 3px 0 0 0;
	overflow: hidden
	
}

.lybblock3 {
	width: 161px;
	height: 26px;
	border-top: 1px #dcdddd solid;
	border-bottom: 1px #dcdddd solid;
	border-right: 1px #dcdddd solid;
	background-color: #fff;
	/*padding: 0 0 0 9px;*/
	margin: 3px 0 0 0;
	overflow: hidden
}

.lybpages {
	width: 535px;
	margin: 0 auto;
	padding: 20px 0 5px 0;
	text-align: right
}

.blank12 {
	height: 12px;
	clear: both;
	overflow: hidden
}
.liuyan {
        position: relative;
        margin-left:380px
}
/*自定义*/
.commentBox {
	padding: 3px;
	background: #f3f3f3;
	border: 1px solid #999;
	margin-bottom: 12px;
	word-wrap: break-word;
	zoom: 1;
	position: relative;
	z-index: 1;
}
.commentInfo {
	line-height: 18px;
	height: 20px;
	overflow: hidden;
	position: relative;
	font-size: 12px;
	margin: 0 3px;
}
.commentBox .author {
	color: #1e50a2;
	padding-top: 2px;
}

.replies .commentBox .content {
	margin: 9px 3px 0;
}

.tieOperations {
	clear: both;
	zoom: 1;
	margin: 0 3px 2px;
	line-height: 20px;
	font-size: 12px;
}
.operations {
	color: #1e50a2;
	float: right;
	height: 16px;
	line-height: 16px;
	zoom: 1;
}
ul, ol {
	list-style-type: none;
}
.c-dialog {
	position: absolute;
	z-index: 999;
	height: 20px;
	background-color: #fff;
	border: 3px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	left: 10px;
	top: 5px;
}

.c-dialog p.title {
	color: #DC143C;
	font-size: 12px;
	line-height: 20px;
}

.c-dialog {
	line-height: 18px;
	border: 1px solid #ddd;
}

.c-dialog .cmt-act{
	margin-top:5px;
}

.center{
	text-align: center;
	margin-top: 20px;
}

.tie-author-logon {
	position: relative;
	zoom: 1;
	line-height: 40px;
	height:40px;
	color: #1e50a2;
	float: left;
}

div.visitor-login-wrapper-dw {
					border: 1px solid hsl(203, 15%, 83%);
					background-color: white;
				}
				.visitor-login-wrapper-dw .cont-title-dw span.title-close-dw {
					float: right;
					width: 18px;
					height: 18px;
					overflow: hidden;
					margin: 0 12px 0 0;
				}
				.visitor-login-wrapper-dw .cont-title-dw {
					height: 30px;
					line-height: 18px;
					padding: 14px 0 0;
					background-color: hsl(0, 0%, 98%);
					border-bottom: 1px solid hsl(203, 15%, 83%);
				}
				.visitor-login-wrapper-dw .cont-title-dw strong.title-name-dw {
					font-size: 14px;
					font-weight: 700;
					display: inline-block;
					padding: 0 0 0 20px;
					color: hsl(0, 0%, 20%);
				}
				.visitor-login-wrapper-dw .cont-form-dw .form-action-dw .action-text-dfw {
					width: 260px;
					height: 28px;
					line-height: 31px;
					padding: 0 0 0 8px;
					font-size: 14px;
					float: left;
					vertical-align: -4px;
					border: 1px solid hsl(203, 15%, 83%);
					color: hsl(0, 0%, 20%);
				}
				.visitor-login-wrapper-dw .cont-form-dw span.form-name-dw {
					float: left;
					line-height: 16px;
					padding: 9px 12px 0 0;
					width: 56px;
					text-align: right;
					font-size: 14px;
					color: hsl(0, 0%, 20%);
				}
				.visitor-login-wrapper-dw .cont-verify-dw span.verify-name-dw {
					float: left;
					font-size: 14px;
					line-height: 16px;
					padding: 9px 12px 0 0;
					text-align: right;
					width: 56px;
					color: hsl(0, 0%, 20%);
				}
				.visitor-login-wrapper-dw .cont-form-dw {
					padding: 30px 0 0;
					height: 33px;
					overflow: hidden;
					}
				.windows-define-dg .clear-g {
					zoom: 1;
				}
				
				.visitor-login-wrapper-dw .cont-title-dw span.title-close-dw a{
					background-image: url(http://lyb.eastday.com/images/close.jpg);
					background-repeat: no-repeat;
				}
				.visitor-login-wrapper-dw .cont-verify-dw {
					height: 33px;
					overflow: hidden;
					padding: 10px 0 0;
				}
				.visitor-login-wrapper-dw .cont-verify-dw .verify-action-dw .action-text-dfw {
					float: left;
					font-size: 14px;
					height: 28px;
					line-height: 31px;
					padding: 0 0 0 8px;
					width: 100px;
					border: 1px solid hsl(203, 15%, 83%);
					color: hsl(0, 0%, 20%);
				}
				.visitor-login-wrapper-dw .cont-verify-dw .verify-action-dw .action-img-dw img {
					display: block;
				}
				.visitor-login-wrapper-dw .cont-verify-dw .verify-action-dw .action-img-dw {
					float: left;
					padding: 4px 0 0 10px;
					width: 100px;
				}
				.visitor-login-wrapper-dw .cont-verify-dw .verify-action-dw .action-link-dw {
					float: left;
					line-height: 16px;
					font-size: 12px;
					padding: 9px 0 0 14px;
				}
				.visitor-login-wrapper-dw .cont-btn-dw a .btn-bdf {
					background-image: url(http://lyb.eastday.com/images/guestbutton.gif);
				}
				.visitor-login-wrapper-dw .cont-btn-dw .btn-dfw {
					width: 78px;
					height: 33px;
					padding: 0;
					cursor: pointer;
					border: 0;
				}
				.visitor-login-wrapper-dw .cont-btn-dw {
					height: 33px;
					overflow: hidden;
					padding: 0 0 0 68px;
				}
				.windows-define-dg button, .windows-define-dg input, .windows-define-dg select, .windows-define-dg textarea {
					background-attachment: scroll;
				}
				.visitor-login-wrapper-dw .cont-prompt-dw {
					height: 16px;
					line-height: 16px;
					overflow: hidden;
					padding: 0 0 0 68px!important;
					margin: 5px 0 4px;
					color: hsl(13, 85%, 55%);
				}
				visitor-login-wrapper-dw .cont-title-dw span.title-close-dw a {
					width: 100%;
					height: 100%;
					display: block;
					background-position: -100px -50px;
				}
				.sohucs-ui-icon .sohucs-ui-icon-closethick .visitor-login-wrapper-dw .cont-title-dw span.title-close-dw a, .visitor-login-wrapper-dw .cont-title-dw span.title-close-dw a:hover{
					background-image: url(http://changyan.itc.cn/v2/asset/scs/imgs/p-merage-20140113.png);
					background-repeat: no-repeat;
				}
