/* 全局 */
* {padding:0;margin:0}
body{padding:0;margin:0;text-align:left;font-size:12px;background-image:url('bodybg.gif')}
ul,li,img,form,span,td,tr,table,p,div{border:none;margin:0;padding:0}

.fl{float:left}
.fc{text-align:center}
.fr{float:right}

ul li{list-style:none}
.clearfix:after{ content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-table}
/* Hides from IE-mac \*/
 * html .clearfix {height:1%} .clearfix {display:block} 
/* End hide from IE-mac */ 
/* Hides from IE7 \*/
 *+html .clearfix{height:1%} .clearfix {display:block} 
/* End hide from IE7 */ 

A:link {text-decoration:none}
A:visited {text-decoration:none}
A:active {text-decoration:none}
A:hover {text-decoration:underline}

.lh22{line-height:22px}
.lh24{line-height:24px}
.lh26{line-height:26px}
.lh28{line-height:28px}
.lh30{line-height:30px}
.lh32{line-height:32px}

.clear{height:0px;clear:both;overflow:hidden}
.black1h{height:1px;background-color:#e2e2e2;clear:both;overflow:hidden}
.black1d{height:1px;background-image:url('bj5.gif');clear:both;overflow:hidden}
.black2d{height:2px;background-image:url('bj6.gif');clear:both;overflow:hidden}
.blank8{height:8px;clear:both;overflow:hidden}
.blank10{height:10px;clear:both;overflow:hidden}
.blank12{height:12px;clear:both;overflow:hidden}
.blank20{height:20px;clear:both;overflow:hidden}
.blank30{height:30px;clear:both;overflow:hidden}
.blank40{height:40px;clear:both;overflow:hidden}

.newslist1{width:400px;float:left;text-align:left;margin:0 0 0 0;padding:0 0 0 18px}
.newslist1 li{width:390px;float:left;overflow:hidden;display:block;line-height:30px;height:30px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t1.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.ysydlist li{width:570px;float:left;overflow:hidden;display:block;line-height:30px;height:30px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t1.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}

.newslist2{text-align:left;margin:0 0 0 0;padding:5px 0 0 7px}
.newslist2 li{overflow:hidden;display:block;line-height:30px;height:30px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t1.gif') no-repeat 0px center}
.newslist3{width:360px;float:left;text-align:left;margin:0 0 0 0;padding:0 0 0 18px}
.newslist3 li{width:350px;float:left;overflow:hidden;display:block;line-height:30px;height:30px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t1.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist4{width:600px;float:left;text-align:left;margin:0 0 0 0;padding:0 8px 0 0}
.newslist4 li{width:275px;float:left;overflow:hidden;display:inline-block;line-height:30px;height:30px;padding:0 8px 0 8px;margin:0 0 0 0;background:url('t1.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist5{width:297px;float:left;text-align:left;margin:0 0 0 0;padding:10px 0 0 3px}
.newslist5 li{width:297px;float:left;overflow:hidden;display:block;line-height:26px;height:26px;padding:0 0 0 0;margin:0 0 0 0}
.newslist5 li img{width:13px;height:10px;float:left;padding:7px 8px 0 0}

.black12{color:#000}
.grey12{color:#333}
.grey12a{color:#666}
.grey12b{color:#999}
.grey12c{color:#363636}
.red12{color:#b81506; font-weight:normal; font-size:12px;}
.red12pix{color:#b81506; font-weight:normal; font-size:12px;}
.grey14{font-size:14px;color:#333}
.ta{font-size:14px;color:#0000ff}
.greyb14{font-size:14px;font-weight:bold;color:#666}
.blueb16{font-size:16px;font-weight:bold;color:#215199}
.greyb16{font-size:16px;font-weight:bold;color:#666}
.black18l1{font-family:黑体;font-size:18px;color:#000;letter-spacing:1px}
.black22{font-family:黑体;font-size:22px;color:#000}

#header{width:100%;height:40px;background-image:url('topbj1.gif');poision:absolute;z-index:999;}
.top{width:905px;padding:0 40px 0 15px;margin:12px auto 0px auto;overflow:hidden}
.top2{width:905px;padding-right:40px;padding-left:15px;margin:0px auto;overflow:hidden;}
.login{width:960px;padding:3px 0 0 0;margin:0 auto;position:relative;z-index:100;}
.login1{width:245px;height:194px;left:582px;border:1px #b81506 solid;background-color:#fff;padding:11px 20px 0 30px;position:absolute;overflow:hidden;z-index:100;}
.zindex1 *{z-index:1;}
* html .login1{position:absolute;left:expression(eval(document.documentElement.scrollLeft+582));top:expression(eval(document.documentElement.scrollTop))} 
.style1{width:199px;height:27px;border:1px #d0d0d0 solid;padding:0 0 0 3px;line-height:27px;font-size:12px;color:#6d6d6d;overflow:hidden}
.style2{width:64px;height:29px;padding:0 20px 0 0}
.style3{padding:10px 6px 0 0;*padding:6px 4px 0 0!important}
.style4{width:135px;padding:6px 0 0 0}
.top1{width:917px;padding:9px 28px 0 15px;margin:0 auto;overflow:hidden}
.loginbj1{width:128px;height:25px;border:1px #cdcdcd solid;background-image:url('loginbj1.gif');padding:0 0 0 7px;margin:0 14px 0 12px;display:block}
.login2{width:960px;margin:-1px auto 0 auto;_margin:0 auto 0 auto;position:relative;}
* html .login3{position:absolute;left:expression(eval(document.documentElement.scrollLeft+733));top:expression(eval(document.documentElement.scrollTop))} 
.login3{width:128px;height:94px;left:733px;border-left:1px #cdcdcd solid;border-right:1px #cdcdcd solid;border-bottom:1px #cdcdcd solid;background-color:#fff;padding:0 4px 0 3px;position:absolute;overflow:hidden;visibility:hidden;}
.style5{width:120px;height:28px;padding:0 0 0 8px;line-height:29px;overflow:hidden}

#nav{width:945px;padding:11px 0 10px 15px;margin:0 auto;background-color:#fff;overflow:hidden;}
#nav .shu {	PADDING-RIGHT: 4px;	PADDING-LEFT: 4px;	PADDING-BOTTOM: 0px;	PADDING-TOP: 0px}
#sectionTop{width:960px;background-color:#fff;margin:0 auto;overflow:hidden;}
#section{width:960px;background-color:#fff;background:url('rightbj.gif') 630px repeat-y #fff;margin:0 auto;overflow:hidden;}
.lm{width:920px;height:53px;border-bottom:4px #b81506 solid;padding:33px 13px 0 27px;overflow:hidden}
.lm1{width:927px;height:57px;padding:21px 13px 0 20px;overflow:hidden}
.logo{width:83px;height:38px;padding:0 10px 0 0}
.logo1{height:49px;padding:0 22px 0 0}
.weizhi{padding:14px 20px 0 0}
.weizhi1{padding:19px 0 0 0}
.tgrx{padding:19px 0 0 0}
.weizhi1b{padding:29px 0 0 0}
.tgrxb{padding:29px 0 0 0}
#sectionleft{width:585px;padding:24px 0 0 22px;overflow:hidden}
.name{width:585px;border-bottom:1px #7f7f7f solid;padding:5px 0 15px 0;overflow:hidden}
.time{width:585px;padding:12px 0 10px 0;overflow:hidden}
.time p{padding:0 12px;display:inline}
.time a{color:#666}
.picblock1{width:500px;height:400px;border:1px #dcdcdc solid;background-image:url('bj1.gif');padding:16px 37px 17px 41px;margin:0 auto;position:relative}
.picyy{top:16px;left:542px;position:absolute}
.picblock2{width:529px;height:94px;border:1px #dcdcdc solid;background-image:url('bj2.gif');padding:12px 24px 18px 25px;margin:0 auto;position:relative}
.picleft1{top:53px;left:3px;position:absolute}
.picright1{top:53px;left:558px;position:absolute}
.pic1{width:117px;height:94px;padding:0 20px 0 0;overflow:hidden}
.picon{width:111px;height:82px;padding:9px 3px 3px 3px;background-image:url('bj3.gif');display:block}
.picoff{width:111px;height:82px;border:3px #fff solid;margin:6px 0 0 0;display:block}
#zw{width:580px;margin:0 auto;overflow:hidden}
#zw>p{padding:10px 0;width:580px;background:#fff}
.img1{top:2px;position:relative}
.ysyd{width:580px;padding:20px 0 0 0;margin:0 auto;overflow:hidden}
.con1{width:580px;padding:20px 0 5px 0;overflow:hidden}
.twbd{width:580px;padding:20px 0 0 0;margin:0 auto;overflow:hidden}
.pic2{width:146px;height:108px;padding:3px;border:1px #cfcfcf solid}
.xgxw{width:580px;padding:0px;margin:0 auto;overflow:hidden}
.xgxw LI {font-size:14px;color:#666;display:inline-block;line-height:30px;height:30px;padding:0 8px 0 8px;margin:0 0 0 20px;;background:url('http://ej.eastday.com/images/201306gj/t1.gif') no-repeat 0px center;}
.tjyd{width:580px;padding:0px;margin:0 auto;overflow:hidden}
.tpxw{width:580px;padding:0px;margin:0 auto;overflow:hidden}
.piclist1{width:588px;padding:8px 0 0 0;overflow:hidden}
.piclist1 li{width:137px;height:130px;padding:0 10px 0 0;float:left;overflow:hidden}
.piclist1 li img{width:137px;height:103px;float:left;padding:0 0 5px 0;overflow:hidden}
.piclist1 li p{width:137px;height:20px;line-height:20px;text-align:center;float:left;overflow:hidden}
.tfhour{width:580px;padding:0px;margin:0 auto;overflow:hidden}

#sectionright{width:300px;background-image:url('rightbj.gif');padding:25px 13px 150px 17px;overflow:hidden}
.rightcon1{width:290px;padding:0 3px 0 7px;overflow:hidden}
.piclist2{width:326px;padding:4px 0 0 0;overflow:hidden}
.piclist2 li{width:137px;height:135px;padding:22px 26px 0 0;float:left;overflow:hidden}
.piclist2 li img{width:137px;height:103px;float:left;padding:0 0 10px 0;overflow:hidden}
.piclist2 li p{width:137px;height:20px;line-height:20px;text-align:center;float:left;overflow:hidden}
.videocon1{width:137px;height:135px;padding:22px 26px 0 0;float:left;position:relative;overflow:hidden}
.play1{width:47px;height:47px;top:51px;left:48px;position:absolute}

#full{width:110px;bottom:0;left:50%;margin-left:504px;position:absolute;z-index:9999}
#full .tx{padding:30px 0 0 0}
#prevpage{width:100px;top:674px;left:0px;position:fixed;float:left;overflow:hidden}
* html #prevpage{position:absolute;left:expression(eval(document.documentElement.scrollLeft));top:expression(eval(document.documentElement.scrollTop+674))} 
#prevpage .tx{padding:60px 0 0 0}
#nextpage{width:100px;top:674px;right:0px;position:fixed;float:right;overflow:hidden}
* html #nextpage{position:absolute;right:expression(eval(document.documentElement.scrollRight));top:expression(eval(document.documentElement.scrollTop+674))} 
#nextpage .tx{padding:60px 0 0 0}
#footer{width:100%}
#footer .redline{width:100%;background:#B81506;height:6px;}
#footer .bottom{width:100%;height:96px;background:url(footbg.jpg); text-align:center;padding-top:24px;font-size:12px;color:#666}
#footer .bottom a{font-size:12px;color:#666;}
#footer .bottom p{line-height:26px;font-size:12px;color:#666;}

.ewm{text-align:center;}
.ewm2{background:#EBEBEB;}
.ewm2:hover{background:#D6D6D6}
.ewmtitle{font-size:14px;color:#000;font-weight:bold;text-align:center;margin-top:5px;}