*html{background-image:url(about:blank);background-attachment:fixed;}
body{ margin:0; padding:0;}
ol,ul,li{list-style:none;}
#wcagnav input{ border:0;}
#gettextmessagebox input{ border:0;}
#wcagnav {height:38px;}


.disabilitiesNav{ width:100%; height:75px; position:fixed; top:0; left:0; z-index:9999999; text-align:center;_position:absolute;_left:expression(eval(document.documentElement.scrollLeft));_top:expression(eval(document.documentElement.scrollTop));}
.disabilitiesNav .disabilitiesTopBg{ width:100%; height:75px; position:absolute; top:0; left:0; filter:alpha(opacity=70);-moz-opacity:0.7; opacity:0.7;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5c6262), to(#212121));
background: -webkit-linear-gradient(#5c6262, #212121);
background: -moz-linear-gradient(#5c6262, #212121);
background: -ms-linear-gradient(#5c6262, #212121);
background: -o-linear-gradient(#5c6262, #212121);
background: linear-gradient(#5c6262, #212121);
-pie-background: linear-gradient(#5c6262, #212121);
border-radius:0 0 10px 10px;
-webkit-box-shadow: #000 0 2px 3px;
-moz-box-shadow: #000 0 2px 3px;
box-shadow: #000 0 2px 3px; background:#484a4a;}
.disabilitiesNav .disabilitiesMain{ width:100%; height:55px; margin:0 auto; padding:10px 0; z-index:9999999; position:absolute; top:0; left:0;}
.disabilitiesNav .disabilitiesMain .disabilitiesContent{ width:980px; height:55px; margin:0 auto; overflow: visible;}
.disabilitiesNav ul{ height:55px; line-height:55px; float:left;margin: 0;padding: 0;}
.disabilitiesNav ul.disabilitiesN2{ margin-left:20px; position:relative;}
.disabilitiesNav ul.disabilitiesN3{ margin-left:20px;}
.disabilitiesNav ul span{ font-size:24px; font-family:"Microsoft YaHei"; color:#fff;text-shadow: 0 -1px 0 #000; float:left; margin-right:10px;}
.disabilitiesNav ul li{ float:left;}
.disabilitiesNav ul li input{ border:none; display:block; background:url(jhelper_nav.gif) no-repeat; float:left; text-indent:-9999999px; cursor:pointer;}
.disabilitiesNav ul.disabilitiesN1 input{ width:77px; height:54px;}
.disabilitiesNav ul.disabilitiesN1 .jhelper_btn01 input{ background-position:-166px -304px;}.disabilitiesNav ul.disabilitiesN1 .jhelper_btn01 input:hover{ background-position:-330px -304px;}.disabilitiesNav ul.disabilitiesN1 .jhelper_btn01 .inputOn{ background-position:-494px -304px;}.disabilitiesNav ul.disabilitiesN1 .jhelper_btn01 .inputOn:hover{ background-position:-494px -304px;}
.disabilitiesNav ul.disabilitiesN1 li.jhelper_btn02 input{ background-position:-243px -304px;}.disabilitiesNav ul.disabilitiesN1 .jhelper_btn02 input:hover{ background-position:-407px -304px;}.disabilitiesNav ul.disabilitiesN1 .jhelper_btn02 .inputOn{ background-position:-571px -304px;}.disabilitiesNav ul.disabilitiesN1 .jhelper_btn02 .inputOn:hover{ background-position:-571px -304px;}

.disabilitiesNav ul.disabilitiesN2 input{ width:51px; height:48px; margin-top:3px;}
.disabilitiesNav ul.disabilitiesN2 .jhelper_btn01 input{ background-position:-166px -178px;}
.disabilitiesNav ul.disabilitiesN2 .jhelper_btn02 input{ background-position:-217px -178px;}
.disabilitiesNav ul.disabilitiesN2 .jhelper_btn03 input{ background-position:-268px -178px;}
.disabilitiesNav ul.disabilitiesN2 .jhelper_btn04 input{ background-position:-319px -178px;}
.disabilitiesNav ul.disabilitiesN2 .jhelper_btn05 input{ background-position:-370px -178px;}
.disabilitiesNav .font_titleBar li.disabilitiesNow em{ display:block; width:80px; height:80px; background:url(jhelper_nav.gif) no-repeat -431px -166px; position:absolute;}
.disabilitiesNav .font_titleBar li.disabilitiesNow em.disabilitiesB1{ left:44px; top:-11px;}
.disabilitiesNav .font_titleBar li.disabilitiesNow em.disabilitiesB2{ left:95px; top:-11px;}
.disabilitiesNav .font_titleBar li.disabilitiesNow em.disabilitiesB3{ left:146px; top:-11px;}
.disabilitiesNav .font_titleBar li.disabilitiesNow em.disabilitiesB4{ left:197px; top:-11px;}
.disabilitiesNav .font_titleBar li.disabilitiesNow em.disabilitiesB5{ left:248px; top:-11px;}

.disabilitiesNav ul.disabilitiesN3 li input{ width:97px; height:52px; background-position:-340px -370px;}
.disabilitiesNav ul.disabilitiesN3 li.jhelper_open input{ width:97px; height:52px; background-position:-167px -370px;}

.disabilitiesNav ul.disabilitiesN4 li input{ width:94px; height:53px; margin-left:20px; display:inline;}
.disabilitiesNav ul.disabilitiesN4 .jhelper_btn01 input{ background-position:-166px -434px;}.disabilitiesNav ul.disabilitiesN4 .jhelper_btn01 input:hover{ background-position:-269px -434px;}.disabilitiesNav ul.disabilitiesN4 .jhelper_btn01 .inputOn{ background-position:-372px -434px;}.disabilitiesNav ul.disabilitiesN4 .jhelper_btn01 .inputOn:hover{ background-position:-372px -434px;}
.disabilitiesNav ul.disabilitiesN4 .jhelper_btn02 input{ background-position:-166px -501px;}.disabilitiesNav ul.disabilitiesN4 .jhelper_btn02 input:hover{ background-position:-269px -501px;}.disabilitiesNav ul.disabilitiesN4 .jhelper_btn02 .inputOn{ background-position:-372px -501px;}.disabilitiesNav ul.disabilitiesN4 .jhelper_btn02 .inputOn:hover{ background-position:-372px -501px;}

.disabilitiesNavFold{ width:100%; height:42px; position:fixed; top:0; left:0; text-align:center; z-index:9999999;_position:absolute;_left:expression(eval(document.documentElement.scrollLeft));_top:expression(eval(document.documentElement.scrollTop))}
.disabilitiesNavFold .disabilitiesTopBg{ width:100%; height:42px; position:absolute; top:0; left:0; filter:alpha(opacity=70);-moz-opacity:0.7; opacity:0.7;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5c6262), to(#212121));
background: -webkit-linear-gradient(#5c6262, #212121);
background: -moz-linear-gradient(#5c6262, #212121);
background: -ms-linear-gradient(#5c6262, #212121);
background: -o-linear-gradient(#5c6262, #212121);
background: linear-gradient(#5c6262, #212121);
-pie-background: linear-gradient(#5c6262, #212121);
border-radius:0 0 10px 10px;
-webkit-box-shadow: #000 0 2px 3px;
-moz-box-shadow: #000 0 2px 3px;
box-shadow: #000 0 2px 3px; background:#484a4a;}
.disabilitiesNavFold .disabilitiesMain{ width:100%; height:42px; margin:0 auto; z-index:9999999; position:absolute; top:0; left:0;}
.disabilitiesNavFold .disabilitiesMain .disabilitiesContent{ width:980px; height:42px; margin:0 auto;}
.disabilitiesNavFold ul{ height:42px; line-height:42px; float:left; margin: 0;padding: 0;}
.disabilitiesNavFold ul.disabilitiesN2{ margin-left:20px; position:relative;}
.disabilitiesNavFold ul.disabilitiesN3{ margin-left:20px;}
.disabilitiesNavFold ul span{ font-size:24px; font-family:"Microsoft YaHei"; color:#fff;text-shadow: 0 -1px 0 #000; float:left; margin-right:10px;}
.disabilitiesNavFold ul li{ float:left;}
.disabilitiesNavFold ul li input{ border:none; display:block; background:url(jhelper_nav.gif) no-repeat; float:left; text-indent:-9999999px; cursor:pointer;}
.disabilitiesNavFold ul.disabilitiesN1 input{ width:77px; height:33px; margin-top:5px;}
.disabilitiesNavFold ul.disabilitiesN1 .jhelper_btn01 input{ background-position:-166px -770px;}.disabilitiesNavFold ul.disabilitiesN1 .jhelper_btn01 input:hover{ background-position:-330px -770px;}.disabilitiesNavFold ul.disabilitiesN1 .jhelper_btn01 .inputOn{ background-position:-494px -770px;}.disabilitiesNavFold ul.disabilitiesN1 .jhelper_btn01 .inputOn:hover{ background-position:-494px -770px;}
.disabilitiesNavFold ul.disabilitiesN1 li.jhelper_btn02 input{ background-position:-243px -770px;}.disabilitiesNavFold ul.disabilitiesN1 .jhelper_btn02 input:hover{ background-position:-407px -770px;}.disabilitiesNavFold ul.disabilitiesN1 .jhelper_btn02 .inputOn{ background-position:-571px -770px;}.disabilitiesNavFold ul.disabilitiesN1 .jhelper_btn02 .inputOn:hover{ background-position:-571px -770px;}

.disabilitiesNavFold ul.disabilitiesN2 input{ width:51px; height:32px; margin-top:5px;}
.disabilitiesNavFold ul.disabilitiesN2 .jhelper_btn01 input{ background-position:-166px -814px;}
.disabilitiesNavFold ul.disabilitiesN2 .jhelper_btn02 input{ background-position:-217px -814px;}
.disabilitiesNavFold ul.disabilitiesN2 .jhelper_btn03 input{ background-position:-268px -814px;}
.disabilitiesNavFold ul.disabilitiesN2 .jhelper_btn04 input{ background-position:-319px -814px;}
.disabilitiesNavFold ul.disabilitiesN2 .jhelper_btn05 input{ background-position:-370px -814px;}
.disabilitiesNavFold .font_titleBar li.disabilitiesNow input.disabilitiesM1{ background-position:-445px -814px;}
.disabilitiesNavFold .font_titleBar li.disabilitiesNow input.disabilitiesM2{ background-position:-496px -814px;}
.disabilitiesNavFold .font_titleBar li.disabilitiesNow input.disabilitiesM3{ background-position:-547px -814px;}
.disabilitiesNavFold .font_titleBar li.disabilitiesNow input.disabilitiesM4{ background-position:-598px -814px;}
.disabilitiesNavFold .font_titleBar li.disabilitiesNow input.disabilitiesM5{ background-position:-649px -814px;}

.disabilitiesNavFold ul.disabilitiesN3 li input{ width:93px; height:33px; background-position:-166px -858px; margin-top:5px;}.disabilitiesNavFold ul.disabilitiesN3 li input:hover{ background-position:-269px -858px;}
.disabilitiesNavFold ul.disabilitiesN3 li.jhelper_open input{ width:93px; height:33px; background-position:-166px -989px;}.disabilitiesNavFold ul.disabilitiesN3 li.jhelper_open input:hover{ background-position:-269px -989px;}

.disabilitiesNavFold ul.disabilitiesN4 li input{ width:93px; height:33px; margin-left:20px; margin-top:5px; display:inline;}
.disabilitiesNavFold ul.disabilitiesN4 .jhelper_btn01 input{ background-position:-166px -902px;}.disabilitiesNavFold ul.disabilitiesN4 .jhelper_btn01 input:hover{ background-position:-269px -902px;}.disabilitiesNavFold ul.disabilitiesN4 .jhelper_btn01 .inputOn{ background-position:-372px -902px;}.disabilitiesNavFold ul.disabilitiesN4 .jhelper_btn01 .inputOn:hover{ background-position:-372px -902px;}
.disabilitiesNavFold ul.disabilitiesN4 .jhelper_btn02 input{ background-position:-166px -945px;}.disabilitiesNavFold ul.disabilitiesN4 .jhelper_btn02 input:hover{ background-position:-269px -945px;}.disabilitiesNavFold ul.disabilitiesN4 .jhelper_btn02 .inputOn{ background-position:-372px -945px;}.disabilitiesNavFold ul.disabilitiesN4 .jhelper_btn02 .inputOn:hover{ background-position:-372px -945px;}



/*==========================================*/
.disabilitiesLanguage{ width:100%; height:160px; overflow:hidden; position:fixed; bottom:0; left:0; z-index:9999999999; background:fixed;_position:absolute; _bottom:auto; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
.disabilitiesLanguage .disabilitiesFooterBg{ width:100%; height:160px; position:absolute; top:0; left:0; filter:alpha(opacity=80);-moz-opacity:0.8; opacity:0.8;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5c6262), to(#212121));
background: -webkit-linear-gradient(#5c6262, #212121);
background: -moz-linear-gradient(#5c6262, #212121);
background: -ms-linear-gradient(#5c6262, #212121);
background: -o-linear-gradient(#5c6262, #212121);
background: linear-gradient(#5c6262, #212121);
-pie-background: linear-gradient(#5c6262, #212121);
border-radius:10px 10px 0 0; background:#484a4a;}
.disabilitiesLanguage .LanguageMain{ position:absolute; top:10px; left:20px; z-index:99999999;width: 100px;}
.disabilitiesLanguage .LanguageMain ul{padding: 0; margin: 0; float: left;}
.disabilitiesLanguage .font_titleBar li{ float:left;}
.disabilitiesLanguage .font_titleBar li input{ width:47px; height:44px; background:url(jhelper_nav.gif) no-repeat; cursor:pointer;}
.disabilitiesLanguage .font_titleBar li input.jhelper_btn01{ background-position:-166px -565px;}.disabilitiesLanguage .font_titleBar li input.jhelper_btn01:hover{ background-position:-269px -565px;}.disabilitiesLanguage .font_titleBar li.disabilitiesNow input.jhelper_btn01{ background-position:-371px -565px;}.disabilitiesLanguage .font_titleBar li.disabilitiesNow input.jhelper_btn01:hover{ background-position:-371px -565px;}
.disabilitiesLanguage .font_titleBar li input.jhelper_btn02{ background-position:-212px -565px;}.disabilitiesLanguage .font_titleBar li input.jhelper_btn02:hover{ background-position:-315px -565px;}.disabilitiesLanguage .font_titleBar li.disabilitiesNow input.jhelper_btn02{ background-position:-418px -565px;}.disabilitiesLanguage .font_titleBar li.disabilitiesNow input.jhelper_btn02:hover{ background-position:-418px -565px;}
.disabilitiesLanguage .LanguageSpell li input{ width:95px; height:45px; border:none; background:url(jhelper_nav.gif) no-repeat; cursor:pointer;}
.disabilitiesLanguage .LanguageSpell li.jhelper_btn01 input{ background-position:-165px -629px;}.disabilitiesLanguage .LanguageSpell li.jhelper_btn01 input:hover{ background-position:-268px -629px;}.disabilitiesLanguage .LanguageSpell li.jhelper_open input{ background-position:-371px -629px;}.disabilitiesLanguage .LanguageSpell li.jhelper_close input{ background-position:-165px -629px;}
.disabilitiesLanguage .LanguageSpell li.jhelper_btn02 input{ background-position:-165px -694px;}.disabilitiesLanguage .LanguageSpell li.jhelper_btn02 input:hover{ background-position:-268px -694px;}.disabilitiesLanguage .LanguageSpell li.jhelper_btn02 input.inputOn{ background-position:-371px -694px;}
.disabilitiesLanguage .Languagetext{ width:100%; position:absolute; top:10px; left:130px; z-index:99999999; overflow: ;}
.disabilitiesLanguage .LanguageTextMin{ padding-right:140px;}
.disabilitiesLanguage .LanguageTextMin .LanguageTextContent{ width:100%;height:138px; background:#dee0e0;border-radius:10px;}
.disabilitiesLanguage .LanguageTextMin .LanguageTextContent p{ width:90%; margin:0 auto;padding: 0;}
.disabilitiesLanguage .LanguageTextMin .LanguageTextContent table{ width:100%; height:138px; margin:0 auto;}
.disabilitiesLanguage .LanguageTextMin .LanguageTextContent table td{ font-size:32px!important; line-height:1.2em!important;font-family:"Microsoft YaHei";text-align:center;vertical-align:middle;}
.disabilitiesLanguage .LanguageTextMin .LanguageTextContent table td.jhelper_pinyin{ font-size:22px!important;}
.disabilitiesLanguage .LanguageTextMin .LanguageTextContent table td#helper_messageBoxText{ width:100%; height:100%;  }

/*=================================================*/
.disabilitiesRight{ width:70px; height:300px; position:fixed; background:#4c4c4c; right:0; top:90px;border-radius:10px; z-index:99999999; overflow:hidden;_position:absolute;_right:expression(eval(document.documentElement.scrollRight));_top:expression(eval(document.documentElement.scrollTop+90));}
.disabilitiesRight ul {padding: 0;margin: 0;	}
.disabilitiesRight li{ border-bottom:solid 1px #6c6c6c; float: left;}
.disabilitiesRight li input{ width:70px; background:url(jhelper_nav.gif) no-repeat; cursor:pointer; margin:2px 0;float: left;}

.disabilitiesRight li input.jhelper_btn01{ height:105px; background-position:-707px -284px;border-radius:10px 10px 0 0; overflow:hidden;}.disabilitiesRight li input.jhelper_btn01:hover{ background-position:-787px -284px;}.disabilitiesRight li.jhelper_open input.jhelper_btn01{ height:105px; background-position:-707px -629px;border-radius:10px 10px 0 0; overflow:hidden;}.disabilitiesRight li.jhelper_open input.jhelper_btn01:hover{ background-position:-787px -629px;}
.disabilitiesRight li input.jhelper_btn02{ height:105px; background-position:-707px -399px;}.disabilitiesRight li input.jhelper_btn02:hover{ height:105px; background-position:-787px -399px;}.disabilitiesRight li.jhelper_open input.jhelper_btn02{ background-position:-707px -514px;}.disabilitiesRight li.jhelper_open input.jhelper_btn02:hover{ background-position:-787px -514px;}

.disabilitiesRight li input.jhelper_btn03{ height:34px; background-position:-868px -331px;}.disabilitiesRight li input.jhelper_btn03:hover{ background-position:-948px -331px;}
.disabilitiesRight li input.jhelper_btn04{ height:34px; background-position:-868px -216px;border-radius:0 0 10px 10px; overflow:hidden;}.disabilitiesRight li input.jhelper_btn04:hover{ background-position:-947px -216px;}



