* {
	FONT-SIZE: 12px; COLOR: #000
}
A:link {
	COLOR: #000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000; TEXT-DECORATION: none
}
A.hui12:link {
	COLOR: #5a5a5a; LETTER-SPACING: 1px; TEXT-DECORATION: underline
}
A.hui12:visited {
	COLOR: #5a5a5a; LETTER-SPACING: 1px; TEXT-DECORATION: underline
}
A.hui12:hover {
	COLOR: #5a5a5a; LETTER-SPACING: 1px; TEXT-DECORATION: underline
}
A.hui12a:link {
	COLOR: #5a5a5a; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.hui12a:visited {
	COLOR: #5a5a5a; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.hui12a:hover {
	COLOR: #5a5a5a; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.hui12c:link {
	COLOR: #5a5a5a; TEXT-DECORATION: none
}
A.hui12c:visited {
	COLOR: #5a5a5a; TEXT-DECORATION: none
}
A.hui12c:hover {
	COLOR: #5a5a5a; TEXT-DECORATION: none
}
A.hui12d:link {
	COLOR: #5a5a5a; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
A.hui12d:visited {
	COLOR: #5a5a5a; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
A.hui12d:hover {
	COLOR: #5a5a5a; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
A.hui14:link {
	FONT-SIZE: 14px; COLOR: #5a5a5a; TEXT-DECORATION: none
}
A.hui14:visited {
	FONT-SIZE: 14px; COLOR: #5a5a5a; TEXT-DECORATION: none
}
A.hui14:hover {
	FONT-SIZE: 14px; COLOR: #5a5a5a; TEXT-DECORATION: none
}
A.ta:link {
	FONT-SIZE: 14px; COLOR: #5a5a5a; TEXT-DECORATION: none
}
A.ta:visited {
	FONT-SIZE: 14px; COLOR: #5a5a5a; TEXT-DECORATION: none
}
A.ta:hover {
	FONT-SIZE: 14px; COLOR: #5a5a5a; TEXT-DECORATION: none
}
A.white12:link {
	COLOR: #fff; TEXT-DECORATION: none
}
A.white12:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
A.white12:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
A.red12:link {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: none
}
A.red12:visited {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: none
}
A.red12:hover {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: none
}
A.cjblack12:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.cjblack12:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.cjblack12:hover {
	COLOR: #cd8802; TEXT-DECORATION: none
}
A.shblack12:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.shblack12:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.shblack12:hover {
	COLOR: #1d549c; TEXT-DECORATION: none
}
A.enblack12:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.enblack12:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.enblack12:hover {
	COLOR: #ff7900; TEXT-DECORATION: none
}
A.chnblack12:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.chnblack12:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.chnblack12:hover {
	COLOR: #5865ac; TEXT-DECORATION: none
}
A.sctblack12:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.sctblack12:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.sctblack12:hover {
	COLOR: #0e8d9f; TEXT-DECORATION: none
}
A.csjblack12:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.csjblack12:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.csjblack12:hover {
	COLOR: #167cdb; TEXT-DECORATION: none
}
A.milblack12:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.milblack12:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.milblack12:hover {
	COLOR: #2e5907; TEXT-DECORATION: none
}
A.sptblack12:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.sptblack12:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.sptblack12:hover {
	COLOR: #003aaf; TEXT-DECORATION: none
}
A.coffee12:link {
	COLOR: #725100; TEXT-DECORATION: none
}
A.coffee12:visited {
	COLOR: #725100; TEXT-DECORATION: none
}
A.coffee12:hover {
	COLOR: #725100; TEXT-DECORATION: none
}
A.blue12:link {
	COLOR: #1d549c; TEXT-DECORATION: none
}
A.blue12:visited {
	COLOR: #1d549c; TEXT-DECORATION: none
}
A.blue12:hover {
	COLOR: #1d549c; TEXT-DECORATION: none
}
A.blue12a:link {
	COLOR: #1253be; TEXT-DECORATION: none
}
A.blue12a:visited {
	COLOR: #1253be; TEXT-DECORATION: none
}
A.blue12a:hover {
	COLOR: #1253be; TEXT-DECORATION: none
}
A.darkblue12:link {
	COLOR: #20336e; TEXT-DECORATION: none
}
A.darkblue12:visited {
	COLOR: #20336e; TEXT-DECORATION: none
}
A.darkblue12:hover {
	COLOR: #20336e; TEXT-DECORATION: none
}
A.shamrock12:link {
	COLOR: #167cdb; TEXT-DECORATION: none
}
A.shamrock12:visited {
	COLOR: #167cdb; TEXT-DECORATION: none
}
A.shamrock12:hover {
	COLOR: #167cdb; TEXT-DECORATION: none
}
A.cyan12:link {
	COLOR: #0e8d9f; TEXT-DECORATION: none
}
A.cyan12:visited {
	COLOR: #0e8d9f; TEXT-DECORATION: none
}
A.cyan12:hover {
	COLOR: #0e8d9f; TEXT-DECORATION: none
}
A.orange12:link {
	COLOR: #ba3d00; TEXT-DECORATION: none
}
A.orange12:visited {
	COLOR: #ba3d00; TEXT-DECORATION: none
}
A.orange12:hover {
	COLOR: #ba3d00; TEXT-DECORATION: none
}
A.blue14:link {
	FONT-SIZE: 14px; COLOR: #1253be; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.blue14:visited {
	FONT-SIZE: 14px; COLOR: #1253be; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.blue14:hover {
	FONT-SIZE: 14px; COLOR: #1253be; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.blue14a:link {
	FONT-SIZE: 14px; COLOR: #0000ff; TEXT-DECORATION: none
}
A.blue14a:visited {
	FONT-SIZE: 14px; COLOR: #0000ff; TEXT-DECORATION: none
}
A.blue14a:hover {
	FONT-SIZE: 14px; COLOR: #0000ff; TEXT-DECORATION: none
}
A.blue14b:link {
	FONT-SIZE: 14px; COLOR: #5e6fcb; TEXT-DECORATION: underline
}
A.blue14b:visited {
	FONT-SIZE: 14px; COLOR: #5e6fcb; TEXT-DECORATION: underline
}
A.blue14b:hover {
	FONT-SIZE: 14px; COLOR: #5e6fcb; TEXT-DECORATION: underline
}
A.blue14c:link {
	FONT-SIZE: 14px; COLOR: #0a178a; TEXT-DECORATION: underline
}
A.blue14c:visited {
	FONT-SIZE: 14px; COLOR: #0a178a; TEXT-DECORATION: underline
}
A.blue14c:hover {
	FONT-SIZE: 14px; COLOR: #0a178a; TEXT-DECORATION: underline
}
A.blue14d:link {
	FONT-SIZE: 14px; COLOR: #0a178a; TEXT-DECORATION: none
}
A.blue14d:visited {
	FONT-SIZE: 14px; COLOR: #0a178a; TEXT-DECORATION: none
}
A.blue14d:hover {
	FONT-SIZE: 14px; COLOR: #0a178a; TEXT-DECORATION: none
}
A.black14a:link {
	FONT-SIZE: 14px; COLOR: #000; LINE-HEIGHT: 1.5em; FONT-FAMILY: 楷体_GB2312; TEXT-DECORATION: none
}
A.black14a:visited {
	FONT-SIZE: 14px; COLOR: #000; LINE-HEIGHT: 1.5em; FONT-FAMILY: 楷体_GB2312; TEXT-DECORATION: none
}
A.black14a:hover {
	FONT-SIZE: 14px; COLOR: #000; LINE-HEIGHT: 1.5em; FONT-FAMILY: 楷体_GB2312; TEXT-DECORATION: none
}
A.black14b:link {
	FONT-SIZE: 14px; COLOR: #000; TEXT-DECORATION: none
}
A.black14b:visited {
	FONT-SIZE: 14px; COLOR: #000; TEXT-DECORATION: none
}
A.black14b:hover {
	FONT-SIZE: 14px; COLOR: #000; TEXT-DECORATION: none
}
A.red:link {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.red:visited {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.red:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.blue:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.blue:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.blue:hover {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.white:link {
	COLOR: #fff; TEXT-DECORATION: none
}
A.white:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
A.white:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
A.ju12:link {
	COLOR: #FF3C00; TEXT-DECORATION: none
}
A.ju12:visited {
	COLOR: #FF3C00; TEXT-DECORATION: none
}
A.ju12:hover {
	COLOR: #FF3C00; TEXT-DECORATION: none
}
.hui15 {
	FONT-SIZE: 16px; COLOR: #5a5a5a; LINE-HEIGHT: 100%
}
.blue22 {
	FONT-WEIGHT: bold; FONT-SIZE: 21px; COLOR: #0037a2
}
.blue14a {
	FONT-SIZE: 14px; COLOR: #5e6fcb
}
.blue14b {
	FONT-SIZE: 14px; COLOR: #0a178a
}
.hui14 {
	FONT-SIZE: 14px; COLOR: #5a5a5a
}
.hui12 {
	FONT-SIZE: 12px; COLOR: #5a5a5a
}
.ju12 {
	font-size: 12px;
	font-weight: bold;
	color: #FF3C00;
}
.white12 {
	COLOR: #fff
}
.white14 {
	FONT-SIZE: 14px; COLOR: #fff
}
.hui12b {
	FONT-WEIGHT: bold; COLOR: #5a5a5a
}
.hui12l {
	COLOR: #5a5a5a; LETTER-SPACING: 1px
}
.coffee22 {
	FONT-SIZE: 22px; COLOR: #8e6500
}
.red12 {
	COLOR: #ff0000
}
.red14 {
	FONT-SIZE: 14px; COLOR: #ff0000
}
.bold {
	FONT-WEIGHT: bold
}
.red {
	COLOR: #ff0000
}
.blue {
	COLOR: #0000ff
}
.white {
	COLOR: #fff
}
.black {
	COLOR: #000
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px
}
.picwz {
	FONT-SIZE: 14px; COLOR: #000; LINE-HEIGHT: 22px; FONT-FAMILY: 楷体_GB2312
}
