/* 全局 */
* {padding:0;margin:0}
body{padding:0;margin:0;text-align:left;font-size:12px}
li{border:none;margin:0;padding:0}

ul{border:none;margin:0;padding:0}

img{border:none;margin:0;padding:0}

form{border:none;margin:0;padding:0}

span{border:none;margin:0;padding:0}

td{border:none;margin:0;padding:0}

tr{border:none;margin:0;padding:0}

table{border:none;margin:0;padding:0}

p{border:none;margin:0;padding:0}

div{border:none;margin:0;padding:0}

.fl{float:left}
.fc{text-align:center}
.fr{float:right}

ul li{list-style:none}
.clearfix:after{ content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-table}
/* Hides from IE-mac \*/
 * html .clearfix {height:1%} .clearfix {display:block} 
/* End hide from IE-mac */ 
/* Hides from IE7 \*/
 *+html .clearfix{height:1%} .clearfix {display:block} 
/* End hide from IE7 */ 

A:link {text-decoration:none}
A:visited {text-decoration:none}
A:active {text-decoration:none}
A:hover {text-decoration:underline}

.lh18{line-height:18px}
.lh20{line-height:20px}
.lh22{line-height:22px}
.lh24{line-height:24px}
.lh30{line-height:30px}
.lh35{line-height:35px}

.pl10{padding:0 0 0 10px}
.pr10{padding:0 10px 0 0}

.clear{height:0px;clear:both;overflow:hidden}
.blank2{height:2px;clear:both;overflow:hidden}
.blank5{height:5px;clear:both;overflow:hidden}
.blank7{height:7px;clear:both;overflow:hidden}
.blank8{height:8px;clear:both;overflow:hidden}
.blank10{height:10px;clear:both;overflow:hidden}
.blank15{height:15px;clear:both;overflow:hidden}
.blank25{height:25px;clear:both;overflow:hidden}
.blank30{height:30px;clear:both;overflow:hidden}
.blank38{height:38px;clear:both;overflow:hidden}

.black12{color:#000}
.black12lb{color:#000;border-left:1px #000 solid;padding:0 0 0 10px;margin:0 0 0 10px}
.grey12{color:#333}
.grey12a{color:#666}
.white12{color:#fff}
.black14{font-size:14px;color:#000}
.black14lb{font-size:14px;color:#000;border-left:1px #000 solid;padding:0 0 0 10px;margin:0 0 0 10px}
.blue14{font-size:14px;color:#278bba}
.blue14a{font-size:14px;color:#3283b0}
.blueb14{font-family:微软雅黑;font-size:14px;color:#318abb}
.grey14{font-size:14px;color:#666}
.red14{font-size:14px;color:#e71f19}
.whiteb14{font-family:微软雅黑;font-size:14px;color:#fff}
.blueb16{font-family:微软雅黑;font-size:16px;color:#318abb}
.blueb16l2{font-family:微软雅黑;font-size:16px;color:#318abb;letter-spacing:2px}
.greenb16{font-family:微软雅黑;font-size:16px;color:#3c8339}
.redb16{font-family:微软雅黑;font-size:16px;color:#e61c17}
.redb16a{font-family:微软雅黑;font-size:16px;color:#d24870}
.redb16l2{font-family:微软雅黑;font-size:16px;color:#d24870;letter-spacing:2px}
.whiteb16{font-family:微软雅黑;font-size:16px;color:#fff}
.blue18{font-size:18px;color:#318abb}
.red20{font-size:20px;color:#e71f19}
.blueb24{font-size:18px;font-weight:bold;color:#318abb}

.newslist1{text-align:left;margin:0 0 5px 0;padding:0 0 0 0}
.newslist1 li{width:405px;overflow:hidden;display:block;line-height:24px;height:24px;padding:0 0 0 0;margin:0 0 0 0;white-space:nowrap;text-overflow:ellipsis}
.newslist1 li a{padding:0 5px 0 0}
.newslist2{text-align:left;margin:0 0 0 0;padding:0 0 0 5px}
.newslist2 li{width:200px;overflow:hidden;display:block;line-height:24px;height:24px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t1.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist3{text-align:left;margin:0 0 0 0;padding:0 0 0 13px}
.newslist3 li{width:210px;overflow:hidden;display:block;line-height:22px;height:22px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t2.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist4{text-align:left;margin:0 0 0 0;padding:0 0 0 3px}
.newslist4 li{width:260px;overflow:hidden;display:block;line-height:26px;height:26px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t2.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist5{text-align:left;margin:0 0 0 0;padding:0 0 0 5px}
.newslist5 li{width:270px;overflow:hidden;display:block;line-height:25px;height:25px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t2.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist6{text-align:left;margin:0 0 0 0;padding:0 0 0 17px}
.newslist6 li{width:194px;overflow:hidden;display:block;line-height:24px;height:24px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t2.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist7{text-align:left;margin:0 0 0 0;padding:0 0 0 7px}
.newslist7 li{width:194px;overflow:hidden;display:block;line-height:24px;height:24px;padding:0 0 0 15px;margin:0 0 0 0;background:url('t2.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist8{text-align:left;margin:0 0 0 0;padding:0 0 0 13px}
.newslist8 li{width:210px;overflow:hidden;display:block;line-height:20px;height:20px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t2.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist9{text-align:left;margin:0 0 0 0;padding:0 0 0 5px}
.newslist9 li{width:245px;overflow:hidden;display:block;line-height:24px;height:24px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t1.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist10{text-align:left;margin:0 0 0 0;padding:5px 0 10px 4px}
.newslist10 li{width:335px;overflow:hidden;display:block;line-height:24px;height:24px;padding:0 0 0 15px;margin:0 0 0 0;background:url('t2.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist11{text-align:left;margin:0 0 0 0;padding:0 0 0 0}
.newslist11 li{width:210px;float:left;overflow:hidden;display:block;line-height:28px;height:28px;padding:0 0 0 0;margin:0 0 0 0}
.newslist11 li a{padding:0 0 0 7px;width:185px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.newslist12{width:650px;text-align:left;margin:0 0 0 0;padding:5px 0 0 5px;overflow:hidden}
.newslist12 li{width:650px;float:left;overflow:hidden;display:block;line-height:24px;height:24px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t2.gif') no-repeat 0px center}
.newslist12 li p{width:500px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.newslist13{width:630px;text-align:left;margin:0 0 0 0;padding:5px 0 0 5px;overflow:hidden}
.newslist13 li{width:630px;float:left;overflow:hidden;display:block;line-height:25px;height:25px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t2.gif') no-repeat 0px center}
.newslist13 li p{width:480px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.newslist14{text-align:left;margin:0 0 0 0;padding:0 0 0 5px}
.newslist14 li{width:300px;overflow:hidden;display:block;line-height:24px;height:24px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t2.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist15{text-align:left;margin:0 0 0 0;padding:0 0 0 5px}
.newslist15 li{width:200px;overflow:hidden;display:block;line-height:24px;height:24px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t2.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist16{text-align:left;margin:0 0 0 0;padding:0 0 0 5px}
.newslist16 li{width:238px;overflow:hidden;display:block;line-height:24px;height:24px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t2.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist17{text-align:left;margin:0 0 0 0;padding:0 0 0 4px}
.newslist17 li{width:235px;line-height:28px;height:28px;float:left;overflow:hidden}
.newslist17 li a{width:210px;overflow:hidden;display:block;padding:0 0 0 7px;margin:0;white-space:nowrap;text-overflow:ellipsis}
.newslist18{text-align:left;margin:0 0 0 0;padding:0 0 0 7px}
.newslist18 li{width:194px;overflow:hidden;display:block;line-height:22px;height:22px;padding:0 0 0 15px;margin:0 0 0 0;background:url('t2.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist19{text-align:left;margin:0 0 0 0;padding:0 0 0 3px}
.newslist19 li{width:165px;overflow:hidden;display:block;line-height:24px;height:24px;padding:0 0 0 8px;margin:0 0 0 0;background:url('t2.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist20{width:215px;text-align:left;margin:0 0 0 0;padding:0 0 0 0}
.newslist20 li{width:208px;height:28px;line-height:28px;padding:0 0 0 7px;background:url('t2.gif') no-repeat 0px center;display:block;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
#wFrame{width:960px;margin:0 auto;overflow:hidden}

/* 头部 */
#header{}
.bj1{width:925px;height:24px;border-bottom:1px #cfdeea solid;padding:10px 15px 4px 20px;overflow:hidden}
.toptx{width:510px;text-align:right;padding:0 15px 0 0;overflow:hidden}
.toptx a{padding:0 15px 0 0}
.dh{width:938px;padding:0 0 0 22px;overflow:hidden}
.dh p{padding:0 22px 0 0}
.dh1{width:946px;height:27px;background-image:url('b3.gif');padding:8px 0 0 14px;overflow:hidden}
.dh1 li{width:84px;height:16px;border-left:1px #89bada solid;border-right:1px #89bada solid;text-align:center;line-height:16px;;float:left;overflow:hidden;display:block}
.dh1 li.nb{border:0px;width:84px;height:16px;line-height:16px;text-align:center;float:left;overflow:hidden}

/* 首页内容 */
#content{}
.left1{width:275px;overflow:hidden}
.cent1{width:410px;padding:0 0 0 15px;overflow:hidden}
.tx1{width:400px;padding:5px 5px 0 5px;overflow:hidden}
.bj2{width:410px;height:12px;background-image:url('b4.gif');overflow:hidden}
.right1{width:244px;overflow:hidden}
.bj3{width:220px;border-left:2px #bfd3a0 solid;border-right:2px #bfd3a0 solid;padding:0 10px 0 10px;overflow:hidden}
.bj4{width:240px;border-left:2px #a7d1e8 solid;border-right:2px #a7d1e8 solid;overflow:hidden}
.con1{width:215px;padding:0 10px 0 16px;overflow:hidden}
.bj5{width:236px;background-image:url('b9.gif');padding:0 0 0 5px;overflow:hidden}
.pic1{width:64px;border:2px #50a4d3 solid}
.tx2{width:150px;padding:14px 0 0 6px;overflow:hidden}
.left2{width:300px;overflow:hidden}
.block1{width:276px;border:2px #e5e5e5 solid;padding:5px 10px;overflow:hidden}
.bj6{width:270px;height:30px;background-image:url('b10.gif');padding:0 3px 0 3px;overflow:hidden}
.bj7{width:15px;height:19px;background-image:url('b11.gif');font-size:14px;color:#fff;line-height:21px;text-align:center;overflow:hidden;display:block}
.bj8{width:15px;height:19px;background-image:url('b12.gif');font-size:14px;color:#fff;line-height:21px;text-align:center;overflow:hidden;display:block}
.right2{width:640px;overflow:hidden}
.block2{width:620px;border:2px #e5e5e5 solid;padding:6px 0 5px 16px;overflow:hidden}
.con2{width:290px;padding:0 20px 0 0;overflow:hidden}
.bj9{width:286px;height:30px;background-image:url('b10.gif');padding:0 3px 0 3px;overflow:hidden}
.left3{width:697px;overflow:hidden}
.bj10{width:665px;height:56px;background-image:url('b14.jpg');padding:0 0 0 32px;overflow:hidden}
.con3{width:320px;padding:0 6px 0 16px;overflow:hidden}
.bj11{width:320px;height:28px;background-image:url('b15.gif');overflow:hidden}
.pic2{width:95px;border:1px #999899 solid;padding:2px}
.bj12{width:665px;height:56px;background-image:url('b19.jpg');padding:0 0 0 32px;overflow:hidden}
.block3{width:628px;border:2px #e6e6e6 solid;padding:4px 0 0 58px;overflow:hidden}
.menuon1{width:74px;height:30px;background-image:url('menuon1.gif');font-family:微软雅黑;font-size:14px;color:#fff;line-height:24px;text-align:center;display:block;cursor:pointer;overflow:hidden}
.menuoff1{width:74px;height:30px;font-family:微软雅黑;font-size:14px;color:#3c8339;line-height:24px;text-align:center;display:block;cursor:pointer;overflow:hidden}
.block4{width:686px;border-left:2px #e6e6e6 solid;border-right:2px #e6e6e6 solid;border-bottom:2px #e6e6e6 solid;background-color:#f7f7f7;padding:0 0 10px 0;overflow:hidden}
.block4 a{padding:0 12px 0 0}
.img1{width:43px;padding:0 12px 0 0}
.block5{width:560px;height:75px;border:2px #e6e7e6 solid;background-color:#fff;padding:15px 23px;margin:8px 0 0 0;overflow:hidden}
.con4{width:670px;padding:0 0 0 20px;overflow:hidden}
.bj13{width:670px;height:30px;background-image:url('b21.gif');overflow:hidden}
.bj14{width:665px;height:56px;background-image:url('b24.jpg');padding:0 0 0 32px;overflow:hidden}
.con5{width:670px;padding:0 0 0 20px;overflow:hidden}
.con6{width:631px;overflow:hidden}
.bj15{width:631px;height:96px;background-image:url('b26.gif');overflow:hidden}
.piclist2{width:564px;overflow:hidden}
.piclist2 li{width:108px;height:96px;padding:0 0 0 33px;float:left;overflow:hidden}
.more1{width:30px;height:81px;padding:9px 0 0 0}
.con7{width:320px;padding:0 5px 0 22px;overflow:hidden}
.bj16{width:320px;height:28px;background-image:url('b28.gif');overflow:hidden}
.block6{width:662px;border:2px #e6e6e6 solid;padding:9px 0 25px 22px;overflow:hidden}
.bj17{width:650px;height:32px;background-image:url('b29.gif');overflow:hidden}
.con8{width:216px;overflow:hidden}
.tx4{width:105px;padding:0 0 0 10px;overflow:hidden}
.right3{width:244px;padding:22px 0 0 0;overflow:hidden}
.piclist1{width:252px;overflow:hidden}
.piclist1 li{padding:0 8px 8px 0;float:left;overflow:hidden}
.tx3{width:110px;padding:0 0 0 10px;overflow:hidden}
.bj18{width:232px;height:235px;background-image:url('b31.jpg');padding:0 0 0 12px;overflow:hidden}
.bj19{width:216px;height:28px;background-image:url('b28.gif');padding:0 0 0 4px;overflow:hidden}
.block7{width:906px;border:2px #e6e6e6 solid;padding:5px 30px 20px 20px;overflow:hidden}

/* 新闻内容 */
.newbj1{width:665px;height:57px;background-image:url('newbj1.jpg');padding:8px 0 0 295px;overflow:hidden}
.newbj1 p{width:115px;padding:0 36px 0 0}
.newleft1{width:280px;overflow:hidden}
.newbj2{width:256px;border-left:2px #bfd3a0 solid;border-right:2px #bfd3a0 solid;padding:0 10px 0 10px;overflow:hidden}
.newcenter{width:400px;padding:0 0 0 20px;overflow:hidden}
.newbj3{width:383px;border-left:1px #88badf solid;border-right:1px #88badf solid;padding:0 0 0 15px;overflow:hidden}
.newcon1{width:370px;overflow:hidden}
.newbj4{width:370px;height:25px;background-image:url('new5.gif');overflow:hidden}
.newblock1{width:227px;border:2px #a7d1e8 solid;padding:6px 0 15px 13px;overflow:hidden}
.newbj5{width:215px;height:28px;background-image:url('b15.gif');overflow:hidden}
.newbj6{width:15px;height:21px;background-image:url('new6.gif');font-size:14px;color:#fff;line-height:25px;text-align:center;overflow:hidden;display:block}
.newbj7{width:15px;height:21px;background-image:url('new7.gif');font-size:14px;color:#fff;line-height:25px;text-align:center;overflow:hidden;display:block}
.newblock2{width:678px;border:2px #7cbade solid;padding:10px 0 15px 15px;overflow:hidden}
.newbj8{width:665px;height:30px;background-image:url('new8.gif');overflow:hidden}
.newblock3{width:227px;border:2px #a7d1e8 solid;padding:6px 0 5px 13px;overflow:hidden}
.newblock4{width:227px;border:2px #a7d1e8 solid;padding:6px 0 10px 13px;overflow:hidden}
.newblock5{width:693px;border:2px #7cbade solid;padding:0 0 25px 0;overflow:hidden}
.newcon2{width:640px;padding:25px 0 0 25px;overflow:hidden}
.newcon3{width:550px;padding:0 0 0 100px;overflow:hidden}
.newcon4{width:605px;padding:15px 0 0 48px;overflow:hidden}
.newbj9{width:675px;height:27px;background-color:#96d5f0;padding:3px 0 0 18px;overflow:hidden}
.newlm{overflow:hidden;display:block;line-height:24px;height:24px;padding:0 0 0 26px;margin:0 0 0 0;background:url('newt1.gif') no-repeat 0px 4px}
.style1{width:43px;height:21px;margin:0 5px}
.newbj10{width:605px;height:40px;background-image:url('new9.gif');padding:10px 0 0 0;overflow:hidden}
#zw p{padding:10px 0}

/* 健康内容 */
.jkcon1{width:205px;padding:0 0 0 10px;overflow:hidden}
.jkcon2{width:90px;overflow:hidden}
.jkcon3{width:115px;overflow:hidden}
.style2{font-size:14px;width:85px;height:21px;margin:5px 0 0 0;overflow:hidden}
.style3{font-size:14px;width:104px;height:16px;margin:7px 0 0 0;*margin:5px 0 0 0!important;overflow:hidden}
.ss{margin:10px 0 0 0}
.jkright1{width:244px;padding:8px 0 0 0;overflow:hidden}
.jkblock1{width:693px;border:2px #7cbade solid;overflow:hidden}
.jkcon4{width:634px;padding:10px 0 0 44px;overflow:hidden}
.jkcon5{width:290px;padding:0 27px 0 0;overflow:hidden}
.jkcon6{width:165px;padding:0 0 0 10px;overflow:hidden}
.jkbj1{width:610px;height:12px;background-image:url('b4.gif');overflow:hidden}
.jkblock2{width:227px;border:2px #e5e6e6 solid;padding:6px 0 10px 13px;overflow:hidden}
.jkbj2{width:215px;height:30px;background-image:url('b10.gif');overflow:hidden}
.jkbj3{width:679px;height:27px;background-color:#96d5f0;padding:3px 0 0 18px;overflow:hidden}
.jkcon7{width:650px;padding:0 0 0 20px;overflow:hidden}

/* 寻医内容 */
.xybj1{width:665px;height:57px;background-image:url('xybj1.jpg');padding:8px 0 0 295px;overflow:hidden}
.xybj1 p{width:115px;padding:0 36px 0 0}
.xybj2{width:286px;height:30px;background-image:url('xybj2.gif');padding:0 3px 0 3px;overflow:hidden}
.xybj3{width:215px;height:30px;background-image:url('xybj3.gif');overflow:hidden}
.xybj4{width:650px;height:177px;background-image:url('xybj4.gif');overflow:hidden}
.xycon1{width:525px;padding:0 0 0 15px;overflow:hidden}
.xycon1 p{padding:2px 0 18px 0}
.xycon2{width:620px;overflow:hidden}
.xycon3{width:630px;padding:0 0 0 36px;overflow:hidden}
.xybj5{width:630px;padding:0 0 10px 0;overflow:hidden}
.xylm{overflow:hidden;display:block;line-height:24px;height:24px;padding:0 0 0 9px;margin:0 0 0 6px;background:url('xyt1.gif') no-repeat 0px center}
.xylm1{border-left:1px #000 solid;padding:0 0 0 10px;margin:0 0 0 10px;overflow:hidden}
.xycon4{width:620px;padding:10px 0 0 22px;overflow:hidden}
.xybj6{width:620px;height:30px;background-image:url('xybj6.gif');overflow:hidden}
.xyleft1{width:282px;overflow:hidden}
.xyright1{width:666px;overflow:hidden}
.xybj7{width:258px;border-left:2px #bfd3a0 solid;border-right:2px #bfd3a0 solid;padding:0 10px 0 10px;overflow:hidden}
.xytx1{width:148px;padding:0 0 0 10px;overflow:hidden}
.xyblock1{width:662px;border:2px #7cbade solid;overflow:hidden}
.xycon6{width:640px;height:187px;overflow:hidden}
.xycon7{width:300px;padding:0 20px 0 0;overflow:hidden}
.xybj8{width:300px;height:32px;background-image:url('xybj9.gif');padding:15px 0 0 0;overflow:hidden}
.xybj9{width:62px;height:22px;background-image:url('xybj10.gif');overflow:hidden}
.xyimg1{padding:5px 5px 0 0}
.xyblock2{width:266px;border:2px #7cbade solid;padding:0 6px;overflow:hidden}
.xybj10{width:262px;height:30px;background-image:url('xybj6.gif');padding:0 0 0 4px;overflow:hidden}
.xybj11{width:630px;height:2px;background-image:url('xybj11.gif');overflow:hidden}

/* 养生内容 */
.yscon1{width:205px;padding:0 0 0 10px;overflow:hidden}
.ysbj1{width:232px;height:255px;background-image:url('ysbj1.jpg');padding:0 0 0 12px;overflow:hidden}
.ysbj2{width:960px;height:91px;background-image:url('ysbj2.gif');padding:10px 0 0 0;overflow:hidden}
.yst1{width:239px;padding:12px 0 0 0;overflow:hidden}
.yst2{width:125px;padding:5px 38px 0 0;overflow:hidden}
.ysbj3{width:665px;height:34px;background-image:url('ysbj4.jpg');padding:0 0 0 32px;overflow:hidden}

/* 营养内容 */
.yycon1{width:690px;overflow:hidden}
.yycon2{width:180px;padding:0 35px 0 15px;overflow:hidden}
.yybj1{width:180px;height:30px;background-image:url('yybj1.gif');overflow:hidden}
.yynum1{width:23px;padding:10px 0 0 0;overflow:hidden}
.yynum2{width:23px;padding:18px 0 0 0;overflow:hidden}
.yytxt1{width:180px;overflow:hidden}
.timelist{width:100px;overflow:hidden}

/* 聊天讲座 */
.ltbj1{width:665px;height:57px;background-image:url('ltbanner.jpg');padding:8px 0 0 295px;overflow:hidden}
.ltbj1 p{width:115px;padding:0 36px 0 0}
.ltcon1{width:225px;padding:0 0 0 8px;overflow:hidden}

#footer{width:960px;height:28px;border-top:7px #d00000 solid;background-color:#000;padding:5px 0 0 0;overflow:hidden}

#footers{width:100%;height:100px;color:#666;line-height:30px;text-align:center;border-top:6px #b81506 solid;background-image:url('http://news.eastday.com/images/2013xwzx/footbj.gif');padding:20px 0 0 0}
#footers a{color:#666}

.videoname{width:240px;overflow:hidden;display:block;line-height:24px;height:24px;white-space:nowrap;text-overflow:ellipsis;font-family:微软雅黑;font-size:12px;color:#666}