* {
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-decoration: none;
}
body {
	text-align:center;
	font-family:"ËÎÌå";
	font-size:12px;
	background-color: #fff;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote{padding:0; margin:0;}   
li{list-style-type:none;}
img{
	border:none;
}
ol,ul {list-style:none;}   
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;}   
address,caption,cite,code,dfn,em,th,var {font-weight:normal; font-style:normal;}   
select,input{vertical-align:middle;}
a:link {}
a:visited {}
a:hover {text-decoration: none;}
a:active {
	text-decoration: none;
}
.input1 {
	background-image: url(input1.gif);
	background-repeat: no-repeat;
	height: 25px;
	width: 200px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	line-height:25px;
	font-size:12px;
}
.input1_770 {
	background-image: url(input1.gif);
	background-repeat: no-repeat;
	height: 25px;
	width: 178px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	line-height:25px;
	font-size:12px;
}
.bg-b3 {
	background-image: url(b3.gif);
	background-repeat: no-repeat;
	background-position: 0px bottom;
}
.pix12h1 {
	font-size: 12px;
	line-height: 18px;
	color: #595757;
}
.pix14h1 {
	font-size: 14px;
	color: #595757;
}
.pix12h1-lh18 {
	font-size: 12px;
	line-height: 18px;
	color: #595757;
}
.pix12h1-lh21 {
	font-size: 12px;
	line-height: 21px;
	color: #595757;
}
.pix12h1-lh24 {
	font-size: 12px;
	line-height: 24px;
	color: #595757;
}
.pix12h1-lh24 p{
	margin-bottom:12px;
}
.pix12h1-lh28 {
	font-size: 12px;
	line-height: 28px;
	color: #595757;
}
.pix14h1-lh24 {
	font-size: 14px;
	line-height: 24px;
	color: #595757;
}
.pix14h1-lh28 {
	font-size: 14px;
	line-height: 28px;
	color: #595757;
}
.pix14h1b {
	font-size: 14px;
	font-weight: bold;
	color: #595757;
}
.pix14h1b-lh24 {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #595757;
}
.pix14h1b-lh30 {
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #595757;
}
.pix12b1 {
	font-size: 12px;
	color: #5EB6E4;
}
.pix14b2 {
	font-size: 14px;
	font-weight: bold;
	color: #00C3EE;
}
.pix24b3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #00C4EE;
}
.pix12b4-lh21 {
	font-size: 12px;
	line-height: 21px;
	color: #91C1C3;
}

.pix12w {
	font-size: 12px;
	color: #fff;
}
.pix12c1 {
	font-size: 12px;
	color: #FC9BB2;
}
.pic1 {
	height: 103px;
	width: 136px;
	position: relative;
}
.pic1 .img {
	height: 103px;
	width: 136px;
	position:absolute;
	left:0;
	bottom: 0px;
}
.pic1 .bg {
	width:136px;
	position:absolute;
	left:0;
	background-color: #000;
	height: 23px;
	bottom: 0px;
	FILTER: alpha(opacity=60);
	moz-opacity: 0.60;
	opacity: 0.60;
	z-index: 2;
}
.pic1 .h3 {
	width:136px;
	position:absolute;
	left:0;
	color:#fff;
	height: 23px;
	bottom: 0px;
	font-size: 12px;
	line-height: 23px;
	text-align: center;
	overflow:hidden;
	z-index: 3;
}
.pic1 .h3 a {
	color:#fff;
}

.ellipsis {overflow:hidden; white-space:nowrap;text-overflow:ellipsis;}
.menu-off{background:url("off.png") no-repeat scroll 0 0 transparent; background-position:center bottom; width:80px;height:18px; line-height:18px;text-align:center; display:block; float:left;margin-left:-41px; cursor:pointer;color:#595757;font-size:12px; position:relative;font-family:ËÎÌå; padding-top:28px;}
.menu-on{background:url("on.png") no-repeat scroll 0 0 transparent; background-position:center bottom; width:80px;height:30px;text-align:center; display:block; float:left;margin-left:-23px; cursor:pointer;color:#fff;font-size:12px; position:relative;font-family:ËÎÌå; padding-top:16px;}
i, em {font-style: normal;}
.menu-on i{font-family:ËÎÌå;}
.menu-on em{font-family:Arial, Helvetica, sans-serif;font-size: 30px;font-weight: bold;}
.date1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 28px;
	color: #000000;
	background-image: url(date1.gif);
	background-repeat: no-repeat;
	text-align: center;
	display: block;
	height: 28px;
	width: 39px;
}
.date1 a {	color: #000000;}
.date2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 28px;
	color: #B5826D;
	background-image: url(date1.gif);
	background-repeat: no-repeat;
	text-align: center;
	display: block;
	height: 28px;
	width: 39px;
}
.date2 a {	color: #B5826D;}
.date3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 28px;
	color: #595757;
	background-image: url(date1.gif);
	background-repeat: no-repeat;
	text-align: center;
	display: block;
	height: 28px;
	width: 39px;
	font-weight: bold;
}
.date3 a {	color: #595757;}
.yue1 {
	font-size: 12px;
	line-height: 28px;
	color: #585757;
	background-image: url(yue1.gif);
	background-repeat: no-repeat;
	text-align: center;
	display: block;
	height: 28px;
	width: 28px;
}
.yue2 {
	font-size: 12px;
	line-height: 28px;
	color: #585757;
	background-image: url(yue2.gif);
	background-repeat: no-repeat;
	text-align: center;
	display: block;
	height: 28px;
	width: 28px;
}
.yue3 {
	font-size: 12px;
	line-height: 28px;
	color: #585757;
	background-image: url(yue3.gif);
	background-repeat: no-repeat;
	text-align: center;
	display: block;
	height: 28px;
	width: 28px;
}
.yue{ padding:41px 0 0 17px;color:#C1DF24;}
.yue i{font-family:Arial, Helvetica, sans-serif;font-size: 18px;font-weight: bold;}
.yue em{font-family:Arial, Helvetica, sans-serif;font-size: 36px;font-weight: bold;}
/*ÆÙ²¼Í¼Æ¬*/
#container {position:relative;width:948px; margin:0 auto;}
#tiles {
list-style-type: none;
position: relative;
margin: 0;
}
#tiles li {
	width: 207px;
	padding:9px 9px 0 9px;
	border: 1px solid #e2e2e2;
	margin:0 0 10px 10px;
}
#tiles li img {
display: block;
}
#tiles li p {
	color: #595757;
	font-size: 12px;
	line-height: 35px;
	text-align: center;
}
.cyyg_bgl {
background:url(b12_b.gif) no-repeat;
width:20px;
height:25px;
overflow:hidden;
float:left
}
.cyyg_bgc {
float:left;
height:25px;
padding:0 10px;
background:#FD9FCA;
font-size:16px;
color:#fff;
font-weight:bold;
line-height:25px;
font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"


}
.cyyg_bgr {
background:url(b12_b.gif) no-repeat  right;
width:20px;
height:25px;
overflow:hidden;
float:left
}

.w980 {width:980px;margin:0 auto;}
.sph img:first-child {padding-right:10px;}
.sph {margin-bottom:30px;}
.graybg {background:#f0f0f0;padding:20px 0;}
.gray14 {color:#505050;font-size:14px;line-height:50px;}
.gray12 {color:#505050;font-size:12px;}
.listwrap {margin-left:240px;}
.listwrap img {width:240px;height:170px;padding-bottom:10px;}
.listwrap li,.listwrap1 li {float:left;margin:30px 20px 0 0;cursor:pointer;}
.listwrap1 {width:760px;margin-left:130px;}
.listwrap1 img {width:170px;height:120px;padding-bottom:10px;}
.listwrap1 li {width:170px;}
.listwrap1 li h2,.listwrap2 li h2 a {height:35px;line-height:17px;}
.listwrap2 img {width:205px;height:145px;padding-bottom:10px;}
.listwrap2 li {width:205px;padding:0 53px 30px 0;float:left;}
.listwrap2 li:nth-child(4n+4) {padding:0 0 30px 0;}
.clear {clear:both;}
.footer {padding-top:50px;}
.pages1{padding:30px 0 30px 0;margin:0 atuo;overflow:hidden;margin-top:20px;}
.pageon{padding:3px 7px;background-color:#ff33a4;border:1px #ff33a4 solid;text-align:center;margin:0 0 0 5px;display:inline;overflow:hidden;color:#fff;font-size:14px;}
.pageoff{padding:3px 7px;border:1px #666 solid;background-color:#fff;text-align:center;margin:0 0 0 5px;display:inline;overflow:hidden;font-size:14px;}
.pageimg{padding:5px 8px 3px;border:1px #666 solid;background-color:#fff;margin:0 0 0 5px;display:inline;overflow:hidden;font-size:12px;}
.pages1 a:link,.pages1 a:visited {text-decoration:none;color:#333;}
.pages1 a:hover {text-decoration:none;}