* {font-size:12px;color:#000;}

a:link {text-decoration: none;color: #000;}
a:visited {text-decoration: none;color: #000;}
a:hover {text-decoration: none;color: #000;}

a.white12:link {text-decoration: none;color: #fff;font-size:12px;}
a.white12:visited {text-decoration: none;color: #fff;font-size:12px;}
a.white12:hover {text-decoration: none;color: #fff;font-size:12px;}

a.white12a:link {text-decoration: none;color: #fff;font-size:12px;line-height:150%;}
a.white12a:visited {text-decoration: none;color: #fff;font-size:12px;line-height:150%;}
a.white12a:hover {text-decoration: none;color: #fff;font-size:12px;line-height:150%;}

a.white18:link {text-decoration: none;color: #fff;font-size:18px;font-family:"黑体";}
a.white18:visited {text-decoration: none;color: #fff;font-size:18px;font-family:"黑体";}
a.white18:hover {text-decoration: none;color: #fff;font-size:18px;font-family:"黑体";}

a.red12:link {text-decoration: none;color: #FF0000;font-size:12px;}
a.red12:visited {text-decoration: none;color: #FF0000;font-size:12px;}
a.red12:hover {text-decoration: none;color: #FF0000;font-size:12px;}

a.red14:link {text-decoration: none;color: #FF0000;font-size:14px;}
a.red14:visited {text-decoration: none;color: #FF0000;font-size:14px;}
a.red14:hover {text-decoration: none;color: #FF0000;font-size:14px;}

a.blue12:link {text-decoration: none;color: #0F2D81;font-size:12px;}
a.blue12:visited {text-decoration: none;color: #0F2D81;font-size:12px;}
a.blue12:hover {text-decoration: none;color: #0F2D81;font-size:12px;}

a.blue14:link {text-decoration: none;color: #1F376D;font-size:14px;}
a.blue14:visited {text-decoration: none;color: #1F376D;font-size:14px;}
a.blue14:hover {text-decoration: none;color: #1F376D;font-size:14px;}

a.grey18:link {text-decoration: none;color: #303030;font-size:18px;font-family:"黑体";}
a.grey18:visited {text-decoration: none;color: #303030;font-size:18px;font-family:"黑体";}
a.grey18:hover {text-decoration: none;color: #303030;font-size:18px;font-family:"黑体";}

a.grey19:link {text-decoration: none;color: #303030;font-size:18px;font-family:"黑体";}
a.grey19:visited {text-decoration: none;color: #303030;font-size:18px;font-family:"黑体";}
a.grey19:hover {text-decoration: none;color: #303030;font-size:18px;font-family:"黑体";}

a.pix20b1:link {text-decoration: none;color: #303030;font-size:18px;font-family:"黑体";}
a.pix20b1:visited {text-decoration: none;color: #303030;font-size:18px;font-family:"黑体";}
a.pix20b1:hover {text-decoration: none;color: #303030;font-size:18px;font-family:"黑体";}

a.grey12:link {text-decoration: none;color: #303030;font-size:12px;}
a.grey12:visited {text-decoration: none;color: #303030;font-size:12px;}
a.grey12:hover {text-decoration: none;color: #303030;font-size:12px;}

a.grey14:link {text-decoration: none;color: #303030;font-size:14px;}
a.grey14:visited {text-decoration: none;color: #303030;font-size:14px;}
a.grey14:hover {text-decoration: none;color: #303030;font-size:14px;}

a.ta:link {text-decoration: none;color: #303030;font-size:14px;}
a.ta:visited {text-decoration: none;color: #303030;font-size:14px;}
a.ta:hover {text-decoration: none;color: #303030;font-size:14px;}

a.grey12a:link {text-decoration: none;color: #303030;font-size:12px;line-height:150%;}
a.grey12a:visited {text-decoration: none;color: #303030;font-size:12px;line-height:150%;}
a.grey12a:hover {text-decoration: none;color: #303030;font-size:12px;line-height:150%;}

a.grey12b:link {text-decoration: none;color: #303030;font-size:12px;line-height:180%;}
a.grey12b:visited {text-decoration: none;color: #303030;font-size:12px;line-height:180%;}
a.grey12b:hover {text-decoration: none;color: #303030;font-size:12px;line-height:180%;}

a.grey14a:link {text-decoration: none;color: #303030;font-size:14px;line-height:180%;}
a.grey14a:visited {text-decoration: none;color: #303030;font-size:14px;line-height:180%;}
a.grey14a:hover {text-decoration: none;color: #303030;font-size:14px;line-height:180%;}

a.black14:link {text-decoration: none;color: #000;font-size:14px;}
a.black14:visited {text-decoration: none;color: #000;font-size:14px;}
a.black14:hover {text-decoration: none;color: #000;font-size:14px;}

a.red18:link {text-decoration: none;color: #ff0000;font-size:18px;font-family:"黑体";}
a.red18:visited {text-decoration: none;color: #ff0000;font-size:18px;font-family:"黑体";}
a.red18:hover {text-decoration: none;color: #ff0000;font-size:18px;font-family:"黑体";}

a.black18:link {text-decoration: none;color: #000;font-size:18px;font-family:"黑体";}
a.black18:visited {text-decoration: none;color: #000;font-size:18px;font-family:"黑体";}
a.black18:hover {text-decoration: none;color: #000;font-size:18px;font-family:"黑体";}

a.black20:link {text-decoration: none;color: #000;font-size:20px;font-family:"黑体";}
a.black20:visited {text-decoration: none;color: #000;font-size:20px;font-family:"黑体";}
a.black20:hover {text-decoration: none;color: #000;font-size:20px;font-family:"黑体";}

a.green:link {text-decoration: none;color: #54AD30;font-size:12px;}
a.green:visited {text-decoration: none;color: #54AD30;font-size:12px;}
a.green:hover {text-decoration: none;color: #54AD30;font-size:12px;}

a.green28:link {text-decoration: none;color: #3ba013;font-size:28px;font-family:"黑体";}
a.green28:visited {text-decoration: none;color: #3ba013;font-size:28px;font-family:"黑体";}
a.green28:hover {text-decoration: none;color: #3ba013;font-size:28px;font-family:"黑体";}

.white12 {color:#fff;font-size:12px;}
.white18 {color:#fff;font-size:18px;}
.bold {font-weight:bold;letter-spacing:0;*letter-spacing:1px !important;*letter-spacing:1px;}
.spc2 {letter-spacing:2px;}
.red {color:#ff0000;}
.grey {color:#303030;}
.blue12 {font-size:12px;color:#364073;}
.black {color:#000;}
.grey12a {color:#303030;line-height:150%;}
.blue {color:#1F376D;}