/* 全局 */
body {background:#fff;}
* {padding:0;margin:0;line-height:100%;}
ul li {list-style:none;}
#gjhome {
	margin:0 auto;
	width:100%;
}
.fl {
	float:left;
}
.blk {display:block;}
.clear {clear:both;}
.ht {border:1px solid;height:1px;}
.pot {cursor:pointer;}
.pd5 {height:0;*height:1px !important;}

.tin {text-indent:2em;}
.tjpai span {font-size:14px;}
.imgh img {*height:5px !important;}
[xmlns] .imgh  img {height:0px;}
.fh {padding-top:1px;}
.shie6 {padding-bottom:2px !important;padding-bottom:4px;}


/* 频道导航 */
#nav1 {position:relative;height:55px;}
#hdxx {height:30px;width:825px;border-bottom:1px solid #DA0004;}
#hdxx .pdlogo {width:345px;margin-top:6px;padding-top:1px;}
#hdxx .xxdl {width:73px;margin-top:6px;padding-top:1px;}
#hdxx .ssinput {width:106px;margin-top:4px;}
.kong1 {width:90px;font-size:12px;background:#FFF8FF;}
#hdxx .ssbtn {width:57px;margin-top:7px;}
#hdxx .big5btn {width:36px;margin-top:9px;}
#hdxx .egbtn {width:54px;margin-top:9px;}
#hdxx .jpbtn {width:45px;margin-top:7px;}
#nav1 ul {position:absolute;top:37px;left:75px;}
#nav1 ul li {float:left;padding-left:16px;background:url(dian.gif) 7px 3px no-repeat;padding-top:1px;}
#nav1 .dh1first {padding:1px 0 0;background:none;}
#nav1 .dh1sj {padding-left:15px;}
[xmlns] #nav1 .dh1pd {padding-left:15px;}
[xmlns] #nav1 .dh1sj {padding-left:14px;}
#nav2 {width:884px;height:12px;padding:4px 8px;}
.cjbgcolor {background:#C7880B;}
.rt {float:right;}
#nav2 span {float:left;padding-left:9px;padding-top:1px;}
.cjnav2 span {background:url(wshu.gif) 4px 0 no-repeat;}
#nav2 .nav2last {padding-left:5px;background:url(wshu.gif) 4px 0 no-repeat;}
#nav3 {width:865px;height:12px;padding:4px 10px 4px 25px;}
#nav3 span {float:left;padding-left:21px;padding-top:1px;}
.cjnav3 span {background:url(wshu.gif) 11px 0 no-repeat;}
#nav3 .nav2last {padding-left:10px;background:url(wshu.gif) 11px 0 no-repeat;}


/*滚动消息*/
#gdxx {padding:5px 0;}
.gdlogo {width:20px;padding-top:5px;}
.gdwz {width:65px;padding-top:5px;}
.gdiframe {width:815px;}


/*主体内容*/
#main {margin-top:5px;height:100%}
#main #left {width:610px;background:#fff;}
#main #right {width:350px;}


/*左边主体内容*/
#left #adv {padding-right:5px;}
#left #jsbtn {width:67px;}
#jsbtn .imgtop {padding-bottom:2px;}
#locbk {padding:13px 0;}
#locbk .lobtn {width:20px;padding-top:1px;}
#locbk .lowz {width:261px;padding-top:1px;}
#locbk .losl {width:91px;padding-top:1px;}
#locbk .slcolor img {width:10px;height:10px;padding-right:2px;}
#left h1 {width:540px;padding:16px 0;text-align:center;margin-top:10px;}
.cjzwbk {background:url(cj_4.gif) 0 100% repeat-x;}
#left h2 {text-align:center;font-weight:normal;margin-top:10px;}
#left p {padding:0 10px;}
#zw {margin-top:10px;}
#zw img {max-width: 500px;margin:0 auto 10px;display:block;}
#zw h6 img {margin:0 auto 10px;display:block;width:530px;}
#zw p {margin-bottom:10px;font-size:14px;line-height:150%;}
#zw p strong, #zw p span, #zw p a {font-size:14px;line-height:150%;}
#zw p a:link,#zw p a:visited,#zw p a:hover,#zw p a.ta:link,#zw p a.ta:visited,#zw p a.ta:hover, {color:#0000ff;}
#zw p td {padding-top:1px;}
.fyzw {margin-bottom:10px;font-size:14px;line-height:150%;padding:0 10px;}
.fyzw img {margin:0 auto 10px;display:block;}
#pageindex {text-align:center;}
#left h3 {text-align:right;margin:0 10px 20px 0;}
#left h4 {padding-bottom:10px;background:url(sh_2.gif) 0 100% repeat-x;width:540px;margin-bottom:10px;}
#left .xgxw {margin-bottom:15px;}
#left .xgxw li {margin:7px 0;padding-left:20px;background:url(dian1.gif) 8px 4px no-repeat;}
#left .tgpd {margin-bottom:10px;}
#ysyd {width:540px;}
.ysydline span {display:none;}
.ysydlist {border:1px solid #D0D0D0;padding:0 5px;height:390px;background:#fff url(chn_15.gif) 0 0 repeat-x;overflow:hidden;}
.ysydlist h1 {height:20px;padding:7px 0 0 28px;}
.yslttitle {border-top:1px dashed #C9C9C9;padding:15px 28px;}
.ysltzy {padding-bottom:10px;}
.ysyd1list {border:1px solid #D0D0D0;padding:0 5px;height:740px;background:#fff url(chn_15.gif) 0 0 repeat-x;overflow:hidden;}
.ysyd1list h1 {height:20px;padding:7px 0 0 28px;}
.ysyd1list h2 {border-top:1px dashed #C9C9C9;padding:15px 28px;text-align:center;}
.ysyd1list p {padding-bottom:10px;}
.ysyd1list ul li {padding:5px 0 5px 22px;background:url(dian1.gif) 10px 8px no-repeat;}
.ysyd1list h3 {border-top:1px dashed #C9C9C9;margin-top:17px;}
.ysyd1list h3 span {display:block;margin:4px 0 7px;padding:6px 14px;}
.yslt1pn {height:100px;padding-top:10px;*padding-top:5px !important;*padding-top:5px;}
.yslt1pic {width:163px;}
.yslt1pic img {width:132px;height:86px;padding:3px;border:1px solid #CFCFCF;margin-left:21px;}
.yslt1news {width:365px;}
#fjxx {border:5px solid #EFEFEF;width:530px;}
#fjxx #fjnc {border:1px solid #B5B5B5;padding:4px;width:520px;}
#fjxx #fjnc h1 {width:510px;text-align:left;margin:0 0 10px;padding:5px 0 5px 10px;}
.cjfjnc h1 {background:url(cj_5.gif) 0 0 no-repeat;}
#fjxx #fjnc .dpai li {width:235px;float:left;padding:1px 0 9px 25px;}
.cjpaibk li {background:url(cj_6.gif) 15px 4px no-repeat;}
#fjxx #fjnc .tjpic {border:1px solid #B5B5B5;padding:4px;margin:0 10px;}
#fjxx #fjnc .tjpic img {width:120px;height:89px;}
#fjxx #fjnc .pictitle {width:120px;padding:5px 0 0 18px;font-weight:normal;display:block;}
.cjpictitle {background:url(cj_6.gif) 10px 8px no-repeat;}
#fjxx #fjnc .tjpai li {padding:1px 0 7px 30px;}
.cjtjpaibk li {background:url(cj_6.gif) 20px 4px no-repeat;}
#fjxx #fjnc .line {background:url(cj_7.gif) 0 0 repeat-x;height:3px;margin:5px 0;clear:both;}
[xmlns] #fjxx #fjnc .line {margin:10px 0;}
#fjxx #fjnc .hscj {margin-right:8px;}
#fjxx #fjnc .hscjlast {margin-right:0;}
#fjxx #fjnc .hscj img {width:120px;height:91px;border:1px solid #ADADAD;padding:1px;}
#fjxx #fjnc .hscj span {display:block;padding:8px 0 0 5px;width:117px;}
.cjhsbk {background:url(cj_6.gif) 0 12px no-repeat;}



/*右边主体内容*/
#right .hzh {padding:6px;border:1px solid #B5B5B5;margin-bottom:5px;}
#right h1 {padding:6px 10px;}
.cjh1bk {background:url(cj_8.gif) 0 0 no-repeat;}
#right .bgc {background:#FFF;}
#right .bktj {border:1px solid #B5B5B5;padding:0 8px 12px;margin:2px 0 5px;height:44px;}
#right .bktj li {width:156px;padding:10px 0 0 10px;background:url(dian1.gif) 4px 14px no-repeat;}
#right .cjghsl {border:1px solid #B5B5B5;padding:0 8px 12px;margin:2px 0 5px;height:96px;}
#right .cjghsl li {width:156px;padding:12px 0 0 10px;background:url(dian1.gif) 4px 14px no-repeat;}
#right .badv {padding:4px 7px;border:1px solid #B5B5B5;margin-bottom:5px;text-align:center;}
#right .badv iframe {padding:0 10px;}
#right .lpd {padding:0 13px 12px;border:1px solid #B5B5B5;margin:2px 0 5px;}
#right .ghsl li {padding:10px 0 0 8px;background:url(dian1.gif) 0px 14px no-repeat;}
#right .ghsla li {padding:13px 0 0 8px;background:url(dian1.gif) 0px 17px no-repeat;}
#right .dphq {padding:4px;border:1px solid #B5B5B5;margin:2px 0 5px;height:200px;}
#right .dphq li {height:199px;background:#fff;padding:0 3px;}
#right .bgp {background:url(cj_15.gif) 0 0 repeat-x;width:350px;height:34px;}
#right .jcbw {padding:0 13px 12px;border:solid #B5B5B5;margin:0 0 5px;border-width:0 1px 1px;}
#right .jcbw li {padding:12px 0 0 8px;background:url(dian1.gif) 0px 14px no-repeat;}

#right .jxlt {padding:0 13px 12px;border:solid #B5B5B5;margin:0 0 5px;border-width:0 1px 1px;}
#right .jxlt li {padding:10px 0 0 8px;background:url(dian1.gif) 0px 14px no-repeat;}
#right .cjbq {padding-top:8px;background:url(sh_11.gif) 0px 0px no-repeat;height:26px;}
#right .cjbq label {line-height:26px;background:url(cj_13.gif) 0px 0px no-repeat;padding:6px 8px;border:1px solid #B5B5B5;}
#right .cjbq label.selected {background:#FFF;}
#right .cjbqlt {padding-top:8px;height:26px;}
@media all and (min-width: 0px){#right .bgp {position:relative;}#right .bgp .cjbqlt {position:absolute;top:7px;left:90px;}}
#right .cjbqlt label {line-height:26px;background:url(cj_13.gif) 0px 0px no-repeat;padding:6px 8px;border:1px solid #B5B5B5;}
#right .cjbqlt label.selected {background:#FFF;}
#right h2 {padding:6px 10px;position:relative;}
.cjh2bk {background:url(cj_17.gif) 0 0 no-repeat;}
#right h2 span {position:absolute;top:10px;right:20px;font-weight:normal;}
#right .shlpd {padding:10px 4px 0px;border:1px solid #B5B5B5;margin:2px 0 5px;height:152px;}
#right .shlpd li {float:left;width:144px;padding:0px 0 4px 8px;background:url(dian1.gif) 2px 4px no-repeat;border-bottom:1px dotted #9F7100;margin-bottom:5px;}
#right .shlpd .mc {background-image:none;width:28px;}
#right .pdjx {margin:2px 0 0;}
#right .pdjx li {padding:12px 0 0;background:none;}
#right .npdjx {border:1px solid #B5B5B5;padding:0 8px 12px;margin:2px 0 5px;height:240px;}
#right .npdjx li {padding-top:12px !important;padding-top:11px;background:none;width:157px;}
#right .npdjx .pdjxlt {padding-left:17px;background:url(dian1.gif) 8px 15px no-repeat;}


/*底部内容*/
#footer {margin-top:8px;}
#footer .cjhzhb {border:1px solid #7E7E7E;padding:3px;}
#footer .cjhzhb h1 {background:#CD8802;text-align:center;padding:4px 0;}
#footer .cjhzhb p {margin-top:4px;}
#footer #bqsy {background:#000;text-align:center;border-top:5px solid #D00000;padding:8px 0;}


/*上海频道开始*/
/* 频道导航 */
.shbgcolor {background:#B0E0FB;}
.shnav2 span {background:url(huishu.gif) 4px 0 no-repeat;}
#nav2 .shnav2last {padding-left:5px;background:url(huishu.gif) 4px 0 no-repeat;}
.shnav3 {margin-top:1px;}
.shnav3 .shnav3logo {padding:1px 0 0 6px;background:url(sh_15.gif) 0 0 repeat-x;}
.shnav3 .shnav3dh {width:786px;height:18px;background:url(sh_15.gif) 0 0 repeat-x;padding:8px 0 0 10px;}
.shnav3 .shnav3dh a {padding-left:11px;background:url(dian2.gif) 3px 5px no-repeat;}
/* 左边主体内容 */
.shzwbk {background:url(sh_2.gif) 0 100% repeat-x;}
.shfjnc h1 {background:url(sh_3.gif) 0 0 no-repeat;}
.shpaibk li {background:url(sh_17.gif) 15px 4px no-repeat;}
.shpictitle {background:url(sh_17.gif) 10px 8px no-repeat;}
.shtjpaibk li {background:url(sh_17.gif) 20px 4px no-repeat;}
.shhsbk {background:url(sh_17.gif) 0 12px no-repeat;}
.ysydsh {background:#5BB6F5;height:3px;margin-bottom:2px;}
/* 右边主体内容 */
.shh2bk {background:url(sh_4.gif) 0 0 no-repeat;}
#right .shjrtx {border:1px solid #B5B5B5;padding:0 8px 12px;margin:2px 0 5px;height:130px;}
#right .shjrtx li {background:url(dian1.gif) 0 14px no-repeat;width:150px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding:10px 8px 4px;}
#right .shbgc {background:#FFF;}
#right .rmztlpd {border:1px solid #B5B5B5;padding:0 5px 12px;margin:2px 0 5px;height:48px;}
#right .rmzt li {width:73px;padding:10px 0 0 10px;background:url(dian1.gif) 4px 14px no-repeat;}
#right .rmzt li {*width:74px !important;padding:10px 0 0 10px;background:url(dian1.gif) 4px 14px no-repeat;}
#right .shbgp {background:url(sh_10.gif) 0 0 repeat-x;}
#right .shlpdsh {padding:10px 4px 0px;border:1px solid #B5B5B5;margin:2px 0 5px;height:152px !important;height:153px;}
#right .shlpdsh li {float:left;width:144px;padding:4px 0 4px 8px;background:url(dian1.gif) 2px 8px no-repeat;border-bottom:1px dotted #B5B5B5;margin-bottom:3px;}
#right .shlpdsh .mc {background-image:none;width:28px;}
#right .unshlpdsh {padding:10px 4px 0px;border:1px solid #B5B5B5;margin:2px 0 5px;height:290px;}
#right .inshlpdsh {border-bottom:1px dotted #B5B5B5;height:90px !important;height:89px !important;height:88px;width:340px;}
#right .lastinshlpdsh {border-bottom:none;}
#right .inshlpdsh .mc {width:28px;padding:9px 0 0 8px;}
#right .inshlpdsh ul {width:304px;}
#right .inshlpdsh li {float:left;width:144px;padding:8px 0 12px 8px;background:url(dian1.gif) 2px 13px no-repeat;}

#right .shcjbqlt label.selected {background:#FFF;}
#right .shcjbq label.selected {background:#FFF;}
#right .shcjbq {background-image:url(sh_11.gif);}
#right .shdjph {background-image:url(sh_12.gif);}
#right .shmdsh {margin-bottom:5px;border-width:2px 1px 1px;border-style:solid;border-color:#1253BE #B5B5B5 #B5B5B5;padding:9px;background:#fff;*height:140px !important;}
[xmlns] #right .shmdsh {height:130px;}
#right .shmdsh ul li {padding-bottom:8px;border-bottom:1px dotted #B5B5B5;}
#right .shmdsh .mdtitle {width:77px;*padding-bottom:5px !important;}
[xmlns] #right .shmdsh .mdtitle {padding-bottom:6px;}
#right .shmdsh .mdtt {width:196px;padding-left:10px;background:url(dian1.gif) 0 4px no-repeat;}
#right .shmdsh .mdmore {width:37px;padding-left:10px;background:url(sh_16.gif) 0 2px no-repeat;}
#right .shmdsh .mdshimg {width:106px;height:74px;padding:4px 3px;border:1px solid #7E7E7E;margin:11px 19px 0 0;}
#right .shmdsh .mdlist {padding-top:11px;}
#right .shmdsh .mdlist li {width:187px;padding:1px 0 8px 10px;border-bottom:none;background:url(dian1.gif) 0 4px no-repeat;}
#right .shmdsh .mdlist .mdlistlast {padding:1px 0 0 10px;}
#right .shmdheight {height:257px;*height:256px !important;*height:249px;}
@media all and (min-width: 0px){#right .shmdheight {height:257px;}}
/*上海频道结束*/


/*娱乐频道开始*/
/* 频道导航 */
.enbgcolor {background:#464646;}
/* 左边主体内容 */
.enfjnc h1 {background:url(en_2.gif) 0 0 no-repeat;}
.enpaibk li {background:url(en_3.gif) 15px 4px no-repeat;}
.enpictitle {background:url(en_3.gif) 10px 8px no-repeat;}
.entjpaibk li {background:url(en_3.gif) 20px 4px no-repeat;}
.enhsbk {background:url(en_3.gif) 0 12px no-repeat;}
/* 右边主体内容 */
.enh2bk {background:url(en_4.gif) 0 0 no-repeat;}
#right .enbgp {background:url(en_9.gif) 0 0 repeat-x;}
#right .bkstar {border:1px solid #B5B5B5;padding:0 8px 12px;margin:2px 0 5px;height:95px;}
#right .bkstar li {width:156px;padding:12px 0 0 10px;background:url(dian1.gif) 0 16px no-repeat;}
#right .shqy {border:1px solid #B5B5B5;padding:10px 0  0 10px;margin:2px 0 5px;height:259px;}
@media all and (min-width: 0px){#right .shqy {height:258px;}}
#right .ssqyleft {width:168px;}
#right .ssqyleft img {width:134px;height:92px;border:1px solid #ABABAB;margin:0 0 10px 9px;display:block;}
#right .ssqyleft span {width:136px;display:block;margin:0 0 10px 9px;text-align:center;padding-top:1px;}
#right .ssqyright li {padding:1px 0 13px 10px;border-bottom:none;background:url(dian1.gif) 0 5px no-repeat;} 
#right .pczj {width:170px;margin-right:5px;}
.enpch2bk {background:url(en_11.gif) 0 0 no-repeat;}
#right .pczjlist {border:1px solid #B5B5B5;padding:10px;margin:2px 0 0;height:167px;}
#right .pczjlist img {width:134px;height:92px;border:1px solid #ABABAB;display:block;margin:0 auto;}
#right .pczjlist span {width:136px;display:block;margin:5px auto 0;padding-top:1px;}
#right .pczjlist li {padding:13px 0 0 10px;border-bottom:none;background:url(dian1.gif) 0 17px no-repeat;} 
#right .jdgx {width:175px;}
.enjdh2bk {background:url(en_13.gif) 0 0 no-repeat;}
#right .jdgxh {height:175px;margin:2px 0 0;}
#right .jdgxh {*height:175px !important;*margin:2px 0 0 !important;}
[xmlns] #right .jdgxh {height:175px;margin:2px 0 5px;}
/* slideshow内容 */
.slideshowjz {text-align:center;margin:20px 0;}
.slideshow span {margin:5px;}
.slideshow span a {border:1px solid #000;padding:4px 7px;background:#FFC66E;}
.slideshow .slidloc {border:1px solid #000;padding:4px 7px;background:#FF7900;}
/*娱乐频道结束*/



/*中国频道开始*/
/* 频道导航 */
.chnbgcolor {background:#33529D;}
/* 左边主体内容 */
.chnfjnc h1 {background:url(chn_2.gif) 0 0 no-repeat;}
.chnpaibk li {background:url(chn_3.gif) 15px 4px no-repeat;}
.chnpictitle {background:url(chn_3.gif) 10px 8px no-repeat;}
.chntjpaibk li {background:url(chn_3.gif) 20px 4px no-repeat;}
.chnhsbk {background:url(chn_3.gif) 0 12px no-repeat;}
.ysydchn {background:#6673B7;height:3px;margin-bottom:2px;}
.ysltchn {background:url(chn_14.gif) 3px 7px no-repeat;}
.yslt1chn {background:#F5F5FD;}
/* 右边主体内容 */
.chnrd2bk {background:url(chn_12.gif) 0 0 no-repeat;}
.chnjdh2bk {background:url(chn_11.gif) 0 0 no-repeat;}
.chnh2bk {background:url(chn_4.gif) 0 0 no-repeat;}
#right .chnwzjc {border:1px solid #B5B5B5;padding:0 8px 12px;margin:2px 0 5px;height:170px;}
#right .chnwzjc li {width:156px;padding:10px 0 0 10px;background:url(dian1.gif) 4px 14px no-repeat;}
#right .chnbgp {background:url(chn_10.gif) 0 0 repeat-x;}
/*中国频道结束*/




/*国际频道开始*/
/* 频道导航 */
.wrdbgcolor {background:#182761;}
/* 左边主体内容 */
.wrdfjnc h1 {background:url(wrd_2.gif) 0 0 no-repeat;}
.wrdpaibk li {background:url(wrd_3.gif) 15px 4px no-repeat;}
.wrdpictitle {background:url(wrd_3.gif) 10px 8px no-repeat;}
.wrdtjpaibk li {background:url(wrd_3.gif) 20px 4px no-repeat;}
.wrdhsbk {background:url(wrd_3.gif) 0 12px no-repeat;}
.ysydwrd {background:#182761;height:3px;margin-bottom:2px;}
/* 右边主体内容 */
.wrdrd2bk {background:url(wrd_13.gif) 0 0 no-repeat;}
.wrdjdh2bk {background:url(wrd_14.gif) 0 0 no-repeat;}
.wrdh2bk {background:url(wrd_4.gif) 0 0 no-repeat;}
#right .wrdhtbgp {background:url(wrd_9.gif) 0 0 repeat-x;width:350px;height:29px;}
#right .wrdht {padding-top:3px;}
@media all and (min-width: 0px){#right .wrdhtbgp {position:relative;}#right .wrdhtbgp .wrdht {position:absolute;top:7px;}}
#right .wrdht label {line-height:26px;background:url(cj_13.gif) 0px 0px no-repeat;padding:6px 8px;border:1px solid #B5B5B5;}
#right .wrdht label.selected {background:#FFFEFf;}
/*国际频道结束*/




/*社会频道开始*/
/* 频道导航 */
.sctbgcolor {background:#0E8D9F;}
/* 左边主体内容 */
.sctfjnc h1 {background:url(sct_2.gif) 0 0 no-repeat;}
.sctpaibk li {background:url(sct_3.gif) 15px 4px no-repeat;}
.sctpictitle {background:url(sct_3.gif) 10px 8px no-repeat;}
.scttjpaibk li {background:url(sct_3.gif) 20px 4px no-repeat;}
.scthsbk {background:url(sct_3.gif) 0 12px no-repeat;}
.ysydsoc {background:#0E8D9F;height:3px;margin-bottom:2px;}
/* 右边主体内容 */
.scth2bk {background:url(sct_4.gif) 0 0 no-repeat;}
#right .sctbgp {background:url(sct_9.gif) 0 0 repeat-x;}
#right .sctrqbgp {background:url(sct_10.gif) 0 0 repeat-x;width:350px;height:29px;}
#right .sctrq {padding-top:3px;}
@media all and (min-width: 0px){#right .sctrqbgp {position:relative;}#right .sctrqbgp .sctrq {position:absolute;top:7px;}}
#right .sctrq label {line-height:26px;background:url(cj_13.gif) 0px 0px no-repeat;padding:6px 8px;border:1px solid #B5B5B5;}
#right .sctrq label.selected {background:#FFFEFf;}
/*社会频道结束*/



/*长三角频道开始*/
/* 频道导航 */
.csjbgcolor {background:#167CDB;}
/* 左边主体内容 */
.csjfjnc h1 {background:url(csj_2.gif) 0 0 no-repeat;}
.csjpaibk li {background:url(csj_3.gif) 15px 4px no-repeat;}
.csjpictitle {background:url(csj_3.gif) 10px 8px no-repeat;}
.csjtjpaibk li {background:url(csj_3.gif) 20px 4px no-repeat;}
.csjhsbk {background:url(csj_3.gif) 0 12px no-repeat;}
.ysydcsj {background:#167CDB;height:3px;margin-bottom:2px;}
/* 右边主体内容 */
.csjrd2bk {background:url(csj_12.gif) 0 0 no-repeat;}
.csjjdh2bk {background:url(csj_13.gif) 0 0 no-repeat;}
.csjh2bk {background:url(csj_4.gif) 0 0 no-repeat;}
#right .csjbgp {background:url(csj_8.gif) 0 0 repeat-x;}
#right .csjrqbgp {background:url(csj_9.gif) 0 0 repeat-x;width:350px;height:29px;}
#right .csjrq {padding-top:3px;}
@media all and (min-width: 0px){#right .csjrqbgp {position:relative;}#right .csjrqbgp .csjrq {position:absolute;top:7px;}}
#right .csjrq label {line-height:26px;background:url(cj_13.gif) 0px 0px no-repeat;padding:6px 8px;border:1px solid #B5B5B5;}
#right .csjrq label.selected {background:#FFFEFf;}
/*长三角频道结束*/



/*军事频道开始*/
/* 频道导航 */
.milbgcolor {background:#2E5907;}
/* 左边主体内容 */
.milfjnc h1 {background:url(mil_2.gif) 0 0 no-repeat;}
.milpaibk li {background:url(mil_3.gif) 15px 4px no-repeat;}
.milpictitle {background:url(mil_3.gif) 10px 8px no-repeat;}
.miltjpaibk li {background:url(mil_3.gif) 20px 4px no-repeat;}
.milhsbk {background:url(mil_3.gif) 0 12px no-repeat;}
.ysydmil {background:#2E5907;height:3px;margin-bottom:2px;}
/* 右边主体内容 */
#right .miljrtx {border:1px solid #B5B5B5;padding:0 8px 12px;margin:2px 0 5px;height:126px;*height:121px !important;*height:121px;}
@media all and (min-width: 0px){#right .miljrtx {height:126px;}}
#right .miljrtx li {background:url(dian1.gif) 0 14px no-repeat;width:150px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding:9px 8px 3px;}
.milh2bk {background:url(mil_4.gif) 0 0 no-repeat;}
#right .milbgp {background:url(mil_11.gif) 0 0 repeat-x;}
#right .miljq {border:1px solid #B5B5B5;margin:2px 0 5px;}
#right .milpc {padding:0 26px;}
#right .milpc img {width:115px;height:86px;border:1px solid #7A786D;margin-top:10px;}
#right .milpc span {display:block;margin-top:9px;width:117px;text-align:center;padding-top:1px;}
#right .jqheight {height:280px;}
#right .lzheight {*height:145px !important;}
[xmlns] #right .lzheight {height:140px;}

/*军事频道结束*/



/*体育频道开始*/
/* 频道导航 */
.sptbgcolor {background:#003AAF;}
/* 左边主体内容 */
.sptfjnc h1 {background:url(spt_2.gif) 0 0 no-repeat;}
.sptpaibk li {background:url(spt_3.gif) 15px 4px no-repeat;}
.sptpictitle {background:url(spt_3.gif) 10px 8px no-repeat;}
.spttjpaibk li {background:url(spt_3.gif) 20px 4px no-repeat;}
.spthsbk {background:url(spt_3.gif) 0 12px no-repeat;}
/* 右边主体内容 */
.spth2bk {background:url(spt_4.gif) 0 0 no-repeat;}
#right .pczj {width:170px;margin-right:5px;}
#right .pczj li {width:130px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin-top:2px;}
#right .jdgx {width:175px;}
#right .jdgx li {width:132px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin-top:2px;}
.sptrd2bk {background:url(spt_12.gif) 0 0 no-repeat;}
.sptjdh2bk {background:url(spt_13.gif) 0 0 no-repeat;}
#right .ztcs {margin-bottom:5px;}
#right .ztcsfirst {margin-bottom:5px;*margin-bottom:5px !important;*margin-bottom:0;}
@media all and (min-width: 0px){#right .ztcsfirst {margin-bottom:5px;}}
#right .sptrd2 {height:95px;margin:2px 0 5px !important;*margin:2px 0 0;}
#right .sptrd3 {margin:2px 0 4px;height:70px;*height:73px !important;*height:70px;}
@media all and (min-width: 0px){#right .sptrd3 {height:70px;}}
#right .sptghsl li {padding:10px 0 0 8px;background:url(dian1.gif) 0px 14px no-repeat;}
#right .sptbgp {background:url(spt_14.gif) 0 0 repeat-x;}
#right .hhtt {border:1px solid #B5B5B5;padding:0 0  0 15px;margin:2px 0 5px;height:336px;}
#right .hhttpc {padding-right:14px;}
#right .hhttpc img {border:1px solid #B5B5B5;width:95px;height:54px;margin:5px 0;}
#right .hhttpc span {width:97px;text-align:center;display:block;margin-bottom:2px;padding-top:1px;}
#right .hhttpic {padding-right:27px;width:88px;}
#right .hhttpic img {border:1px solid #B5B5B5;width:82px;height:58px;margin:4px 2px;*margin:4px 2px !important;*margin:3px 2px;}
#right .hhttpic span {width:88px;text-align:center;display:block;margin-bottom:2px;padding-top:1px;}
#right .hhttpiclast {padding-right:0px;width:88px;}
/*体育频道结束*/


/*奥运频道开始*/
/* 频道导航 */
.oybgcolor {background:url(oy_1.gif) 0 0 no-repeat;}
/* 左边主体内容 */
.oyfjnc h1 {background:url(oy_3.gif) 0 0 no-repeat;}
.oypaibk li {background:url(oy_4.gif) 15px 4px no-repeat;}
.oypictitle {background:url(oy_4.gif) 10px 8px no-repeat;}
.oytjpaibk li {background:url(oy_4.gif) 20px 4px no-repeat;}
.oyhsbk {background:url(oy_4.gif) 0 12px no-repeat;}
/* 右边主体内容 */
.oyh2bk {background:url(oy_5.gif) 0 0 no-repeat;}
.oy1h2bk {background:url(oy_8.gif) 0 0;}
.oyjpb {background:url(oy_11.gif) 0 0 no-repeat;width:330px;height:119px;margin:0 0 5px;padding:7px 10px;}
.oyjpb h3 {width:236px;position:relative;}
.oyjpb h3 span {font-weight:normal;position:absolute;right:0;top:3px;}
.oyjpb .tbjpb {width:232px;border:1px solid #FFDE00;margin-top:9px;padding:1px;background:#B11A00;}
.oyjpb .tbjpb th {color:#fff;font-weight:normal;padding:5px 0;text-align:center;background:#781200;}
.oyjpb .tbjpb td {color:#fff;padding:3px 0;text-align:center;border-bottom:1px solid #781200;}
.oyjpb .tbjpb .tblast {border-bottom:none;}
.oyjpb .tbjpb .jyt {width:30px;}
/*奥运频道结束*/


/*即刻频道开始*/
/* 频道导航 */
.jikebgcolor {background:#00a43e}
.lp1{letter-spacing:1px}
/*即刻频道结束*/

/* 分页 */
.jmenu{}
.jmenu1{float:left;

}
table {margin:0 auto;}
.jmenuon{
	border:1px #00b0ca solid;
	background-color:#00b0ca;
	padding:5px 8px 3px 7px;
	margin:0 1px;
	display:block;
        float:left;
}
A.njpix12b:link{
	COLOR: #00b0ca; TEXT-DECORATION: none;
	display:block;
        float:left;     
}
A.njpix12b:visited {
	COLOR: #00b0ca; TEXT-DECORATION: none;
	display:block;
        float:left;      
}
A.njpix12b:hover {
	COLOR: #00b0ca; TEXT-DECORATION: none;
	display:block;
        float:left;     
}
.njpix12b span{border:1px #00b0ca solid;background-color:#fff;padding:5px 8px 3px 7px;margin:0 1px;display:block;}

A.jpix12h:link{
	COLOR: #00b0ca; TEXT-DECORATION: none;
	border:1px #00b0ca solid;
	background-color:#fff;
	padding:5px 8px 3px 7px;
	margin:0 1px;
	display:block;
}
A.jpix12h:visited {
	COLOR: #00b0ca; TEXT-DECORATION: none;
	border:1px #00b0ca solid;
	background-color:#fff;
	padding:5px 8px 3px 7px;
	margin:0 1px;
	display:block;
}
A.jpix12h:hover {
	COLOR: #00b0ca; TEXT-DECORATION: none;
	border:1px #00b0ca solid;
	background-color:#fff;
	padding:5px 8px 3px 7px;
	margin:0 1px;
	display:block;
}
.jpix12w {
	COLOR: #fff; font-weight:bold; TEXT-DECORATION: none
}
.newcen{margin:0 auto}