/* 全局 */
*{padding:0;margin:0}
body{padding:0;margin:0;text-align:left;font-family:宋体;font-size:12px}
img,form,span,p,div{border:none;margin:0;padding:0}

ul li{list-style:none}

A:link{text-decoration:none}
A:visited{text-decoration:none}
A:active{text-decoration:none}
A:hover{text-decoration:none}

.fl{float:left}
.fr{float:right}
.fc{text-align:center}

.clear{height:0px;clear:both;overflow:hidden}

.lh24{line-height:24px}
.lh26{line-height:26px}
.lh32{line-height:32px}
.lh40{line-height:40px}

.black12{color:#000}
.blue12{color:#004d99}
.grey12{color:#808080}
.grey12a{color:#666}
.black14{font-size:14px;color:#000}
.blue14{font-size:14px;color:#004d99}
.grey14{font-size:14px;color:#404040}
.grey14a{font-size:14px;color:#595959}
.grey14b{font-size:14px;color:#666}
.grey14c{font-size:14px;color:#808080}
.white14{font-size:14px;color:#fff}
.green14{font-size:14px;color:#4c6233}
.blue18{font-family:微软雅黑;font-size:18px;color:#004d99}
.grey18{font-family:微软雅黑;font-size:18px;color:#333}
.white18{font-family:微软雅黑;font-size:18px;color:#fff}
.green18{font-family:微软雅黑;font-size:18px;color:#4c6233}
.blue20{font-family:微软雅黑;font-size:20px;color:#004d99}
.green20{font-family:微软雅黑;font-size:20px;color:#4c6233}
.blue20l2{font-family:微软雅黑;font-size:20px;color:#004d99;letter-spacing:2px}
.green20l2{font-family:微软雅黑;font-size:20px;color:#4c6233;letter-spacing:2px}

.list1{width:434px;overflow:hidden}
.list1 li{width:424px;height:32px;line-height:32px;padding:0 0 0 10px;background:url('t2.gif') no-repeat 0px center;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:14px;color:#595959}
.list2{width:275px;padding:10px 0 0 5px;overflow:hidden}
.list2 li{width:267px;height:30px;line-height:30px;padding:0 0 0 8px;background:url('t3.gif') no-repeat 0px center;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:14px;color:#404040}
.list3{width:374px;padding:5px 0 0 3px;overflow:hidden}
.list3 li{width:354px;height:30px;line-height:30px;padding:0 0 0 20px;background:url('t3.gif') no-repeat 10px center;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:14px;color:#404040}
.list3 li.bg{width:374px;height:1px;background:url('b3.gif');margin:5px 0 4px 0;overflow:hidden}
.list4{width:245px;padding:0 0 0 12px;overflow:hidden}
.list4 li{width:237px;height:30px;line-height:30px;padding:0 0 0 8px;background:url('t4.gif') no-repeat 0 center;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:14px;color:#808080}
.list5{width:630px;padding:10px 0 0 22px;overflow:hidden}
.list5 li{width:622px;height:30px;line-height:30px;padding:0 0 0 8px;background:url('t5.gif') no-repeat 0 center;float:left;overflow:hidden}
.list5 li.nobg{width:630px;height:30px;background:none;overflow:hidden}

#topbanner{width:100%;height:400px;background:url('topbanner.jpg') no-repeat center 0}
#dh{width:100%;height:43px;background:url('dhbg.gif') no-repeat center 0;padding:7px 0 0 0}
.dhs{width:110px;text-align:center;overflow:hidden}
.d960{width:960px;margin:0 auto;overflow:hidden}
.right{width:434px;height:340px;overflow:hidden}
.tx1{width:434px;padding:0 0 8px 0;overflow:hidden}
.left1{width:680px;display:block;overflow:hidden}
.con1{width:280px;/*height:362px;*/border-bottom:3px #f7f8f8 solid;overflow:hidden}
.lmbg1{width:270px;height:40px;background:url('b2.gif');padding:0 0 0 10px;overflow:hidden}
.con2{width:380px;/*height:365px;*/background:#fff;overflow:hidden}
.con2txt{width:350px;padding:8px 15px;overflow:hidden}
.con2txt p a{font-size:14px;color:#404040}
.lmbg2{width:362px;height:39px;background:#e3f59f;border-bottom:1px #e3f59f solid;padding:0 8px 0 10px;overflow:hidden}
.lmbg3{width:678px;height:50px;background:url('b4.gif');padding:4px 0 0 2px;overflow:hidden}
.con3{width:652px;height:150px;padding:15px 14px;background-color:#fff;margin:5px 0;overflow:hidden}
.con3 p,.con3 strong,.con3 p a{font-size:14px;color:#404040;line-height:24px;}
div.con3:hover{background-image:url('b5.gif')}
.tx1{width:415px;overflow:hidden}
.piclist1{width:700px;min-height:0px;overflow:hidden}
.piclist1 li{width:330px;height:220px;padding:0 20px 10px 0;float:left;overflow:hidden}
.piclist1 li img{width:330px;height:190px;float:left;margin-bottom:5px;overflow:hidden}
.piclist1 li p{width:330px;height:22px;line-height:22px;float:left;text-align:center;overflow:hidden}
.right1{width:260px;overflow:hidden}
.bg1{width:260px;border-top:2px #1f3e08 solid;background:#fffff3;overflow:hidden}
.lmbg4{width:245px;height:38px;padding:0 3px 0 12px;overflow:hidden}
.piclist2{width:230px;height:86px;padding:4px 0 6px 14px;overflow:hidden}
.piclist2 img{width:86px;height:86px;float:left;padding:0 18px 0 0;overflow:hidden}
.piclist2 p{width:126px;float:left;overflow:hidden}
.piclist3{width:225px;padding:10px 0 0 0;margin:0 auto;overflow:hidden}
.piclist3 li{width:225px;height:192px;float:left;overflow:hidden}
.piclist3 li img{width:225px;height:150px;float:left;padding:0 0 5px 0;overflow:hidden}
.piclist3 li p{width:225px;height:20px;line-height:20px;text-align:center;overflow:hidden}
.listbg{width:960px;background:url('b9.gif');margin:0 auto;overflow:hidden}
.listlm{width:660px;padding:0 0 0 20px;overflow:hidden}
.pages{padding:10px 0;text-align:center}
.pageon{font-size:14px;color:#fff;display:inline;background:#1e3c00;border:1px solid #1e3c00;padding:4px 7px 4px 8px;*padding:4px 7px 2px 8px!important;text-align:center;margin:0 3px 0 4px;text-decoration:none;overflow:hidden}
.pageoff{font-size:14px;color:#595757;display:inline;background:#fff;border:1px solid #e5e5e5;padding:4px 7px 4px 8px;*padding:4px 7px 2px 8px!important;text-align:center;margin:0 3px 0 4px;text-decoration:none;overflow:hidden}
a.pageoff:hover{font-size:14px;color:#fff;display:inline;background:#0075c7;border:1px solid #0075c7;padding:4px 7px 4px 8px;*padding:4px 7px 2px 8px!important;text-align:center;margin:0 3px 0 4px;text-decoration:none;overflow:hidden}

.bg5{width:960px;background-color:#f7f7f7;overflow:hidden}
.page{width:30px;height:58px;margin-top:232px}
.pic4{width:780px;padding:0 0 0 60px;overflow:hidden}
.pic5{width:780px;height:520px;overflow:hidden}
.H2{z-index:2;position:relative;*position:inherit;margin-top:-58px;width:715px;height:58px;line-height:30px;display:block;padding:0 0 0 35px}
.piclist{width:800px;height:108px;overflow:hidden}
.piclist li{width:144px;height:108px;padding:0px;margin-right:15px;float:left}
.piclist li img{width:138px;height:102px;border:1px solid #ccc;padding:2px;}
.newlist4{width:237px;height:30px;line-height:30px;padding:0 0 0 20px;background:url('t4.gif') no-repeat 12px center;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:14px;color:#808080}
.newpiclist3{width:225px;height:192px;padding:10px 0 0 0;margin:0 auto;overflow:hidden}
.newpiclist3 img{width:225px;height:150px;float:left;padding:0 0 5px 0;overflow:hidden}
.newpiclist3 p{width:225px;height:20px;line-height:20px;text-align:center;overflow:hidden}
.pic1{width:260px;overflow:hidden}
.pic1 img{width:260px;float:left;margin-bottom:5px;overflow:hidden}
.pic1 p{text-align:center;width:260px;height:30px;line-height:22px;float:left;overflow:hidden}

#footer{width:100%;height:100px;color:#666;line-height:30px;text-align:center;border-top:6px #eaeaea solid;background-image:url('http://news.eastday.com/images/2013xwzx/footbj.gif');padding:20px 0 0 0}
#footer a{color:#666}

/* 20160822 增加 */
.newcon3{width:245px;padding:0 0 0 8px;overflow:hidden}
#section4,#section41 {border:1px solid #ddd;min-height:300px;background:url(gsbk1.jpg) 0 100% no-repeat;position:relative;}
#section41 {background:url(bluegdbbbk1.jpg) 0 100% no-repeat;}
.gdbbpic {position:absolute;top:20px;left:20px;}
#ztcode img {width:174px;height:180px;}
#section4 iframe,#section41 iframe {padding:20px 0;}
#loadhtml,#loadhtml1 {width:800px;margin-left:160px;background:url(gsbk2.jpg) 100% 100% no-repeat;}
#loadhtml1 {background:url(bluegdbbbk2.jpg) 100% 100% no-repeat;}

.listbg2{width:960px;background:#fff;margin:0 auto;overflow:hidden}

.piclist2015{overflow: hidden;padding: 15px 20px 0;width: 945px;}
.piclist2015 li { float: left;height: 216px;overflow: hidden;padding: 0 20px 0 0;position: relative;width: 216px;}
.title2015{float: left;line-height: 24px;overflow: hidden;padding-top: 13px;text-align: center;width: 216px;font-size:14px;}

.lmbg3_2015{width:960px;height:50px;background:url('b4_2015.gif');padding:4px 0 0 2px;overflow:hidden}