* {padding:0;margin:0;}
body{
	padding:0;
	margin:0;
	font-size:12px;
	color:#000;
	background-image: url(bj.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
* html body{
	padding:0;
	margin:0;
	font-size:12px;
	color:#000;
	background-image: url(bj.jpg);
	background-repeat: no-repeat;
	background-position: 50% top;
}
form{
	border: none;
	margin: 0;
	padding: 0;
}
span{
	border: none;
	margin: 0;
	padding: 0;
}
div{
	border: none;
	margin: 0;
	padding: 0;
}
img{
	border: none;
	margin: 0;
	padding: 0;
}
td{
	border: none;
	margin: 0;
	padding: 0;
}
table{
	border: none;
	margin: 0;
	padding: 0;
}

A:link {text-decoration: none;}
A:visited {text-decoration: none;}
A:active {text-decoration: none;}
A:hover {text-decoration: none;}

ul li {list-style:none;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix {display: inline-table;}
/* Hides from IE-mac \*/
 * html .clearfix {height: 1%;} .clearfix {display: block;} 
/* End hide from IE-mac */ 
/* Hides from IE7 \*/
 *+html .clearfix{height: 1%;} .clearfix {display: block;} 
/* End hide from IE7 */ 

.clear{clear:both;}
.fl {
	float: left;
}
.fr {
	float: right;
}
.cen {
	text-align: center;
}
.block50 {
	height: 40px;
}
.block20 {
	height: 20px;
}
.block10 {
	height: 10px;
}
.block8 {
	height: 8px;
}
#top {
	height: 214px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#nav {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	height: 38px;
}
#nav ul {
	float: right;
	padding-top: 10px;
	line-height: 22px;
}
#nav li {
	float: left;
	width: 85px;
}
#nav .eastday {
	float: left;
	margin-right: 10px;
}

#nav img {
	float: left;
	padding-right: 5px;
}
#nav2 {
	width: 812px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	padding-top: 124px;
	padding-left: 188px;
}
#nav2 div {
	float: left;
}
.main {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
.section {
	width: 1000px;
	overflow: hidden;
	background-color: #f5f5f4;
}
.sectionleft {
	float: left;
	width: 335px;
}
.sectionright {
	float: left;
	width: 665px;
}
.section1 {
	background-image: url(bj1.gif);
	background-repeat: no-repeat;
	height: 382px;
	width: 959px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
.sectionleft1 {
	float: left;
	width: 318px;
}
.sectioncenter1 {
	float: left;
	width: 310px;
	margin-left: 25px;
	margin-right: 49px;
}
.sectionright1 {
	float: left;
	width: 248px;
}
.sectionright1 img {
	margin-top: 12px;
}
.section2 {
	width: 950px;
	overflow: hidden;
	margin-left: 25px;
}
.sectionleft2 {
	float: left;
	width: 625px;
	margin-right: 10px;
}
.sectionleft2 .k1 {
	background-image: url(bj2.gif);
	background-repeat: no-repeat;
	height: 219px;
	overflow: hidden;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.sectionright2 {
	float: right;
	width: 314px;
}
.sectionleft3 {
	float: left;
	width: 680px;
	margin-right: 10px;
}
.sectionright3 {
	float: right;
	width: 260px;
}
.sectionleft4 {
	float: left;
	width: 635px;
}
.sectionright4 {
	float: right;
	width: 315px;
}
.sectionleft5 {
	float: left;
	width: 80px;
	padding-left: 56px;
}
.sectionright5 {
	float: right;
	width: 824px;
	padding-right: 20px;
	padding-left: 20px;
}
.sectionleft5a {
	float: left;
	width: 160px;
	padding-left: 1px;
}
.sectionright5a {
	float: left;
	width: 749px;
	padding-right: 70px;
	padding-left: 20px;
}
.sectionleft6 {
	float: left;
	width: 490px;
	padding-left: 61px;
}
.sectionright6 {
	float: right;
	width: 393px;
	padding-right: 24px;
	padding-left: 32px;
}
.sectionleft7 {
	float: left;
	width: 530px;
	margin-right: 12px;
}
.sectionright7 {
	float: right;
	width: 403px;
	padding-right: 55px;
}
.sectionleft8 {
	float: left;
	width: 474px;
	margin-right: 14px;
	margin-left: 20px;
}
.sectionright8 {
	float: left;
	width: 474px;
}
.sectionleft9 {
	float: left;
	width: 437px;
	padding-right: 30px;
	padding-left: 16px;
}
.sectionright9 {
	float: left;
	width: 517px;
}
.sectionleft10 {
	float: left;
	width: 460px;
	padding-right: 18px;
	padding-left: 25px;
}
.sectionright10 {
	float: left;
	width: 458px;
}
.sectionleft11 {
	float: left;
	width: 619px;
	padding-right: 55px;
	padding-left: 60px;
}
.sectionleft11a {
	width: 800px;
	padding-right: 55px;
	padding-left: 60px;
	margin-right: auto;
	margin-left: auto;
}
.sectionright11 {
	float: left;
	width: 175px;
	background-image: url(b46.gif);
	padding-left: 30px;
	background-repeat: repeat-y;
}
.sectionright11 div {
	margin-bottom: 20px;
	text-align: center;
	line-height: 26px;
}
.section12 {
	margin-left: 5px;
	overflow: hidden;
}
.section13 {
	margin-left: 14px;
	overflow: hidden;
}
.section14 {
	overflow: hidden;
	margin-left: 25px;
}
.title1 {
	background-image: url(b4.gif);
	background-repeat: no-repeat;
	height: 34px;
	width: 306px;
	padding-top: 5px;
	padding-left: 12px;
	margin-bottom: 15px;
}
.title1 span {
	float: right;
	margin-right: 5px;
	margin-top: 4px;
}
.title2 {
	background-image: url(b5.gif);
	background-repeat: no-repeat;
	height: 34px;
	width: 298px;
	padding-top: 5px;
	padding-left: 12px;
	margin-bottom: 15px;
}
.title2 span {
	float: right;
	margin-right: 5px;
	margin-top: 4px;
}
.title3 {
	background: url(b9.gif) no-repeat 0 29px;
	height: 28px;
	width: 950px;
	margin-bottom: 13px;
	padding-top: 2px;
}
.title3 span {
	float: right;
}
.title4 {
	background-image: url(b11.gif);
	background-repeat: no-repeat;
	height: 37px;
	width: 935px;
	margin-left: 25px;
	padding-top: 10px;
	padding-left: 15px;
}
.title4 span {
	float: right;
	margin-right: 10px;
}
.title4a {
	background-image: url(dt4.gif);
	background-repeat: no-repeat;
	height: 37px;
	width: 935px;
	margin-left: 25px;
	padding-top: 10px;
	padding-left: 15px;
}
.title4a span {
	float: right;
	padding-right: 10px;
}
.title5 {
	background-image: url(b12.gif);
	background-repeat: no-repeat;
	height: 30px;
	padding-top: 5px;
	padding-left: 10px;
	margin-bottom: 5px;
}
.title6 {
	font-weight: bold;
	color: #0064b2;
	background-color: #f5f5f4;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #e3e4e4;
	font-size: 18px;
	height: 28px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 20px;
	margin-bottom: 12px;
}
.title6 span {
	float: right;
}
.title7 {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #e3e4e4;
	font-size: 14px;
	font-weight: bold;
	color: #595757;
	line-height: 26px;
	height: 30px;
	padding-top: 5px;
}
.title8 {
	background-image: url(b16.gif);
	background-repeat: no-repeat;
	height: 30px;
	width: 940px;
	margin-left: 25px;
	padding-top: 15px;
	padding-left: 10px;
	margin-bottom: 5px;
}
.title8 img {
	margin-right: 20px;
}
.title8 span {
	float: right;
}

.title8a {
	background-image: url(b16.gif);
	background-repeat: no-repeat;
	height: 35px;
	width: 950px;
	margin-left: 25px;
	margin-bottom: 10px;
	padding-top: 10px;
}
.title9 {
	background-image: url(x6.gif);
	height: 26px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
}
.title9 span {
	float: right;
}
.title10 {
	padding-top: 15px;
	padding-left: 120px;
	padding-bottom: 15px;
}
.title10a {
	padding-top: 15px;
	padding-left: 60px;
	padding-bottom: 15px;
}
.title10b {
	padding-top: 15px;
	padding-left: 30px;
	padding-bottom: 15px;
}
.title11 {
	background-image: url(b23.gif);
	background-repeat: no-repeat;
	height: 30px;
	width: 718px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
}
.title11 span {
	float: right;
}
.title12 {
	background-image: url(b25.gif);
	background-repeat: no-repeat;
	height: 27px;
	width: 728px;
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 15px;
}
.title13 {
	background-image: url(b28.gif);
	background-repeat: no-repeat;
	height: 30px;
	width: 393px;
	padding-top: 5px;
	margin-bottom: 10px;
}
.title13 span {
	float: right;
}
.title14 {
	background-image: url(b32.gif);
	background-repeat: no-repeat;
	height: 30px;
	width: 403px;
	padding-top: 6px;
	margin-bottom: 15px;
}
.title14 span {
	float: right;
}
.title15 {
	background-image: url(b33.gif);
	background-repeat: no-repeat;
	height: 30px;
	width: 454px;
	padding-left: 20px;
	padding-top: 2px;
	margin-bottom: 10px;
}
.title15 span {
	float: right;
}
.title16 {
	background-image: url(b38.gif);
	background-repeat: no-repeat;
	height: 28px;
	width: 775px;
	display: block;
}
.title16 span {
	float: right;
}
.title17 {
	background-image: url(b40.gif);
	background-repeat: no-repeat;
	height: 27px;
	width: 458px;
	margin-bottom: 3px;
}
.title18 {
	background-image: url(b44.gif);
	background-repeat: no-repeat;
	height: 28px;
	width: 458px;
	margin-bottom: 8px;
}
.title18 span {
	float: right;
}
.title19 {
	background-image: url(b49.gif);
	background-repeat: no-repeat;
	height: 27px;
	width: 285px;
	padding-top: 7px;
}
.title19 span {
	float: right;
}
.title20 {
	background-image: url(b58.gif);
	background-repeat: no-repeat;
	height: 28px;
	width: 463px;
	padding-top: 6px;
	margin-bottom: 15px;
}
.title20 span {
	float: right;
}
.title21 {
	background-color: #f5f5f4;
	text-align: center;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #e3e4e4;
	font-size: 12px;
	line-height: 24px;
	font-weight: bold;
	color: #005fae;
	margin-bottom: 5px;
}









.lb1 {
	line-height: 24px;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
}
.lb1 h1 {
	text-align: center;
	margin-bottom: 10px;
}
.lb2 {
	line-height: 24px;
	margin-right: 30px;
	margin-left: 32px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #cdcdcd;
	padding-top: 8px;
}
.lb2 li {
	background-image: url(x2.gif);
	background-repeat: no-repeat;
	background-position: 0px 9px;
	padding-left: 10px;
	TEXT-OVERFLOW: ellipsis; 
	WHITE-SPACE: nowrap; 
	OVERFLOW: hidden;
	width: 258px;
}
.lb3 {
	background-image: url(x3.gif);
}
.lb3 div {
	background-image: url(b2.gif);
	background-repeat: no-repeat;
	float: left;
	height: 55px;
	width: 333px;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.lb4 {
	line-height: 24px;
	margin-bottom: 5px;
}
.lb5 {
	background-image: url(x5.gif);
	line-height: 26px;
}
.lb5 li {
	height: 28px;
	padding-left: 20px;
}
.lb6 {
	float: left;
	width: 135px;
	text-align: center;
	line-height: 26px;
}
.lb7 {
	float: left;
	width: 135px;
	text-align: center;
	line-height: 26px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #e3e4e4;
	border-left-color: #e3e4e4;
}
.lb8 {
	background-repeat: no-repeat;
	height: 37px;
	width: 300px;
	font-size: 18px;
	font-weight: bold;
	padding-left: 335px;
	line-height: 28px;
	overflow: hidden;
}
.lb8 li {
	float: left;
	font-size: 18px;
	font-weight: bold;
	color: #0770c2;
}
.lb9 {
	line-height: 24px;
	margin-left: 15px;
	clear: both;
}
.lb9 li {
	background-image: url(x2.gif);
	background-repeat: no-repeat;
	background-position: 0px 9px;
	padding-left: 10px;
}
.lb10 {
	float: left;
	width: 207px;
	margin-right: 1px;
	line-height: 24px;
	display: block;
	padding-right: 15px;
	padding-left: 15px;
}
.lb11 {
	float: left;
	width: 80px;
	background-image: url(x9.gif);
	overflow: hidden;
}
.lb11 li {
	height: 20px;
	width: 80px;
	line-height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.lb11a {
	width: 160px;
	background-image: url(x12.gif);
	overflow: hidden;
}
.lb11a li {
	height: 30px;
	width: 160px;
	line-height: 20px;
	margin-bottom: 1px;
	padding-top: 10px;
	text-indent: 80px;
}
.lb12 {
	line-height: 24px;
	width: 738px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}
.lb12 li {
	float: left;
	width: 354px;
	background-image: url(x2.gif);
	background-repeat: no-repeat;
	background-position: 5px 9px;
	padding-left: 15px;
	TEXT-OVERFLOW: ellipsis; 
	WHITE-SPACE: nowrap; 
	OVERFLOW: hidden
}
.lb12a {
	line-height: 24px;
	width: 950px;
	overflow: hidden;
	display: block;
	margin-left: 25px;
}
.lb12a li {
	float: left;
	width: 460px;
	background-image: url(x2.gif);
	background-repeat: no-repeat;
	background-position: 5px 9px;
	padding-left: 15px;
	TEXT-OVERFLOW: ellipsis;
	WHITE-SPACE: nowrap;
	OVERFLOW: hidden;
	display: block;
}
.lb13 {
	line-height: 24px;
}
.lb13 li {
	background-image: url(x2.gif);
	background-repeat: no-repeat;
	background-position: 5px 9px;
	padding-left: 15px;
}
.lb14 {
	line-height: 24px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #c5c5c4;
	overflow: hidden;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.lb15 {
	line-height: 24px;
	float: left;
	width: 279px;
}
.lb15 li {
	background-image: url(x2.gif);
	background-repeat: no-repeat;
	background-position: 5px 9px;
	padding-left: 15px;
}
.lb16 {
	background-repeat: no-repeat;
	width: 775px;
	line-height: 24px;
	padding-top: 8px;
}
.lb16 li {
	background-image: url(x2.gif);
	background-repeat: no-repeat;
	background-position: 5px 9px;
	padding-left: 15px;
	TEXT-OVERFLOW: ellipsis;
	WHITE-SPACE: nowrap;
	OVERFLOW: hidden;
	float: left;
	width: 225px;
	display: block;
	margin-left: 6px;
	padding-right: 10px;
}
.lb17 {
	line-height: 26px;
	float: left;
	padding-left: 30px;
	width: 330px;
	padding-top: 15px;
}
.lb18 {
	line-height: 24px;
	padding-right: 30px;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.lb19 {
	line-height: 24px;
	padding-right: 25px;
	padding-left: 25px;
}
.lb19 li {
	display: block;
	float: left;
	width: 301px;
	background-image: url(x2.gif);
	background-repeat: no-repeat;
	background-position: 5px 9px;
	padding-left: 15px;
	TEXT-OVERFLOW: ellipsis;
	WHITE-SPACE: nowrap;
	OVERFLOW: hidden;
	float: left;
}
.lb20 {
	line-height: 24px;
	margin-top: 10px;
	height: 30px;
}
.lb20 li {
	float: left;
}
.lb20 span {
	float: right;
}
.lb21 {
	line-height: 26px;
}
.lb21 li {
	background-image: url(x2.gif);
	background-position: 5px 9px;
	padding-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	background-repeat: no-repeat;
}
.lb22 {
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.lb22 li {
	background-image: url(x2.gif);
	background-repeat: no-repeat;
	background-position: 5px 9px;
	padding-left: 15px;
	TEXT-OVERFLOW: ellipsis;
	WHITE-SPACE: nowrap;
	OVERFLOW: hidden;
	width: 270px;
}
.lb23 {
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.lb23 li {
	background-image: url(x2.gif);
	background-repeat: no-repeat;
	background-position: 0px 9px;
	padding-left: 10px;
	TEXT-OVERFLOW: ellipsis;
	WHITE-SPACE: nowrap;
	OVERFLOW: hidden;
	width: 255px;
}
.piclb {
	padding-left: 15px;
	line-height: 23px;
}
.piclb img {
	margin-right: 20px;
	float: left;
}
.piclb1 {
	line-height: 24px;
}
.piclb1 div {
	float: left;
	margin-right: 19px;
	display: inline;
}
.piclb2 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	overflow: hidden;
}
.piclb2 div {
	float: left;
	margin-right: 7px;
	margin-left: 7px;
}
.piclb3 {
	float: left;
	width: 456px;
	line-height: 26px;
	margin-right: 34px;
}
.piclb3 div {
	float: left;
	width: 237px;
	margin-right: 20px;
}
.piclb4 {
	float: right;
}
.piclb4 div {
	margin-bottom: 10px;
	width: 114px;
}
.piclb5 {
	line-height: 24px;
	padding-left: 15px;
	margin-bottom: 10px;
}
.piclb5 div {
	float: left;
	margin-right: 10px;
}
.piclb6 {
	margin-left: 65px;
	line-height: 24px;
	margin-right: 65px;
	overflow: hidden;
}
.piclb6 img {
	float: left;
	margin-right: 35px;
}
.piclb6 h1 {
	padding-bottom: 10px;
}
.piclb6 ul {
	margin-bottom: 20px;
}
.piclb7 {
	margin-right: 33px;
	margin-left: 42px;
	overflow: hidden;
	background-image: url(b22.gif);
}
.piclb7 img {
	float: left;
	margin-right: 17px;
}
.piclb8 {
	width: 760px;
	line-height: 24px;
	padding-right: 62px;
}
.piclb8 img {
	float: left;
	margin-right: 40px;
}
.piclb9 {
	line-height: 24px;
	width: 738px;
	margin-bottom: 15px;
}
.piclb9 img {
	float: left;
	margin-right: 40px;
}
.piclb9a {
	line-height: 24px;
	width: 935px;
	margin-bottom: 15px;
	margin-left: 25px;
	overflow: hidden;
}
.piclb9a img {
	float: left;
	margin-right: 40px;
}
.piclb10 {
	padding-left: 33px;
	padding-top: 10px;
}
.piclb10 li {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(b30.gif);
	background-repeat: no-repeat;
	height: 49px;
	width: 84px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	padding-top: 35px;
	margin-bottom: 10px;
	margin-top: 10px;
	display: inline;
}
.piclb10 .pd {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(b30.gif);
	background-repeat: no-repeat;
	height: 56px;
	width: 84px;
	float: left;
	text-align: center;
	padding-top: 28px;
	margin: 10px;
}
.piclb11 {
	float: left;
	margin-right: 24px;
	margin-left: 24px;
	text-align: center;
	line-height: 26px;
	height: 270px;
	display: inline;
}
.piclb11 img {
	margin-bottom: 5px;
}
.piclb11k {
	padding-left: 46px;
	overflow: hidden;
}
.piclb12 {
	float: left;
	width: 175px;
	margin-right: 20px;
}
.piclb13 {
	width: 897px;
	margin-right: 41px;
	margin-left: 62px;
	line-height: 24px;
}
.piclb13k {
	width: 462px;
	line-height: 24px;
	float: left;
	margin-left: 35px;
}
.piclb14 {
	width: 859px;
	margin-right: 85px;
	margin-left: 56px;
	overflow: hidden;
	margin-bottom: 15px;
}
.piclb14 .pd {
	background-image: url(b30.gif);
	background-repeat: no-repeat;
	text-align: center;
	height: 56px;
	width: 84px;
	float: left;
	padding-top: 28px;
}
.piclb14 h1 {
	background-image: url(b30.gif);
	background-repeat: no-repeat;
	text-align: center;
	height: 50px;
	width: 84px;
	float: left;
	padding-top: 34px;
}
.piclb14 .rightlb {
	float: left;
	width: 775px;
}
.piclb15 {
	width: 862px;
	padding-left: 72px;
	overflow: hidden;
	margin-bottom: 40px;
}
.piclb15 img {
	float: left;
}
.piclb16 {
	float: left;
	width: 134px;
	margin-left: 14px;
	margin-bottom: 10px;
	height: 101px;
	overflow: hidden;
}
.piclb17 {
	width: 453px;
	padding-left: 10px;
	overflow: hidden;
	line-height: 24px;
}
.piclb17 img {
	float: left;
	margin-right: 20px;
}
.piclb18 {
	line-height: 24px;
	float: left;
	margin-right: 10px;
}
.piclb19 {
	line-height: 24px;
}
.piclb19 img {
	float: left;
	margin-right: 40px;
}
.pic20 {
	float: left;
	margin-right: 6px;
}
.pic21 {
	text-align: center;
	line-height: 26px;
	width: 174px;
}
.pic21 div {
	margin-bottom: 20px;
	text-align: center;
	line-height: 26px;
	width: 174px;
}
.pic22 {
	float: left;
	margin-right: 8px;
	margin-left: 10px;
}

.d285 {
	float: left;
	width: 285px;
	margin-left: 27px;
	display: inline;
}
.d463 {
	float: left;
	width: 463px;
	margin-left: 17px;
	display: inline;
}
.d305 {
	float: left;
	width: 305px;
	line-height: 24px;
	margin-right: 18px;
	overflow: hidden;
}
.zw {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 24px; PADDING-TOP: 20px
}
.zw P {
	LINE-HEIGHT: 26px;
	FONT-SIZE: 14px;
	margin-bottom: 10px;
}
.zw strong {
	font-size: 14px;
	font-weight: bold;
}
.zw font {
	font-size: 14px;
	font-weight: lighter;
}
.yqlb {
	margin-left: 30px;
}
.yqjlb {
	height: 189px;
}


#foot {
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #0073c1;
	padding-left: 268px;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 40px;
}
#foot img {
	float: left;
	margin-right: 10px;
}
#foot ul {
	float: left;
	line-height: 20px;
}
#foot p {
	padding-top: 12px;
	margin-left: 43px;
	float: left;
}
#x1 {
	padding-top: 20px;
	padding-left: 63px;
}
.fy {
	text-align: center;
}
.fy img {
	margin-right: 10px;
	margin-left: 10px;
}
.fy .s1 {
	margin-right: 150px;
}
.fy .s2 {
	margin-left: 10px;
}
.x2 {
	background-image: url(x4.gif);
	height: 15px;
	margin-right: 9px;
	margin-left: 9px;
	clear: both;
}
.x3 {
	background-image: url(x4.gif);
	height: 15px;
	clear: both;
	width: 310px;
}
.x4 {
	background-image: url(x4.gif);
	height: 15px;
	clear: both;
}
.x5 {
	background-image: url(x10.gif);
	height: 7px;
}
.x6 {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

#ss {
	float: right;
	padding-top: 12px;
	padding-right: 5px;
	width: 265px;
	overflow: hidden;
	height: 21px;
	margin-left: 5px;
}
.menu1 {
	HEIGHT: 20px;
	width: 80px;
	display: block;
	cursor: hand;
}
.menu1On {
	OVERFLOW: hidden;
	width: 80px;
	CURSOR: hand;
	HEIGHT: 20px;
	font-size: 12px;
	font-weight: lighter;
	color: #FFFFFF;
	background-image: url(on2.gif);
	display: block;
	background-repeat: repeat;
	line-height: 18px;
	text-indent: 5px;
}
.menu1Off {
	OVERFLOW: hidden;
	width: 80px;
	CURSOR: pointer;
	HEIGHT: 20px;
	font-size: 12px;
	font-weight: lighter;
	color: #595757;
	display: block;
	background-image: url(off2.gif);
	background-repeat: no-repeat;
	text-indent: 5px;
}
.menu2 {
	HEIGHT: 20px;
	width: 20px;
	display: block;
	cursor: hand;
	text-align: center;
}
.menu2On {
	OVERFLOW: hidden;
	width: 20px;
	CURSOR: hand;
	HEIGHT: 20px;
	font-size: 14px;
	font-weight: bold;
	color: #0073c1;
	display: block;
	line-height: 20px;
	text-align: center;
}
.menu2Off {
	OVERFLOW: hidden;
	width: 20px;
	CURSOR: pointer;
	HEIGHT: 20px;
	font-size: 14px;
	font-weight: lighter;
	color: #595757;
	display: block;
	text-align: center;
	line-height: 20px;
}
.menu3 {
	display: block;
	cursor: hand;
}
.menu3On {
	OVERFLOW: hidden;
	width: 160px;
	CURSOR: hand;
	HEIGHT: 40px;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(on3.gif);
	display: block;
	background-repeat: no-repeat;
	line-height: 18px;
}
.menu3Off {
	OVERFLOW: hidden;
	width: 160px;
	CURSOR: pointer;
	HEIGHT: 40px;
	font-size: 18px;
	font-weight: bold;
	color: #595757;
	display: block;
	background-image: url(off3.gif);
	background-repeat: no-repeat;
}
#Layer1 {
	position:absolute;
	z-index:1;
}
#Layer2 {
	position:absolute;
	width:97px;
	height:97px;
	z-index:1;
	left: -5px;
	top: -3px;
}
#Layer3 {
	BACKGROUND: #000000;
	FILTER: alpha(opacity=30);
	POSITION: relative;
    -moz-opacity: 0.30; 							
	opacity: 0.30;
	background-color: #000000;
	width: 134px;
	bottom: 27px;
	height: 27px;
	overflow: auto;
}
#Layer4 {
	z-index:1;
	width: 134px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	bottom: 48px;
	font-size: 14px;
	font-weight: lighter;
	color: #FFFFFF;
	text-align: center;
}
#Layer5 {
	position:absolute;
	z-index:1;
}
#Layer6 {
	position:absolute;
	width:97px;
	height:97px;
	z-index:1;
	left: 906px;
	top: -2px;
}
.sou {
	float: left;
	width: 204px;
	height: 19px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cfcfcf;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #cfcfcf;
}
.text1{
    WIDTH:205px;	
    LEFT:0px;
	top:114px;
	POSITION: absolute;
	HEIGHT: 37px;
    line-height:37px;
	text-align:center;

    }
