/* 全局 */
body {background:#fff;}
* {padding:0;margin:0;line-height:100%;}
ul li {list-style:none;}
#indexhome,#gjhome {margin:0 auto;width:900px;padding-top:6px;}
.clear {clear:both;}
.img img {padding:4px;border:1px solid #BFBFBF;}
.img a:hover img {border:1px solid #3c527f;}
.img1 img {border:1px solid #fff;}
.img1 a:hover img {border:1px solid #3c527f;}
.img2 img {border:1px solid #BFBFBF;}
.img2 a:hover img {border:1px solid #3c527f;}
#mainnav .nav .navtop,#oneleft .oltop p a,.orbright #showzt_01_02 .tzkzy,.ff {padding-top:1px;}
.dnone {display:none;}
#mallnav,#oneleft .oltop,#oneleft .olbottom,#dfrsadv .search,#towright,#bbsblog,#imedia,#partthree,#threemid .wmzximg {border:1px solid #BFBFBF;}
.fl,#top .yxdl span,#top .topxx span,#blacknav a,#mallnav p a,#oneleft .oltop p a,.orbright label,.advbtn,.advbtn1,#mainnav .nav li,#dfrsadv .search p,#threemid h2 strong,#threemid h2 .grey12,#threemid h2 .white12a,#threeleft h2 span,#threeleft h2 a,#threeleft h3 span,#threeleft h3 a,#threemid .cpimg img,.photodl label {float:left;}
#top .yxdl span,#top .topxx span,#blacknav a,#mallnav p a,#oneleft .oltop p a,.orbright label,#oneleft .oltop span,.orbright span,.orbright #showzt_01_02 span,.advbtn,.advbtn1,#bbs span,#blog span,.tlhead,#imedia h1 span,#towright .imgnews span,#towright .imgnews span strong,#towright .cxzx,#partthree span,#threemid h2 strong,#threemid h2 .grey12,#threemid h2 .white12a,#threeleft h2 span,#threeleft h2 a,#threeleft h3 span,#threeleft h3 a,#threemid .wmzximg span,#partfour .fourright .picnews span,#partfour .fourright .hlight .newslink span,#partfour .fourright .fjnews strong,#partfour .photopic span,.photodl label,.photodl span,#footer span {display:block;}
.orbottom .orbleft ul li a.ld,.orbottom .orbleft .hzorb a,.orbright .logoline a,.ilink a,.shlink a,#threemid h2 .grey12,#threemid h2 .white12a {padding-left:15px;}
#bbs,#imedia .iimg span,#partfour .fourleft .fleft1 ul,#partfour .fourleft .fleft1 .pic span,#partfour .fourleft .fleft2 ul,#partfour .fourright .hlight ul {padding-right:5px;}
.orbottom .orbleft ul li span,.orbottom .orbleft ul li strong,.orbottom .orbleft .hzorb span,.orbottom .orbleft .hzorb strong  {font-size:14px;}
.orbottom .orbleft ul li a,#oneright .orbottom .orbleft .hzorb a,.orbottom .orbleft .orblink a,.orbright .logoline a {display:inline;}
#partone,.rdadv,#imedia .iimg {padding-top:8px;}
#dfrsadv{padding-top:8px;*padding-top:8px !important;*padding-top:4px;}
.orbright #showzt_01_02 span,#bbs span {margin-top:5px;text-align:right;}
.ortop .ortleft h1,#bbsblog h2,#bbsblog h3,#imedia h1 {font-weight:normal;}
#blog .bloglink a,#towright h1 a {padding:0 2px;}
.advbanner {height:90px;margin:5px 0;}
.advbanner1 {height:90px;margin:5px 0;}
.advbtn {padding:8px 0;}
.advbtn1 {padding:8px 8px 8px 12px;}
.advbtn2 {padding:0 18px 0 17px;}
.redbk {background:#E60005;}
.lipd1 li {padding:4px 0 4px 20px;background:url(index19.gif) 10px -73px no-repeat;} 
.fourright .lipd1 {height:154px;}
.lipd2 li {padding:2px 0 2px 20px;background:url(index26.gif) 10px 10px no-repeat;} 
.lipd3 li {padding:4px 0 4px 10px;background:url(index19.gif) 2px -73px no-repeat;} 
.lipd4 li {padding:7px 0 6px 13px;background:url(index19.gif) 4px -70px no-repeat;border-bottom:1px dashed #BFBFBF;} 
.lipd5 li {padding:4px 0 4px 15px;background:url(index19.gif) 8px -73px no-repeat;} 
#towright .alink,#imedia .iimg .ilink,.rt {text-align:right;}
.lipd6 li {padding:4px 0 3px 20px;background:url(index19.gif) 10px -73px no-repeat;} 
.lipd7 li {padding:4px 0 4px 5px;border-bottom:1px dashed #BFBFBF;}
.shzw li {padding:3px 0 3px 10px;background:url(index19.gif) 2px -73px no-repeat;} 
.shzwpc {padding-bottom:6px;}

/* 顶部 */
#top {height:23px;background:#E60005 url(index01.gif) 3px 3px no-repeat;}
#top .yxdl {padding-left:33px;}
#top .yxdl span {padding:6px 5px 0 0;*padding:8px 5px 0 0 !important;*padding:8px 5px 0 0;}
#top .yxdl input {width:52px;height:15px;border:1px solid #C00004;margin-top:-3px;*margin-top:-5px !important;*margin-top:-5px;}
#top .yxdl .dl {width:45px;height:17px;border:none;margin-top:-3px;*margin-top:-4px !important;*margin-top:-4px;}
#top .yxdl img {margin-top:-3px;*margin-top:-4px !important;*margin-top:-4px;}
#top .yxdl .yxff {margin-left:5px;}
#top .topxx span {padding:6px 0 0 10px;*padding:8px 0 0 15px !important;*padding:8px 0 0 15px;background:url(index19.gif) 4px 9px no-repeat;}
#top .topxx .txbk {background:url(index19.gif) 4px -11px no-repeat;}
#top .topxx p {padding-left:10px;}
#top .topxx p img {padding:6px 4px 0 0;}

/* 导航 */
#mainnav {height:72px;}
#mainnav .logo {width:213px;overflow:hidden;}
#mainnav .logoexpo {width:213px;overflow:hidden;}
#mainnav .logoexpo p {background:url(index11expo2.gif) 0 0 repeat-y;padding:3px 0 0 10px;}
#mainnav .nav {width:687px;overflow:hidden;}
#mainnav .logo img {padding:6px 23px;}
#mainnav .logo p {padding-left:2px;}
#mainnav ul {padding-right:6px;border-right:1px dashed #BFBFBF;margin:10px 8px 0 0;}
#mainnav .nav1 {width:90px;}
#mainnav .nav2 {width:121px;}
#mainnav .nav li {width:27px;text-align:center;padding-top:11px;}
#mainnav .nav .navmid {margin:0 4px;}
#mainnav .nav .navmid {margin-right:4px;}
#mainnav .nav .nav2rt {padding-right:0;border-right:none;}
#mainnav .nav .navk {width:41px;}
#mainnav .nav .navk2 {width:59px;}
#mainnav .nav .navk3 {width:44px;}
/*#blacknav {background:#000;height:21px;margin-top:4px;padding:0 5px;}世博结束后恢复*/
#blacknav {background:#000;height:21px;padding:0 5px;}
#blacknav a {padding:6px 0 0 17px;background:url(index19.gif) 8px -31px no-repeat;}
#mallnav {padding:8px;height:115px;}
#mallnav p {height:18px;}
#mallnav p a {padding:1px 0 0 14px;background:url(index19.gif) 6px -56px no-repeat;}
#mallnav p .anone {padding:1px 0 0 0;background:none;}
#mallnav .mnavft {padding:1px 0 0 13px;background:url(index19.gif) 4px -56px no-repeat;}
#mallnav .mnavk {padding:1px 0 0 15px;}
#mallnav .adv1 {padding-left:4px;}
#mallnav .adv1 span {padding-right:8px;}
#mallnav .advwz1 {padding-top:3px;text-align:center;}
#mallnav .advwz1 a {background:url(index19.gif) 2px -76px no-repeat;padding:0 5px 0 10px;}

/* 第一块内容 */
#partone {overflow:hidden;}
#oneleft {width:243px;padding-right:8px;}
#oneright {width:647px;border:1px solid #25A510}
/* 第一块左边内容 */
#oneleft .oltop {padding-top:6px;background:url(index15.gif) 0 0 no-repeat;height:321px;}
#oneleft .oltop p {height:13px;padding:5px 0 0 6px;}
#oneleft .oltop p a {margin-right:6px;}
#oneleft .oltop span {margin:8px 0 0 6px;}
#oneleft .olbottom {padding:5px;margin-top:8px;height:259px;*height:259px !important;*height:253px;background:#fff;} 
#oneleft .olbottom h1 {padding-bottom:5px;border-bottom:1px dashed #BFBFBF;margin-bottom:10px;font-weight:bold;}
#oneleft .olbottom ul li {padding-left:17px;margin-bottom:9px;*margin-bottom:10px !important;*margin-bottom:10px;background:url(index19.gif) 2px -100px no-repeat;}
/* 第一块右边内容 */
.ortop {height:103px;background:#EBEAEA url(index17new.gif) 0 0 no-repeat;margin:1px;border-bottom:1px dashed #49A227;}
.ortleft {width:500px;padding:6px 14px 0 36px;}
.ortleft h1 {text-align:center;padding:2px 0 10px;}
.ortleft h1 span {font-size:20px;}
.ortleft p {padding-bottom:4px;}
.ortleft p span {font-size:14px;}
.xxs {background:url(index36.gif) 0 0 no-repeat;padding:0 5px 0 15px;}
.ortop .ortright h1 {padding:8px 0;}
.ortop .ortright ul li {padding:0 0 0 15px;background:url(index19.gif) 2px -118px no-repeat;}

.orbottom {height:500px;*height:500px !important;*height:500px;}
.orbottom .orbleft {margin-top:9px;width:434px;border-right:1px solid #25A510;margin-right:4px;}
.orbottom .orbleft ul li {padding:6px 0 6px 15px;background:url(index19.gif) 4px -50px no-repeat;}
.orbottom .orbleft ul li.orblf {background:url(index19.gif) 4px -133px no-repeat;}
.orbottom .orbleft ul li a.ld{background:url(index19.gif) 4px -55px no-repeat;}
.orbottom .orbleft ul li.orbll {margin-bottom:8px;*margin-bottom:5px !important;*margin-bottom:5px;}
.orbottom .orbleft .hzorb {padding:6px 0;background:#F2F2F2;border-bottom:1px solid #BFBFBF;}
.orbottom .orbleft .hzorb a{background:url(index19.gif) 4px -55px no-repeat;}
.orbottom .orbleft .hzorb a.none {background:none;padding-left:0;}
.orbottom .orbleft .orblink {padding:8px 0 4px 10px;}
.orbottom .orbleft .orblink a {padding-left:18px;background:url(index19.gif) 8px -56px no-repeat;}
.orbottom .orbleft .orblink a.orblinkl {background:none;padding-left:30px;}
.orbottom .orbleft .orblink a.orblink2 {background:none;padding-left:15px;}
.orbright {width:204px;}
.orbright span {padding:5px 2px 0;}
.orbright label {padding:6px 0 3px;background:url(index12.gif) 0 0 repeat-x;}
.orbright #showimg_01_01 img {padding:0 29px 0 12px;}
.orbright #showimg_01_02 img {padding:0 15px 0 12px;}
.orbright label.selected {background:url(index16.gif) 0 0 no-repeat;}
.orbright #showzt_01_01 li,.orbright .pl li {padding:4px 2px;}
.orbright .logoline {border:1px solid #EBEAEA;border-width:1px 0;margin:1px 0;}
.orbright .logoline a {background:url(index19.gif) 7px -56px no-repeat;}
.orbright .logoline a.w1 {background:url(index20.gif) 3px 1px no-repeat;}
.orbright .logoline a.w2 {background:url(index20.gif) 3px -19px no-repeat;}
.orbright .logoline a.w3 {background:url(index20.gif) 3px -39px no-repeat;}
.orbright #showzt_01_02 {margin:8px 0 1px;border-bottom:1px solid #EBEAEA;height:182px;*height:186px !important;*height:186px;}
.orbright #showzt_01_02 .tzkimg {width:135px;}
.orbright #showzt_01_02 .tzkimg img {width:120px;height:68px;}
.orbright #showzt_01_02 .tzkzy {width:65px;text-indent:1em;}
.orbright #showzt_01_02 h1 {margin-top:5px;}
.orbright .pllogo {padding:9px 0 5px;}
.advtop {padding-top:5px;}
/* 东方热搜及广告 */
#dfrsadv .search {height:39px;background:url(index21.gif) 0 0 repeat-x;}
#dfrsadv .search .slogo {width:178px;height:39px;background:url(index22.gif) 0 0 no-repeat;}
#dfrsadv .search .stop {padding:6px 13px 0 0;}
#dfrsadv .search .sput {width:180px;border:1px solid #7F9CAC;}
#dfrsadv .search .srd {width:70px;height:39px;background:url(index24.gif) 10px 9px no-repeat;}
#dfrsadv .search .srdlink {padding-top:11px;width:117px;overflow:hidden;white-space:nowrap;}
#dfrsadv .search .srdlink a,.rdadv a {padding-right:10px;}
#dfrsadv .search .srdpiclink{width:240px;height:39px;background:url(swim2011.gif) right 0px no-repeat;text-align:left;padding:0px;float:right;}	
#dfrsadv .search .srdpiclink span{display:block;width:26px;height:15px;margin-left:188px;padding:24px 0px 0px 0px; font-family:"宋体";font-size:14px;color:#FF0000;font-weight: bold;text-align:center;}
.rdadv {text-align:center;}

/* 第二块内容 */
#parttow {height:525px;*height:533px !important;*height:539px;*overflow:hidden;}
#towleft {width:672px;margin-right:8px;overflow:hidden;}
#towright {width:218px;background:#F1F0F0;height:523px;*height:531px !important;*height:537px;overflow:hidden;}
.tlhead {height:14px;padding-top:4px;}
#bbsblog h1 {padding:3px 0 7px;border-bottom:1px dashed #BFBFBF;}
#bbsblog h1 a {padding-right:16px;}
#bbsblog h2 {padding:8px 3px 4px;}
#bbsblog h3 {padding:6px 15px 3px;border-top:1px dashed #BFBFBF;margin-top:3px;background:url(index25.gif) 3px 6px no-repeat;}
#bbsblog h3 a {padding-left:20px;background:url(index19.gif) 10px -76px no-repeat;}
#bbsblog h3 a.bbf {padding-left:0;background:none;font-weight:bold;}
#bbsblog li a.bbimg {padding-left:20px;background:url(index25.gif) 10px -37px no-repeat;}
#bbsblog .bbzy {padding:0 3px;}
/* 第二块内容左边 */
#bbsblog {height:353px;*height:361px !important;*height:361px;padding:6px 9px;}
#towleft .tlhead {background:#E60005;padding-left:35px;}
#bbs {width:315px;border-right:1px solid #BFBFBF;margin-right:5px;}
#bbs .chatimg {width:127px;padding-left:3px;}
#blog .blogimg {width:117px;padding-left:3px;}
#bbs .chatimg img {width:110px;height:70px;}
#bbs .chatnews {width:185px;}
#bbs iframe {height:353px;*height:361px !important;*height:361px;}
#bbsblog .chattop {margin-top:10px;} 
#bbs span {padding-bottom:5px;}
#bbs span a {margin:0 10px 0 15px;}
#blog {width:326px;}
#blog .bgline {border-bottom:1px dashed #BFBFBF;}
#blog .blogimg img {width:100px;height:70px;}
#blog .blognews {width:194px;}
#blog .blogimg span {background:url(index26.gif) 3px 7px no-repeat;text-indent:1em;margin-top:3px;width:110px;}
#blog .blogzx {background:url(index25.gif) 3px -14px no-repeat;}
#blog .bloglink {padding:4px 0;border-bottom:1px solid #BFBFBF;}
#blog .bloglink .bloglf {margin-left:55px;}
#blog .ttop {padding:6px 0 6px;margin-bottom:4px;}
#blog .tlink {margin-top:3px;text-align:right;padding-right:5px;}
#imedia {margin-top:8px;height:130px;}
#imedia h1 {height:25px;background:#E0DFDF;}
#imedia h1 span {padding:8px 10px 0;} 
#imedia h1 .redbk {padding-bottom:5px;}
#imedia h1 .ilink a {background:url(index19.gif) 6px -56px no-repeat;}
#imedia .inews {width:378px;padding:5px 12px 0;}
#imedia .inews .red12 {padding:0 5px;}
#imedia .inews .grey12 {padding-left:20px;background:url(index19.gif) 10px -77px no-repeat;}
#imedia .iimg {width:263px;}
#imedia .iimg img{width:80px;height:60px;}
#imedia .iimg .img {width:100px;}
#imedia .iimg span {width:150px;text-indent:1em;background:url(index26.gif) 4px 6px no-repeat;}
#imedia .iimg .ilink {margin:10px 10px 0;}
/* 第二块内容右边 */
#towright #show_02 {background:#72ACCA;padding:3px 0 3px 3px;}
#towright #show_02 label {padding:2px 0;}
#towright #show_02 label a {padding:0 3px;}
#towright #show_02 label.selected {background:#3E81A3;}
#towright #showzt_02_01 {padding-top:0px;*padding-top:3px !important;*padding-top:0px;}
#towright #showzt_02_02,#towright #showzt_02_03,#towright #showzt_02_04,#towright #showzt_02_05 {padding-top:5px;*padding-top:8px !important;*padding-top:12px;}
#towright h1 {background:#72ACCA;}
#towright h1 .qcsg {padding:0 15px;}
#towright h2 {padding:10px 0;text-align:center;}
#towright p,#towright h3 {margin:0 4px;}
#towright .imgnews {background:#666;padding:7px 6px;height:75px;margin:8px 4px;}
#towright .imgnews img {width:110px;height:73px;}
#towright .imgnews span {width:75px;padding-left:3px;}
#towright .imgnews span strong {text-align:center;margin-bottom:5px;}
#towright .alink {padding:6px 10px 0;*padding:8px 10px 0 !important;*padding:8px 10px 0;}
#towright h3 {border-top:1px dashed #BFBFBF;padding:8px 5px;margin-top:8px;}
#towright h3 a {padding:0 5px;}
#towright .cxzx {margin:0 0 5px 8px;}
#towright .cxzx a {padding-right:10px;}


/* 第三块内容 */
#partthree {padding:1px;height:608px;*height:622px !important;*height:622px;overflow:hidden;}
#threeleft {width:398px;border-right:1px solid #BFBFBF;padding:0 4px;overflow:hidden;}
#threemid {width:325px;border-right:1px solid #BFBFBF;padding:0 5px;overflow:hidden;}
#threeright {width:143px;padding:0 5px;overflow:hidden;} 
#partthree .shline {height:28px;border-bottom:4px solid #E60005;background:url(index27.gif) 0 -50px repeat-x;margin-bottom:7px;}
#partthree .white18 {padding:8px 0 2px;width:90px;background:url(index27.gif) 0 0 repeat-x;text-align:center;}
#partthree .shlink {padding:10px 0 0 20px;width:680px;}
#partthree .shlink a {background:url(index19.gif) 6px -56px no-repeat;}
#partthree .shlink1 {padding-top:10px;}
/* 第三块内容左边 */
#threeleft h1 {border-bottom:1px dashed #BFBFBF;padding:4px 0 4px 8px;font-weight:normal;background:url(index25.gif) 0 -32px no-repeat;margin-bottom:5px;}
#threeleft h2,#threeleft h3 {margin:6px 0 3px;*margin:10px 0 5px !important;*margin:10px 0 5px;font-weight:normal;}
#threeleft h2 {height:28px;background:url(index29.gif) 0 0 no-repeat;}
#threeleft h2 a {padding-top:8px;}
#threeleft h2 span {margin:0 230px 0 0;padding-left:35px;background:url(index28.gif) 12px 7px no-repeat;}
#threeleft h3 {height:30px;background:url(index29.gif) 0 -30px no-repeat;}
#threeleft h3 a {padding-top:10px;}
#threeleft h3 span {padding-left:35px;background:url(index28.gif) 12px -11px no-repeat;}
#threeleft h3 .gr {padding-left:20px;background:url(index26.gif) 10px 13px no-repeat;}
#threeleft .wthd p {width:175px;padding-left:5px;}
#threeleft .wthd img {width:155px;height:75px;}
#threeleft .wthd ul {width:210px;}
/* 第三块内容中间 */
#threemid h1,.rdgz h1 {font-weight:normal;padding:5px 0;}
#threemid h1 strong,.rdgz h1 strong {margin-right:50px;}
#threemid h1 .grey12,.rdgz h1 .grey12 {padding-left:30px;background:url(index19.gif) 22px -75px no-repeat;}
#threemid .lipd3 {margin-left:3px;}
#threemid h2 {font-weight:normal;height:22px;background:#E0E1E0;margin:5px 0;}
#threemid h2 strong {padding:5px 0 5px 6px;width:90px;}
#threemid h2 .grey12 {padding-top:5px;background:url(index19.gif) 6px -72px no-repeat;}
#threemid h2 .wmzx {background:#3D7C09;}
#threemid h2 .ztc {background:#31BBCF;}
#threemid h2 .white12a {padding-top:2px;background:url(index19.gif) 6px -31px no-repeat;}
#threemid .cp {background:#FD7202;margin-top:4px;*margin-top:12px !important;*margin-top:12px;}
#threemid .wmzximg {width:80px;padding:0 6px;background:#E8E8E8;height:180px;margin:0 11px 0 3px;margin-bottom:7px;}
#threemid .wmzxnews {width:215px;}
#threemid .wmzximg img {width:80px;height:55px;}
#threemid .wmzximg span {padding:2px 0;}
#threemid .wmzximg .dbs {border-top:4px solid #0D8D03;width:38px;padding:5px 0 5px;}
#threemid .cpimg {width:125px;padding-left:3px;}
#threemid .cpimg img {width:59px;height:55px;margin-right:5px;}
#threemid .cpimg span {width:58px;}
/* 第三块内容右边 */
#threeright h1 {padding:4px 15px;background:url(index28.gif) 0 -34px no-repeat;}
#threeright img {width:120px;height:80px;margin:3px 7px 8px;}
#threeright h2 {padding:10px 7px;margin-top:10px;border-top:1px dashed #BFBFBF;}
#threeright .ck {text-align:center;}
#threeright table tr td {height:19px;*height:21px !important;*height:21px;}
#threeright .lipd3 {padding:6px 0 0 5px;}

/* 第四块内容 */
#partfour {padding-top:5px;}
#partfour .fourleft {width:320px;padding-right:8px;}
#partfour .fourright {width:570px;border:1px solid #BFBFBF;margin-bottom:5px;position:relative;}
#partfour .fleft {border:1px solid #BFBFBF;margin-bottom:8px;height:100px;}
#partfour .fourleft h1 {background:#F4F4F4;height:18px;border-bottom:1px solid #E5E5E5;padding:8px 0 0 16px;margin-bottom:5px;}
#partfour .fourleft h1 .grey12 {padding-left:22px;background:url(index19.gif) 13px -56px no-repeat;}
#partfour .fourleft img {width:59px;height:54px;}
#partfour .fourleft .advbtn3 span {width:95px;height:60px;padding:5px;}
#partfour .fourright img {width:140px;height:95px;}
#partfour .fourright .imgfin img {width:170px;height:98px;margin-bottom:10px;}
#partfour .fourright ul li img {width:14px;height:14px;padding-left:4px;padding-top:-2px;}
/* 第四块内容左边 */
#partfour .fourleft .fleft1,#partfour .fourleft .fleft2 {height:100px;overflow:hidden;}
#partfour .fourleft .fleft1 ul {width:180px;}
#partfour .fourleft .fleft1 .pic {width:133px;}
#partfour .fourleft .fleft1 .pic p {width:73px;}
#partfour .fourleft .fleft1 .pic span {width:55px;}
#partfour .fourleft .fleft2 p {width:69px;margin-left:4px;}
#partfour .fourleft .fleft2 ul {width:235px;}
#partfour .fourleft .fheight1 {height:210px;*height:210px !important;*height:210px;}
#partfour .fourleft .fheight2 {height:160px;}
#partfour .fourleft .fheight3 {height:80px;}
#partfour .fourleft .udline {border-bottom:1px dashed #BFBFBF;margin-bottom:3px;}
#partfour .advbtn3 {height:202px;*height:206px !important;*height:206px;}
#partfour .fourleft .hy {text-align:center;padding:4px 0;}
#partfour .fourleft .hy a {padding:0 6px;}
#partfour .sst {height:20px;width:150px;border:1px solid #7F9DB9;background:#FEF7FF;margin-top:11px;*margin-top:14px !important;*margin-top:13px;}
#partfour .yqlink .yqlp {padding-left:20px;}
/* 第四块内容右边 */
#partfour .fourright h1 {font-weight:normal;border-top:5px solid #E60005;padding:10px 12px;}
#partfour .fourright h2 {font-weight:normal;padding:31px 12px 12px;*padding:14px 12px 12px !important;*padding:20px 12px 12px;}
#partfour .fourright h3,#partfour .photo h3 {font-weight:normal;border-top:5px solid #E1E0E0;padding:10px 12px;}
#partfour .fourright h1 .grey18,#partfour .fourright h2 .grey18,#partfour .fourright h3 .grey18,#partfour .photo h3 .grey18 {padding-left:30px;background:url(index26.gif) 17px 7px no-repeat;}
#partfour .fourright h4 {border-top:5px solid #E60005;padding:10px 0;border-bottom:1px solid #BFBFBF;}
#partfour .fourright h4 a {padding-left:20px;background:url(index25.gif) 10px -37px no-repeat;}
#partfour .fourright .news {padding:0 12px;}
#partfour .fourright .picnews p {width:142px;border:1px solid #BFBFBF;padding:8px;}
#partfour .fourright .picnews span {width:144px;height:36px;*height:38px !important;*height:38px;padding:4px 8px;background:#585858;}
#partfour .fourright .news ul {width:386px;}
#partfour .fourright .hlight {border-top:1px solid #BFBFBF;margin-top:7px;padding:3px 4px 0;height:107px;*height:104px !important;*height:104px;}
#partfour .fourright .hh1 {height:107px;*height:104px !important;*height:112px;}
#partfour .fourright .hlight img {width:20px;height:98px;padding-right:15px;}
.hlight ul {border-right:1px dashed #BFBFBF;width:315px;}
#partfour .fourright .hlight .newslink {width:196px;padding:0 4px;}
#partfour .fourright .hlight1 .newslink {width:196px;padding:0 4px;}
#partfour .fourright .hlight .newslink span {padding:6px 0;}
#partfour .fourright .hlight .newslink span a {padding-left:15px;background:url(index19.gif) 5px -77px no-repeat;}
#partfour .fourright .hlight .newslink .rt a {background:none;}
#partfour .fourright .newslist {width:412px;height:202px;*height:205px !important;*height:205px;}
#partfour .fourright .newslist1 {width:354px;height:202px;*height:205px !important;*height:205px;}
#partfour .fourright .fjnews {width:158px;background:#F0EFEF;height:209px;*height:212px !important;*height:212px;position:absolute;top:0;left:412px;}
#partfour .fourright .fjnews strong {padding:5px 7px;text-indent:2em;}
#partfour .fourright .fjnews p {padding:0 7px 10px;}
#partfour .fourright .fjnews .mt {text-align:center;}
#partfour .photo {border:1px solid #BFBFBF;margin-top:8px;}
#partfour .photonews {padding:0 12px;width:320px;}
#partfour .photopic img {width:120px;height:85px;}
#partfour .photopic p {width:122px;border:1px solid #BFBFBF;padding:8px;}
#partfour .photopic span {width:140px;padding:5px 0 0 10px;background:url(index26.gif) 0 12px no-repeat;}
#partfour .lpo {padding-left:20px;}
.photodl {width:226px;height:130px;background:url(index33.gif) 0 0 no-repeat;}
.photodl form {padding-top:50px;}
.photodl label {padding:8px 8px 0;} 
.photodl input {margin:4px 0;border:1px solid #fff;background:#DB0F0E;width:90px;}
.photodl p img {padding:20px 0 0 20px;} 
.photodl span {padding:3px 20px 0;}
.photodl span a {padding-left:20px;background:url(index19.gif) 10px -36px no-repeat;}
#partfour .photolink {margin-top:10px;border-top:1px solid #BFBFBF;padding:10px 12px;}
#partfour .photolink a {padding-left:15px;background:url(index19.gif) 6px -76px no-repeat;}
#partfour .photolink a.bkn {background:none;}
#partfour .photoheight {background:#fff;height:146px;*height:148px !important;*height:148px;}


/* 底部 */
#footer {margin-top:20px;border-top:5px solid #000;padding-top:3px;}
#footer p {margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #BFBFBF;}
#footer span {padding:5px 0;text-align:center;}
#footer span a {padding:0 5px;}


/* 稿件 */
#gjmain {padding-top:8px;width:900px;}
#left {width:535px;padding-right:15px;background:transparent;display:inline;}
#gjright {width:350px;display:inline;}
.locbhs span {padding-top:1px;display:block;}
.loc {width:270px;padding-left:20px;background:url(index35.gif) 0 0 no-repeat;}
#gjright h1 {border:1px solid #B5B5B5;background:url(index40.gif) 0 0 repeat-x;height:25px;}
#gjright h1 img,#gjright h2 img {padding:5px 0 0 10px;}
#gjright p,#gjright ul {border:1px solid #B5B5B5;padding:10px 15px;margin-top:5px;}
#gjright h2 {border:1px solid #B5B5B5;background:url(index40.gif) 0 -50px repeat-x;height:25px;margin-top:10px;}
#gjright ul li {padding:0 0 10px 15px;background:url(index19.gif) 0 -76px no-repeat;}
#gjright ul li.more {background:none;text-align:right;}
#gjright span img {padding-top:10px;}
#gjfooter p {border-top:1px solid #B5B5B5;text-align:center;padding:5px;margin-top:10px;}
#gjfooter span a {padding:0 5px;}
#gjfooter #gjbqsy {background:#000;text-align:center;border-top:5px solid #D00000;padding:8px 0;}


/* 列表 */
#listleft {width:500px;height:760px;border:1px solid #B5B5B5;margin-right:8px;padding:0 20px;background:transparent;display:inline;}
#listleft h1 {font-weight:normal;padding:10px 0;}
#listleft ul li {padding:9px 0 9px 15px;background:url(index19.gif) 0 -66px no-repeat;}
#listleft ul li a {width:380px;display:block;float:left;padding-top:1px;}
#listleft p {text-align:center;padding-top:10px;}

/* 荣誉成长 */
.ry h1 {text-align:center;padding:20px 0;}
.ryleft {padding:0 30px 0 20px;}
.rytp p {padding-bottom:5px;background:url(index42.gif) 4px 100% no-repeat;margin-bottom:10px;}
.rytp span {width:220px;display:block;text-align:center;padding-bottom:10px;}
.rytp img {border:1px solid #B5B5B5;padding:5px;}
.np {text-align:center;}



/* 世博图集 */
.tjtop {background:url(/images/index09/index45.gif) 0 17px repeat-x;width:900px;}
.tjtop .logo {padding-right:737px;}
.tjlist {background:url(/images/index09/index46.gif) 0 0 no-repeat;width:886px;height:97px;padding:0 7px;}
.tjlist p {padding:11px 13px 0 0;}
.tjlist p img {width:101px;height:64px;float:left;border:1px solid  #B0DD9E;padding:4px;background:#fff;}
.tjlist p span {width:90px;padding-left:5px;display:block;float:left;}
.tjlist p span strong {display:block;padding:3px;}

/*财经新增样式*/
.r1 {border-top:5px solid #E60005;padding:5px 0 0 0;}
.fjnews1 {width:216px;background:#F0EFEF;height:209px;*height:212px !important;*height:212px;position:absolute;top:0;left:354px;}
.fc{text-align:center;}
.lipds1 li {padding:0 0 0 5px;}
.lispds2 {width:186px;}
.lispds2 li{width:85px;float:left;padding:2px 0 2px 5px;}
a.black12:link {text-decoration: none;color: #000;line-height:20px;}
a.black12:visited {text-decoration: none;color: #000;line-height:20px;}
a.black12:hover {text-decoration: none;color: #000;line-height:20px;}
#partfour .fourright .hlight1 {border-top:1px solid #BFBFBF;margin-top:7px;padding:3px 4px 0;height:107px;*height:104px !important;*height:104px;}
#partfour .fourright .hlightleft1{width:329px;border-right:1px #bfbfbf dashed;}
.photos1{padding:4px 4px 0 26px;}
#partfour .fourright .imgfin1 IMG {width:20px;height:98px;}
#partfour .fourright .imgfin2 IMG {width:120px;height:80px;}
.fr{float:right;}
.titlefin{
height:20px;
line-height:20px;
width:120px;
TEXT-OVERFLOW:ellipsis;
overflow:hidden;
white-space:nowrap;}
.fr1{margin-right:10px;}


/* 世博区 */
#expo {width:840px;height:137px;background:url(index53.jpg) 0 0 no-repeat;margin-top:5px;padding:0 30px;overflow:hidden;}
#expo h1 {text-align:center;padding:20px 0 10px;}




