/* È«¾Ö */
*{padding:0;margin:0;font-family:"Microsoft Yahei"}
body{padding:0;margin:0;text-align:left}
div,p,img,span,form,table,td,input{border:none;margin:0;padding:0}
h1,h2{font-weight:normal}
.fl{float:left}
.fr{float:right}
.fc{text-align:center}
ul li{list-style:none}
a:link{text-decoration:none}
a:visited{text-decoration:none}
a:active{text-decoration:none}
a:hover{text-decoration:none}
.clear{height:0px;clear:both;overflow:hidden}
.cur{cursor:pointer}

#index_bg{width:100%;height:1080px;background:url(pc_bg.jpg) no-repeat 50% top}
.d960{width:960px;height:1080px;margin:0 auto;overflow:hidden;position:relative}
.button1{width:293px;height:146px;position:absolute;top:44px;left:0px;z-index:1;animation:button1_show 0.5s 0.8s forwards;-webkit-animation:button1_show 0.5s 0.8s forwards;opacity:0}
@keyframes button1_show{
	0%{opacity:0;left:0px}
	100%{opacity:1;left:211px}
}
@-webkit-keyframes button1_show{
	0%{opacity:0;left:0px}
	100%{opacity:1;left:211px}
}
.button2{width:293px;height:146px;position:absolute;top:188px;left:0px;z-index:1;animation:button2_show 0.5s 1.1s forwards;-webkit-animation:button2_show 0.5s 1.1s forwards;opacity:0}
@keyframes button2_show{
	0%{opacity:0;left:0px}
	100%{opacity:1;left:162px}
}
@-webkit-keyframes button2_show{
	0%{opacity:0;left:0px}
	100%{opacity:1;left:162px}
}
.button3{width:294px;height:146px;position:absolute;top:333px;left:0px;z-index:1;animation:button3_show 0.5s 1.4s forwards;-webkit-animation:button3_show 0.5s 1.4s forwards;opacity:0}
@keyframes button3_show{
	0%{opacity:0;left:0px}
	100%{opacity:1;left:109px}
}
@-webkit-keyframes button3_show{
	0%{opacity:0;left:0px}
	100%{opacity:1;left:109px}
}
.button4{width:295px;height:146px;position:absolute;top:477px;left:0px;z-index:100;animation:button4_show 0.5s 1.7s forwards;-webkit-animation:button4_show 0.5s 1.7s forwards;opacity:0}
@keyframes button4_show{
	0%{opacity:0;left:0px}
	100%{opacity:1;left:58px}
}
@-webkit-keyframes button4_show{
	0%{opacity:0;left:0px}
	100%{opacity:1;left:58px}
}
.logo1{width:446px;height:357px;position:absolute;top:140px;right:51px;z-index:1}
.logo1 img{width:446px;height:357px;animation:logo1_show 0.5s 0s ease-in forwards;-webkit-animation:logo1_show 0.5s 0s ease-in forwards;opacity:0}
@keyframes logo1_show{
	0%{opacity:0}
	100%{opacity:1}
}
@-webkit-keyframes logo1_show{
	0%{opacity:0}
	100%{opacity:1}
}
.logo2{width:903px;height:322px;position:absolute;top:507px;right:29px;z-index:1}
.logo2 img{width:903px;height:322px;animation:logo2_show 0.5s 0.5s ease-in forwards;-webkit-animation:logo2_show 0.5s 0.5s ease-in forwards;opacity:0}
@keyframes logo2_show{
	0%{opacity:0}
	100%{opacity:1}
}
@-webkit-keyframes logo2_show{
	0%{opacity:0}
	100%{opacity:1}
}
.host{width:439px;height:140px;position:absolute;top:869px;left:300px;z-index:1}
.host img{width:439px;height:140px;animation:host_show 0.5s 1.8s ease-in forwards;-webkit-animation:host_show 0.5s 1.8s ease-in forwards;opacity:0}
@keyframes host_show{
	0%{opacity:0}
	100%{opacity:1}
}
@-webkit-keyframes host_show{
	0%{opacity:0}
	100%{opacity:1}
}
.body_color{width:100%;position:absolute;top:0;left:0;background:url(body_bg.png);z-index:99;display:none}
#jj_con{width:990px;height:995px;position:absolute;top:26px;left:50%;margin-left:-495px;display:none}
.jj_title{width:267px;height:146px;position:absolute;left:61px;top:0;z-index:101}
.jj_bg{width:957px;height:938px;background:url(open_bg.png);position:absolute;top:57px;left:17px;overflow:hidden;z-index:100}
.jj_close{width:31px;height:31px;position:absolute;right:30px;top:20px;overflow:hidden;cursor:pointer;z-index:1}
.jj_img{width:696px;height:938px;position:absolute;right:17px;top:0}
.jj_img1{width:189px;height:42px;position:absolute;bottom:22px;right:0;z-index:101}
#ss_con{width:990px;height:995px;position:absolute;top:26px;left:50%;margin-left:-495px;display:none}
.ss_title{width:267px;height:146px;position:absolute;left:61px;top:0;z-index:101}
.ss_bg{width:957px;height:938px;background:url(open_bg.png);position:absolute;top:57px;left:17px;overflow:hidden;z-index:100}
.ss_close{width:31px;height:31px;position:absolute;right:30px;top:20px;overflow:hidden;cursor:pointer;z-index:1}
.ss_img{width:696px;height:938px;position:absolute;right:17px;top:0}
#zp_con{width:990px;height:995px;position:absolute;top:26px;left:50%;margin-left:-495px;display:none}
.zp_title{width:267px;height:146px;position:absolute;left:61px;top:0;z-index:101}
.zp_bg{width:957px;height:938px;background:url(open_bg.png);position:absolute;top:57px;left:17px;overflow:hidden;z-index:100}
.zp_close{width:31px;height:31px;position:absolute;right:30px;top:20px;overflow:hidden;cursor:pointer;z-index:1}
.slideBox{width:696px;height:938px;overflow:hidden;float:right;position:relative}
.slideBox .hd{height:11px;overflow:hidden;position:absolute;right:333px;bottom:92px;z-index:1}
.slideBox .hd ul{overflow:hidden;zoom:1;float:left}
.slideBox .hd ul li{float:left;margin:0 8px;width:11px;height:11px;background:#e2e2e2;cursor:pointer;border-radius:25px}
.slideBox .hd ul li.on{background:#f04243}
.slideBox .bd{position:relative;height:100%;z-index:0}
.slideBox .bd li{zoom:1;vertical-align:middle}
.slideBox .bd img{width:696px;height:938px;display:block}