*{
	padding:0px;
	margin:0px;
}

body{
	font-size:12px;
	font-family:"Microsoft YaHei",Arial;
}

img {
	border: none;
}

a {
	text-decoration: none;
	cursor:pointer;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clear:after{
	display: block;
	content:'';
	clear:both;
}
.clear{
	*zoom:1;
}

.ma{
	margin:0 auto;
}

.layout{
	width: 100%;
}

.fl{
	float:left;
}

.fr{
	float:right;
}

/* È«¾ÖÉèÖÃ */
.whole{
	width:100%;
	height:auto;
}

.head1{
	width:100%;
	height:auto;
	background: #c22525;
	border-bottom: 1px solid #fff;
}

.head2{
	width:1268px;
	height:auto;
}

.head3{	
	width:310px;
    margin-right: 43px;
    position: relative;
}

.head3 a{
	padding:0px 8px;
	font:14px/30px "Microsoft YaHei";
	color:#fff;
	display: inline-block;
	background: url(bg_1.png) right 11px no-repeat;
}

.head3 a:last-child{
	background: none;
}

.gundong{
	width:612px;
    margin-right: 60px;
}

.gundong span{
	width:78px;
	height:34px;
	line-height: 34px;
	display: block;
	float:left;
	color:#fff;
	font:14px/29px "Microsoft YaHei";
}


.txtMarquee-top{
	width:533px;
	height:22px;
	display: block;
	padding:6px 0px;
	
}

.txtMarquee-top .bd{
	width:100%;
	height:auto;
	
}

.txtMarquee-top .infoList li{
	overflow: hidden;
	height:22px;
}

.txtMarquee-top .infoList li a{
	font:14px/20px "Microsoft YaHei";
	color:#fff;
	width:527px;
	padding-left: 6px;
	height:auto;
    display: block;
	overflow:hidden; white-space:nowrap; text-overflow: ellipsis; 
	background: url(dot_3.jpg) left 8px no-repeat;
}



.search{
	width:240px;
	height:auto;
	border-radius: 6px;
	background: #fff;
	margin-top: 6px;
}

.search1{
    padding-left: 8px;
    width:200px;
    font:12px/22px "Microsoft YaHei";
    color:#a9a9a9;
    float:left;
    border:0;
    background: none;
}

.search2{
	width:30px;
	height:22px;
	border:0;
	background: url(fangdajing_15.png) center center no-repeat;
}


.head4{
	width:100%;
	height:auto;
	background: url(bg1_1424.jpg) 50% no-repeat;
}

.head5{
	width:1225px;
	height:auto;
	padding:6px 20px 7px 23px;
}

.head5 h1{
	margin-top: 8px;
	width:293px;
	height:65px;
	float:left;
	margin-right: 38px;
}

.head5 p{
	padding-top: 18px;
	float:left;
	width:354px;
	font:14px/22px "Microsoft YaHei";
	color:#fff;
	text-indent: 2em;
	margin-right: 88px;
}

.head5 p span{
	color:#fff000;
}

.head5 p span a{
	color:#fff000;
}

.hudong{
	width:241px;
	height:auto;
	margin-top: 18px;
	margin-right: 26px;
	position: relative;
}

.hudong a{
	width:118px;
	height:38px;
	display: block;
	border:1px solid #fec500;
	background: #fff;
	text-align: center;
	font:14px/38px "Microsoft YaHei";
	color:#333333;
	float:left;
}

.hudong a:first-child{
	margin-right: 1px;
}

.hudong a:hover{
	background: #fec500;
	color:#fff;
}

.zhuanti{
	width:185px;
	height:auto;
	
}

.zhuanti a{
	width:100%;
	height:40px;
	display: block;
	background: url(pic2_185.png) no-repeat;
}


.zhuanti a:first-child{
	background: url(pic1_185.png) no-repeat;
	margin-bottom: 1px;
	height:34px;
}

.container{
	width:1268px;
	height:auto;
	padding-top: 1px;
}

.navleft{
   width:172px;
	height:auto;
	margin-right: 1px;
	
}

.nav{
	padding:27px 16px 36px;
	width:140px;
	height:auto;
	background: #f5debe url(bg_173.png) 0 bottom no-repeat;
}

.nav ul{
	width:100%;
	height:auto;
}

.nav ul li{
	width:100%;
	font:16px/36px "Microsoft YaHei";
	border-radius: 12px;
	
	background: #fff;
	text-align: center;
	margin-bottom: 8px;
	cursor: pointer;
}



.nav ul li.jianbian0,.nav ul li.jianbian4,.nav ul li.jianbian5,.nav ul li.jianbian6,.nav ul li.jianbian7{
  background:url(bg1_140.png) no-repeat;
  color:#fff;
}

.nav ul li.jianbian1{
 background:url(bg2_140.png) no-repeat;
  color:#fff;
}

.nav ul li.jianbian2{
 background:url(bg3_140.png) no-repeat;
  color:#fff;
}

.nav ul li.jianbian3{
 background:url(bg4_140.png) no-repeat;
  color:#fff;
}

.submenu{
	width:100%;
	padding:11px 0px;
}

.nav ul li p{
	width:100%;
	text-align: center;
	font:16px/31px "Microsoft YaHei";
	display: block;
}

.nav ul li a{
	color:#3c3d3f;
}

.nav ul li.jianbian0 a,.nav ul li.jianbian1 a,.nav ul li.jianbian2 a,.nav ul li.jianbian3 a,.nav ul li.jianbian4 a,.nav ul li.jianbian5 a,.nav ul li.jianbian6 a,.nav ul li.jianbian7 a{
	color:#fff;
}

.rightcontent{
	width:1095px;

}



.pagenav{
	padding:4px 0px;
	
	border:1px solid #f5debe;
	height:50px;
	background: url(bg_2.png) repeat-x;
}

.pagenav2{
	width:323px;
	height:auto;
}

.pagenav2 a{
	display: block;
    padding:18px 11px 18px 11px;
    float:left;
    color:#c22525;
    font-size: 16px;
}

.pagenav2 a.prevpage,.pagenav2 a.nextpage{
	width:50px;
	height:50px;
	padding:0px;
	font-size: 0px;
	margin-right: 17px;
	background: url(jiantou1_50.png) no-repeat;
}
.pagenav2 a.nextpage{
    background: url(jiantou2_50.png) no-repeat;
    margin:0px 0px 0px 17px;
}

.pagenav2 a:hover{
	text-decoration: underline;
}

.rightcontent2{
	padding-top: 14px;
}

h2.dabiao{
	width:124px;
	height:144px;
	padding:22px 11px 0px;
}

.rightcontent3{
	padding:24px 25px 7px;
	width:897px;
	height:auto;
	border:1px solid #f5debe;
	background: #f8f8f8
}

.content1{
	width:100%;
	height:auto;
	margin-bottom: 36px;
}

.content1left{
	width:392px;
	height:282px;
	position: relative;
	margin-right: 25px;
}

.content1left img{
	width:392px;
	height:282px;
	display: block;
	position: absolute;
	z-index: 1;
}

.content1left p{
	padding-left: 15px;
	font:16px/36px "Microsoft YaHei";
	color:#ffffff;
	background:url(index_newsPicTextBg.png) repeat left top;
	/*   background: #000;
	  filter:alpha(opacity:30);
	  -moz-opacity:0.3; 
	  opacity:0.3; */
  display: block;
  z-index: 2;
  width:377px;
  position: absolute;bottom:0px;left:0px;
}

.content1left span{
	width:55px;
	height:40px;
	display: block;
	position: absolute;
	top:0px;
	left:20px;
	z-index:2;
	background: url(new_55.png) no-repeat;
}

.content1right{
	width:480px;
	height:auto;
}

.content1right h3{
	padding:8px 0px 13px 0px;
	font:bold 20px/20px "Microsoft YaHei";
	color:#333333;
}

.zhaiyao{
	width:100%;
	height:auto;
}

.zhaiyao p{
	
	font:15px/25px "Microsoft YaHei";
	color:#333333;
	margin-bottom: 6px;
}

.zhaiyao p span a{
	color:#ec8f21;
}

/*-- Í¼Æ¬ÂÖ²¥ --*/
div#picCarousel{
	position:relative;
	float:left;
	width:392px;
	height:282px;
	z-index:1;
}
div#picCarouselList{
	position:relative;
	width:392px;
	height:282px;
	z-index:2;
}
div#picCarouselList dl{
	position:absolute;
	top:0px;
	left:0px;
	width:392px;
	height:282px;
	z-index:10;
}
div#picCarouselList dl dt{
	width:392px;
	height:282px;
	font-size:0px;
	line-height:0px;
	overflow:hidden;
}
div#picCarouselList dl dt img{width:100%;}
div#picCarouselList dl dd{
	position:absolute;
	left:0px;
	bottom:0px;
	width:392px;
	background:url(index_newsPicTextBg.png) repeat left top;
	z-index:11;
}
div#picCarouselList dl dd a{
	display:block;
	width:377px;
	padding-left:15px;
	font:16px/33px "Î¢ÈíÑÅºÚ";
	color:#FFF;
	white-space:nowrap;
	text-overflow:ellipsis;
	word-break:keep-all;
	overflow:hidden;
	text-align: left;
}
div#picCarouselTagList{
	position:absolute;
	right:8px;
	bottom:15px;
	z-index:30;
}
div#picCarouselTagList div{
	float:left;
	display:block !important;
	display:inline;
	width:15px;
	height:4px;
	margin-right:4px;
	background-color:#fff;
	font-size:0px;
	line-height:0px;
	overflow:hidden;
}
div#picCarouselTagList div.picCarouselTagOn{background-color:#c22525;}

.zhaiyao li{
	padding:0px 0px 0px 15px;
	border-bottom: 1px solid #dddddd;
	overflow: hidden;
	background: url(dot_4.png) 2px 23px no-repeat;
	*background: url(dot_4.png) 2px 18px no-repeat;
}


.zhaiyao li a{
  font:15px/47px "Î¢ÈíÑÅºÚ";
  *font:15px/40px "Î¢ÈíÑÅºÚ";
  color:#000000;
  width:405px;
  display: block;
  float:left;
}



.zhaiyao li:last-child{
	border-bottom:0px;
}

.zhaiyao li span{
	width:57px;
	font-size: 15px;
	display: block;
	float:right;
	color:#9ba6bf;
	margin-top: 13px;
}

.more{
	width:100%;
	text-align: right;
	font-size: 13px;
	color:#000000;
	display: inline-block;
	padding:5px 0px;
}

.foot{
	width:100%;
	height:auto;
	margin-top: 16px;
	background: url(bg2_1424.jpg) 50% no-repeat;
}


.foot2{
	width:885px;
	height:auto;
    padding:12px 0px;
}

.foot2 img{
    width:32px;
    height:38px;
    display: block;
    float:left;
    margin-right: 20px;
}

.foot2 p{
	width:819px;
	float:left;
	font:14px/40px "Î¢ÈíÑÅºÚ";
	display: block;
	color:#fff;
}


.foot2 p span{
	
	margin-right: 19px;
	*margin-right: 19px;
}


.foot2 p span:last-child{
	margin-right: 0px;
}

.content2{
	width:547px;
	height:auto;
}

.content3,.content33{
	padding:16px 23px 21px;
	width:353px;
	height:auto;
	border:1px solid #f5debe;
	background: #f8f8f8;
}

.content33{
	padding:16px 23px 21px;
}

.content3 ul,.content33 ul{
	width:100%;
	height:auto;
}

.content3 ul li,.content33 ul li{
	padding-left:13px;
	width:341px;
	background: url(dot_4.png) 0px 21px no-repeat;
	*background: url(dot_4.png) 0px 17px no-repeat;
}

.content3 ul li a,.content33 ul li a{
	font:16px/45px "Î¢ÈíÑÅºÚ";
	*font:16px/41px "Î¢ÈíÑÅºÚ";
	display: block;
	color:#000000;
}

.content33 ul li a{
	font:16px/41px "Î¢ÈíÑÅºÚ";
	*font:16px/37px "Î¢ÈíÑÅºÚ";
}


.content4{
	width:100%;
	height:auto;
}

.content4:first-child{
	margin-bottom: 20px;
}

.nav2{
	width:283px;
	padding:13px 14px 44px;
}

.nav2 li{
	width:100%;
	margin-bottom: 47px;
	height:43px;
}

.nav2 li:last-child{
	margin-bottom: 0px;
}


.nav2 li a{
   width:281px;
   height:43px;
   font:31px/43px "Î¢ÈíÑÅºÚ";
   color:#3c3d3f;
   text-align: center;
   display: block;
   border-radius: 15px;
   border:1px dashed #807a7a;
}


.nav2 li a:hover,.nav2 li.cur1 a{
	color:#b81919;
	border:1px dashed #be2c2c;
	background: url(jiantou_20.png) 241px 13px no-repeat;
}



.sub-con1{height:auto;
 width:100%; 
  display:none;} 
  
.cur-sub-con1{ display:block;} 


.content5{
	padding:22px 40px 50px;
	width:702px;
	height:auto;
	border:1px solid #f5debe;
	background: #f8f8f8;
	
}

  .content5 ul li a{
  	 width:100%;
    font:16px/43px "Î¢ÈíÑÅºÚ";
    *font:16px/36px "Î¢ÈíÑÅºÚ";
    color:#000000;
    display: block;
    float:left;
  }


ul.liebiao2 li{
	padding-left: 12px;
	overflow: hidden;
	background: url(dot_4.png) 0px 20px no-repeat;
}

ul.liebiao2 li a{
    width:615px;
    font:16px/46px "Î¢ÈíÑÅºÚ";
    *font:16px/42px "Î¢ÈíÑÅºÚ";
    color:#000000;
    display: block;
    float:left;
}

ul.liebiao2 li span{
	width:56px;
	 font:16px/46px "Î¢ÈíÑÅºÚ";
	 *font:16px/39px "Î¢ÈíÑÅºÚ";
    color:#9ba6bf;
    display: block;
    float:right;
}

.content6{
	width:100%;
	margin-bottom: 21px;
}

.picScroll-left{
   padding:0px;
  width:925px;
  height:149px;
   overflow: hidden;
   position:relative;
}

.next,.prev{
  display:block;
  width:30px;
  height:30px;
  overflow:hidden;
  cursor:pointer;
  position:absolute;
  top:60px;
}

.prev{
  background: url(jiantou2_30.png) no-repeat;
  right:0px; 
   z-index: 80;  
}

.next{
  background: url(jiantou1_30.png) no-repeat;
  left:0px; 
  z-index: 80; 
}

.picScroll-left .bd{
  width:850px;
  position: absolute;left:26px;top:0px;
  height:149px;
}


.picScroll-left .bd ul li{
  margin:0 13px;
  float:left;
  overflow: hidden;
  height:149px;
}


.picScroll-left .bd ul li .pic{
   padding:0px;
  width:149px;
  height:149px;
}

.picScroll-left .bd ul li .pic img{
   width:149px;
  height:149px;
  display: block;
  position: absolute;
  z-index:1;
}

.picScroll-left .bd ul li .pic p{
	font:16px/29px "Î¢ÈíÑÅºÚ";
	color:#fff;
	text-align: center;
	  background:url(bg_149.png) no-repeat;
/*   filter:alpha(opacity:70);
-moz-opacity:0.7; 
opacity:0.7;  */
  width:149px;
  position: absolute;
  z-index: 2;
  
  bottom:0;
}

.picScroll-left .bd ul li .title{
  text-align: center;
  color:#333333;
  font-size: 18px;
  padding-top: 20px;
}


.renwu{
	width:895px;
	height:auto;
	padding:15px 0px 11px 0px;
}

.renwu li{
	width:390px;
	margin:0px 22px;
	float:left;
	height:auto;
	background: url(dot_4.png) 0px 20px no-repeat;
}


.renwu li a{
	padding-left: 13px;
	width:377px;
	font:16px/43px "Î¢ÈíÑÅºÚ";
	color:#000000;
	display: block;
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow: ellipsis;
}

.content7{
	width:718px;
	height:auto;
	margin-right: 24px;
}

.content8{
	padding:13px 17px 14px;
	width:317px;
	height:auto;
	border:1px solid #f5debe;
	background: #f8f8f8;
}

h2.history{
	width:272px;
	height:63px;
	margin-bottom: 5px;
	background: url(biaoti_272.png) no-repeat;
}

h3.day{
	width:200px;
	font:18px/36px "Î¢ÈíÑÅºÚ";
	color:#c22525;
    text-align: center;
}

 .history33{
    width:100%;
  }

  .history3{
    width:180px;
    float:left;
    height:auto;
  }

  .history3 p,.history33 p{
   
  font:15px/25px "Î¢ÈíÑÅºÚ";
  }

  .history3 a,.history33 a{
    color:#ec8f21;
  }


.history2{
	width:100%;
	height:auto;
}

.history2 img{
	width:122px;
	height:164px;
	display: block;
	float:left;
	margin-right: 13px;
	margin-top: 10px;
	border:1px solid #f5debe;
}

.history2 p{
	
	font:15px/25px "Î¢ÈíÑÅºÚ";

}

.history2 p a{
	color:#ec8f21;
}

.banner{
	width:926px;
	height:103px;
	padding:3px 4px 6px;
	margin-bottom: 14px;
	background: url(bg_934.png) no-repeat;
}

.banner2{
	width:933px;
	height:auto;
	margin-bottom: 30px;
}

.banner3{
	width:452px;
	height:94px;
	padding:3px 4px 6px;
    background: url(bg_460.png) no-repeat;
}

.banner3:first-child{
	margin-right: 12px;
}


.banner2 h2{
	width:281px;
	height:45px;
	border-radius: 20px;
	border:1px dashed #807a7a;
	text-align: center;
	font:31px/43px "Î¢ÈíÑÅºÚ";
	margin:72px 27px 0px 2px;
	float:left;
}

/*ÂÖ²¥Í¼2*/
.zhuanti2{
	width:605px;
	height:238px;
	position: relative;
}
.slideBox{ padding:0px 8px;width:526px; height:238px;margin:0 auto;overflow:hidden;}
.slideBox .hd{ height:auto; overflow:hidden; position:absolute; right:42%; bottom:0px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1;}
.slideBox .hd ul li{ float:left;border-radius:50%; margin-right:13px; width:14px; height:14px;  background:#cccccc; cursor:pointer; }
.slideBox .hd ul li.on{ background:#ff765e;}
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle;overflow: hidden; }
.slideBox .bd img{ width:220px; height:80px; display:block;  }
.slideBox .prev,
.slideBox .next{ position:absolute; left:0%; top:35%;  display:block; width:30px; height:30px;   }
.slideBox .prev{background:url(jiantou1_30.png) no-repeat;}
.slideBox .next{ left:auto; right:0%; background:url(jiantou2_30.png) no-repeat; }
/* .slideBox .prev:hover{
			background:url(../images/jiantou11_35.png) no-repeat;
		}
.slideBox .next:hover{
			background:url(../images/jiantou22_35.png) no-repeat;
		} */
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }

.zhuanti4{
	width:219px;
	height:88px;
	padding:4px 5px 6px;
	margin-right: 66px;
	background: url(bg_229.png) no-repeat;

}

.content9{
	padding:26px 55px 0px 46px;
}

.content9 h2{
	width:auto;
	float:left;
	font-size: 25px;
	color:#3c3d3f;
	float:left;
	margin:0;
	font-weight: normal;
	letter-spacing: 9px;
	padding-bottom: 7px;
	border-bottom: 1px solid #8c8c8c;
}

.return{
	padding-left: 31px;
	width:49px;
	height:auto;
	display: block;
	float:right;
	font-size: 20px;
	color:#3c3d3f;
	background: url(jiantou_17.png) 0px 7px no-repeat;
}

.liebiao{
	padding:20px 0px 29px 45px;
	width:941px;
	height:auto;
}

.liebiao li{
	margin:0px 62px;
	width:346px;
	float:left;
	background: url(dot_4.png) 0px 20px no-repeat;
}

.liebiao li a{
	padding-left: 13px;
	width:334px;
	font:16px/46px "Î¢ÈíÑÅºÚ";
    color:#000000;
    display: block;
    overflow:hidden;
     white-space:nowrap;
      text-overflow: ellipsis;
}


.pagenav3{
	width:240px;

}

.pagenav3 a{
	padding:0px 10px;
	font:20px/35px "Î¢ÈíÑÅºÚ";
	display: block;
	float:left;
	color:#333;
}

.pagenav3 a.active{
	color:#cf2a01;
}

.pagenav3 a.prev2,.pagenav3 a.next2{
	padding:0px;
	width:29px;
	height:29px;
	margin:3px 4px 0px 0px;
	background: url(jiantou1_29.png) no-repeat;
}

.pagenav3 a.next2{
	margin:3px 0px 0px 4px;
	background: url(jiantou2_29.png) no-repeat;
}

.breadnav{
	width:auto;
	font:25px/25px "Î¢ÈíÑÅºÚ";
	color:#3c3d3f;
}

.breadnav a{
	letter-spacing: 3px;
	display: inline-block;
	color:#3c3d3f;
}

.wenzhang{
	padding:32px 74px 0px 50px;

}

.wenzhang h2{
	text-align: center;
	font:30px/45px "Î¢ÈíÑÅºÚ";
	color:#333333;
}

.wenzhang span{
	display: block;
	text-align: center;
	margin:0 auto;
	font:14px/27px "Î¢ÈíÑÅºÚ";
	color:#666666;
	margin-bottom: 15px;
}

.wenzhang2 p{
    font:14px/24px "Î¢ÈíÑÅºÚ";
    color:#4d4d4d;
    margin-bottom: 20px;
}

.biaoti{
	width:100%;
	text-align: center;
	font-size:18px;
	color:#B04127;
	padding-bottom: 30px;
}

.wenzhang3{
	width:100%;
	height:auto;
}

.wenzhang3 p{
	font:12px/24px "Î¢ÈíÑÅºÚ";
	color:#595757;
	margin-bottom: 10px;
}


.wenzhang3 img{
	display: block;
	margin:0 auto;
	margin-bottom: 10px;
}

.leader{
	width:100%;
	height:auto;
	
}


.leader li{
	width:221px;
	height:auto;
	float:left;
	overflow: hidden;
	margin-right: 19px;
	background: none;
	padding-left: 0px;
	margin-bottom: 49px;
}

.leader li img{
   display: block;
   width:100px;
   height:150px;
   margin-right: 10px;
   float:left;
}

.leader2{
	width:111px;
	height:auto;
}

.leader2 h3{
	width:100%;
	height:auto;
	font:bold 12px/24px "Î¢ÈíÑÅºÚ";
	color:#000d1a;
}

.leader2 p{
	width:100%;
	height:auto;
	font:12px/24px "Î¢ÈíÑÅºÚ";
	color:#030303;
}

.weixin{
	width:126px;
	height:130px;
	background: #fff;
	position: absolute;top:30px;left:125px;
	display: none;
}

.shut{
	width:119px;
	height:auto;
	padding:9px 7px 9px 0px;
}


.head3 a.shut2{
   width:11px;
   height:10px;
   background: url(cha_11.png) no-repeat;
   display: block;
   padding:0px;
}

.weixin img{
	display: block;
	width:87px;
	height:87px;
	margin-left: 15px;
}


.tonglian{
	width:192px;
	height:130px;
	display: none;
	position: absolute;top:42px;left:-33px;
}


.div_dr {
	background-image: url(drbj.gif);
	background-repeat: no-repeat;
	height: 98px;
	width: 186px;
	padding-top: 30px;
	padding-right: 4px;
	position: relative;
}

.shut3{
	width:11px;
	height:10px;
	background: url(cha_11.png) no-repeat;
	display: block;
	position: absolute;top:6px;right:6px;
}
.input65 {
	height: 17px;
	width: 63px;
	border: 1px solid #000000;
	line-height: 17px;
	background-color: #FFFFFF;
}
.input114 {
	height: 17px;
	width: 112px;
	border: 1px solid #000000;
	line-height: 17px;
	background-color: #FFFFFF;
}
.pix13black {
	font-size: 13px;
	color: #000000;
}
lable {
	margin: 0px;
	padding: 0px;
	line-height: 1px;
}
input {
	margin: 0px;
	padding: 0px;
}


.friendlink{
	width:100%;
	height:auto;
}


.friendlink li{
	padding:14px;
	width:426px;
	height:284px;
	margin-right: 13px;
	float:left;
	background: #fff;
	margin-bottom: 13px;
}

.friendlink li select{
	border-radius: 4px;
	background: #fff;
	border:1px solid #cccccc;
	color:#333333;
	max-height: 253px;
	overflow-x: hidden;
	overflow-y: auto;
	line-height: 29px;
	padding-left: 7px;
	width:419px;
	font-size: 16px;
}

.nice-select{
	padding-left: 13px;
	width:413px;
	border:1px solid #d9d9d9;
	background: #fff;
	height:29px;
	position: relative;
	cursor:pointer;
	background:#fff url(sanjiao_6.jpg) 413px 10px no-repeat;
}

.nice-select input{
	display: block;
	width: 400px;
	overflow: hidden;
	height: 29px;
	line-height: 29px;
	border: 0;
	outline: 0;
	background: none;
	cursor:pointer;
	color:#666565;
	font-size: 16px;
	font-family: "Microsoft YaHei";
}

.nice-select ul{
    display: none;
	position: absolute;
	left: 0px;
	top: 30px;
	overflow: hidden;
	background-color: #fff;
	max-height: 250px;
	overflow-y: auto;
	border: 1px solid #dcdddd;
	border-top: 0;
	z-index:9999;
	width:426px;
}

.nice-select ul.friendlink2 li{
	text-align: center;
		height: 33px;
	line-height: 33px;
	overflow: hidden;
	color:#595757;
	font-size: 16px;
	cursor: pointer;
	margin-right: 0px;
	padding:0px;
	margin-bottom: 0px;
	font-family: "Microsoft YaHei";
}

.friendlink2 li a,.friendlink2 li a:visited{
	color:#595757;
}

.liuyan{
	width:897px;
	height:auto;
	padding-bottom: 24px;
	border-bottom: 1px dashed #898989;
}

.liuyan2{
	width:100%;
	height:auto;
	margin-bottom: 23px;
}

.liuyan3{
	width:410px;
	height:auto;
	margin-right: 75px;
}

.liuyan3 span,.liuyan2 span{
	width:72px;
	font:16px/31px "Microsoft YaHei";
	display: block;
	float:left;
}

.liuyan3 input{
	padding-left: 8px;
	width:328px;
	display: block;
	float:left;
	background: #fff;
	border:1px solid #d9d9d9;
	border-radius: 4px;
	font:16px/29px "Î¢ÈíÑÅºÚ";
	color:#5c5c5c;
}

.liuyan2 textarea{
	 padding:8px;
  max-height:78px;
  width:807px;
  overflow-x: hidden;
  overflow-y: auto;
  border:1px solid #d9d9d9;
  background: #fff;
   font-size: 16px;
   border-radius: 4px;
   float:left;
}

.tijiao{
  width:193px;
  height:auto;
}

.tijiao a{
  width:88px;
  height:48px;
  line-height: 48px;
  display: block;
  border-radius: 4px;
  background: #d11206;
  text-align: center;
  font-size: 16px;
  color:#fff;
  float:left;
  margin-right: 16px;
}

.wenda{
	width:100%;
	max-height: 388px;
	overflow-x:hidden;
	overflow-y:auto;
}

.wenda li{
	width:870px;
	padding-top: 18px;
	border-bottom: 1px dashed #d2d2d2;
}

.wenda2{
	width:897px;
	height:auto;
	margin-bottom: 18px;
}

.wenda2 span{
	width:38px;
	display: block;
	float:left;
	font:16px/23px "Î¢ÈíÑÅºÚ";
	color:#aa0a00;
}

.wenda2 p{
	width:830px;
	float:left;
	font:16px/23px "Î¢ÈíÑÅºÚ";
	color:#333333;
}

.wenda2 p.da{
	color:#808080;
}







































