/* È«¾Ö */
*{padding:0;margin:0}
body{padding:0;margin:0;text-align:left;font-family:ËÎÌå;font-size:12px}
img,form,span,p,div{border:none;margin:0;padding:0}

ul li{list-style:none}
.clearfix:after{ content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-table}
/* Hides from IE-mac \*/
 * html .clearfix {height:1%} .clearfix {display:block} 
/* End hide from IE-mac */ 
/* Hides from IE7 \*/
 *+html .clearfix{height:1%} .clearfix {display:block} 
/* End hide from IE7 */ 

A:link{text-decoration:none}
A:visited{text-decoration:none}
A:active{text-decoration:none}
A:hover{text-decoration:underline}

.fl{float:left}
.fr{float:right}
.fc{text-align:center}

.em{text-indent:2em;}
.clear{height:0px;clear:both;overflow:hidden}
.outer {height:100%; width:100%;display:table; position:static;}  
.middle {display: table-cell; vertical-align: middle; position: static;}  

.blank10{width:100%;height:10px;clear:both}
.blank20{width:100%;height:20px;clear:both}
.blank25{width:100%;height:25px;clear:both}
.blank35{width:100%;height:35px;clear:both}

.lh22{line-height:22px}
.lh24{line-height:24px}
.lh26{line-height:26px}
.lh30{line-height:30px}
.lh34{line-height:34px}
.lh50{line-height:50px}
*{font-size:12px;color:#333;}
.blue12{color:#1852b2}
.blue12a{color:#418ed6}
.grey12 , .ta , .con2 p a{font-size:12px;color:#333;line-height:22px;}
.grey12a, .grey12a a{color:#949494}
.grey12b , .grey12b a{color:#666}
.red12 , .red12 a{color:#b81506}
.white12{color:#fff}
.whiteb12{color:#fff;font-weight:bold}
.black14{font-size:14px;color:#000}
.grey14 , .newslist2 li a , .grey14 a{font-size:14px;color:#333}
.greyb14 , .newslist2 li.greyb14 a, .greyb14 a{font-size:14px;font-weight:bold;color:#333}
.white14 , .white14 a{font-size:14px;color:#fff}
.greyb16 , .greyb16 a{font-family:"Î¢ÈíÑÅºÚ","ºÚÌå";font-weight:bold;font-size:16px;color:#333}
.redb16 , .redb16 a{font-family:"Î¢ÈíÑÅºÚ","ºÚÌå";font-weight:bold;font-size:16px;color:#c00003}
.greyb18 , .greyb18 a , .con2 .lh34 a{font-family:"Î¢ÈíÑÅºÚ","ºÚÌå";font-weight:bold;font-size:18px;color:#333}
.greyb28 , .greyb28 a{font-family:"Î¢ÈíÑÅºÚ","ºÚÌå";font-weight:bold;font-size:28px;color:#333}






#header{width:100%;height:40px;background-image:url('topbj.gif')}
.top{width:905px;padding:12px 40px 0 15px;margin:0 auto;overflow:hidden}

#nav{width:960px;padding:11px 0 10px 0;margin:0 auto;background-color:#fff;overflow:hidden;text-align:center}
#nav .shu{padding:0 4px}
#nav .shu2 {padding:0 3px}

.guanggao{padding:0 10px 0 0}

#section{width:960px;background-color:#fff;margin:0 auto;overflow:hidden}

.lm{width:920px;height:53px;padding:21px 13px 0 27px;overflow:hidden}
.lm_head{width:920px;height:48px;padding:10px 13px 5px 27px;overflow:hidden}
.logo{width:83px;height:38px;padding:0 10px 0 0}
.tgrx{padding:19px 0 0 0}
.lm_newlogo{width:927px;height:57px;padding:21px 13px 0 20px;overflow:hidden}
.logo_newlogo{padding:0 20px 0 0}
.pd_newlogo{padding:28px 0 0 0}
.weizhi_newlogo{padding:14px 20px 0 0}
.tgrx_newlogo{padding:29px 0 0 0}

.dhLayer{background-image:url('b1.gif');width:100%;height:40px;}
.daohang{width:960px;height:40px;margin:0 auto;line-height:40px;overflow:hidden;font:16px/40px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#fff;}
.daohang a{font:16px/40px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#fff;padding:0 14px}

/*´óÍ¼*/
.headPic{width:960px;margin:15px auto 0}
.headPic_title{width:960px;margin:0 auto;background:url(leftpart1.gif) left top no-repeat #efefef;padding-bottom:15px;}
.headPic_title h1{font:30px/45px "ºÚÌå";color:#d80110;width:920px;margin:0 auto 0 40px;padding-top:10px;}
.headPic_title h1 a{font:30px/45px "ºÚÌå";color:#d80110;}
.headPic_title p{font:12px/2em "ËÎÌå";color:#595757;width:920px;margin:0 auto 0 25px;padding-top:10px;}
.headPic_title p a{font:12px/2em "ËÎÌå";color:#595757;}


.mainDiv{width:1054px;margin:0 auto;background:url(leftlinebg.gif) no-repeat;position:relative;clear:both;}
.mainDiv_title{position:absolute;left:4px;top:31px;width:40px;text-align:center;color:#595757;font:24px/30px "Î¢ÈíÑÅºÚ", "ºÚÌå";}
.mainDiv_title a{color:#595757;font:24px/30px "Î¢ÈíÑÅºÚ", "ºÚÌå";text-decoration:none}
.mainDiv_title a:hover{color:#d80110}
.main960{width:960px;margin:0 auto;overflow:hidden;clear:both;}

.partLeft{width:640px;margin-right:23px;float:left}
#Focus_Pic{width:640px;height:360px;overflow:hidden;position:relative;}
.picRoll{width:640px;height:360px;position:relative;overflow:hidden;}
.picroll_prev {display: block;	width: 30px;height:42px;background:url(left.png) no-repeat;position:absolute;top:159px;left:0;opacity:0.5;	z-index:99;cursor:pointer	}
.picroll_next {display: block;	width: 30px;height:42px;background:url(right.png) no-repeat;position:absolute;top:159px;right:0;opacity:0.5;z-index:99;cursor:pointer	}
.pic01{width:640px;height:360px;position:absolute;overflow:hidden;}
.pic01 img{width:100%;height:100%;}
.pic01_text{width:640px;position:absolute;left:0px;bottom:0;}
.pic01 .bg{position:absolute;left:0px;z-index:0;width:640px;height:100%;background: #000000;filter:alpha(opacity=70);moz-opacity: 0.70;opacity: 0.70;bottom: 0px;}
.pic01_title{display:block;width:610px;margin:5px auto 0;font:18px/36px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#fff;position:relative;z-index:1;}
.pic01_zy{display:block;width:610px;margin:0 auto 5px;font:12px/24px "ËÎÌå";color:#fff;position:relative;z-index:1;}
.piclist01{width:640px;margin-top:25px;overflow:hidden;}
.piclist01 ul{width:666px;}
.piclist01 ul li{width:196px;margin-right:26px;margin-bottom:25px;height:208px;overflow:hidden;float:left;background:#efefef}
.piclist01 ul li img{width:196px;height:110px;}
.piclist01_text1{width:166px;height:91px;padding:7px 15px 0;background:url(line1.gif) no-repeat;overflow:hidden;font:14px/28px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;}
.piclist01_text2{width:166px;height:91px;padding:7px 15px 0;background:url(line2.gif) no-repeat;overflow:hidden;font:14px/28px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;}
.piclist01_text3{width:166px;height:91px;padding:7px 15px 0;background:url(line3.gif) no-repeat;overflow:hidden;font:14px/28px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;}

.piclist01_text1 a,.piclist01_text2 a,.piclist01_text3 a{font:14px/28px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;}
#piclist01_more{width:640px;height:28px;background:url(morebg1.gif) no-repeat;text-align:center;font:18px/28px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;}
#piclist01_more a{font:18px/28px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;}



.partRight{width:297px;float:right}
.lm_name{width:280px;padding-left:17px;height:46px;background:url(morebg2.gif) no-repeat;font:24px/30px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;position:relative;letter-spacing:7px;}
.lm_name a{font:24px/30px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;}
.lm_name .more{display:block;width:45px;font:12px/23px "ËÎÌå";color:#fff;position:absolute;left:246px;top:6px;letter-spacing:2px;cursor:pointer}
.lm_pic{width:297px;margin-bottom:25px;clear:both;overflow:hidden;}
.lm_img{width:145px;height:82px;float:left;}
.lm_img img{width:100%;height:100%;}
.lm_text{width:122px;height:82px;padding-left:20px;padding-right:10px;background:url(bg01.gif) no-repeat #efefef;font:14px/21px "ËÎÌå";color:#595757;float:left;}
.lm_text a{font:14px/24px "ËÎÌå";color:#595757;}
.lm_list{width:297px;height:122px;background:#f7f7f7;clear:both;overflow:hidden;}
.lm_list ul{width:295px;margin:10px auto;}
.lm_list ul li{width:275px;background:url(dot.gif) 10px center no-repeat;padding-left:20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font:14px/32px "ËÎÌå";color:#595757;}
.lm_list ul li a{font:14px/32px "ËÎÌå";color:#595757;}

.lm_piclist{width:297px;background:#f7f7f7;overflow:hidden;}
.lm_piclist ul{width:273px;margin:21px auto 16px;}
.lm_piclist img{width:273px;height:153px;}
.lm_piclist li{width:273px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font:14px/44px "ËÎÌå";color:#595757;clear:both;overflow:hidden;text-align:center;}
.lm_piclist li a{font:14px/44px "ËÎÌå";color:#595757;}


.lm_name2{width:280px;padding-left:17px;height:46px;background:url(morebg3.gif) no-repeat;font:24px/30px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;position:relative;letter-spacing:3px;}
.lm_name2 a{font:24px/30px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;}
.button{width:51px;height:20px;border:1px #d3d3d3 solid;background-color:#e7e7e7;font:12px/20px "ËÎÌå";color:#444;text-align:center;text-decoration:none;display:block;margin:10px auto 7px 2px;overflow:hidden}
a.button:hover{width:51px;height:20px;border:1px #d3d3d3 solid;background-color:#f7f7f7;font:12px/20px "ËÎÌå";color:#444;text-align:center;text-decoration:none;display:block;overflow:hidden}
.newslist{width:293px;margin:0 auto;overflow:hidden;clear:both;}
.newslist li{height:22px;font:12px/22px "ËÎÌå";color:#444;}
.newslist li a{font:12px/22px "ËÎÌå";color:#444;background:url(dot2.gif) 2px center no-repeat;padding-left:10px; }

.picLayer1{width:960px;height:360px;background:url(line4.gif) 654px center no-repeat #f7f7f7;overflow:hidden;}
.pic02{width:273px;height:153px;position:relative;margin:18px auto;}
.pic02 img{width:100%;height:100%;}
.pic02 .bg{position:absolute;left:0px;width:273px;height:36px;background: #000000;filter:alpha(opacity=70);moz-opacity: 0.70;opacity: 0.70;bottom: 0px;}
.pic02_title{position:absolute;left:0px;bottom:0px;width:273px;height:36px;text-align:center;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.pic02_title a{font:14px/36px "ËÎÌå";color:#fff;}

.pic03{width:960px;clear:both;overflow:hidden;margin-top:17px;}
.pic03 ul{width:1017px;overflow:hidden;}
.pic03 ul li{width:282px;height:225px;overflow:hidden;padding-right:57px;background:url(dot3.gif) 310px 0 repeat-y;float:left}
.pic03 ul li img{width:282px;height:159px;}
.pic03 ul li p{width:282px;margin-top:10px;}
.pic03 ul li a{font:16px/28px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;}


.pic04{width:640px;clear:both;overflow:hidden;}
.pic04 ul{width:662px;overflow:hidden;}
.pic04 ul li{width:306px;overflow:hidden;padding-right:25px;margin-bottom:6px;float:left}
.pic04 ul li img{width:306px;height:173px;}
.pic04 ul li p{width:306px;margin:10px auto;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;text-align:center;}
.pic04 ul li a{font:16px/28px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;}
.lm_name3{width:280px;padding-left:17px;height:46px;background:url(morebg3.gif) no-repeat;font:24px/30px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;position:relative;letter-spacing:7px;}
.lm_name3 a{font:24px/30px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;}

.spimg{width:297px;height:220px;margin-top:7px;background:#efefef;overflow:hidden;}
.spimg .img{width:273px;height:153px;margin:15px auto 0;position:relative;}
.spimg .img img{width:100%;height:100%;}
.spimg .img span{width:47px;height:47px;position:absolute;display:block;left:113px;top:53px;}
.splist{width:297px;height:180px;background:#f7f7f7;}
.sp_title{width:273px;margin:10px auto;font:14px/28px "ËÎÌå";color:#595757;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;text-align:center;}
.sp_title a{font:14px/28px "ËÎÌå";color:#595757;}
.splist ul{padding-top:10px;}
.splist li{width:100%;height:50px;background:url(dot5.gif) 0 top repeat-x;overflow:hidden;}
.splist li.on{width:100%;height:50px;background:none;}
.splist li p{width:274px;padding-left:23px;background:url(dot4.gif) 10px center no-repeat;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.splist li a{font:14px/50px "ËÎÌå";color:#595757;}

.partlist1{width:100%;background:url(line5.gif) center top no-repeat #f7f7f7;clear:both;overflow:hidden;padding-bottom:10px}
.partlist2{width:100%;background:url(line6.gif) center top no-repeat #f7f7f7;clear:both;overflow:hidden;padding-bottom:20px}

.society{width:280px;overflow:hidden;float:left;margin:0 35px 0 28px}
.society_button{width:280px;height:78px;position:relative;}
.society_button img{position:absolute;top:27px;left:101px;}

.finance{width:280px;overflow:hidden;float:left;margin:0 35px 0 0}
.finance_button{width:280px;height:78px;position:relative;}
.finance_button img{position:absolute;top:27px;left:99px;}

.history{width:280px;overflow:hidden;float:left;margin:0}
.history_button{width:280px;height:78px;position:relative;}
.history_button img{position:absolute;top:27px;left:97px;}

.enjoy{width:280px;overflow:hidden;float:left;margin:0 35px 0 28px}
.enjoy_button{width:280px;height:78px;position:relative;}
.enjoy_button img{position:absolute;top:27px;left:104px;}

.sport{width:280px;overflow:hidden;float:left;margin:0 35px 0 0}
.sport_button{width:280px;height:78px;position:relative;}
.sport_button img{position:absolute;top:27px;left:103px;}

.mil{width:280px;overflow:hidden;float:left;margin:0}
.mil_button{width:280px;height:78px;position:relative;}
.mil_button img{position:absolute;top:27px;left:99px;}


.partlist_pic{width:280px;height:158px;margin:0 auto;}
.partlist_pic img{width:100%;height:100%;}
.partlist_title{width:250px;height:54px;background:#839aa8;text-align:center;padding:0 15px;}
.partlist_title a{font:16px/26px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#fff;}
.partlist_list{width:280px;margin-top:15px;}
.partlist_list li{width:260px;background:url(dot.gif) 5px 8px no-repeat;padding-left:20px;margin-bottom:5px;}
.partlist_list li a{font:14px/21px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;}


#iframePic{width:1054px;height:415px;margin:0 auto;overflow:hidden;}


/*link*/
.link{width:100%;background:#f7f7f7;clear:both;overflow:hidden;padding-bottom:10px}
.linkbg{width:960px;height:49px;background:url(dot5.gif) 0 center repeat-x;}
.linkbg span{display:block;width:95px;height:49px;margin:0 auto;font:18px/49px "Î¢ÈíÑÅºÚ", "ºÚÌå";color:#595757;background:#f7f7f7;text-align:center;}
.linklist{width:945px;text-align:left;margin:0 0 0 0;padding:0 0 0 18px}
.linklist li{width:135px;overflow:hidden;display:block;height:28px;font:12px/28px "ËÎÌå";color:#333;float:left}
.linklist li a{font:12px/28px "ËÎÌå";color:#333;}

#footer{width:100%;height:100px;border-top:6px #b81506 solid;background-image:url('http://news.eastday.com/images/2013xwzx/footbj.gif');padding:20px 0 0 0}
#full{width:50px;bottom:0;left:50%;margin-left:504px;position:absolute;z-index:9999}