/* 턂쮔 */
* {padding:0;margin:0;font-size:12px;color:#333;}
body{background:#fff;padding:0;margin:0;text-align:left;line-height:100%;}
form{border:none;margin:0;padding:0;}
span{border:none;margin:0;padding:0;}
div{border:none;margin:0;padding:0;}
img{border:none;margin:0;padding:0;display:block;}
td{border:none;margin:0;padding:0;}
table{border:none;margin:0;padding:0;}
H5{padding-right:0px;padding-left:0px;padding-bottom:0px;margin:0px;padding-top0px;font-weight:normal;}
.fl,.left,#picnews li{float:left;}
.textcenter,.fc{text-align:center;}
.fr,.right{float:right;}
.none {display:none;}

ul li{list-style:none;}
.clearfix:after{ content:".";display:block;height:0;clear:both;visibility:hidden; }
.clearfix{display:inline-table;}
/* Hides from IE-mac \*/
 * html .clearfix {height: 1%;} .clearfix {display: block;} 
/* End hide from IE-mac */ 
/* Hides from IE7 \*/
 *+html .clearfix{height: 1%;} .clearfix {display: block;} 
/* End hide from IE7 */ 
.w960{width:960px;margin-left:auto;margin-right:auto;overflow:hidden;}
.w960a{width:960px;margin:0 auto;}

.clear{clear:both;}
.blank10{height:10px;clear:both;overflow:hidden;}
.lh22{line-height:22px;}
#nav{width:960px;padding:11px 0 10px 0;margin:0 auto;background-color:#fff;overflow:hidden;text-align:center}
#nav .shu{padding:0 4px;}
#nav .shu2 {padding:0 3px;}
.pic640{width:640px;padding:0 10px 0 0;}
.pic150{width:150px;padding:0 10px 0 0;}
.lm_newlogo{width:960px;height:57px;margin:0 auto;background-color:#fff;overflow:hidden}
.logo_newlogo{padding:0 20px 0 0}
.tgrx_newlogo{padding:29px 0 0 0}
#lmnav {width:100%;background:url(mcbg.jpg) 50% 0 no-repeat;height:64px;}
#lmnav ul li {float:left;width:55px;padding-right:74px;overflow:hidden;}
#lmnav ul li.last {padding-right:0;}
#section1 {padding-top:20px;}
#section1 .left {width:665px;}
#section1 .right {width:268px;}
#sec1-left {height:222px;overflow:hidden;}
#sec1-left .left {width:255px;}
#sec1-left .right img {width:396px;height:222px;}
#sec1-left h1 p {border-bottom:1px dotted #000;padding:10px 0 15px;margin-bottom:10px;}
.ttzy {background:#efefef url(greentrg.png) 100% 100% no-repeat;height:80px;padding:20px 25px;margin-top:20px;margin-bottom:10px;}
#ttpic {border-top:1px dotted #000;}
#ttpic li {width:211px;padding:20px 16px 0 0;float:left;}
#ttpic li p {padding:7px 5px 0;}
#ttpic li.last {padding:20px 0 0 0;}
#ttpic img {width:211px;height:118px;}
#sec1-left .right {width:396px;}
#section1 .right h1 {height:46px;border-bottom:1px dotted #000;}
#section1 .right ul {padding-top:20px;}
#section1 .right li {background:url(blackdot.png) 3px 5px no-repeat;padding:0 0 25px 15px;}
#section1 .right p img {width:268px;height:200px;}
.ch  p{margin-top:20px;}
#photo {width:960px;margin:0 auto;position:relative;padding-top:40px;}
#slide-win {width:960px;height:465px;overflow:hidden;}
#slide-show {width:9600px;position:relative;top:0;left:0;}
#slide-show > li {float:left;width:960px;}
.photo-top {height:276px;overflow:hidden;padding-bottom:15px;}
.photo-top > div {float:left;margin-right:16px;position:relative;}
.photo-top > div.last {margin-right:0;padding-top:149px;}
.photo-top > div:first-child img {width:490px;height:276px;}
.photo-top > div.last img {width:225px;height:127px;}
.rt {padding-top:58px;}
.photo-top > div p {position:absolute;width:100%;}
.photo-top > div:first-child p {background:url(blackbg.png);height:84px;line-height:84px;text-align:center;top:114px;}
.photo-top > div.last p {background:url(blackbg.png);height:50px;line-height:50px;text-align:center;top:189px;}
.photo-btm li {float:left;width:309px;margin-right:16px;position:relative;}
.photo-btm li.last {margin-right:0;}
.photo-btm li p {width:100%;background:url(blackbg.png);height:60px;line-height:60px;position:absolute;top:60px;text-align:center;}
.photo-btm img {width:309px;height:174px;}
#prev {position:absolute;top:230px;left:0;}
#next {position:absolute;top:230px;right:0;}
#section2 {width:100%;background:url(greenbg.jpg) 50% 100% no-repeat;height:575px;margin-top:50px;overflow:hidden;}
.lmlist {padding-left:38px;}
.lmlist li {float:left;width:149px;margin-right:97px;}
.lmlist li.last {margin-right:0;}
.lmcnt {padding-top:40px;}
.lmcnt li {width:280px;float:left;margin-right:60px;}
.lmcnt li img {width:280px;height:158px;}
.lmcnt li.last {margin-right:0;}
.lmcnt li p {padding:20px 15px 0;}
#section3 {margin-top:70px;background:url(dotbg.png) 50% 58px no-repeat;}
.jqcnt {padding-top:35px;}
.jqcnt > .left {width:319px;position:relative;}
.jqcnt > .left img {width:319px;height:425px;}
.jqcnt > .left p {background:url(blackbg.png);padding:30px 65px;position:absolute;bottom:0;left:0;text-align:center;}
.jqcnt > .right {width:640px;}
.topleft {width:200px;background:#e9ecec url(arrowd.png) 50% 135px no-repeat;height:245px;}
.topleft img {width:200px;height:113px;}
.topleft p {padding:60px 15px 0;}
.topright,.topright img {width:439px;height:245px;position:relative;}
.topright p {background:url(blackbg.png);padding:14px 0 20px;width:100%;text-align:center;position:absolute;top:135px;left:0;}
.btmleft {width:319px;margin-top:1px;}
.btmleft img {width:319px;height:179px;}
.btmright {width:320px;background:#e9ecec url(arrowr.png) 20px 50% no-repeat;height:179px;margin-top:1px;}
.btmright p {width:200px;padding:58px 0 0 67px;}
#section4 {margin-top:50px;}
.newslist  .left {width:237px;padding-right:35px;}
.newslist img {width:237px;height:133px;}
.newslist  .right {width:658px;padding-right:30px;}
.newslist  .right div {padding-top:5px;}
.newslist li {padding-bottom:40px;height:133px;overflow:hidden;}
#newslist li {background:url(greendot.png) 0 34px no-repeat;padding:28px 0 0 20px;position:relative;}
#newslist li span {position:absolute;top:30px;right:0;}
#newslist li.first {border-top:1px dashed #595757;margin-top:28px;}
.pages1{padding:30px 0 30px 0;margin:0 atuo;overflow:hidden;margin-top:20px;}
.pageon{padding:3px 7px;background-color:#666;border:1px #666 solid;text-align:center;margin:0 0 0 5px;display:inline;overflow:hidden;color:#fff;font-size:14px;}
.pageoff{padding:3px 7px;border:1px #666 solid;background-color:#fff;text-align:center;margin:0 0 0 5px;display:inline;overflow:hidden;font-size:14px;}
.pageimg{padding:3px 7px;border:1px #666 solid;background-color:#fff;margin:0 0 0 5px;display:inline;overflow:hidden;font-size:14px;}
.pageimg a {font-size:14px;}
#piclist h1,#chlist h1 {padding:20px 0;border-bottom:1px dashed #595757;}
#piclist img {width:300px;height:168px;}
#piclist li {width:300px;height:168px;overflow:hidden;position:relative;float:left;padding:35px 30px 0 0;}
#piclist li.last {padding:35px 0 0 0;}
#piclist li p {padding:55px 40px 0;width:220px;height:128px;position:absolute;top:35px;left:0;background:url(picbg.png);}
.ch1 .left {width:237px;}
.ch1 .right {width:685px;}
.ch1 img {width:237px;height:133px;}
.ch1 li {padding-top:40px;width:100%;height:133px;overflow:hidden;}
.tlpic {width:100%;height:235px;background:#efeff0;margin-top:40px;}
.tlpic li {width:284px;margin-right:54px;float:left;padding-top:20px;}
.tlpic li.last {margin-right:0;}
.tlpic li img {width:284px;height:160px;margin-bottom:5px;}
#chslide {margin-top:40px;position:relative;}
#ch-win {width:960px;height:600px;overflow:hidden;}
#chprev {position:absolute;top:220px;left:0;}
#ch-slide  {width:9600px;position:relative;}
#ch-slide li {width:960px;float:left;}
#ch-slide li img {width:960px;height:538px;}
#ch-slide li h2 {padding-top:10px;}
#chnext {position:absolute;top:220px;right:0;}
.graybg {background:#f3f3f4;height:40px;margin-bottom:20px;}
.time {background:#efeff0;height:38px;margin:20px 0;width:100%;}
#gjzw p {padding-bottom:20px;width:100%;}
#gjzw p img,#sina img,#eastdaywb img,#qq img {display:inline;}
#tjyd {margin:40px 0;}
#tjyd li {float:left;padding:30px 51px 0 0;width:286px;}
#tjyd li.last {padding:30px 0 0 0;}
#tjyd li img {width:286px;height:161px;padding-bottom:10px;}
.time a {font-size:20px;}
.block20 {height:20px;}
#footer {border-top:6px solid #b81506;background:url(footbj.gif) 0 0 repeat-x;height:100px;padding-top:20px;margin-top:20px;}


a:hover,a.grey12:hover{text-decoration:underline;}
.grey12 {color:#333;}
#footer .grey12c {line-height:30px;color:#666;}
.white18 {color:#fff;line-height:55px;font-size:18px;font-family:풕턼환쥌;letter-spacing:8px;}
.white18b {color:#fff;line-height:35px;font-size:18px;font-family:풕턼환쥌;}
.white24 {color:#fff;font-size:24px;font-family:풕턼환쥌;}
.white18a {color:#fff;font-size:18px;font-family:풕턼환쥌;}
.white14 {color:#fff;font-size:14px;font-family:풕턼환쥌;}
.white16 {color:#fff;font-size:16px;line-height:28px;font-family:풕턼환쥌;}
.green30 {color:#216319;font-size:30px;line-height:50px;font-family:풕턼환쥌;font-weight:normal;}
.gray14 {color:#595757;font-size:14px;line-height:28px;font-family:풕턼환쥌;}
.gray14a {color:#595757;font-size:14px;line-height:20px;font-family:풕턼환쥌;}
.gray14b {color:#595757;font-size:14px;line-height:14px;font-family:풻稻}
.gray14c {color:#595757;font-size:14px;line-height:28px;font-family:풻稻}
.gray16 {color:#595757;font-size:16px;line-height:16px;font-family:풕턼환쥌;}
.gray18,.gray18 p {color:#595757;font-size:18px;line-height:40px;font-family:풕턼환쥌;font-weight:normal;}
.gray18 p strong,.gray18 p b {color:#595757;font-size:18px;line-height:40px;font-family:풕턼환쥌;}
.gray18a {color:#595757;font-size:18px;line-height:30px;font-family:풕턼환쥌;font-weight:normal;}
.gray20 {color:#595757;font-size:20px;line-height:38px;font-family:풕턼환쥌;font-weight:normal;}
.black16 {color:#000;font-size:16px;line-height:30px;font-family:풕턼환쥌;}
.black18 {color:#000;font-size:18px;line-height:30px;font-family:풕턼환쥌;}
.green24 {color:#216319;font-size:24px;line-height:30px;font-family:풕턼환쥌;font-weight:normal;}
.green36 {color:#216319;font-size:36px;line-height:55px;font-family:풕턼환쥌;font-weight:normal;}
.addmore a {width:960px;height:67px;line-height:67px;background:#dcdddd;display:block;text-align:center;}
.hl-Cite {font-size:14px;}

a.white18:hover,a.white18.grey12:hover{text-decoration:none;}
@media screen and (min-width: 1025px) {
#prev {left:-100px;}
#next {right:-100px;}
}


/* 쵒홦썬 */
.black18l1{font-family:쥌펀;font-size:18px;color:#000;letter-spacing:1px;line-height:34px;}
.lybblock1 {
	width: 958px;
	border: 1px #dcdddd solid;
	background-color: #fff;
	padding: 0 0 20px 0;
	overflow: hidden
}

.lybbj1 {
	width: 930px;
	height: 34px;
	background-color: #f3f3f3;
	padding: 0 19px 0 11px;
	overflow: hidden
}

.lybtw {
	width: 900px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	overflow: hidden
}
.lybtx1 {
	width: 820px;
	margin: -4px 0 0 0;
	overflow: hidden
}
.liuyan {
        position: relative;
        margin-left:680px
}
.linebg img {height:1px;width:900px;}