.jmenu{width:100%;text-align:center;}
.jmenu table{margin:0 auto;}
.jmenu1{float:left;}
.jmenuon{
	border:1px #666 solid;
	background-color:#666;
	padding:5px 8px 3px 7px;
	margin:0 1px;
	display:block;
        float:left;
}
.njpix12b{font-size:12px;line-height:18px;}
A.njpix12b:link{
	COLOR: #666; TEXT-DECORATION: none;
	display:block;
        float:left;     
}
A.njpix12b:visited {
	COLOR: #666; TEXT-DECORATION: none;
	display:block;
        float:left;      
}
A.njpix12b:hover {
	COLOR: #666; TEXT-DECORATION: none;
	display:block;
        float:left;     
}
.njpix12b span{border:1px #666 solid;background-color:#fff;padding:5px 8px 3px 7px;margin:0 1px;display:block;}
A.jpix12h1:link{
	COLOR: #666; TEXT-DECORATION: none;
	border:1px #666 solid;
	background-color:#fff;
	padding:5px 8px 3px 7px;
	margin:0 1px;
	display:block;
}
A.jpix12h1:visited {
	COLOR: #666; TEXT-DECORATION: none;
	border:1px #666 solid;
	background-color:#fff;
	padding:5px 8px 3px 7px;
	margin:0 1px;
	display:block;
}
A.jpix12h1:hover {
	COLOR: #666; TEXT-DECORATION: none;
	border:1px #666 solid;
	background-color:#fff;
	padding:5px 8px 3px 7px;
	margin:0 1px;
	display:block;
}
.jpix12h{
font-size:12px;
line-height:18px;
}

A.jpix12h:link{
	COLOR: #666; TEXT-DECORATION: none;
	border:1px #666 solid;
	background-color:#fff;
	padding:5px 8px 3px 7px;
	margin:0 1px;
	display:block;
}
A.jpix12h:visited {
	COLOR: #666; TEXT-DECORATION: none;
	border:1px #666 solid;
	background-color:#fff;
	padding:5px 8px 3px 7px;
	margin:0 1px;
	display:block;
}
A.jpix12h:hover {
	COLOR: #666; TEXT-DECORATION: none;
	border:1px #666 solid;
	background-color:#fff;
	padding:5px 8px 3px 7px;
	margin:0 1px;
	display:block;
}
.jpix12w{
font-size:12px;
line-height:18px;
color:#fff;}