/* 全局 */
*{padding:0;margin:0}
body{padding:0;margin:0;text-align:left;font-size:12px}
img,form,span,p,div{border:none;margin:0;padding:0}
ul li{list-style:none}
A:link{text-decoration:none}
A:visited{text-decoration:none}
A:active{text-decoration:none}
A:hover{text-decoration:underline}
.fl{float:left}
.fr{float:right}
.fc{text-align:center}
.lh22{line-height:22px}
.lh28{line-height:28px}
.lh30{line-height:30px}
.clear{height:0px;clear:both;overflow:hidden}
.videolist1{width:960px;overflow:hidden}
.videolist1 li{width:225px;height:50px;padding:0 15px 0 0;float:left;position:relative;overflow:hidden}
.videolist1 li img{padding:0 10px 0 0;float:left;overflow:hidden}
.videolist1 li .tx1{width:165px;float:left;line-height:18px;margin-top:-1px;overflow:hidden}
.videolist1 li .video1{width:15px;height:15px;position:absolute;top:35px;left:60px;overflow:hidden}
.videolist2{width:390px;height:325px;overflow:hidden}
.videolist2 li{width:180px;height:180px;padding:0 0 0 15px;float:left;position:relative;overflow:hidden}
.videolist2 li img{margin:0 0 5px 0;float:left;overflow:hidden}
.videolist2 li .tx2{width:180px;float:left;line-height:22px;overflow:hidden}
.videolist2 li .video2{width:15px;height:15px;position:absolute;top:80px;left:20px;overflow:hidden}
.videolist3{width:975px;overflow:hidden}
.videolist3 li{width:180px;height:160px;padding:0 15px 0 0;float:left;position:relative;overflow:hidden}
.videolist3 li img{margin:0 0 5px 0;float:left;overflow:hidden}
.videolist3 li .tx3{width:180px;float:left;line-height:22px;overflow:hidden}
.videolist3 li .video3{width:15px;height:15px;position:absolute;top:80px;left:5px;overflow:hidden}
.videolist4{width:310px;overflow:hidden}
.videolist4 li{width:310px;height:90px;padding:0 0 20px 0;float:left;position:relative;overflow:hidden}
.videolist4 li img{padding:0 14px 0 0;float:left;overflow:hidden}
.videolist4 li .tx4{width:136px;float:left;line-height:22px;margin-top:-1px;overflow:hidden}
.videolist4 li .video4{width:15px;height:15px;position:absolute;top:70px;left:5px;overflow:hidden}
.videolist5{width:975px;overflow:hidden}
.videolist5 li{width:180px;height:175px;padding:0 15px 0 0;float:left;position:relative;overflow:hidden}
.videolist5 li img{margin:0 0 5px 0;float:left;overflow:hidden}
.videolist5 li .tx5{width:180px;float:left;line-height:22px;overflow:hidden}
.videolist5 li .video5{width:15px;height:15px;position:absolute;top:80px;left:5px;overflow:hidden}
.videolist6{width:300px;height:420px;overflow:hidden}
.videolist6 li{width:300px;height:90px;padding:0 0 20px 0;float:left;position:relative;overflow:hidden}
.videolist6 li img{padding:0 13px 0 0;float:left;overflow:hidden}
.videolist6 li .tx6{width:127px;float:left;line-height:22px;margin-top:-1px;overflow:hidden}
.videolist6 li .video6{width:15px;height:15px;position:absolute;top:70px;left:5px;overflow:hidden}
.list1{width:618px;padding:15px 6px;overflow:hidden}
.list1 li{width:610px;height:30px;line-height:30px;padding-left:8px;background:url(t6.gif) no-repeat 0 center;overflow:hidden}
.list1 li a{font-size:14px;color:#444;float:left}
.list1 li span{font-size:14px;color:#888;float:right}
.list1 li.nobg{width:618px;height:25px;background:none;overflow:hidden}
.list2{width:295px;padding:10px 0 0 16px;overflow:hidden}
.list2 li{width:287px;height:32px;line-height:32px;padding-left:8px;background:url(t6.gif) no-repeat 0 center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.piclist1{width:980px;overflow:hidden}
.piclist1 li{width:225px;padding:0 20px 0 0;float:left;overflow:hidden}
.piclist1 li img{width:225px;height:340px;flaot:left;overflow:hidden}
.piclist1 li .zcbg1{width:225px;height:155px;;background:url(b7.gif);padding:40px 0 0 0;float:left;line-height:24px;text-align:center;overflow:hidden}
.piclist1 li .zcbg2{width:225px;height:180px;;background:url(b6.gif);padding:15px 0 0 0;float:left;line-height:24px;text-align:center;overflow:hidden}
.grey12{color:#444}
.grey12a{color:#333}
.white12l2{color:#fff;letter-spacing:2px}
.blueb14{font-size:14px;font-weight:bold;color:#294c9e}
.grey14{font-size:14px;color:#444}
.grey14a{font-size:14px;color:#595757}
.greyb14{font-size:14px;font-weight:bold;color:#444}
.orange14{font-size:14px;color:#ff5000}
.blue20{font-family:"黑体";font-size:20px;font-weight:bold;color:#1f2874}
.blue20a{font-family:"黑体";font-size:20px;font-weight:bold;color:#0081cc}
.grey20{font-family:"黑体";font-size:20px;font-weight:bold;color:#515151}
.grey20a{font-family:"Adobe 黑体 Std R";font-size:20px;font-weight:bold;color:#444}
.orangeb20{font-family:"微软雅黑";font-size:20px;font-weight:bold;color:#ff5000}
.orangeb20a{font-family:"黑体";font-size:20px;font-weight:bold;color:#ff5000}
.red20{font-family:"黑体";font-size:20px;font-weight:bold;color:#490000}
.whiteb20{font-family:"黑体";font-size:20px;font-weight:bold;color:#fff}
.whiteb20a{font-family:"微软雅黑";font-size:20px;font-weight:bold;color:#fff}
.greyb30{font-family:"黑体";font-size:30px;font-weight:bold;color:#444}

#newnav{width:960px;padding:11px 0 10px 0;margin:0 auto;background-color:#fff;overflow:hidden;text-align:center}
#newnav .shu{padding:0 4px}
#newnav .shu2 {padding:0 3px}
#newnav a.letter1 {letter-spacing:0px}
#newnav a{font-size:12px;color:#333}
.lm_newlogo{width:927px;height:49px;padding:10px 13px 0 20px;margin:0 auto;overflow:hidden}
.logo_newlogo{padding:0 29px 0 0}
.logo_newlogo1{padding:14px 0 0 0}
.tgrx_newlogo{padding:29px 0 0 0}

.d960{width:960px;margin:0 auto;overflow:hidden}
.d1060{width:1060px;margin:0 auto;overflow:hidden}
.dh{width:960px;padding:15px 0 5px 0;background:url(b1.gif) no-repeat 0 bottom;text-align:center;overflow:hidden}
.dh p{height:28px;line-height:28px;padding:0 30px;overflow:hidden;display:inline}
.lmbg1{width:940px;height:50px;line-height:50px;background:url(b2.gif) no-repeat 0 bottom;padding:0 20px 0 0;overflow:hidden}
.lm1{width:200px;height:50px;line-height:50px;padding:0 0 0 36px;background:url(t1.gif) no-repeat 0 center;overflow:hidden}
.lm2{width:200px;height:50px;line-height:50px;padding:0 0 0 36px;background:url(t2.gif) no-repeat 0 center;overflow:hidden}
.lm3{width:200px;height:50px;line-height:50px;padding:0 0 0 36px;background:url(t4.gif) no-repeat 0 center;overflow:hidden}
.lm4{width:165px;height:22px;line-height:22px;padding:0 0 0 18px;background:url(t3.gif) no-repeat 0 5px}
.lm5{width:200px;height:50px;line-height:50px;padding:0 0 0 36px;background:url(t5.gif) no-repeat 0 center;overflow:hidden}
.block1{width:950px;padding:4px;border:1px solid #e9e9e9;overflow:hidden}
.title1{width:950px;height:25px;line-height:25px;background:#f0f0f0;text-align:center;overflow:hidden}

/*列表样式*/
.left1{width:630px;overflow:hidden}
.listlm1{width:630px;height:49px;line-height:49px;border-bottom:1px #ff5000 solid;overflow:hidden}
.pages{padding:0 0 30px 0;text-align:center}
.pageon{width:37px;height:37px;line-height:37px;font-family:Arial;font-size:14px;font-weight:bold;color:#fff;display:inline-block;background:url('numon1.gif');text-align:center;margin:0 7px;text-decoration:none;overflow:hidden;cursor:pointer}
.pageoff{width:37px;height:37px;line-height:37px;font-family:Arial;font-size:14px;font-weight:bold;color:#7f7f7f;display:inline-block;background:url('numoff1.gif');text-align:center;margin:0 7px;text-decoration:none;overflow:hidden}
a.pageoff:hover{width:37px;height:37px;line-height:37px;font-family:Arial;font-size:14px;font-weight:bold;color:#fff;display:inline-block;background:url('numon1.gif');text-align:center;margin:0 7px;text-decoration:none;overflow:hidden}
.right1{width:310px;overflow:hidden}
.listlm2{width:200px;height:50px;line-height:50px;padding:0 0 0 40px;background:url(t7.gif) no-repeat 6px center;overflow:hidden}
.listlm3{width:960px;height:49px;line-height:49px;border-bottom:1px #ff5000 solid;overflow:hidden}
.rightbg1{width:320px;height:500px;background:#ffede5;overflow:hidden}
.rightbg2{width:320px;height:40px;line-height:40px;background:#ff5000;text-align:center;overflow:hidden}
.rightcon1{width:300px;background:url(b3.gif) no-repeat 0 bottom;padding:15px 0 20px 0;margin:0 auto;overflow:hidden}
.listlm4{width:960px;height:40px;line-height:40px;background:url(b4.gif);text-align:center;overflow:hidden}
.listlm5{width:200px;height:50px;line-height:50px;padding:0 0 0 36px;background:url(t8.gif) no-repeat 0 center;overflow:hidden}
.dh1{width:960px;border-bottom:1px #ff5000 solid;overflow:hidden}

/*稿件样式*/
.form{padding:0 20px 0 0;display:inline-block}
.gjbg1{width:960px;height:500px;background:#e9e9e9;overflow:hidden;position:relative}
.gjbg2{width:960px;height:50px;background:#ddd;overflow:hidden;position:relative}
.gjvideo{width:630px;height:500px;position:absolute;left:165px;top:0px;overflow:hidden}
.gjvideo1{width:630px;height:500px;position:absolute;left:0px;top:0px;overflow:hidden}
.gjbutton{width:38px;height:29px;position:absolute;top:14px;right:185px;overflow:hidden}
.gjbutton1{width:38px;height:29px;position:absolute;top:14px;right:10px;overflow:hidden}
.gjfx{padding:18px 0 0 185px}
.gjfx1{padding:18px 0 0 20px}
.morevideo{width:300px;height:500px;position:absolute;right:10px;top:0px;display:none;overflow:hidden}
.morevideo1{width:300px;height:500px;position:absolute;right:10px;top:0px;display:block;overflow:hidden}
.rollBox{width:300px;position:absolute;top:40px;left:0px;overflow:hidden}
.cur1{width:300px;height:25px;cursor:pointer;overflow:hidden;position:absolute;left:0px;top:0px}
.cur2{width:300px;height:25px;cursor:pointer;overflow:hidden;position:absolute;left:0px;top:475px}
.gjleft{width:630px;overflow:hidden}
.gjright{width:310px;overflow:hidden}
.gjlm{width:200px;height:50px;line-height:50px;padding:0 0 0 40px;background:url(t11.gif) no-repeat 0 center;overflow:hidden}
.gjlmjs{wisth:310px;line-height:28px;background:url(b8.gif) no-repeat 0 bottom;padding:15px 0;text-align:center;overflow:hidden}
.gjbg3{width:310px;height:50px;line-height:50px;background:url(b9.gif) no-repeat 0 bottom;padding:0 0 0 0;overflow:hidden}
.gjlm1{width:200px;height:50px;line-height:50px;padding:0 0 0 40px;background:url(t12.gif) no-repeat 0 center;overflow:hidden}
.gjpic{width:310px;overflow:hidden}
.gjpic li{width:310px;height:200px;margin:0 0 20px 0;overflow:hidden}
.gjpic li img{width:175px;height:200px;float:left}
.gjpic li .bluebg1{width:125px;height:175px;background:#3f83ed;padding:25px 0 0 10px;line-height:18px;float:left;overflow:hidden}
.gjpic li .bluebg2{width:125px;height:175px;background:#1d4bbb;padding:25px 0 0 10px;line-height:18px;float:left;overflow:hidden}
.gjpic li .redbg1{width:125px;height:175px;background:#ce3c32;padding:25px 0 0 10px;line-height:18px;float:left;overflow:hidden}
.gjpic li .yellowbg1{width:125px;height:175px;background:#43e5c5;padding:25px 0 0 10px;line-height:18px;float:left;overflow:hidden}

#footer{width:100%;height:100px;color:#666;line-height:30px;text-align:center;border-top:6px #b81506 solid;background-image:url('http://news.eastday.com/images/2013xwzx/footbj.gif');padding:20px 0 0 0}
#footer a{color:#666}

/*人大视频*/
.dhrd{width:100%;padding:15px 0 5px 0;background:url(b10.gif) no-repeat 0 bottom;text-align:center}
.dhrd1{width:960px;margin:0 auto;overflow:hidden}
.dhrd1 p{height:28px;line-height:28px;padding:0 30px;overflow:hidden;display:inline}
.rdbg{width:100%;height:144px;background:url(rdbg.jpg) no-repeat 50% 0}
.rdbg1{width:100%;height:390px;background:url(b11.gif) no-repeat 50% 13px;margin:26px 0 0 0}
.rdright1{width:420px;padding:40px 0 0 0;overflow:hidden}
.rdname{width:350px;line-height:32px;background:url(t13.gif) no-repeat 10px 0;padding-left:66px;font-family:"微软雅黑";font-size:24px;font-weight:bold;color:#005bac;overflow:hidden}
.rdcon1{width:300px;padding:0 0 0 78px;overflow:hidden}
.rdbutton1{width:104px;height:37px;background:url(button2.gif);text-align:center;font-family:"方正正中黑简体";font-size:18px;font-weight:bold;color:#fff;line-height:37px;margin:0 11px;float:left;text-decoration:none;overflow:hidden;cursor:pointer;}
a.rdbutton1:link{width:104px;height:37px;background:url(button2.gif);text-align:center;font-family:"方正正中黑简体";font-size:18px;font-weight:bold;color:#fff;line-height:37px;margin:0 11px;float:left;text-decoration:none;overflow:hidden;cursor:pointer;text-decoration:none}
a.rdbutton1:visited{width:104px;height:37px;background:url(button2.gif);text-align:center;font-family:"方正正中黑简体";font-size:18px;font-weight:bold;color:#fff;line-height:37px;margin:0 11px;float:left;text-decoration:none;overflow:hidden;cursor:pointer;text-decoration:none}
a.rdbutton1:active{width:104px;height:37px;background:url(button2.gif);text-align:center;font-family:"方正正中黑简体";font-size:18px;font-weight:bold;color:#fff;line-height:37px;margin:0 11px;float:left;text-decoration:none;overflow:hidden;cursor:pointer;text-decoration:none}
a.rdbutton1:hover{width:104px;height:37px;background:url(button2.gif);text-align:center;font-family:"方正正中黑简体";font-size:18px;font-weight:bold;color:#fff;line-height:37px;margin:0 11px;float:left;text-decoration:none;overflow:hidden;cursor:pointer;text-decoration:none}
.rdcon2{width:521px;overflow:hidden}
.rdconbg1{width:482px;height:36px;background:url(b17.gif);padding:6px 0 0 39px;overflow:hidden}
.rdcon2c1{width:485px;padding:10px 0 0 32px;position:relative;overflow:hidden}
.rdcon2c1 a{font-size:14px;font-weight:bold;color:#0081cc}
.rdcon2c1 img{width:22px;height:21px;position:absolute;right:0px;bottom:0px}
.rdcon3{width:413px;overflow:hidden}
.rdcon3c1{width:392px;padding:0 0 0 21px;overflow:hidden}
.rdlist1{width:362px;height:32px;line-height:32px;background:url(t14.gif) no-repeat 21px center;padding-left:39px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.rdbg2{width:922px;background:url(images/b22.gif) no-repeat 0 bottom;padding:5px 0 5px 14px;font-family:"黑体";font-size:20px;font-weight:bold;color:#0081cc;line-height:32px;overflow:hidden}
.rdbg3{background:#f8f8f8;padding:18px 0 22px 0;font-size:14px;color:#595757;overflow:hidden}