/* 全局 */
*{padding:0;margin:0}
body{padding:0;margin:0;text-align:left;font-family:宋体;font-size:12px}
div{border:none;margin:0;padding:0}

p{border:none;margin:0;padding:0}

span{border:none;margin:0;padding:0}

form{border:none;margin:0;padding:0}

img{border:none;margin:0;padding:0}

ul li{list-style:none}
.clearfix:after{ content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-table}
/* Hides from IE-mac \*/
 * html .clearfix {height:1%} .clearfix {display:block} 
/* End hide from IE-mac */ 
/* Hides from IE7 \*/
 *+html .clearfix{height:1%} .clearfix {display:block} 
/* End hide from IE7 */ 

A:link{text-decoration:none}
A:visited{text-decoration:none}
A:active{text-decoration:none}
A:hover{text-decoration:underline}

.fl{float:left}
.fr{float:right}
.fc{text-align:center}

.clear{height:0px;clear:both;overflow:hidden}
.blank1{height:1px;clear:both;overflow:hidden}
.blank2{height:2px;clear:both;overflow:hidden}
.blank3{height:3px;clear:both;overflow:hidden}
.blank4{height:4px;clear:both;overflow:hidden}
.blank5{height:5px;clear:both;overflow:hidden}
.blank6{height:6px;clear:both;overflow:hidden}
.blank8{height:8px;clear:both;overflow:hidden}
.blank9{height:9px;clear:both;overflow:hidden}
.blank10{height:10px;clear:both;overflow:hidden}
.blank12{height:12px;clear:both;overflow:hidden}
.blank13{height:13px;clear:both;overflow:hidden}
.blank15{height:15px;clear:both;overflow:hidden}
.blank17{height:15px;clear:both;overflow:hidden}
.blank18{height:18px;clear:both;overflow:hidden}
.blank19{height:18px;clear:both;overflow:hidden}
.blank20{height:20px;clear:both;overflow:hidden}
.blank23{height:23px;clear:both;overflow:hidden}
.blank27{height:27px;clear:both;overflow:hidden}

.pl4{padding:0 0 0 4px}
.pr8{padding:0 8px 0 0}
.pr10{padding:0 10px 0 0}
.pr13{padding:0 13px 0 0}
.pr15{padding:0 15px 0 0}
.pr17{padding:0 17px 0 0}
.pr21{padding:0 21px 0 0}
.pr22{padding:0 22px 0 0}
.pr23{padding:0 23px 0 0}
.pr24{padding:0 23px 0 0}
.pr25{padding:0 25px 0 0}
.pr35{padding:0 35px 0 0}
.pr36{padding:0 36px 0 0}

.lh20{line-height:20px}
.lh22{line-height:22px}
.lh24{line-height:24px}
.lh26{line-height:26px}
.lh27{line-height:28px}
.lh28{line-height:28px}
.lh30{line-height:30px}

.black12{color:#252525}
.blue12{color:#1f2774}
.blueb12{color:#1f2774;font-weight:bold}
.grey12 , .grey12 a , .hyh2 Li a{color:#333}
.redb12{font-weight:bold;color:#d00303}
.red12{color:#d00303}
.black14 , .newslist6 li a{font-size:14px;color:#221815}
.blue14{font-size:14px;color:#1f2774}
.blueb14{font-size:14px;font-weight:bold;color:#1f2774}
.grey14{font-size:14px;color:#333}
.blueb16{font-family:微软雅黑;font-size:16px;color:#1f2774}
.greyb18{font-family:微软雅黑;font-size:18px;color:#595757;letter-spacing:5px}


.newslist4 li .grey14{font-size:12px;color:#333}

.newslist1{width:320px;overflow:hidden}
.newslist1 li{width:308px;overflow:hidden;display:block;float:left;line-height:24px;height:24px;padding:0 0 0 12px;margin:0 0 0 0;background:url('t3.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist2{width:150px;height:50px;padding:16px 0 0 0;margin:0 13px 0 0;border-bottom:1px #e0e0e0 solid;overflow:hidden}
.newslist2 li{width:142px;height:22px;line-height:22px;padding:0 0 0 8px;overflow:hidden;display:block;background:url('t3.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist2b{width:150px;height:50px;padding:16px 0 0 0;margin:0 13px 0 0;border-bottom:1px #e0e0e0 solid;overflow:hidden}
.newslist2b li{width:142px;height:22px;line-height:22px;padding:0 0 0 8px;display:block;background:url('t3.gif') no-repeat 0px center;}
.newslist2b li a{color:#363636;}
.newslist2b li.blue12 a{color:#1f2774;}

.newslist2d{width:150px;height:50px;padding:16px 0 0 0;margin:0 13px 0 0;overflow:hidden}
.newslist2d li{width:142px;height:22px;line-height:22px;padding:0 0 0 8px;display:block;background:url('t3.gif') no-repeat 0px center;}
.newslist2d li a{color:#363636;}

.newslist2s{width:150px;height:40px;padding:16px 0 0 0;margin:0 13px 0 0;overflow:hidden}
.newslist2s li{width:142px;height:22px;line-height:22px;padding:0 0 0 8px;overflow:hidden;display:block;background:url('t3.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist3{width:300px;overflow:hidden;height:90px;}
.newslist3 li{width:300px;height:27px;line-height:27px;margin:0 0 3px 0;overflow:hidden}
.newslist3 li a.title{font-size:14px;font-weight:bold;color:#333;width:280px;height:27px;padding:0 0 0 20px;overflow:hidden;display:block;background:url('b3.gif');white-space:nowrap;text-overflow:ellipsis}
.newslist3 li a.title:hover{font-size:14px;font-weight:bold;color:#1f2774;width:280px;height:27px;padding:0 0 0 20px;overflow:hidden;display:block;background:url('b2.gif');white-space:nowrap;text-overflow:ellipsis}
.newslist3 li a.title img{margin-right:5px;margin-bottom:3px;}

.newslist3 li span{width:240px;height:27px;display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;cursor:pointer;}

.newslist3 li.title{font-size:14px;font-weight:bold;color:#333;width:280px;height:27px;padding:0 0 0 20px;overflow:hidden;display:block;background:url('b3.gif');white-space:nowrap;text-overflow:ellipsis}
.newslist3 li a{font-size:14px;font-weight:bold;color:#333;line-height:27px;}
.newslist3 li a.ta{font-size:14px;font-weight:bold;color:#333;line-height:27px;}

.newslist4{width:294px;padding:0 0 0 6px;overflow:hidden}
.newslist4 li{width:282px;height:24px;line-height:24px;overflow:hidden;display:block;padding:0 0 0 12px;background:url('t3.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist5{width:285px;height:199px;background-color:#f8f8f8;padding:11px 9px 0 6px;overflow:hidden}
.newslist5 li{width:267px;height:26px;line-height:26px;background-image:url('b6.gif');padding:0 0 0 18px;overflow:hidden;display:block;white-space:nowrap;text-overflow:ellipsis}
.newslist6{width:313px;overflow:hidden}
.newslist6 li{width:303px;height:24px;line-height:24px;padding:0 0 0 10px;overflow:hidden;display:block;background:url('t3.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist7{width:327px;overflow:hidden;float:left}
.newslist7 li{width:295px;height:24px;line-height:24px;padding:0 10px 0 10px;overflow:hidden;display:block;float:left;background:url('t3.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist7b{width:304px;overflow:hidden;float:left}
.newslist7b li{width:294px;height:24px;line-height:24px;padding:0 0 0 10px;overflow:hidden;display:block;float:left;background:url('t3.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist8{width:290px;padding:0 0 0 5px;margin:0 0 0 0;overflow:hidden}
.newslist8 li{width:282px;height:24px;line-height:24px;padding:0 0 0 8px;overflow:hidden;display:block;background:url('t1.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist9{width:294px;padding:0 0 0 6px;overflow:hidden}
.newslist9 li{width:282px;height:24px;line-height:24px;overflow:hidden;display:block;padding:0 0 0 12px;background:url('t4.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}
.newslist9 li a{padding:0 17px 0 0}
.newslist10{width:142px;padding:0 0 0 0;margin:0 0 0 0;overflow:hidden}
.newslist10 li{width:130px;line-height:24px;padding:0 0 0 12px;overflow:hidden;display:block;background:url('t4.gif') no-repeat 0px 9px}
.newslist11{width:313px;overflow:hidden}
.newslist11 li{width:305px;height:24px;line-height:24px;padding:0 0 0 8px;display:block;background:url('t3.gif') no-repeat 0px center;overflow:hidden;display:block;white-space:nowrap;text-overflow:ellipsis}

#header{width:100%;height:35px;border-bottom:1px #c2c2c2 solid;border-top:4px #b81506 solid;background-image:url('headbg.gif')}
.top{width:935px;padding:8px 10px 0 15px;margin:0 auto;overflow:hidden}
.righttop{	padding:0 13px 0 0}
.righttop1{padding:0 24px 0 0}

#dh1{width:960px;height:69px;padding:4px 0 0 0;margin:0 auto;overflow:hidden}
.logo{width:163px;padding:0 0 0 15px;overflow:hidden;display:block}
.dh1{width:160px;height:44px;border-left:1px #dcdcdc solid;padding:0 0 0 14px;margin:14px 0 0 0;overflow:hidden}
.dh1 a{padding:0 15px 0 0}
.dh2{width:160px;height:44px;border-left:1px #dcdcdc solid;padding:0 0 0 14px;margin:14px 0 0 0;overflow:hidden}
.dh2 a{padding:0 15px 0 0}
.dh3{width:170px;height:44px;border-left:1px #dcdcdc solid;padding:0 0 0 14px;margin:14px 0 0 0;overflow:hidden}
.dh3 a{padding:0 15px 0 0}
.dh4{width:158px;height:44px;border-left:1px #dcdcdc solid;padding:0 0 0 14px;margin:14px 0 0 0;overflow:hidden}
.dh4 a{padding:0 15px 0 0}
.dh5{width:60px;height:44px;border-left:1px #dcdcdc solid;padding:0 0 0 13px;margin:14px 0 0 0;overflow:hidden}
#dh2{width:953px;height:50px;background-image:url('dhbg1.gif');padding:9px 0 0 7px;margin:0 auto;overflow:hidden}
.dhs1{width:172px;overflow:hidden}
.dhs2{width:194px;overflow:hidden}
.dhs2 p{padding:0 0 0 19px;background:url('t1.gif') no-repeat 0px center}
.dhs3{width:193px;overflow:hidden}
.dhs3 p{padding:0 0 0 20px;background:url('t1.gif') no-repeat 0px center}
.dhs4{width:201px;overflow:hidden}
.dhs4 p{padding:0 0 0 24px;background:url('t1.gif') no-repeat 0px center}
.dhs5{width:193px;overflow:hidden}
.dhs5 p{padding:0 0 0 22px;background:url('t1.gif') no-repeat 0px center}

#content{width:960px;margin:0 auto;overflow:hidden}
.left1{width:640px;overflow:hidden}
.left1_sh{background:#f6fcff;}
.right1_sh{background:#f6fcff;}
.lm1{width:122px;height:31px;padding:3px 0 0 10px;overflow:hidden}
.lm1b{width:92px;height:31px;padding:3px 0 0 10px;overflow:hidden}
.lm2{width:180px;padding:13px 0 0 15px;background:url('t2.gif') no-repeat 0px 14px}
.jklm{width:340px;padding:12px 0 0 0;overflow:hidden}
#hotspot .jike{width:65px;padding:2px 0 0 0;overflow:hidden}
#hotspot input{width:142px;height:17px;border:1px #7c7c7c solid;margin:0 7px 0 5px}
#hotspot select{width:57px;height:20px;margin:0 7px 0 0}
#style1 select {width:140px;height:20px;overflow:hidden;}
.tw1{width:304px;overflow:hidden}
.piclist1{width:652px;overflow:hidden}
.piclist1 li{width:150px;height:84px;padding:0 13px 0 0;float:left;overflow:hidden}
.shengying{width:652px;overflow:hidden}
.con1{width:313px;overflow:hidden}
.con1 .enjoyTitle{width:313px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.tx1{width:157px;height:110px;overflow:hidden}
.zsh{width:495px;padding:10px 0 0 12px;overflow:hidden}
.zsh img{padding:0 11px 0 0}
.zsh a{padding:0 11px 0 0}
.piclist2{width:652px;overflow:hidden}
.piclist2 li{width:150px;height:143px;padding:0 13px 0 0;float:left;overflow:hidden}
.piclist2 li img{width:140px;height:74px;padding:4px;border:1px #e2e2e2 solid;float:left}
.piclist2 li p{width:150px;height:44px;background-color:#f6f6f6;padding:5px 0 0 0;margin:10px 0 0 0;float:left;text-align:center;line-height:22px;overflow:hidden}
.gsdt{width:465px;padding:15px 0 0 38px;overflow:hidden}
.gsdt a{padding:0 16px 0 0}

.right1{width:300px;overflow:hidden}
.lm3{width:288px;height:31px;background-color:#f2f2f2;padding:5px 0 0 12px;overflow:hidden}
.spcon{width:300px;position:relative}
.spcon1{width:36px;height:146px;top:0px;left:264px;position:absolute}
.spbg1{width:17px;height:57px;background-image:url('b4.gif');padding:12px 6px 0 13px;margin:0 0 8px 0;overflow:hidden;font-size:14px;color:#333;line-height:21px;display:block}
.spbg2{width:17px;height:57px;background-image:url('b5.gif');padding:12px 6px 0 13px;margin:0 0 8px 0;overflow:hidden;font-size:14px;color:#333;line-height:21px;display:block}
.gglist{width:310px;margin:0 0 3px 0;overflow:hidden}
.gglist li{width:145px;height:60px;padding:0 10px 10px 0;float:left;overflow:hidden}
.lm4{width:300px;height:36px;background-color:#e6e6e6;overflow:hidden}
.menu{font-family:微软雅黑;font-size:18px;color:#333;letter-spacing:2px;}
.menuon1{height:36px;line-height:36px;background:#f8f8f8;padding:6px 7px;*padding:5px 7px!important;font-family:微软雅黑;font-size:18px;color:#333;letter-spacing:2px;cursor:pointer}
.menuoff1{height:36px;line-height:36px;padding:6px 7px;*padding:5px 7px!important;font-family:微软雅黑;font-size:18px;color:#333;letter-spacing:2px;cursor:pointer}
.bg1{width:278px;height:185px;background-image:url('b7.gif');padding:11px 11px 14px 11px;overflow:hidden}
.bg1 a{padding:0 11px 0 0;display:inline-block}
.bg2{width:315px;height:24px;background-image:url('b8.gif');padding:8px 0 0 0;overflow:hidden}
.bg2 a{padding:0 13px 0 0}
.lm5{width:288px;height:31px;background-color:#e2eeff;padding:5px 0 0 12px;overflow:hidden}
.tx2{width:135px;height:84px;padding:0 0 0 7px;overflow:hidden}
.lm6{width:300px;height:36px;background-color:#e2eeff;overflow:hidden}
.menuon2{height:36px;line-height:36px;background-color:#e9f8ff;padding:6px 7px;*padding:5px 7px!important;font-family:微软雅黑;font-size:18px;color:#333;letter-spacing:2px}
.menuoff2{height:36px;line-height:36px;padding:6px 7px;*padding:5px 7px!important;font-family:微软雅黑;font-size:18px;color:#333;letter-spacing:2px}
.bg3{width:300px;height:244px;overflow:hidden}
.bg4{width:275px;height:25px;background-image:url('b10.gif');padding:0 0 0 25px;overflow:hidden}
.button1{width:51px;height:20px;background-color:#e7e7e7;border:1px #d3d3d3 solid;color:#444;line-height:20px;text-align:center;letter-spacing:4px;display:block;overflow:hidden;text-decoration:none}
a.button1:hover{width:51px;height:20px;background-color:#e7e7e7;border:1px #d3d3d3 solid;color:#444;text-align:center;letter-spacing:4px;line-height:20px;display:block;overflow:hidden;text-decoration:none}
.pic1{width:147px;overflow:hidden}
.con2{width:142px;height:20px;overflow:hidden}

#tjwz{width:100%;background-color:#f6f6f6;border-top:1px #d6d6d6 solid;padding:15px 0 30px 0}
.wzbg1{width:960px;background-image:url('b13.gif');margin:0 auto;overflow:hidden}
.wzcon1{width:90px;height:31px;line-height:31px;padding:0 0 0 12px;overflow:hidden; font-weight:bold;}
.wzcon2{width:850px;overflow:hidden;}
.wzcon2 a{padding:0 23px 0 0;line-height:31px;}
.wzcon2 a.end1{padding:0;line-height:31px;}
.wzcon2 a.end2{padding:0 12px 0 0;line-height:31px;}

#foot{width:100%;height:100px;background-image:url('footbg.gif');border-top:6px #1f2774 solid;padding:20px 0 0 0}

#footer{width:100%;height:248px;background-image:url('footbg2.gif');border-top:6px #1f2774 solid;padding:20px 0 0 0}
#footer .footline{width:960px;height:1px;background:url('b13.gif') 0 1px;margin:10px auto}
#footer p{padding:0;line-height:22px;}
#footer p.lh30{padding:5px 0;line-height:22px;}

#full{width:50px;bottom:0;left:50%;margin-left:504px;position:absolute;z-index:9999}
.ewm{text-align:center;}
.ewm2{background:#EBEBEB;}
.ewm2:hover{background:#D6D6D6}
.ewmtitle{font-size:14px;color:#000;font-weight:bold;text-align:center;margin-top:5px;}

#style1 .select_box{width:142px;height:20px;}
#style1 div.tag_select{display:block;color:#444;width:132px;height:20px;background:transparent url("select.gif") no-repeat 0 0;padding:0 5px;line-height:20px;}
#style1 div.tag_select_hover{display:block;color:#444;width:132px;height:20px;background:transparent url("select.gif") no-repeat 0 0;padding:0 5px;line-height:20px;}
#style1 div.tag_select_open{display:block;color:#444;width:132px;height:20px;background:transparent url("select.gif") no-repeat 0 -20px;padding:0 5px;line-height:20px;}
#style1 ul.tag_options{position:absolute;padding:0;margin:0;list-style:none;background:transparent url("select.gif") no-repeat right bottom;width:142px; padding:0 0 5px;margin:0;}
#style1 ul.tag_options li{background:transparent url("select.gif") repeat-y -142px 0;display:block;width:132px;padding:0 5px;height:20px;text-decoration:none;line-height:20px;color:#444;}

#style2 {margin-right:5px;}
#style2 .select_box{width:50px;height:20px;}
#style2 div.tag_select{display:block;color:#444;width:50px;height:20px;background:transparent url("select2.gif") no-repeat 0 0;padding:0 5px;line-height:20px;}
#style2 div.tag_select_hover{display:block;color:#444;width:50px;height:20px;background:transparent url("select2.gif") no-repeat 0 0;padding:0 5px;line-height:20px;}
#style2 div.tag_select_open{display:block;color:#444;width:50px;height:20px;background:transparent url("select2.gif") no-repeat 0 -20px;padding:0 5px;line-height:20px;}
#style2 ul.tag_options{position:absolute;padding:0;margin:0;list-style:none;background:transparent url("select2.gif") no-repeat right bottom;width:50px;padding:0 0 5px;margin:0;}
#style2 ul.tag_options li{background:transparent url("select2.gif") repeat-y -49px 0;display:block;width:50px;padding:0 5px;height:20px;text-decoration:none;line-height:20px;color:#444;}

#hyh{height:90px;overflow:hidden;position:relative;}
#hyh3{height:314px;overflow:hidden;}
.hyhNext{cursor:pointer;text-align:right;position:absolute;margin-top:5px;left:256px;z-index:1000;}
.hyhNext3{cursor:pointer;position:absolute;top:784px;left:50%;margin-left:-500px;z-index:1000;background:url("hyh2.gif") no-repeat 0 0;width:20px;height:43px;display:none;}

.shipin{position:relative;}
.play1{	left: 105px;	width: 47px;	POSITION: absolute;	top: 50px;	height: 47px}
#rolldiv  p span{background:#e6e6e6;}
#rolldiv  p.activeSlide span{background:#f8f8f8;}

.tqyb{width:292px;height:27px;background:#F2F2F2;padding:0 4px;margin: 0px 0px 3px;overflow:hidden;}
.shengyinbg{background:#f6fcff}

/*2014两会*/
.lh_button{margin-bottom:13px;width:304px;height:30px;overflow:hidden;}
.lh_article{width:304px;overflow:hidden;}
.lh_img{float:left;width:139px;height:80px;}
.lh_text{float:left;width:157px;height:80px;padding-left:8px;overflow:hidden;}
.lh_line{background:#EEEEEE;width:304px;height:2px;margin-top:10px;margin-bottom:9px;clear:both;}
.lh_title{width:304px;overflow:hidden;}
.lh_title li{list-style:none;width:304px;overflow:hidden;display:block;float:left;line-height:24px;height:24px;padding:0 0 0 12px;margin:0 0 0 0;background:url('t3.gif') no-repeat 0px center;white-space:nowrap;text-overflow:ellipsis}

/*20140423声音*/
.shengyin_line{background:url(/images/index2013/b1.gif);width:304px;height:2px;overflow:hidden;clear:both;}
.shengyin_con1{width:304px;overflow:hidden;}
.shengyin_tx1{width:148px;height:110px;overflow:hidden;}
.shengyin_tw1{width:304px;overflow:hidden;}
.Fontbold{font-weight:bold}