* {font-size:12px;font-family:"宋体";}

a:link {text-decoration: none;color: #444;}
a:visited {text-decoration: none;color: #444;}
a:hover {text-decoration: none;color: #444;}

a.white12:link {text-decoration: none;color: #fff;font-size:12px;}
a.white12:visited {text-decoration: none;color: #fff;font-size:12px;}
a.white12:hover {text-decoration: underline;color: #fff;font-size:12px;}

a.whiteu12:link {text-decoration: underline;color: #fff;font-size:12px;}
a.whiteu12:visited {text-decoration: underline;color: #fff;font-size:12px;}
a.whiteu12:hover {text-decoration: underline;color: #fff;font-size:12px;}

a.white12u:link {text-decoration: none;color: #fff;font-size:12px;}
a.white12u:visited {text-decoration: none;color: #fff;font-size:12px;}
a.white12u:hover {text-decoration: underline;color: #fff;font-size:12px;}
a.white12u:active {text-decoration: none;color: #fff;font-size:12px;}

a.white12t2:link {text-decoration: none;color: #fff;font-size:12px;letter-spacing:2px;}
a.white12t2:visited {text-decoration: none;color: #fff;font-size:12px;letter-spacing:2px;}
a.white12t2:hover {text-decoration: none;color: #fff;font-size:12px;letter-spacing:2px;}

a.whiteb12:link {text-decoration: none;color: #fff;font-size:12px;font-weight:bold;}
a.whiteb12:visited {text-decoration: none;color: #fff;font-size:12px;font-weight:bold;}
a.whiteb12:hover {text-decoration: none;color: #fff;font-size:12px;font-weight:bold;}

a.whiteb12u:link {text-decoration: none;color: #fff;font-size:12px;font-weight:bold;}
a.whiteb12u:visited {text-decoration: none;color: #fff;font-size:12px;font-weight:bold;}
a.whiteb12u:hover {text-decoration: underline;color: #fff;font-size:12px;font-weight:bold;}
a.whiteb12u:active {text-decoration: none;color: #fff;font-size:12px;font-weight:bold;}

a.white14:link {text-decoration: none;color: #fff;font-size:14px;}
a.white14:visited {text-decoration: none;color: #fff;font-size:14px;}
a.white14:hover {text-decoration: underline;color: #fff;font-size:14px;}

a.whiteb14:link {text-decoration: none;color: #fff;font-size:14px;font-weight:bold;}
a.whiteb14:visited {text-decoration: none;color: #fff;font-size:14px;font-weight:bold;}
a.whiteb14:hover {text-decoration: none;color: #fff;font-size:14px;font-weight:bold;}

a.whiteb14u:link {text-decoration: none;color: #fff;font-size:14px;font-weight:bold;}
a.whiteb14u:visited {text-decoration: none;color: #fff;font-size:14px;font-weight:bold;}
a.whiteb14u:hover {text-decoration: underline;color: #fff;font-size:14px;font-weight:bold;}
a.whiteb14u:active {text-decoration: none;color: #fff;font-size:14px;font-weight:bold;}

a.whiteb16u:link {text-decoration: none;color: #fff;font-family:微软雅黑;font-size:16px;font-weight:bold;}
a.whiteb16u:visited {text-decoration: none;color: #fff;font-family:微软雅黑;font-size:16px;font-weight:bold;}
a.whiteb16u:hover {text-decoration: underline;color: #fff;font-family:微软雅黑;font-size:16px;font-weight:bold;}
a.whiteb16u:active {text-decoration: none;color: #fff;font-family:微软雅黑;font-size:16px;font-weight:bold;}

a.grey12:link {text-decoration: none;color: #444;font-size:12px;}
a.grey12:visited {text-decoration: none;color: #444;font-size:12px;}
a.grey12:hover {text-decoration: none;color: #444;font-size:12px;}

a.grey12f:link {text-decoration: none;color: #444;font-size:12px;}
a.grey12f:visited {text-decoration: none;color: #444;font-size:12px;}
a.grey12f:hover {text-decoration: underline;color: #0A4588;font-size:12px;}

a.grey12a:link {text-decoration: none;color: #1b1b1b;font-size:12px;}
a.grey12a:visited {text-decoration: none;color: #1b1b1b;font-size:12px;}
a.grey12a:hover {text-decoration: none;color: #1b1b1b;font-size:12px;}

a.grey12b:link {text-decoration: none;color: #707070;font-size:12px;}
a.grey12b:visited {text-decoration: none;color: #707070;font-size:12px;}
a.grey12b:hover {text-decoration: none;color: #707070;font-size:12px;}

a.grey12c:link {text-decoration: none;color: #9e9e9e;font-size:12px;}
a.grey12c:visited {text-decoration: none;color: #9e9e9e;font-size:12px;}
a.grey12c:hover {text-decoration: underline;color: #9e9e9e;font-size:12px;}
a.grey12c:active {text-decoration: none;color: #9e9e9e;font-size:12px;}

a.grey12d:link {text-decoration: none;color: #6e6e6e;font-size:12px;}
a.grey12d:visited {text-decoration: none;color: #6e6e6e;font-size:12px;}
a.grey12d:hover {text-decoration: none;color: #6e6e6e;font-size:12px;}

a.grey12g:link {text-decoration: none;color: #777;font-size:12px;}
a.grey12g:visited {text-decoration: none;color: #777;font-size:12px;}
a.grey12g:hover {text-decoration: underline;color: #777;font-size:12px;}
a.grey12g:active {text-decoration: none;color: #777;font-size:12px;}

a.grey12h:link {text-decoration: none;color: #555;font-size:12px;}
a.grey12h:visited {text-decoration: none;color: #555;font-size:12px;}
a.grey12h:hover {text-decoration: none;color: #555;font-size:12px;}
a.grey12h:active {text-decoration: none;color: #555;font-size:12px;}

a.grey12j:link {text-decoration: none;color: #9A9A9A;font-size:12px;}
a.grey12j:visited {text-decoration: none;color: #9A9A9A;font-size:12px;}
a.grey12j:hover {text-decoration: none;color: #9A9A9A;font-size:12px;}
a.grey12j:active {text-decoration: none;color: #9A9A9A;font-size:12px;}

a.grey12t3:link {text-decoration: none;color: #444;font-size:12px;letter-spacing:4px;}
a.grey12t3:visited {text-decoration: none;color: #444;font-size:12px;letter-spacing:4px;}
a.grey12t3:hover {text-decoration: none;color: #444;font-size:12px;letter-spacing:4px;}

a.greyb12:link {text-decoration: none;color: #444;font-size:12px;font-weight:bold;}
a.greyb12:visited {text-decoration: none;color: #444;font-size:12px;font-weight:bold;}
a.greyb12:hover {text-decoration: none;color: #444;font-size:12px;font-weight:bold;}

a.greyb12u:link {text-decoration: none;color: #444;font-size:12px;font-weight:bold;}
a.greyb12u:visited {text-decoration: none;color: #444;font-size:12px;font-weight:bold;}
a.greyb12u:hover {text-decoration: underline;color: #444;font-size:12px;font-weight:bold;}
a.greyb12u:active {text-decoration: none;color: #444;font-size:12px;font-weight:bold;}

a.grey12u:link {text-decoration: none;color: #444;font-size:12px;}
a.grey12u:visited {text-decoration: none;color: #444;font-size:12px;}
a.grey12u:hover {text-decoration: underline;color: #444;font-size:12px;}
a.grey12u:active {text-decoration: none;color: #444;font-size:12px;}

a.grey12u1:link {text-decoration: none;color: #444;font-size:12px;}
a.grey12u1:visited {text-decoration: none;color: #444;font-size:12px;}
a.grey12u1:hover {text-decoration: underline;color: #294c9c;font-size:12px;}
a.grey12u1:active {text-decoration: none;color: #444;font-size:12px;}

a.greyb12d:link {text-decoration: none;color: #6e6e6e;font-size:12px;font-weight:bold;}
a.greyb12d:visited {text-decoration: none;color: #6e6e6e;font-size:12px;font-weight:bold;}
a.greyb12d:hover {text-decoration: none;color: #6e6e6e;font-size:12px;font-weight:bold;}

a.grey14:link {text-decoration: none;color: #444;font-size:14px;}
a.grey14:visited {text-decoration: none;color: #444;font-size:14px;}
a.grey14:hover {text-decoration: none;color: #444;font-size:14px;}

a.grey14f:link {text-decoration: none;color: #444;font-size:14px;}
a.grey14f:visited {text-decoration: none;color: #444;font-size:14px;}
a.grey14f:hover {text-decoration: underline;color: #0A4588;font-size:14px;}

a.greyb14:link {text-decoration: none;color: #444;font-size:14px;font-weight:bold;}
a.greyb14:visited {text-decoration: none;color: #444;font-size:14px;font-weight:bold;}
a.greyb14:hover {text-decoration: none;color: #444;font-size:14px;font-weight:bold;}

a.grey14u:link {text-decoration: none;color: #444;font-size:14px;}
a.grey14u:visited {text-decoration: none;color: #444;font-size:14px;}
a.grey14u:hover {text-decoration: underline;color: #444;font-size:14px;}
a.grey14u:active {text-decoration: none;color: #444;font-size:14px;}

a.greyb14u:link {text-decoration: none;color: #444;font-size:14px;font-weight:bold;}
a.greyb14u:visited {text-decoration: none;color: #444;font-size:14px;font-weight:bold;}
a.greyb14u:hover {text-decoration: underline;color: #444;font-size:14px;font-weight:bold;}
a.greyb14u:active {text-decoration: none;color: #444;font-size:14px;font-weight:bold;}

a.greyb14u1:link {text-decoration: none;color: #606060;font-size:14px;font-weight:bold;}
a.greyb14u1:visited {text-decoration: none;color: #606060;font-size:14px;font-weight:bold;}
a.greyb14u1:hover {text-decoration: underline;color: #606060;font-size:14px;font-weight:bold;}
a.greyb14u1:active {text-decoration: none;color: #606060;font-size:14px;font-weight:bold;}

a.greyb14g:link {text-decoration: none;color: #777;font-size:14px;font-weight:bold;}
a.greyb14g:visited {text-decoration: none;color: #777;font-size:14px;font-weight:bold;}
a.greyb14g:hover {text-decoration: underline;color: #777;font-size:14px;font-weight:bold;}
a.greyb14g:active {text-decoration: none;color: #777;font-size:14px;font-weight:bold;}

a.greyb18:link {text-decoration: none;color: #444;font-size:18px;font-family:"黑体";}
a.greyb18:visited {text-decoration: none;color: #444;font-size:18px;font-family: "黑体";}
a.greyb18:hover {text-decoration: none;color: #444;font-size:18px;font-family: "黑体";}

a.purple12:link {text-decoration: none;color: #B80365;font-size:12px;}
a.purple12:visited {text-decoration: none;color: #B80365;font-size:12px;}
a.purple12:hover {text-decoration: none;color: #B80365;font-size:12px;}

a.purpleb12:link {text-decoration: none;color: #B80365;font-size:12px;font-weight:bold;}
a.purpleb12:visited {text-decoration: none;color: #B80365;font-size:12px;font-weight:bold;}
a.purpleb12:hover {text-decoration: none;color: #B80365;font-size:12px;font-weight:bold;}

a.purpleb14:link {text-decoration: none;color: #B80365;font-size:14px;font-weight:bold;}
a.purpleb14:visited {text-decoration: none;color: #B80365;font-size:14px;font-weight:bold;}
a.purpleb14:hover {text-decoration: none;color: #B80365;font-size:14px;font-weight:bold;}

a.purpleb18:link {text-decoration: none;color: #B80365;font-size:18px;font-family:"黑体";}
a.purpleb18:visited {text-decoration: none;color: #B80365;font-size:18px;font-family: "黑体";}
a.purpleb18:hover {text-decoration: none;color: #B80365;font-size:18px;font-family: "黑体";}

a.blue12:link {text-decoration: none;color: #00f;font-size:12px;}
a.blue12:visited {text-decoration: none;color: #00f;font-size:12px;}
a.blue12:hover {text-decoration: none;color: #00f;font-size:12px;}

a.blue12b:link {text-decoration: none;color: #0A4588;font-size:12px;}
a.blue12b:visited {text-decoration: none;color: #0A4588;font-size:12px;}
a.blue12b:hover {text-decoration: none;color: #0A4588;font-size:12px;}

a.blue12c:link {text-decoration: none;color: #0067CF;font-size:12px;}
a.blue12c:visited {text-decoration: none;color: #0067CF;font-size:12px;}
a.blue12c:hover {text-decoration: underline;color: #0067CF;font-size:12px;}
a.blue12c:active {text-decoration: none;color: #0067CF;font-size:12px;}

a.blue12e:link {text-decoration: none;color: #005596;font-size:12px;}
a.blue12e:visited {text-decoration: none;color: #005596;font-size:12px;}
a.blue12e:hover {text-decoration: underline;color: #005596;font-size:12px;}
a.blue12e:active {text-decoration: none;color: #005596;font-size:12px;}

a.blue12g:link {text-decoration: none;color: #11A3BC;font-size:12px;}
a.blue12g:visited {text-decoration: none;color: #11A3BC;font-size:12px;}
a.blue12g:hover {text-decoration: underline;color: #11A3BC;font-size:12px;}
a.blue12g:active {text-decoration: none;color: #11A3BC;font-size:12px;}

a.blue12u:link {text-decoration: none;color: #294c9c;font-size:12px;}
a.blue12u:visited {text-decoration: none;color: #294c9c;font-size:12px;}
a.blue12u:hover {text-decoration: underline;color: #294c9c;font-size:12px;}
a.blue12u:active {text-decoration: none;color: #294c9c;font-size:12px;}

a.blue12u1:link {text-decoration: none;color: #00b0ca;font-size:12px;}
a.blue12u1:visited {text-decoration: none;color: #00b0ca;font-size:12px;}
a.blue12u1:hover {text-decoration: underline;color: #00b0ca;font-size:12px;}
a.blue12u1:active {text-decoration: none;color: #00b0ca;font-size:12px;}

a.blueb12u:link {text-decoration: none;color: #294c9c;font-size:12px;font-weight:bold;}
a.blueb12u:visited {text-decoration: none;color: #294c9c;font-size:12px;font-weight:bold;}
a.blueb12u:hover {text-decoration: underline;color: #294c9c;font-size:12px;font-weight:bold;}
a.blueb12u:active {text-decoration: none;color: #294c9c;font-size:12px;font-weight:bold;}

a.blueb12u1:link {text-decoration: none;color: #0094aa;font-size:12px;font-weight:bold;}
a.blueb12u1:visited {text-decoration: none;color: #0094aa;font-size:12px;font-weight:bold;}
a.blueb12u1:hover {text-decoration: underline;color: #0094aa;font-size:12px;font-weight:bold;}
a.blueb12u1:active {text-decoration: none;color: #0094aa;font-size:12px;font-weight:bold;}

a.blueb12u2:link {text-decoration: none;color: #0B5ABB;font-size:12px;font-weight:bold;}
a.blueb12u2:visited {text-decoration: none;color: #0B5ABB;font-size:12px;font-weight:bold;}
a.blueb12u2:hover {text-decoration: underline;color: #0B5ABB;font-size:12px;font-weight:bold;}
a.blueb12u2:active {text-decoration: none;color: #0B5ABB;font-size:12px;font-weight:bold;}

a.blueb20u2:link {text-decoration: none;color: #0B5ABB;font-size:20px;font-family:"黑体";}
a.blueb20u2:visited {text-decoration: none;color: #0B5ABB;font-size:20px;font-family:"黑体";}
a.blueb20u2:hover {text-decoration: underline;color: #0B5ABB;font-size:20px;font-family:"黑体";}
a.blueb20u2:active {text-decoration: none;color: #0B5ABB;font-size:20px;font-family:"黑体";}

a.blue12f:link {text-decoration: none;color: #005C9F;font-size:12px;}
a.blue12f:visited {text-decoration: none;color: #005C9F;font-size:12px;}
a.blue12f:hover {text-decoration: underline;color: #005C9F;font-size:12px;}
a.blue12f:active {text-decoration: none;color: #005C9F;font-size:12px;}

a.blue14b:link {text-decoration: none;color: #0A4588;font-size:14px;}
a.blue14b:visited {text-decoration: none;color: #0A4588;font-size:14px;}
a.blue14b:hover {text-decoration: none;color: #0A4588;font-size:14px;}

a.blueb14:link {text-decoration: none;color: #294c9c;font-size:14px;}
a.blueb14:visited {text-decoration: none;color: #294c9c;font-size:14px;}
a.blueb14:hover {text-decoration: underline;color: #294c9c;font-size:14px;}
a.blueb14:active {text-decoration: none;color: #294c9c;font-size:14px;}

a.blueb14c:link {text-decoration: none;color: #0067CF;font-size:14px;font-weight:bold;}
a.blueb14c:visited {text-decoration: none;color: #0067CF;font-size:14px;font-weight:bold;}
a.blueb14c:hover {text-decoration: underline;color: #0067CF;font-size:14px;font-weight:bold;}
a.blueb14c:active {text-decoration: none;color: #0067CF;font-size:14px;font-weight:bold;}

a.blueb14d:link {text-decoration: none;color: #005596;font-size:14px;font-weight:bold;}
a.blueb14d:visited {text-decoration: none;color: #005596;font-size:14px;font-weight:bold;}
a.blueb14d:hover {text-decoration: underline;color: #005596;font-size:14px;font-weight:bold;}
a.blueb14d:active {text-decoration: none;color: #005596;font-size:14px;font-weight:bold;}

a.blueb14g:link {text-decoration: none;color: #007DFE;font-size:14px;font-weight:bold;}
a.blueb14g:visited {text-decoration: none;color: #007DFE;font-size:14px;font-weight:bold;}
a.blueb14g:hover {text-decoration: underline;color: #007DFE;font-size:14px;font-weight:bold;}
a.blueb14g:active {text-decoration: none;color: #007DFE;font-size:14px;font-weight:bold;}

a.blue14f:link {text-decoration: none;color: #005C9F;font-size:14px;}
a.blue14f:visited {text-decoration: none;color: #005C9F;font-size:14px;}
a.blue14f:hover {text-decoration: underline;color: #005C9F;font-size:14px;}
a.blue14f:active {text-decoration: none;color: #005C9F;font-size:14px;}

a.blueb14f:link {text-decoration: none;color: #11A3BC;font-size:14px;font-weight: bold;}
a.blueb14f:visited {text-decoration: none;color: #11A3BC;font-size:14px;font-weight: bold;}
a.blueb14f:hover {text-decoration: underline;color: #11A3BC;font-size:14px;font-weight: bold;}
a.blueb14f:active {text-decoration: none;color: #11A3BC;font-size:14px;font-weight: bold;}

a.blueb14h:link {text-decoration: none;color: #258CF5;font-size:14px;font-weight: bold;}
a.blueb14h:visited {text-decoration: none;color: #258CF5;font-size:14px;font-weight: bold;}
a.blueb14h:hover {text-decoration: underline;color: #258CF5;font-size:14px;font-weight: bold;}
a.blueb14h:active {text-decoration: none;color: #258CF5;font-size:14px;font-weight: bold;}

a.blueb14i:link {text-decoration: none;color: #294c9c;font-size:14px;font-weight: bold;}
a.blueb14i:visited {text-decoration: none;color: #294c9c;font-size:14px;font-weight: bold;}
a.blueb14i:hover {text-decoration: underline;color: #294c9c;font-size:14px;font-weight: bold;}
a.blueb14i:active {text-decoration: none;color: #294c9c;font-size:14px;font-weight: bold;}

a.blueb14u:link {text-decoration: none;color: #294c9c;font-size:14px;font-weight:bold;}
a.blueb14u:visited {text-decoration: none;color: #294c9c;font-size:14px;font-weight:bold;}
a.blueb14u:hover {text-decoration: underline;color: #294c9c;font-size:14px;font-weight:bold;}
a.blueb14u:active {text-decoration: none;color: #294c9c;font-size:14px;font-weight:bold;}

a.blueb14u1:link {text-decoration: none;color: #0094aa;font-size:14px;font-weight:bold;}
a.blueb14u1:visited {text-decoration: none;color: #0094aa;font-size:14px;font-weight:bold;}
a.blueb14u1:hover {text-decoration: underline;color: #0094aa;font-size:14px;font-weight:bold;}
a.blueb14u1:active {text-decoration: none;color: #0094aa;font-size:14px;font-weight:bold;}

a.blue16b:link {text-decoration: none;color: #0A4588;font-size:16px;}
a.blue16b:visited {text-decoration: none;color: #0A4588;font-size:16px;}
a.blue16b:hover {text-decoration: none;color: #0A4588;font-size:16px;}

a.blueb16u:link {text-decoration: none;color: #294c9c;font-size:16px;font-weight:bold;}
a.blueb16u:visited {text-decoration: none;color: #294c9c;font-size:16px;font-weight:bold;}
a.blueb16u:hover {text-decoration: underline;color: #294c9c;font-size:16px;font-weight:bold;}
a.blueb16u:active {text-decoration: none;color: #294c9c;font-size:16px;font-weight:bold;}

a.blueb16u1:link {text-decoration: none;color: #0094aa;font-size:16px;font-weight:bold;}
a.blueb16u1:visited {text-decoration: none;color: #0094aa;font-size:16px;font-weight:bold;}
a.blueb16u1:hover {text-decoration: underline;color: #0094aa;font-size:16px;font-weight:bold;}
a.blueb16u1:active {text-decoration: none;color: #0094aa;font-size:16px;font-weight:bold;}

a.blueb18b:link {text-decoration: none;color: #0066CE;font-size:18px;font-family:"黑体";}
a.blueb18b:visited {text-decoration: none;color: #0066CE;font-size:18px;font-family:"黑体";}
a.blueb18b:hover {text-decoration: underline;color: #0066CE;font-size:18px;font-family:"黑体";}
a.blueb18b:active {text-decoration: none;color: #0066CE;font-size:18px;font-family:"黑体";}

a.blueb18c:link {text-decoration: none;color: #005596;font-size:18px;font-family:"黑体";}
a.blueb18c:visited {text-decoration: none;color: #005596;font-size:18px;font-family:"黑体";}
a.blueb18c:hover {text-decoration: underline;color: #005596;font-size:18px;font-family:"黑体";}
a.blueb18c:active {text-decoration: none;color: #005596;font-size:18px;font-family:"黑体";}

a.blueb18d:link {text-decoration: none;color: #0071E5;font-size:18px;font-family:"黑体";}
a.blueb18d:visited {text-decoration: none;color: #0071E5;font-size:18px;font-family:"黑体";}
a.blueb18d:hover {text-decoration: underline;color: #0071E5;font-size:18px;font-family:"黑体";}
a.blueb18d:active {text-decoration: none;color: #0071E5;font-size:18px;font-family:"黑体";}

a.blueb18e:link {text-decoration: none;color: #008DA5;font-size:18px;font-family:"黑体";}
a.blueb18e:visited {text-decoration: none;color: #008DA5;font-size:18px;font-family:"黑体";}
a.blueb18e:hover {text-decoration: underline;color: #008DA5;font-size:18px;font-family:"黑体";}
a.blueb18e:active {text-decoration: none;color: #008DA5;font-size:18px;font-family:"黑体";}

a.blueb18f:link {text-decoration: none;color: #258CF5;font-size:18px;font-family:"黑体";}
a.blueb18f:visited {text-decoration: none;color: #258CF5;font-size:18px;font-family:"黑体";}
a.blueb18f:hover {text-decoration: underline;color: #258CF5;font-size:18px;font-family:"黑体";}
a.blueb18f:active {text-decoration: none;color: #258CF5;font-size:18px;font-family:"黑体";}

a.blueb18g:link {text-decoration: none;color: #294c9c;font-size:18px;font-family:"黑体";}
a.blueb18g:visited {text-decoration: none;color: #294c9c;font-size:18px;font-family:"黑体";}
a.blueb18g:hover {text-decoration: underline;color: #294c9c;font-size:18px;font-family:"黑体";}
a.blueb18g:active {text-decoration: none;color: #294c9c;font-size:18px;font-family:"黑体";}

a.blueb20c:link {text-decoration: none;color: #005596;font-size:20px;font-weight:bold;}
a.blueb20c:visited {text-decoration: none;color: #005596;font-size:20px;font-weight:bold;}
a.blueb20c:hover {text-decoration: underline;color: #005596;font-size:20px;font-weight:bold;}
a.blueb20c:active {text-decoration: none;color: #005596;font-size:20px;font-weight:bold;}

a.lightblueb14:link {text-decoration: none;font-size:14px;font-weight:bold;color:#294C9C;}
a.lightblueb14:visited {text-decoration: none;font-size:14px;font-weight:bold;color:#294C9C;}
a.lightblueb14:hover {text-decoration: underline;font-size:14px;font-weight:bold;color:#294C9C;}
a.lightblueb14:active {text-decoration: none;font-size:14px;font-weight:bold;color:#294C9C;}

a.red12:link {text-decoration: none;color: #d7181f;font-size:12px;}
a.red12:visited {text-decoration: none;color: #d7181f;font-size:12px;}
a.red12:hover {text-decoration: none;color: #d7181f;font-size:12px;}

a.red12a:link {text-decoration: none;color: #e11b22;font-size:12px;}
a.red12a:visited {text-decoration: none;color: #e11b22;font-size:12px;}
a.red12a:hover {text-decoration: none;color: #e11b22;font-size:12px;}

a.red12b:link {text-decoration: none;color: #780000;font-size:12px;}
a.red12b:visited {text-decoration: none;color: #780000;font-size:12px;}
a.red12b:hover {text-decoration: none;color: #780000;font-size:12px;}

a.red12u:link {text-decoration: none;color: #df0600;font-size:12px;}
a.red12u:visited {text-decoration: none;color: #df0600;font-size:12px;}
a.red12u:hover {text-decoration: underline;color: #df0600;font-size:12px;}
a.red12u:active {text-decoration: none;color: #df0600;font-size:12px;}

a.redb12:link {text-decoration: none;color: #f00;font-size:12px;font-weight:bold;}
a.redb12:visited {text-decoration: none;color: #f00;font-size:12px;font-weight:bold;}
a.redb12:hover {text-decoration: none;color: #f00;font-size:12px;font-weight:bold;}

a.redb12a:link {text-decoration: none;color: #e11b22;font-size:12px;font-weight:bold;}
a.redb12a:visited {text-decoration: none;color: #e11b22;font-size:12px;font-weight:bold;}
a.redb12a:hover {text-decoration: none;color: #e11b22;font-size:12px;font-weight:bold;}

a.redu12:link {text-decoration: underline;color: #d7181f;font-size:12px;}
a.redu12:visited {text-decoration: underline;color: #d7181f;font-size:12px;}
a.redu12:hover {text-decoration: underline;color: #d7181f;font-size:12px;}

a.red14:link {text-decoration: none;color: #d7181f;font-size:14px;}
a.red14:visited {text-decoration: none;color: #d7181f;font-size:14px;}
a.red14:hover {text-decoration: none;color: #d7181f;font-size:14px;}

a.red14a:link {text-decoration: none;color: #780000;font-size:14px;}
a.red14a:visited {text-decoration: none;color: #780000;font-size:14px;}
a.red14a:hover {text-decoration: none;color: #780000;font-size:14px;}

a.red14b:link {text-decoration: none;color: #e11b22;font-size:14px;}
a.red14b:visited {text-decoration: none;color: #e11b22;font-size:14px;}
a.red14b:hover {text-decoration: none;color: #e11b22;font-size:14px;}

a.redb14:link {text-decoration: none;color: #e11b22;font-size:14px;font-weight:bold;}
a.redb14:visited {text-decoration: none;color: #e11b22;font-size:14px;font-weight:bold;}
a.redb14:hover {text-decoration: none;color: #e11b22;font-size:14px;font-weight:bold;}

a.redbb14:link {text-decoration: none;color: #df0600;font-size:14px;font-weight:bold;}
a.redbb14:visited {text-decoration: none;color: #df0600;font-size:14px;font-weight:bold;}
a.redbb14:hover {text-decoration: none;color: #df0600;font-size:14px;font-weight:bold;}

a.redb14a:link {text-decoration: none;color: #780000;font-size:14px;font-weight:bold;}
a.redb14a:visited {text-decoration: none;color: #780000;font-size:14px;font-weight:bold;}
a.redb14a:hover {text-decoration: none;color: #780000;font-size:14px;font-weight:bold;}

a.red14u:link {text-decoration: none;color: #d7181f;font-size:14px;}
a.red14u:visited {text-decoration: none;color: #d7181f;font-size:14px;}
a.red14u:hover {text-decoration: underline;color: #d7181f;font-size:14px;}
a.red14u:active {text-decoration: none;color: #d7181f;font-size:14px;}

a.red14au:link {text-decoration: none;color: #780609;font-size:14px;}
a.red14au:visited {text-decoration: none;color: #780609;font-size:14px;}
a.red14au:hover {text-decoration: underline;color: #780609;font-size:14px;}
a.red14au:active {text-decoration: none;color: #780609;font-size:14px;}

a.redb14u:link {text-decoration: none;color: #d7181f;font-size:14px;font-weight:bold;}
a.redb14u:visited {text-decoration: none;color: #d7181f;font-size:14px;font-weight:bold;}
a.redb14u:hover {text-decoration: underline;color: #d7181f;font-size:14px;font-weight:bold;}
a.redb14u:active {text-decoration: none;color: #d7181f;font-size:14px;font-weight:bold;}

a.redbb14u:link {text-decoration: none;color: #df0600;font-size:14px;font-weight:bold;}
a.redbb14u:visited {text-decoration: none;color: #df0600;font-size:14px;font-weight:bold;}
a.redbb14u:hover {text-decoration: underline;color: #df0600;font-size:14px;font-weight:bold;}
a.redbb14u:active {text-decoration: none;color: #df0600;font-size:14px;font-weight:bold;}

a.yellow12:link {text-decoration: none;color: #4a3726;font-size:12px;}
a.yellow12:visited {text-decoration: none;color: #4a3726;font-size:12px;}
a.yellow12:hover {text-decoration: none;color: #4a3726;font-size:12px;}

a.yellow12a:link {text-decoration: none;color: #fc9a00;font-size:12px;}
a.yellow12a:visited {text-decoration: none;color: #fc9a00;font-size:12px;}
a.yellow12a:hover {text-decoration: none;color: #fc9a00;font-size:12px;}

a.black12:link {text-decoration: none;color: #000;font-size:12px;}
a.black12:visited {text-decoration: none;color: #000;font-size:12px;}
a.black12:hover {text-decoration: none;color: #000;font-size:12px;}

a.black12u:link {text-decoration: none;color: #000;font-size:12px;}
a.black12u:visited {text-decoration: none;color: #000;font-size:12px;}
a.black12u:hover {text-decoration: underline;color: #000;font-size:12px;}

a.blackb12:link {text-decoration: none;color: #000;font-size:12px;font-weight:bold;}
a.blackb12:visited {text-decoration: none;color: #000;font-size:12px;font-weight:bold;}
a.blackb12:hover {text-decoration: none;color: #000;font-size:12px;font-weight:bold;}

a.black14:link {text-decoration: none;color: #000;font-size:14px;}
a.black14:visited {text-decoration: underline;color: #000;font-size:14px;}
a.black14:hover {text-decoration: none;color: #000;font-size:14px;}

a.purple14b:link {text-decoration: none;color: #830356;font-size:14px;}
a.purple14b:visited {text-decoration: none;color: #830356;font-size:14px;}
a.purple14b:hover {text-decoration: none;color: #830356;font-size:14px;}

a.purpleb14u:link {text-decoration: none;color: #421d48;font-size:14px;font-weight:bold;}
a.purpleb14u:visited {text-decoration: none;color: #421d48;font-size:14px;font-weight:bold;}
a.purpleb14u:hover {text-decoration: underline;color: #421d48;font-size:14px;font-weight:bold;}
a.purpleb14u:active {text-decoration: none;color: #421d48;font-size:14px;font-weight:bold;}

a.yellow14b:link {text-decoration: none;color: #FFFF00;font-size:14px;}
a.yellow14b:visited {text-decoration: none;color: #FFFF00;font-size:14px;}
a.yellow14b:hover {text-decoration: none;color: #FFFF00;font-size:14px;}

a.yellow14c:link {text-decoration: none;color: #ffa800;font-size:14px;}
a.yellow14c:visited {text-decoration: none;color: #ffa800;font-size:14px;}
a.yellow14c:hover {text-decoration: none;color: #ffa800;font-size:14px;}

a.yellowb14u:link {text-decoration: none;color: #d73d00;font-size:14px;font-weight:bold;}
a.yellowb14u:visited {text-decoration: none;color: #d73d00;font-size:14px;font-weight:bold;}
a.yellowb14u:hover {text-decoration: underline;color: #d73d00;font-size:14px;font-weight:bold;}
a.yellowb14u:active {text-decoration: none;color: #d73d00;font-size:14px;font-weight:bold;}

a.yellowb16u:link {text-decoration: none;color: #d73d00;font-size:16px;font-weight:bold;}
a.yellowb16u:visited {text-decoration: none;color: #d73d00;font-size:16px;font-weight:bold;}
a.yellowb16u:hover {text-decoration: underline;color: #d73d00;font-size:16px;font-weight:bold;}
a.yellowb16u:active {text-decoration: none;color: #d73d00;font-size:16px;font-weight:bold;}

.white12 {color: #fff;font-size:12px;}
.white12t2 {color: #fff;font-size:12px;letter-spacing:2px;}
.whiteb12 {color: #fff;font-size:12px;font-weight:bold;}
.whiteb14 {color: #fff;font-size:14px;font-weight:bold;}
.greyb14 {color: #444;font-size:14px;font-weight:bold;}
.whiteb18t2 {color: #fff;font-size:18px;font-family:"黑体";letter-spacing:2px;}
.grey12 {color: #444;font-size:12px;}
.grey12f {color: #444;font-size:12px;}
.grey12g {color: #777;font-size:12px;}
.grey12h {color: #555;font-size:12px;}
.grey12j {color: #9A9A9A;font-size:12px;}
.grey14 {color: #444;font-size:14px;}
.grey14f {color: #444;font-size:14px;}
.grey12a {color: #1b1b1b;font-size:12px;}
.grey12b {color: #707070;font-size:12px;}
.grey12c {color: #9e9e9e;font-size:12px;}
.grey12d {color: #5a5a5a;font-size:12px;}
.greyb12 {color: #444;font-size:12px;font-weight:bold;}
.greyb14 {color: #444;font-size:14px;font-weight:bold;}
.greyb14g {color: #777;font-size:14px;font-weight:bold;}
.greyb18 {color: #444;font-size:18px;font-family:"黑体";}
.greyb12u {text-decoration: none;color: #444;font-size:12px;font-weight:bold;}
.red12 {color: #d7181f;font-size:12px;}
.red12a {color: #e11b22;font-size:12px;}
.red12b {color: #780000;font-size:12px;}
.red12c {color: #ff0000;font-size:12px;}
.redb12a {color: #e11b22;font-size:12px;font-weight:bold;}
.redb14 {color: #e11b22;font-size:14px;font-weight:bold;}
.redb14a {color: #780000;font-size:14px;font-weight:bold;}
.red14 {color: #d7181f;font-size:14px;}
.purple14b {color: #830356;font-size:14px;font-weight: bold;}
.yellow12 {color:#4a3726;font-size:12px;}
.yellow14b {color:#FFFF00;font-size:14px;font-weight: bold;}
.yellow14c {color:#ffa800;font-size:14px;font-weight: bold;}
.black12 {color: #000;font-size:12px;}
.black14 {color: #000;font-size:14px;}
.blackb14 {color: #000;font-size:14px;font-weight: bold;}
.blackb26 {color: #000;font-size:26px;}
.blue12 {color: #294c9c;font-size:12px;}
.blueb12 {color: #00b0ca;font-size:12px;font-weight:bold;}
.blue12b {color: #0A4588;font-size:12px;font-weight: bold;}
.blueb12u2 {color: #0B5ABB;font-size:12px;font-weight:bold;}
.blueb20u2 {text-decoration: none;color: #0B5ABB;font-size:20px;font-family:"黑体";}
.blueb14c {color: #0067CF;font-size:14px;font-weight:bold;}
.blue12c {color: #0067CF;font-size:12px;}
.blue12d{color:#00b0ca;font-size:12px;}
.blue12e {color: #005596;font-size:12px;}
.blue12g {color: #11A3BC;font-size:12px;}
.blue14b {color: #0A4588;font-size:14px;font-weight: bold;}
.blue14f {color: #005C9F;font-size:14px;}
.blueb14f {color: #11A3BC;font-size:14px;font-weight: bold;}
.blueb14h {color: #258CF5;font-size:14px;font-weight: bold;}
.blue12f {color: #005C9F;font-size:12px;}
.blue16b {color: #0A4588;font-size:16px;font-weight: bold;}
.blueb18b {color: #0066CE;font-size:18px;font-family:"黑体";}
.blueb18c {color: #005596;font-size:18px;font-family:"黑体";}
.blueb18d {color: #0071E5;font-size:18px;font-family:"黑体";}
.blueb18e {color: #008DA5;font-size:18px;font-family:"黑体";}
.blueb18f {color: #258CF5;font-size:18px;font-family:"黑体";}
.blueb18g {color: #294c9c;font-size:18px;font-family:"黑体";}
.blueb20c {color: #005596;font-size:20px;font-weight:bold;}
.blueb20{font-size:20px;font-weight:bold;color:#008497;}
.blueb14e {color: #0094aa;font-size:14px;font-weight:bold;}
.blueb14d{font-size: 14px;font-weight: bold;color: #005596;}
.blueb14g{color: #007DFE;font-size:14px;font-weight:bold;}
.lightblueb14{font-size:14px;font-weight:bold;color:#294C9C;}

.ping{margin-left:3px;background:url('p.gif') no-repeat;font-size:12px;color:#fff;padding:1px 2px 0 2px;}

/*微博博客*/
a.wbbk:link {text-decoration: none;color: #444;font-size:14px;}
a.wbbk:visited {text-decoration: none;color: #444;font-size:14px;}
a.wbbk:hover {text-decoration: none;color: #444;font-size:14px;}
/*微博博客*/
