/* È«¾Ö */
*{padding:0;margin:0}
body{padding:0;margin:0;text-align:left; font-size:12px; background:#f3f3f3;}
div,p,img,span,form,table,td,input{border:none;margin:0;padding:0}

.fl{float:left}
.fr{float:right}
.fc{text-align:center}


ul li{list-style:none}

a {
    text-decoration: none;
    cursor:pointer;
  }
a:link{text-decoration:none;}
a:visited{text-decoration:none}
a:active{text-decoration:none}
a:hover{text-decoration:none !important}
  .clear:after{
    display: block;
    content:'';
    clear:both;
  }
  .clear{
    *zoom:1;
  }

  .ma{
    margin:0 auto;
  }



.grey12{ font-size:12px; color:#444444;}
.lh22{ line-height:22px;}
#nav a.letter1 {letter-spacing:0px;}
#nav{width:960px;padding:11px 0 10px 0;margin:0 auto;background-color:#fff;overflow:hidden;text-align:center}
#nav .shu {	PADDING-RIGHT: 4px;	PADDING-LEFT: 4px;	PADDING-BOTTOM: 0px;	PADDING-TOP: 0px}
#nav .shu2 {	PADDING-RIGHT: 3px;	PADDING-LEFT: 3px;	PADDING-BOTTOM: 0px;	PADDING-TOP: 0px}
#header {
	WIDTH: 960px;
	MARGIN-LEFT: auto;
	OVERFLOW: hidden;
	MARGIN-RIGHT: auto;
	text-align: left;
}
#area_banner{
	width:960px;
	clear:both;
	overflow:hidden;
	text-align:left;
}
#area_banner .banner1{
	height: 90px;
	width: 630px;
	float: left;
	margin-right: 20px;
}
#area_banner .banner2{
	height: 90px;
	width: 145px;
	float: left;
	margin-right: 20px;
}
#area_banner .banner3{
	height: 90px;
	width: 145px;
	float: left;
}
#footers {
  width: 100%;
  height: 100px;
  color: #666;
  line-height: 30px;
  text-align: center;
  border-top: 6px #b81506 solid;
  background-image: url('http://news.eastday.com/images/2013xwzx/footbj.gif');
  padding: 20px 0 0 0;
}
.grey12b {
  color: #707070;
  font-size: 12px;
}
a.grey12b:visited {
  text-decoration: none;
  color: #707070;
  font-size: 12px;
}
a.grey12b:link {
  text-decoration: none;
  color: #707070;
  font-size: 12px;
}

.main{ width:960px; overflow:hidden; margin:0 auto;}
.text1{ padding-top:35px; overflow:hidden;}

.top1{
	width:100%;
	height:auto;
	background: #fff;
	padding-bottom: 10px;
}
.nav2{
	width:100%;
	position: relative;
	height:69px;
	z-index: 1;
	background:#fff url(bg_27.png) bottom repeat-x;
	
}

.nav3{
	width:1000px;
	height:69px;
	background: url(bg_1000.png) no-repeat;
   position: absolute;top:0;left:50%;
   margin-left: -500px;
   z-index: 999;
}

.nav3 ul{
	padding:20px 13px 0px 13px;
	width:982px;
	overflow: hidden;
}

.nav3 ul li{
	padding:0px 19px;
	float:left;
	background: url(line_3.png) right no-repeat;
}

.nav3 ul li a{
	text-align: center;
	font:18px/21px "Î¢ÈíÑÅºÚ";
	color:#fff;

}

.nav4{
	width:954px;
	padding:11px 20px 11px 26px;
}

.nav4 ul{
	width:100%;
	overflow: hidden;
}

.nav4 ul li{
	float:left;
	overflow: hidden;
	padding-right: 10px;
	background: url(line_1.png) right 11px no-repeat;
}

.nav4 ul li p{
	font:12px/27px "Î¢ÈíÑÅºÚ";
	color:#333333;
	float:left;
}

.nav4 ul li p span{
	padding-left: 5px;
	font-weight: bold;
}

.nav4 ul li p span#riqi{
	padding-left: 0px;
	font-weight: normal;
}

.nav4 ul li img{
	width:14px;
	height:13px;
	display: block;
	float:left;
	margin:8px 20px 0px 10px;
}

.nav4 ul li p.air{
	width:59px;
	height:15px;
	background: #df0a14;
	text-align: center;
	font:12px/15px "Î¢ÈíÑÅºÚ";
	color:#fff;
	margin-top: 5px;
}

/*½ñÈÕ¹Ø×¢*/
		.txtMarquee-top{ width:325px;  overflow:hidden; position:relative;     }
		.txtMarquee-top .hd{ overflow:hidden; width:20px;padding:5px 0px;height:17px;}
		.txtMarquee-top .hd .prev,.txtMarquee-top .hd .next{ display:block;  width:20px; height:8px; overflow:hidden;
			 cursor:pointer; background:url("arrow2_8.png") center no-repeat;}
		.txtMarquee-top .hd .next{ background:url("arrow1_8.png") center no-repeat;  }
		.txtMarquee-top .hd .prevStop{ background-position:-60px -100px;  }
		.txtMarquee-top .hd .nextStop{ background-position:-60px -140px;  }
		.txtMarquee-top .bd{ width:302px; } 
		.txtMarquee-top .infoList{height:27px;overflow:hidden;}
		.txtMarquee-top .infoList li{ height:22px; line-height:22px;background:none;  }
		.txtMarquee-top .infoList li a{color:#000;display: block;}
		.txtMarquee-top .infoList li .date{ float:right; color:#999;  }

.search{
	width:172px;
	height:auto;
}

.search input{
	padding-left: 8px;
	width:128px;
	border:1px solid #b0b0b0;
	background: #fff;
	font:12px/25px "Î¢ÈíÑÅºÚ";
	color:#b4b4b4;
	float:left;
	display: block;
}

.search a{
	width:27px;
	height:27px;
	display: block;
	float:left;
	background: url(fangdajing_18.png) center no-repeat;
}

/* ÂÖ²¥Í¼ */
.lunbo{
	padding:0px 0px 12px 26px;
	width:974px;
	height:auto;
}

.slideBox3{ width:969px; height:122px; overflow:hidden; position:relative;}
.slideBox3 .hd{width:19px; height:75px; overflow:hidden; position:absolute; right:0px; top:0px; z-index:1; }
.slideBox3 .hd ul{ overflow:hidden; zoom:1;   }
.slideBox3 .hd ul li{  margin-bottom:6px; width:19px; height:19px; line-height:19px; text-align:center; background:#cccccc; cursor:pointer;color:#fff; }
.slideBox3 .hd ul li.on{ background:#6ca108; color:#fff; }
.slideBox3 .bd{  width:945px; height:122px; z-index:0;   }
.slideBox3 .bd li{ zoom:1; vertical-align:middle; }

.slideBox3 .bd img{ width:945px; height:122px; display:block; }

.slideBox3 span{
	width:37px;
	height:24px;
	text-align: center;
	font:12px/24px "Î¢ÈíÑÅºÚ";
	color:#333333;
	display: block;
	position: absolute;top:0px;right:24px;
	z-index: 9999;
	cursor: pointer;
}



.content1{
	width:1000px;
	height:auto;
	margin-bottom: 12px;
}

.content1left{
	padding:6px 25px 17px 8px;
	width:336px;
	background: #fff url(bg_16.png) right no-repeat; 
}

.news{
	width:334px;
	height:222px;
	border:1px solid #cfcfcf;
	position: relative;
}

.news h2{
	padding-left: 11px;
	width:323px;
	font:16px/29px "Î¢ÈíÑÅºÚ";
	color:#fff;
	background: url(bg_2.png) repeat-x;
	position: absolute;left:0px;bottom:0px;
}

.news span{
	width:60px;
	height:60px;
	display: block;
	background: url(new_60.png) no-repeat;
	position: absolute;top:-3px;left:-3px;
}


.news2{
	padding:16px 14px 0px 11px;
	width:311px;
	font:14px/23px "Î¢ÈíÑÅºÚ";
	color:#333333;
	text-indent: 2em;
}

.news2 span{
	color:#a30005;
}

.news2 span a{
	color:#a30005;
}

.content1center{
	padding:9px 33px 14px 3px;
	width:339px;
	height:auto;
	background:#fff url(bg_16.png) right no-repeat;
}

.news4{
	padding-left: 8px;
	width:88px;
	border-left:2px solid #629305;
	font:bold 20px/20px "Î¢ÈíÑÅºÚ";
	color:#629305;
	margin-right: 5px;
	
}

.news5{
	width:236px;
	height:18px;
	background: url(bg_8.png) repeat-x;
	position: relative;
	margin-top: 3px;
}

.more{
	width:8px;
	height:8px;
	display: block;
	background: url(jia_8.png) no-repeat;
	position: absolute;top:5px;right:5px;
}

.news6{
	padding:17px 0px 9px 0px;
	border-bottom: 1px solid #cccccc;
}

.news7{
	width:339px;
	padding-bottom: 10px;
}

.news7 img{
	width:178px;
	height:119px;
	display: block;
	float:left;
	margin-right: 12px;
}

.news8{
	width:149px;
	position: relative;
    height:119px;
}

.news8 h2{
	width:100%;
	font:bold 16px/22px "Î¢ÈíÑÅºÚ";
	color:#59820a;
	position: relative;
	
}

.news8 h2 span{
	width:23px;
	height:9px;
	display: block;
	position: absolute;right:8px;bottom:6px;
	background: url(new_23.png) no-repeat;
}

.news8 h2 a{
	color:#59820a;
}

.news8 p{
	width:85px;
	height:18px;
	text-align: center;
	font:14px/18px "Î¢ÈíÑÅºÚ";
	background: #ccd2dc;
	color:#fff;
	position: absolute;left:0px;bottom:0px;
}

.news9{
	width:100%;
	font:14px/23px "Î¢ÈíÑÅºÚ";
	color:#333333;
}

.news9 a{
	color:#a30005;
}

.news10{
	padding-top: 17px;
}

.news10 li{
	width:100%;
	height:auto;
	background: url(dot_6.png) left 11px no-repeat;
}

.news10 li a{
	padding-left: 12px;
	width:327px;
	font:14px/27px "Î¢ÈíÑÅºÚ";
	color:#333333;
	 overflow:hidden; 
	 white-space:nowrap; 
	 text-overflow: ellipsis;
	 display: block;
}

.content1right{
	padding:9px 9px 14px 3px;
	width:244px;
	background: #fff;

}

.content1right img{
	width:242px;
	height:93px;
	display: block;
	border-radius: 8px;
	border:1px solid #cccccc;
}

.pingtai{
	padding-top: 7px;
}

.pingtai li{
	border-bottom: 1px solid #e8e8e8;
    padding:18px 0px;
}

.pingtai li p{
	padding-left: 55px;
	width:185px;
	font:16px/16px "Î¢ÈíÑÅºÚ";
	color:#333333;
	display: block;
}

.pingtai li span{
	padding-left: 55px;
	width:185px;
	font:14px/14px "Î¢ÈíÑÅºÚ";
	color:#999999;
	display: block;
}

.pingtai li.icon1{
	background: url(icon2_31.png) 14px 14px no-repeat;
	padding:14px 0px;
}



.pingtai li.icon2{
	background: url(icon3_31.png) 14px 9px no-repeat;
	padding:14px 0px;
}

.pingtai li.icon3{
	background: url(icon1_31.png) 14px 19px no-repeat;
}

.pingtai li.icon4{
	background: url(icon4_31.png) 14px 10px no-repeat;
}


.pingtai li.icon5{
	background: url(icon5_31.png) 14px 10px no-repeat;
}

.pingtai li.icon1 p,.pingtai li.icon3 p{
  margin-bottom: 6px;
}

.content2left{
	padding:11px 37px 0px 13px;
	width:695px;
	height:auto;
	background:#fff;
}

.picScroll-left{
  padding-top:10px;
  padding-bottom: 9px;
  width:695px;
   overflow: hidden;
   position:relative;
    height:121px;
}

.picScroll-left .next,.picScroll-left .prev{
  display:block;
  width:34px;
  height:34px;
  overflow:hidden;
  cursor:pointer;
  position:absolute;
  top:49px;
}

.prev{
  background: url(jiantou2_34.png) no-repeat;
  right:0px;
  
   z-index: 80;  
}

.next{
  background: url(jiantou1_34.png) no-repeat;
   left:0px; 
  z-index: 80; 
}

.picScroll-left .bd{
   width:608px;
  position: absolute;left:49px;top:10px;
  height:121px;
}


.picScroll-left .bd ul li{
 margin:0 10px;
  float:left;
  overflow: hidden;
  width:178px;
  height:119px;
}


.picScroll-left .bd ul li .pic{
  padding:0px;
  border:1px solid #cfcfcf;
  width:178px;
  height:119px;
}

.picScroll-left .bd ul li .pic img{
  width:178px;
  height:119px;
  display: block;
  position: absolute;
  z-index:1;
}

.picScroll-left .bd ul li .pic p{
	font:14px/29px "Î¢ÈíÑÅºÚ";
	color:#fff;
	text-align: center;
	  background:url(bg_2.png) repeat-x;
padding:0px 12px;
  position: absolute;
  z-index: 2;
  bottom:0;
    width: 154px;
}

.renwu2{
	padding-bottom: 20px;
	overflow: hidden;
}

.renwu2 li{
	width:345px;
	float:left;
	background: url(dot_6.png) 7px 12px no-repeat;
}


.renwu2 li a{
	padding-left: 20px;
	width:300px;
	font:14px/30px "Î¢ÈíÑÅºÚ";
	color:#333333;
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow: ellipsis;
	display: block;
}

h2.huodong{
	width:100%;
	font:bold 20px/47px "Î¢ÈíÑÅºÚ";
	color:#fff;
	text-align: center;
	position: relative;
	margin-bottom: 15px;
	background: url(bg_695.png) no-repeat;
}

.more2{
	width:8px;
	height:8px;
	display: block;
	background: url(jia2_8.png) no-repeat;
	position: absolute;top:18px;right:282px;
}

.huodong2{
	width:100%;
	height:auto;
}

.huodong3{
	width:377px;
	height:auto;
	overflow: hidden;
}

.huodong3 li{
	width:178px;
	height:119px;
	float:left;
	border:1px solid #cfcfcf;
	margin-bottom: 8px;
	margin-right: 8px;
	position: relative;
}

.huodong3 li img{
   width:178px;
	height:119px;
	display: block;
	position: absolute;
	z-index: 1;
}

.huodong3 li p{
	text-align: center;
	font:14px/29px "Î¢ÈíÑÅºÚ";
	color:#fff;
	position: absolute;bottom:0px;left:0px;
	z-index: 2222;
	text-align: center;
	width:178px;
	background: url(bg_2.png) repeat-x;
}

.huodong4{
	padding:9px 0px 8px 10px;
	width:308px;
	height:auto;
}

.huodong4 li{
	background: url(dot_6.png) 0px 11px no-repeat;
}

.huodong4 li a{
	padding-left: 12px;
	width:296px;
	font:14px/29px "Î¢ÈíÑÅºÚ";
	color:#333333;
	display: block;
	overflow:hidden; 
	 white-space:nowrap; 
	 text-overflow: ellipsis;
	 display: block;
}

.content2right{
	padding:11px 14px 20px 4px;
	*padding:11px 14px 29px 4px;
	width:237px;
	height:auto;
	background: #fff;
}

.news11{
	width:100%;
	height:auto;
}

.news11 li{
   
    color:#333333;
    overflow: hidden;
}

.news11 li a{
	 font:14px/30px "Î¢ÈíÑÅºÚ";
	  *font:14px/25px "Î¢ÈíÑÅºÚ";
	display: block;
	width:100%;
	color:#333333;
}



.news11 li span{
   color:#990000;
   display: block;
   float:left;
   width:35px;
   background: url(line2_1.png) right 10px no-repeat;
}




.news11 li p{
	padding-left: 8px;
	width:193px;
	float:left;
	 overflow:hidden; 
	 white-space:nowrap; 
	 text-overflow: ellipsis;
	 display: block;
}


 .news11 li span p{
            padding:0px;
            width:auto;
            float:none;
          }

.content3{
	padding:17px 12px 8px 12px;
	width:946px;
	height:auto;
	position: relative;
}

.slideBox{ padding:0px 9px;width:875px;  height:auto;margin:0 auto;overflow:hidden;}
/* .slideBox .hd{ height:auto; overflow:hidden; position:absolute; right:42%; bottom:0px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1;}
.slideBox .hd ul li{ float:left;border-radius:50%; margin-right:13px; width:14px; height:14px;  background:#cccccc; cursor:pointer; }
.slideBox .hd ul li.on{ background:#ff765e;} */
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle;overflow: hidden; }
/* .slideBox .bd img{ width:220px; height:80px; display:block;  } */
.slideBox .prev,
.slideBox .next{ position:absolute; left:0%; top:45%;  display:block; width:34px; height:34px;   }
.slideBox .prev{background:url(jiantou1_34.png) no-repeat;}
.slideBox .next{ left:auto; right:0%; background:url(jiantou2_34.png) no-repeat; }
/* .slideBox .prev:hover{
			background:url(../images/jiantou11_35.png) no-repeat;
		}
.slideBox .next:hover{
			background:url(../images/jiantou22_35.png) no-repeat;
		} */
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }

.school{
   width:284px;
   height:160px;
   margin-right: 11px;
   margin-bottom:10px;
   overflow: hidden;
}

.school img{
	width:160px;
	height:160px;
	display: block;
	float:left;
	margin-right: 1px;
}

.school2{
	width:85px;
	padding:14px 19px 22px;
    height:124px;
    background: #a0c954;
}

.school2 h2{
	width:100%;
	font:17px/20px "Î¢ÈíÑÅºÚ";
	color:#fff;
	margin-bottom: 20px;
}


.school2 p{
	width:100%;
	font:12px/19px "Î¢ÈíÑÅºÚ";
	color:#fff;
	margin-bottom: 8px;
}

.more3{
	padding-left: 22px;
	width:63px;
	font:12px/15px "Î¢ÈíÑÅºÚ";
	color:#fff;
	background: url(jiantou2_15.png)  no-repeat;
}

.content4{
	width:1000px;
	height:auto;
	margin-bottom: 11px;
}

.content4left{
	width:728px;
	padding:13px 20px 0px 0px;
	background:#fff url(bg_20.png) right no-repeat;
}

.jizhe{
	padding:0px 20px 7px 13px;
	width:695px;
	height:auto;
}

.jizhe2{
	border-top:1px solid #cccccc;
	padding:12px 20px 53px 13px;
	width:695px;
	height:auto;
	background: url(bg_727.png) 0px 1px no-repeat;
}

.content4right{
	padding:17px 15px 26px 0px;
	width:237px;
	height:auto;
	background: #fff;
}

.paihang{
	width:237px;
	height:49px;
	font:20px/37px "Î¢ÈíÑÅºÚ";
	color:#fff;
	text-align: center;
	background: url(bg_237.png) no-repeat;
}

.paihang2{
	padding-top: 12px;
}

.paihang2 li{
	background:url(dot_6.png) 7px 12px no-repeat;
    margin-bottom: 8px;
}

.paihang2 li a{
	padding-left: 20px;
	width:217px;
	font:14px/23px "Î¢ÈíÑÅºÚ";
	color:#333333;
	display: block;
	overflow:hidden; 
	 white-space:nowrap; 
	 text-overflow: ellipsis;

}

.rencai{
	width:638px;
	height:37px;
	padding-top: 11px;
}

.content5left{
	width:294px;
	height:auto;
	margin-right: 42px;
}

.slideBox2{ width:294px; height:208px;margin:0 auto; overflow:hidden; position:relative;margin-bottom:24px}
.slideBox2 .hd{ height:auto; overflow:hidden; position:absolute; right:42%; bottom:0px; z-index:1; }
.slideBox2 .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox2 .hd ul li{ float:left; margin-right:5px; width:9px; height:9px; line-height:9px; text-align:center; background:#cccccc; cursor:pointer;color:#fff; border-radius:50%;}
.slideBox2 .hd ul li.on{ background:#71bfba; color:#fff; }
.slideBox2 .bd{ position:relative; height:100%; z-index:0;   }
.slideBox2 .bd li{ zoom:1; vertical-align:middle; position: relative;}
.slideBox2 .bd li p{
	text-align: center;
	width:100%;
	font:16px/27px "Î¢ÈíÑÅºÚ";
	color:#fff;
	background: url(bg_2.png) repeat-x;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	height:27px;
	position: absolute;bottom:0px;left:0px;
}
.slideBox2 .bd img{ width:292px; height:187px; display:block;border-radius:8px; border:1px solid #cccccc; }

.dasai{
	width:100%;
	height:auto;
}

.dasai li{
	width:146px;
	float:left;
	background: url(star_12.png) 2px 8px no-repeat;
}

.dasai li a{
	padding-left: 15px;
	width:128px;
	font:14px/29px "Î¢ÈíÑÅºÚ";
	color:#333333;
	overflow:hidden; 
	 white-space:nowrap; 
	 text-overflow: ellipsis;
	 display: block;
}

.content5right{
	width:654px;
	padding:18px 5px 0px 5px;
    height:auto;
    background: #fafafa;
    position: relative;
}

.dasai2{
	padding:0px 22px 10px 90px;
	width:542px;
}

.dasai2 li{
	overflow: hidden;
	background: url(dot_6.png) 0px 11px no-repeat;
}

.dasai2 li a{
	padding-left: 12px;
	width:430px;
	font:14px/29px "Î¢ÈíÑÅºÚ";
	color:#333333;
	display: block;
	float:left;
	overflow:hidden; 
	 white-space:nowrap; 
	 text-overflow: ellipsis;
}

.dasai2 li span{
	width:85px;
	text-align: center;
	font:14px/18px "Î¢ÈíÑÅºÚ";
	color:#fff;
	background: #c7e891;
	display: block;
	float:left;
	margin-top: 5px;
}

.dasai3{
	width:100%;
	height:auto;
}

.dasai4{
	width:48px;
	padding-left: 22px;
	font:12px/15px "Î¢ÈíÑÅºÚ";
	color:#cccccc;
	display: block;
	margin-right: 33px;
	background: url(jiantou_15.png)  no-repeat;
}

.dasai5{
	padding-top:12px; 
}

.dasai5 li{
	width:88px;
	height:auto;
	float:left;
	margin:0px 21px 8px;
}

.dasai5 li img{
	width:82px;
	height:82px;
	display: block;
	border:3px solid #c7e891;
	border-radius: 8px;
	display: block;

}

.dasai5 li p{
	width:100%;
	height:auto;
	display: block;
	margin:0 auto;
	text-align: center;
	font:13px/20px "Î¢ÈíÑÅºÚ";
	color:#6d8b58;
}

.dasai5 li p span{
	width:100%;
	display: block;
}

.dasai5 li a{
	text-decoration: none;
}

.sanjiao{
	width:116px;
	height:80px;
	background: url(bg_116.png) no-repeat;
	position: absolute;top:0px;left:-32px;
	z-index: 999;
}

.breadnav{
  width:100%;
  height:auto;
}

.breadnav a,.breadnav span{
  font:12px/27px "Î¢ÈíÑÅºÚ";
  color:#333333;
  font-weight: 500;
}



.breadnav span.active{
  color:#629305;
}


.content5{
	padding:26px 17px 46px;
	width:966px;
	height:auto;
	background: #fff;
}

.dabiao{
	width:100%;
	font:bold 26px/26px "Î¢ÈíÑÅºÚ";
	color:#629305;
	padding-bottom: 32px;
	border-bottom: 1px solid #cccccc;
}

.renwu3{
	width:934px;
	height:auto;
}


.renwu4{
	width:656px;
	padding-right: 32px;
	height:auto;
}



.renwu3 li,.renwu4 li{
	padding:3px 0px 0px 0px;
	border-bottom: 1px dashed #b0b5b5;
}



.dabiao2{
	width:100%;
	height:auto;
}



.dabiao2 h3,.dabiao_2 h3{
    padding-left: 17px;
	width:784px;
	font:bold 16px/42px "Î¢ÈíÑÅºÚ";
	color:#333333;
	float:left;
	background: url(dot2_6.png) 3px 18px no-repeat;	
}

.dabiao_2 h3{
    padding-left: 17px;
	width:535px;
}

.dabiao2 span,.dabiao_2 span{
	width:84px;
	display: block;
	float:right;
	font:14px/14px "Î¢ÈíÑÅºÚ";
	color:#999999;
	margin-top: 15px;
}

.dabiao3,.dabiao_3,.dabiao33{
	width:100%;
	height:auto;
	padding-bottom: 10px;
}

.dabiao3 img,.dabiao_3 img{
	width:146px;
	height:98px;
	display: block;
	float:left;
	margin-right: 16px;
}

.dabiao3 p,.dabiao_3 p,.dabiao33 p{
	text-indent: 2em;
	width:772px;
	display: block;
	float:left;
	font:12px/20px "Î¢ÈíÑÅºÚ";
	color:#333333;
}

.dabiao33 p{
	width:100%;
}

.dabiao_3 p{
	width:494px;
}

.pagenav{
	width:433px;
	height:auto;
	border-radius: 4px;
	background: #fff;
	border:1px solid #dddddd;
	margin-top: 30px;
}

.pagenav a{
	width:28px;
	height:28px;
	line-height: 28px;
	display: block;
	float:left;
	text-align: center;
	font-size: 14px;
	color:#45494a;
	border-right:1px solid #dddddd;
}

.pagenav a:last-child{
	border-right:0px;
}

.pagenav a.active{
	color:#84bb23;
}

.dabiao5{
	font:bold 26px/26px "Î¢ÈíÑÅºÚ";
	color:#629305;
	margin-bottom: 30px;
}

.dabiao4{
	width:100%;
	height:auto;
	border-bottom: 1px solid #cccccc;
}

.area{
	width:924px;
	height:auto;
}

.area li{
	margin:0px 20px 0px 20px;
	padding-bottom: 18px;
	float:left;
}

.area li a{
	font:14px/14px "Î¢ÈíÑÅºÚ";
	color:#000000;
}

.area li a:hover{
	color:#5f8909;
}

.area li a.active{
	color:#5f8909;
	text-decoration: underline;
}

.content6{
	width:1000px;
	height:auto;
	background:#fff;
	padding-top: 10px;
}

.culture{
	display: block;
    margin-bottom: 10px;
}

.zhuanlan{
	width:934px;
	height:auto;
}

.zhuanlan a{
	display: block;
	width:144px;
	font:16px/38px "Î¢ÈíÑÅºÚ";
	color:#666666;
	text-align: center;
	border-radius: 6px;
	background:#dbdbdb;
	margin:0 2px;
	float:left;
	margin-bottom: 5px;
}

.zhuanlan a.active,.zhuanlan a:hover{
	color:#fff;
	background:#93b269;
}

.content6left{
	padding:5px 38px 0px 11px;
	width:263px;
	height:auto;
	background: #fff url(bg_26.png) right repeat-y;
}

.daohang{
	width:100%;
	height:auto;
}

.daohang2{
	width:100%;
	height:auto;
}

.daohang3{
	width:263px;
	height:46px;
	line-height: 46px;
	font-size: 16px;
	color:#fff;
	font-family: "Microsoft YaHei";
	cursor: pointer;
}

.daohang3 a{
	color:#333;
	display: block;
    padding-left: 13px;
    width:250px;
}

.jiantou2:hover{
	background:#94b459 url(bg2_263.png) no-repeat;
	color:#fff;
}

.jiantou2:hover a{
	color:#fff;
}

.jiantou1{
   
	height:46px;
	background:#94b459 url(bg2_263.png) no-repeat;
}

.jiantou1 a{
    color:#fff;
	height:46px;
	background:#94b459 url(bg2_263.png) no-repeat;
}

.open .jiantou1{

	height:46px;
	background:#94b459 url(bg_263.png)  no-repeat;
}

.jiantou2{
	height:46px;
	color:#333;
	border-bottom: 1px solid #ccc;
	background:#fff url(sanjiao3_9.png) 86px 19px no-repeat;
}

ul.daohang4{
	width:100%;
	height:auto;
	border-bottom: 1px solid #cccccc;
	padding:5px 0px;
}
ul.daohang4 li{
	width:100%;
	height:auto;
}

ul.daohang4 li:last-child{
	border-bottom:0px;
}

ul.daohang4 li a{
    padding-left: 12px;
    width:251px;
    display: block;
    height:27px;
    line-height: 27px;
    color:#000000;
    font-size: 14px;
}

ul.daohang4 li a:hover{
	color:#5f8909;
}

ul.daohang4 li a.active{
	color:#5f8909;
	text-decoration: underline;
}

.daohang5{
	padding-left: 13px;
	border-bottom: 1px solid #cccccc;
	width:250px;
	font:16px/46px "Î¢ÈíÑÅºÚ";
	color:#333333;
	display: block;
}

a.daohang5:hover,a.daohang5.active{
	color:#fff;
	text-decoration: none;
	background: #94b459 url(jiantou_25.png) 224px 11px no-repeat;
}

.content6right{
	padding:11px 20px 40px 0px;
	width:668px;
	height:auto;
	background: #fdfdfd;
}

.zhitongche,.zhitongche2{
	width:216px;
	padding-left: 100px;
	border-radius: 8px;
	border:1px solid #cccccc;
	font:20px/51px "Î¢ÈíÑÅºÚ";
	color:#669900;
	display: block;
	margin-bottom: 17px;
	background: url(bg_62.png) no-repeat;
}


.zhitongche2{
	color:#d49d07;
	font:20px/58px "Î¢ÈíÑÅºÚ";
	background: url(bg2_62.png) no-repeat;
}


.zhitongche:hover,.zhitongche2:hover{
	text-decoration: none;
}

.dabiao6{
	width:100%;
	height:auto;
	margin-bottom: 19px;
	border-bottom: 1px solid #cccccc;
}

.content7{
	width:890px;
	background: #fff;
	height:auto;
	padding:33px 55px 180px;
}

.dabiao7{
	width:747px;
	font:24px/40px "Î¢ÈíÑÅºÚ";
	color:#333333;
	text-align: center;
	margin-bottom: 14px;
}

.time{
	width:100%;
	height:auto;
	font:14px/25px "Î¢ÈíÑÅºÚ";
	color:#999999;
	text-align: center;
}

.time span{
	color:#666666;
}

.para{
	width:100%;
	height:auto;
	padding-top: 10px;
}

.para img{
	display: block;
	margin:0 auto;
	margin-bottom: 25px;
}

.para p{
	font:14px/26px "Î¢ÈíÑÅºÚ";
	color:#333333;
}

.notice{
	width:760px;
}

.txtMarquee-left{ width:760px;  position:relative;}
.txtMarquee-left .bd .tempWrap{ width:760px !important; }/* ÓÃ !important¸²¸ÇSuperSlide×Ô¶¯Éú³ÉµÄ¿í¶È£¬ÕâÑù¾Í¿ÉÒÔÊÖ¶¯¿ØÖÆ¿ÉÊÓ¿í¶È¡£ */
.txtMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.txtMarquee-left .bd ul li{ 
	margin-right:20px;
	float:left;	  
	_display:inline;
	width:auto !important;  }/* ÓÃ width:auto !important ¸²¸ÇSuperSlide×Ô¶¯Éú³ÉµÄ¿í¶È£¬½â¾öÎÄ×Ö²»ÏÎ½ÓÎÊÌâ */
.txtMarquee-left .bd ul li a{
	padding-left: 10px;
	height:27px;
	line-height:27px;
    color:#333;
	font-size:12px; 
	background: url(dot_3.png) 0px 5px no-repeat;
}

.content8{
	width:1000px;
	height:auto;
	margin-bottom: 11px;
	background: #efefef;
	padding-top: 15px;
}


.culture2{
	width:100%;
	height:auto;
	background: url(bg_999.png) left top no-repeat;
}

.culture2 li{
	width:249px;
	float:left;
	height:auto;
	border-right:1px solid #9b9b9b;
}

.culture2 li img{
	width:144px;
	height:144px;
	display: block;
	margin:0 auto;
}

.culture3{
	width:226px;
	height:auto;
}

.culture3 li{
	width:100%;
	height:auto;
	border-right: 0;
	background:url(dot_6.png) left 13px no-repeat;
}

.culture3 li a{
	padding-left: 12px;
	display: block;
	font:14px/30px "Î¢ÈíÑÅºÚ";
	color:#333333;
	width:214px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.culture4{
	width:144px;
	height:144px;
	display: block;
	margin:0 auto;
	margin-bottom: 10px;
}

.zixun{
	width:100%;
	height:41px;
	background: url(bg3_1000.png) no-repeat;
    text-align: center;
    font:bold 20px/41px "Î¢ÈíÑÅºÚ";
	color:#fff;	
}

.nav{
	width:920px;
	padding-top: 20px;
}

.nav li{
	float:left;
	width:56px;
	margin:0 17px 11px;
}

.nav li a{
	width:auto;
	font:14px/14px "Î¢ÈíÑÅºÚ";
	display: block;
	height:22px;
	color:#000000;
	text-align: center;
}

.nav .active{
	height:22px;
	
	background:url(bg_42.png) center bottom no-repeat;
}

.nav .active a{
	color:#5f8909;
}

.zixun2{
	width:100%;
	height:auto;
	background: #fff;
}

.zixun3{
	width:975px;
	border-bottom:1px solid #cccccc;
}


.zixun4{
	width:720px;
	height:auto;
	background:url(bg_11.png) right top no-repeat;
    margin-right: 11px;
}

.zixun5{
	width:244px;
}

.zixun5 h2{
	width:100%;
	height:auto;
	border-radius: 10px;
	border:1px solid #cccccc;
	margin-bottom: 7px;
}

.zixun5 h2 img{
	width:100%;
	display: block;
	height:auto;

}

.zixun6{
	width:100%;
	height:218px;
	background: url(bg_243.png) no-repeat;
}

.zixun6 ul{
	width:100%;
	height:auto;
}

.zixun6 ul li{
	width:80px;
		padding-top: 13px;
	height:95px;
	float:left;

}

.zixun6 ul li a{
	display: block;
	width:100%;
	height:auto;
}

.zixun6 ul li img{
	display: block;
	width:49px;
	margin:0px auto 17px auto;
}

.zixun6 ul li p{
	width:100%;
	text-align: center;
	font:13px/13px "Î¢ÈíÑÅºÚ";
	color:#04b7b5;
}


.tab-content .tab-pane, .pill-content .pill-pane {
	display: none;
}

.tab-content .active, .pill-content .active {
	display: block;
}

.adv{
	width:1000px;
	display: block;
   margin-bottom: 10px;
}

.adv img{
	width:100%;
	display: block;

}