:root {
        --ic-brand-primary-darkened-5: #0087D7;
--ic-brand-primary-darkened-10: #0080CC;
--ic-brand-primary-darkened-15: #0079C1;
--ic-brand-primary-lightened-5: #0C93E3;
--ic-brand-primary-lightened-10: #1999E4;
--ic-brand-primary-lightened-15: #269EE6;
--ic-brand-button--primary-bgd-darkened-5: #0087D7;
--ic-brand-button--primary-bgd-darkened-15: #0079C1;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #0080CC;
--ic-link-color-lightened-10: #1999E4;
--ic-brand-primary: #008EE2;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #008EE2;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #394B58;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #394B58;
--ic-brand-header-image: url('https://oc.sjtu.edu.cn/accounts/1/files/775/download?verifier=zKM3YpnP0KQeuosUDJ7mgReLUEtQRhdSeoyKz0Uo');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('/dist/images/favicon-e58a7078aa.ico');
--ic-brand-apple-touch-icon: url('/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('/dist/images/windows-tile-f2359ad914.png');
--ic-brand-msapplication-tile-wide: url('/dist/images/windows-tile-wide-52212226d6.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: url('https://oc.sjtu.edu.cn/accounts/1/files/680/download?verifier=KAIoZauKBqHxqletEzYqrSQI2ekH4Eog6KBE8wZb');
--ic-brand-Login-body-bgd-shadow-color: #021229;
--ic-brand-Login-logo: url('/dist/images/login/canvas-logo-a66b946d8d.svg');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }