/*header*/
.collapse.navbar-collapse.no-padding{
    display: block!important;
}

.news-slider .title{
    height:323px!important
}
.news-slider .col-sm-8.no-padding{
    height:323px!important
}
.card-notice:after{
    border:none!important;
}
.card-notice{
    right:8px!important;
    width:520px!important;
    padding-left:20px;
}
.SJTUdata{
    margin-left:0;
    width:100%;
}
.SJTUdata .item{
    padding-left:2px
}
.hall-big {
    width:456px;
    float: left;
}
.hall-big .wxlist img{
    height:196px;
}
.hall-small{
    width:176px;
    float: left;
}
/* .schoolTitle{
    background: url(../img/svg/title-school.png) no-repeat;
    background-size:cover;
} */
.container{
  width:1170px;
}
.col-sm-8{
    width:780px;
}
.col-sm-4{
    width:390px
}
.col-sm-8,.col-sm-4,.col-md-3,.col-md-2,.col-md-6,.col-sm-3{
    float: left;
}
.item .col-sm-8{
    width:760px;
}
.item .col-sm-4{
    width:378px;
}
.news-list .item:after{
    content: ".";   
    display: block;  
    clear: both;   
    visibility: hidden;    
    height: 0;  
    font-size:0;   
}
.news-list.row .col-md-3{
    float: left;
    width:292px;
}
.news-list.row:after,.SjtuData:after,.org-list:after{
    content: ".";   
    display: block;  
    clear: both;   
    visibility: hidden;    
    height: 0;  
    font-size:0;   
}
.news-list .ImgCrop img{
    width:100%;
    margin:auto;
}
.card-focus.col-sm-9{
   width:870px;
}
.learning-content .col-sm-8{
    width:754px
}
.learning-content .col-sm-4{
    width:290px;
    float: right;
}
.focus-title IMG,.learning-title IMG,.column-title IMG{
    width:38px;
}
.card-learning-1:after{
    background: url(../img/svg/card-learning-1-corner.png) 0 1px no-repeat;
    background-size: cover;
}
.card-learning-2:after{
    background: url(../img/svg/card-learning-2-corner.png) no-repeat;
    background-size: cover;
}
.column-title{
    top:-80px
}
.owl-carousel.column-list .owl-stage-outer{
    padding:60px 0;
}
/*footer*/
.footer .info{
    background: url(../img/svg/footDoorBG.png) left top repeat;
    overflow: hidden;
}
.footer .info .container{
    width:1060px
}
.footer .info .col-sm-4{
    width:33.33%;
}
.footer .info-content{
    background: #F8F2EA url(../img/svg/footDoor.png) center top no-repeat;
    background-size:cover;
}
.footer-logo{
    background: url(../img/svg/footer-logo.png) center center no-repeat;
    background-size:100%;
}

.focus-title IMG,.learning-title IMG,.column-title IMG{
    width:38px;
}

/*about*/
.about .page-name{
    width:260px;
}
.col-sm-3.pageSider{
    width:260px;
    height:100%;
}
.container .col-sm-9{
    width:800px;
    float: left;
}
.about-list1101{
    width:800px;
    float: left;
}
.about-list1101 .SjtuData .col-sm-4{
    float: left;
    width:242px;
}
.SjtuData LI{
    width:auto;
}
.SjtuData li a{
    background-image: url(../img/sjtudata-small.png);
    background-size: cover;
}
.pageHeader .page-name{
    background: rgba(0, 0, 0, 0);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
}
.col-sm-6.PreLeader{
    width:345px;
    margin-bottom:30px;
    float: left;
}
/*组织机构*/
.tocify-content  .col-sm-4.control-label{
    display: inline-block;
    width:160px;
}
.tocify-content .col-md-10.col-sm-8{
    display: inline-block;
    width:870px;
}
.org-list .col-sm-4,.org-list .col-md-4{
    width:340px;
    float: left;
}
.org-list .col-md-6{
    width:500px
}
ul.SjtuLeader.col-sm-6.col-sm-offset-4{
    margin-left:33%;
}
.org-list li.col-sm-2,.org-list li.col-md-2{
  width:16%;
  float: left;
}
.org-list li.col-sm-6,.org-list li.col-md-6{
    width:50%;
    float: left;
}
.Article-info .col-md-6{
    width:50%;
}
.Article_content .col-md-3,.Article_content .col-sm-3{
    width:25%;
    float: left;
}
.quick-link UL li.col-sm-2{
    width:16.6%;
}
.dropdown-item-list > .col-sm-3{
    width:25%;
}
.dropdown-item-list > .col-sm-6{
    width:50%;
    float: left;
}
.col-sm-3.page-name{
    width:25%;
}
.col-sm-8.col-sm-offset-2{
    margin-left:16%;
}
.time-axis1119 .col-md-4{
    width:33%;
    float: left;
}
.nav1220, .logo1220{
	display:none;
}
.middle-nav1220{
	margin:0;
}
/*ccy 1224*/
.dropdown119 .col-md-3{
    float: left;
    width:25%;
}
.dropdown119 .col-md-6{
    float: left;
    width:50%;
}
.dropdown119 .col-md-12{
    width:100%
}
.dropdown119 .col-md-9{
    width:75%;float: left;
}
.dropdown119 .col-md-8{
    width:66.666%;float: left;
}
.dropdown119 .col-md-4{
    width:33.3333%;float: left;
}



.dropdown-item-list:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
    .dropdown-item-list{*zoom:1;}

    .flex-box1130 .hall-big{
        max-width:none!important
    }
    .card.card-learning-1.col-sm-7{
        float: left;
        width:58%;
    }
    .navbar-nav.col-sm-4{
        width:25%!important;
        float: left;
    }
    .navbar-nav.col-sm-8{
        width:75%!important;
        float: left;
    }
    .hall-small{
        height:520px
    }