
.list_title{
	font-size:20px;
}

#rt-top-surround{
	box-shadow:none;
}

#rt-transition{
	background:none;
}

.rt-block.menu-block{
	margin-left: 24px;
}

.rt-block.menu-block .gf-menu.l1 li{
	border: 1px solid #ccc;
	padding: 0 36.9px;
	margin: 0;	
	background:#B50729;
}

.rt-block.menu-block .gf-menu.l1 li .item{
	text-align: center;
	color: #fff;
	text-shadow: none;
	font-family: 微软雅黑;
}

.rt-block.menu-block .gf-menu.l1 li:hover{
	border: 1px solid #ccc;
	box-shadow: none;
}

.rt-block.menu-block .gf-menu.l1 > li > .item:hover{
	color: #fff;
	/*cursor: context-menu;*/
}

/*.rt-block.menu-block .gf-menu.l1 .item107 .item:hover,
.rt-block.menu-block .gf-menu.l1 .item128 .item:hover,
.rt-block.menu-block .gf-menu.l1 .item106 .item:hover{
	cursor: pointer;
}*/

.list_title{
	background: url('../../../../images/materials/list_title_background.png') 0 0 no-repeat;
	height: 36px;
	border-radius: 7px;
	padding: 0;
	background-position: -156px 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.list_title .list_title_maintitle{
	margin-left: 23px;
	margin-top: 6px;
	display: inline-block;
	color: #fff;
	font-family: 微软雅黑;

}

.list_title .list_title_maintitle:before{
	content:"○ ";
}

.list_title .list_title_more{
	margin-right: 10px;
	display: inline-block;
	color: #fff;
	background: #92172D;
	padding: 0px 13px 1px 13px;
	font-size: 15px;
	height: 22px;
	border-radius: 7px;
	float: right;
	margin-top: 6px;
}

.rt-block.articles_list{
	border:1px solid #EBD1D1;
	border-radius: 7px;
	margin-left: 29px;
	margin-top: 23px;
}

.rt-block.articles_list .module-title .title{
	color:#9E9E9E;
	border: none;
	box-shadow: none;
	font-size: 20px;
	margin-left: 12px;
}

.rt-block.articles_list li:before{
	content:"○ ";
}
/*.category-module.articles_list li{
	list-style-type: none;
	height: 35px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
	width: 180px;
}*/

#rt-mainbody{
	width: 756px;
	padding: 0 28px;
}

.xqgl_title{
	border: 1px solid #89e;
	padding: 5px;
	background: #B50729;
	text-align: center;
	font-weight: 700;
	color: #fff;
	font-family: 微软雅黑;
	font-size: 20px;
	margin-top: -15px;
	width: 156px;
	margin-left: -15px;
}

.xqgl_li{
	color: #01040F;
	padding: 10px;
	text-align: center;
	font-size: large;
	font-weight: 600;
	border-bottom: 1px solid rgba(48, 55, 65, 0.28);
	width: 89px;
	padding: 8px 20px;
	padding-top: 27px;
	font-family: 微软雅黑;
}

.rt-block.home-newsList.maintop {
	border: 1px solid #BF1F4E;
	border-top: 0;
	width: 394px;
	left: -20px;
	top: -27px;
	height: 254px;
}

.rt-block.home-newsList.mainbottom{
	border: 1px solid #BF1F4E;
	border-top: 0;
	margin-top: -34px;
	width: 367px;
	margin-left: 25px;
	height: 222px;
}


.home .list_title{
	width: 547px;
	margin-left: 0px;
	margin-top: -44px;
}

.rt-block.home-newsList li {
	padding-top:5px;
}

#rt-copyright{
	text-align: center;
}


.articleListTitle{
	margin-left: -7px;
	margin-top: -3px;
	width: 850px;
}


#home_title_latestnews{
	margin-left: -35px;
	width: 426px;
}

#home_title_dfxq{
	width:417px;
}
.rt-block.home-newsList.mainbottom.dfxq{
	width: 385px;
	height: 114px;
}

.rt-block.articles_list li{
	width: 12em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.home-newsList.mainbottom li{
	width: 23em;	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} 


.rt-block.menu-block .gf-menu.l1 li:hover > a{
	border:none;
	box-shadow: none;
}

.item107 .item:after{
	content: "" !important;
}

#home_title_xnfwxm{
	width: 399px;
	margin-left: 34px;
}

.rt-block.home-newsList.mainbottom.xnfwxm{
	margin-left: 59px;
	height: 114px;
}

.weblinks li{
	display: inline-block;
	width: 200px;
	height: 30px;
	font-size: 14px;
	#font-family: 微软雅黑;
}


.weblinks li a,.weblinks li p{
	display: inline-block;
}

.weblinks li p{
	margin-right: 6px;
	width: 25px;
}

.weblinks li i{
	font-size: 22px;
}

.weblinks li i img{
	width: auto;
}

.rt-block.friendLinks{
/*	border-width: 0px 1px 1px;
	border-style: none solid solid;
	border-color: -moz-use-text-color #BF1F4E #BF1F4E;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	margin-top: -34px;
	width: 251px;
	margin-left: 25px;
	height: 222px;*/
}

#home_title_weblinks{
	width: 283px;
	background-position: -234px;
}

.rt-block.menu-block .gf-menu.l1 .dropdown li:hover {
	padding: 1px 0;
}

.rt-block.menu-block .gf-menu.l1 .dropdown li {
	padding: 0px 5px;
}

.rt-block.logo-block{
	margin-bottom: 0;
	margin-top: 0;
	width: 1134px;
}
.rt-block #rt-logo{
	width:1134px !important;
	height:94.521px !important;
}
.rt-block.menu-block .gf-menu.l1{
	margin-top: 0;
}

.item107 .dropdown{
	display: none;
}

.rt-block.articles_list  li{
	list-style-type: none;
	height: 42px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.page_nav{
	display: inline-block;
	margin:0 2px;
	font-size: 15px;
	vertical-align: middle;
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none;  /*webkit浏览器*/
	-ms-user-select: none;   /*IE10*/
	-khtml-user-select: none; /*早期浏览器*/
	user-select: none;
}

.page_nav.page_num{
	cursor:pointer;
}

.page_nav.dir.skip{
	margin:0 3px;
	font-size:12px;
}

.mod-articles-category-title{
	cursor:pointer;
}

.rt-block.articles_list .publish_up{
	color:#ccc;
	margin-left: 12px;
}

.rt-block.home-newsList.maintop li{
	padding-top: 10px;
	height: 20px;
	list-style-type: none;
}

.rt-block.home-newsList.maintop li .newsTitle{
	width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
}

.rt-block.home-newsList.maintop li .newsTime{
	float:right;
}

#home_title_gdxw{
	width:200px;
}

.gn_header_1{
	border: 1px solid #89e !important;
	padding: 5px;
	background: #B50729 !important;
	text-align: center;
	font-weight: 700;
	color: #fff;
	font-family: 微软雅黑;
	font-size: 20px;
	width: 210px;
	margin-left: 10px;
}

.gn_browser{
	margin-left: 10px;
	width: 211px;
	background-image:url('../../../../images/OTF_Crumpled_Paper_06.jpg');
	background-size: 340%;
	background-position: -130px -60px;
}

#rt-footer{
	border-top:none !important;
}

.home-newsList.mainbottom.file{
	width: 251px;
	height: 114px;
}

.home-newsList.mainbottom.file li{
	width: 16em;
}

.home-newsList.mainbottom.link{
	width: 251px;
	height: 114px;
}

.home-newsList.mainbottom.link li{
	width: 16em;	
} 

.rt-block.files_list{
	border:1px solid #EBD1D1;
	border-radius: 7px;
	margin:20px auto;
	width: 600px;
}

.rt-block.files_list .module-title .title{
	color:#9E9E9E;
	border: none;
	box-shadow: none;
	font-size: 20px;
	margin-left: 12px;
}

.rt-block.files_list li:before{
	content:"○ ";
}

.rt-block.files_list li{
	list-style: none;
}

.select-friendLinks{
	margin-top: -11px;
}

.select-friendLinks > select {
	width:282px;
}

.home-envelope{
	margin-left:15px;
	margin-top: -35px;
}


div.flash_news_0{
	background:rgba(224, 224, 224, 0.37);
}

div.flash_news_0 a{
	color: #333;
}

div.flash_news_1{
	/*background:yellow;*/
}

div.flash_news_1 a{
	color: #333;
}

div.flash_news_0 a:hover{
	/*font-weight: bold;*/
	color:#2698de;
}

div.flash_news_1 a:hover{
	/*font-weight: bold;*/
	color:#2698de;
}


.folder{
	-moz-user-select:none;/*火狐*/
	-webkit-user-select:none;/*webkit浏览器*/
	-ms-user-select:none;/*IE10*/
	-khtml-user-select:none;/*早期浏览器*/
	user-select:none;

	cursor:pointer;
}

.folder_hide+ul{
	display: none;
}

.folder_hide:before{
	content:"+ " !important;
}

.folder_show+ul{
	display: inline-block;
}

.folder_show:before{
	content:"- " !important;
}