@charset "utf-8";
/* CSS Document */

/*@font-face {
	font-family: 'CenturyGothic';
	src: url('fonts/GOTHIC.eot');
	src: url('fonts/GOTHIC.eot?#iefix') format('embedded-opentype'),
		url('fonts/GOTHIC.woff') format('woff'),
		url('fonts/GOTHIC.ttf') format('truetype'),
		url('fonts/GOTHIC.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}*/


@font-face {
    font-family: 'GEOGTQ';
    src: url('../fonts/GEOGTQ/GEOGTQ-RG.eot');
    src: url('../fonts/GEOGTQ/GEOGTQ-RG.eot?#iefix') format('embedded-opentype'), url('../fonts/GEOGTQ/GEOGTQ-RG.woff') format('woff'), url('../fonts/GEOGTQ/GEOGTQ-RG.ttf') format('truetype'), url('../fonts/GEOGTQ/GEOGTQ-RG.svg#GEOGTQ-RG') format('svg');
    font-weight: normal;
    font-style: normal;
}



body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, img, div {
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
    color: #666;
    background: #fff;
    min-width: 1170px;
}

a {
    text-decoration: none;
    outline: none;
}

    a:active {
        star: expression(this.onFocus=this.blur());
    }

:focus {
    outline: 0;
}

a:hover {
    color: #2a72bb;
    text-decoration: underline;
    transition: all 0s ease 0s;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    clear: both;
    height: 0px;
}

.clear {
    clear: both;
}


.webkit {
    font-size: 7px;
    -webkit-transform: scale(0.7);
    -webkit-text-size-adjust: none;
}

.mulu {
    width: 1170px;
    margin: 30px auto;
    overflow: hidden;
}

    .mulu .wp_mlcolumn {
        width: 100%;
        color: #FF0000;
        font-size: 12px;
        font-weight: 700;
    }

    .mulu .wp_subcolumn {
        display: block;
        margin: 5px 0;
    }

        /*第一层目录*/
        .mulu .wp_subcolumn .wp_column {
            width: 100%;
            line-height: 30px;
            font-size: 12pt;
        }
            /*目录文字标颜色*/
            .mulu .wp_subcolumn .wp_column p {
                display: block;
                background: url(../../images/img.gif) repeat-x 0 15px;
                position: relative;
                overflow: hidden;
            }

                .mulu .wp_subcolumn .wp_column p a {
                    color: #000000;
                    display: block;
                    height: 30px;
                    line-height: 30px;
                }

                    .mulu .wp_subcolumn .wp_column p a:hover {
                        color: #666;
                    }

            /*目录文字标颜色链接颜色*/
            .mulu .wp_subcolumn .wp_column font {
                color: #000000;
                margin: 0 10px;
            }

            /*第一层目录文字标颜色*/
            .mulu .wp_subcolumn .wp_column .column-n, .mulu .wp_subcolumn .wp_column .ym {
                background: #fff;
            }

            .mulu .wp_subcolumn .wp_column .column-n {
                position: absolute;
                left: 0px;
            }

            .mulu .wp_subcolumn .wp_column .ym {
                position: absolute;
                right: 0px;
                padding-left: 10px;
            }

    .mulu .row1 {
        display: inline-block;
        min-width: 20px;
    }

    .mulu .row2 {
        display: inline-block;
        min-width: 40px;
    }

    .mulu .row3 {
        display: inline-block;
        min-width: 40px;
    }


    /*第二层目录*/
    .mulu .wp_subcolumn .wp_column .wp_subcolumn .wp_column {
        width: 97.5%;
        line-height: 30px;
        font-size: 11pt;
        font-weight: normal;
        padding-left: 29px;
    }

        /*第三层目录*/
        .mulu .wp_subcolumn .wp_column .wp_subcolumn .wp_column .wp_subcolumn .wp_column {
            width: 94.9%;
            line-height: 30px;
            font-size: 10pt;
            font-weight: normal;
            padding-left: 57px;
        }


/***********地图*************/
.site-list li {
    margin-bottom: 40px;
}

.site-list .site-title {
    margin-bottom: 10px;
}

    .site-list .site-title a {
        color: #0062AB;
        font-size: 24px;
        line-height: 40px;
        display: block;
    }

        .site-list .site-title a:hover {
            text-decoration: none;
        }



.site-list .site-item {
    position: relative;
    padding: 25px 30px 25px 60px;
    margin-left: 11px;
    background-color: #fcf9f9;
    border: 3px double #ddd;
}


.site-list .site-a {
    display: inline-block;
    /*margin-right: 15px;*/
    font-size: 16px;
    line-height: 36px;
    color: #333;
    width:48%;
}

    .site-list .site-a:hover {
        text-decoration: none;
        color: #720808;
    }

.site-list .site-tip {
    position: absolute;
    top: 34px;
    left: -11px;
    width: 55px;
    height: 32px;
    text-align: center;
    color: #fff;
    line-height: 25px;
    background: url(../../images/site.png) center center no-repeat;
}
