
.news-des p{
	display: inline-block;
	font-size: 12px;
	color: #333333;
}
.news-des{
	width: 1200px;
	min-width: 1200px;
	background: #FFFFFF;
	opacity: 0.8;
	position: absolute;
	z-index: 999;
	display: none;
	top: 5px;
}
.new-time{
	float: right;
}
.item img{
	width: 100%;
}
.hot-news{
	min-width: 1200px;
	margin: 0 auto;
}
.hot-news a{
	color: #FFFFFF;
	font-size: 2rem;
	position: relative;
	top: -40px;
}

#feedback input{
        color: #999;
        padding-left: 4px;
        background:#ffffff;border:1px solid #e6e6e6;box-shadow:0 1px 2px 0 rgba(0,0,0,0.19);
        border-radius:2px;width:359px;height:39px;
        margin-bottom: 10px;font-size: 14px;
    }
    #feedback select{
        color: #999;
        background:#ffffff;border:1px solid #e6e6e6;box-shadow:0 1px 2px 0 rgba(0,0,0,0.19);
        border-radius:2px;width:359px;height:39px;
        margin-bottom: 10px;font-size: 14px;
    }

    #feedback textarea{
        color: #999;padding-left: 4px;
    background:#ffffff;border:1px solid #e6e6e6;box-shadow:0 1px 2px 0 rgba(0,0,0,0.19);
    border-radius:2px;width:359px;height:119px; margin-bottom: 10px;font-size: 14px;
    }
    #feedback button{
        background-color: #2e5a9c;
        border-radius:20px;
        width:360px;
        height:40px;
        color: #ffffff;
        font-size: 16px;

    }
#feedbackAll{
    background:#f9f9f9;
    box-shadow:0 2px 2px 3px rgba(0,0,0,0.20);
    border-radius:2px;
    height:480px;
}

    input:-webkit-input-placeholder {
        color: #c2c2c2;
        -webkit-transition: color.5s;
    }
    input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder {
        color: #999;
        -webkit-transition: color.5s;
    }