@media (max-width: 1199px) {
    .dropdown-item {
        min-height: 477px;
    }
    .Article-recommend {
        position: absolute;
        top: 60px;
        right: 50px;
    }
    .pagination .whj_padding {
        padding: 0 15px;
    }
}

/* Middle screen Portrait Size */

@media (max-width: 991px) {
    .no-border-md {
        border: 0;
    }
    .logo a {
        width: 60%;
    }
    .header .navbar-main .item > a {
        height: 40px;
        line-height: 40px;
        letter-spacing: 0;
        font-size: 14px;
    }
    .header-title-jdyw .title {
        width: 70%;
        left: auto;
        right: 10px;
    }
    .header-title {
        border-top: solid 1px #ddd;
        border-bottom: solid 1px #ddd;
    }
    .dropdown-item-title {
        padding: 10px;
        font-size: 13px;
    }
    .dropdown-item {
        min-height: 406px;
    }
    .dropdown-item-list li > a {
        padding: 5px 10px;
    }
    .science-box {
        display: block;
        height: 1154px;
    }
    .owl-topic .owl-carousel {
        margin-left: 0;
        border-right: 0;
    }
    .S-calendar {
        margin: 0;
    }
    .mix-news {
        display: flex;
        margin-top: 0;
        width: 100%;
    }
    .header-title-zhxw,
    .header-title-ztzl {
        width: 100%;
        position: relative;
        left: 0;
        height: 100px;
    }
    .list-7 {
        width: 100%;
        border-top: solid 1px #f1f1f1;
    }
    .list-6.item-4 .item {
        width: 33.333333%;
    }
    .list-6 .ImgCrop {
        height: 230px;
    }
    .header-title-ztzl {
        background-position: left top -130px;
        background-size: auto;
    }
    .header-title-ztzl .title {
        width: 60px;
        bottom: 16px;
        left: 10%;
    }
    .list-9 {
        margin: 30px auto;
    }
    ul.list-9 li a {
        width: 76%;
    }
    ul.list-9 li span.time {
        display: block;
    }
    .header-title-hlxy {
        height: 120px;
        position: relative;
        background-size: auto;
        background-position: 0 -60px;
    }
    .header-title-hlxy .triangle {
        width: 100px;
        top: 30px;
    }
    .header-title-hlxy .title {
        top: 20px;
        width: 60px;
    }
    .list-card-h .list-11.item-4 .item {
        width: 33.3333333%;
    }
    .list-card-v:after {
        z-index: -1;
    }
    .pagination>li.P-first,
    .pagination>li.P-prev,
    .pagination>li.P-nest,
    .pagination>li.P-last {
        width: 25%;
    }
    .pagination>li.P-number,
    .pagination>li.P-current,
    .pagination>li.P-total {
        display: none;
    }
    .pagination .whj_skip
    , .pagination [name=whj_toPage]
    , .pagination [name=whj_confirm] {
        display: none;
    }
    .search-report {
        margin-top: 35px;
    }
    .form-search-option div[class*=col-] + div[class*=col-] .form-group {
        border-left: 0;
        border-top: 1px dotted #cecece;
    }
    .form-search-option .col-20
    , .form-search-option .col-40 {
        width: 100% !important;
    }
    .attach-list .source {
        width: 100%;
        border-right: 0;
    }
    .attach-list .title {
        width: 100%;
        margin-top: 10px;
        border-top: 1px solid #cecece;
    }
    .attach-list .title a {
        padding-left: 0;
    }
}

/* Small screen Portrait Size */

@media (max-width: 767px) {
    .text-left-sm {
        text-align: left !important;
    }
    #mobile-navigation {
        border-left: solid 1px #C8171E;
    }
    #mobile-navigation,
    .ma-infinitypush-wrapper .ma-infinitypush .navbar-nav>li>a {
        background: #fff;
        text-align: center;
        color: #C8171E;
        border-top: none;
        margin: 0;
        font-size: 18px;
        padding: 16px 0;
    }
    .header .navbar-main {
        background-color: #C8171E;
    }
    .navbar-brand {
        padding: 3px 20px;
        width: 350px;
        height: auto;
    }
    .header .navbar-main {
        height: 56px;
        min-height: 56px;
    }
    .ma-infinitypush-wrapper .ma-infinitypush ul {
        border-bottom: none !important;
    }
    .ma-infinitypush .container {
        padding: 0;
    }
    .ma-infinitypush .dropdown-menu {
        top: 0;
        height: 100%;
        overflow-y: auto;
    }
    .dropdown-item {
        min-height: auto;
    }
    .dropdown-item-list {
        margin-top: 0;
        position: relative !important;
    }
    .dropdown-item + .dropdown-item {
        margin-top: 10px;
    }
    .dropdown-item + .dropdown-item:before {
        content: none;
    }
    .focus-media {
        position: relative;
        top: auto;
        border-top: 2px solid #ee9fa8;
    }
    .header-title-jdyw {
        background-size: auto auto;
        background-position: 0 -60px;
    }
    .header-title-jdyw .circle {
        bottom: 10px;
        left: 90px;
        width: 90px;
    }
    .header-title-jdyw .title {
        left: 140px;
        bottom: 30px;
    }
    .date-picker {
        margin: 0;
        /* float: left; */
    }
    .list-5.text-right {
        /* padding-right: 20px; */
        /* float: left; */
        background-color: #fff;
        border-top: 0;
        border-right: solid 1px #ddd;
        width: 95%;
    }
    .science-box {
        height: auto;
    }
    .date-picker {
        /* width: 40%; */
    }
    .header-title-jdyw {
        height: 124px;
    }
    .mix-news {
        display: flex;
    }
    .header-title-hlxy {
        position: relative;
    }
    .list-1 a p.dot {
        height: auto;
    }
    .list-1 .item .img {
        width: 80px;
        float: left;
    }
    .list-7 .title {
        height: auto;
    }
    .list-8 .item,
    .Lecture .date-picker {
        width: 100%;
    }
    .split-line-right {
        border: none;
    }
    .list-card-h .list-11.item-4 .item {
        width: 50%;
    }
    .list-card-v {
        border: none;
    }
    .list-card-v .list-11 .time,
    .list-card-v .list-11 .info:after,
    .list-card-v:after,
    .channel-content:after {
        display: none;
    }
    .list-card-v .list-11 .info {
        width: 100%;
    }
    .pagination>li.P-first,
    .pagination>li.P-prev,
    .pagination>li.P-nest,
    .pagination>li.P-last {
        width: 25%;
    }
    .pagination>li.P-number,
    .pagination>li.P-current,
    .pagination>li.P-total {
        display: none;
    }
    .Article {
        padding: 60px 5% 30px 5%;
    }
    .Article_content img {
        max-width: 100%;
    }
    .Article_content.hlxy {
        padding: 30px 0;
    }
    .list-13 {
        padding: 30px 15px;
    }
    .list-14 {
        padding: 10px 0;
    }
    .list-14 a {
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
    .form-search-option label {
        text-align: left;
    }
    .form-search-option button, .form-search-option input {
        border: 1px solid #cecece !important;
        text-align: left;
    }
}

@media (max-width: 640px) {
    .list-card-h .list-11.item-4 .item {
        width: 50%;
    }
}

/* Mobile Portrait Size */

@media (max-width: 479px) {
    .main {
        padding: 0;
    }
    .navbar-brand {
        width: 250px;
    }
    .header .navbar-main {
        height: 46px;
        min-height: 46px;
    }
    .breadcrumb {
        display: none;
    }
    .header-title-zhxw {
        position: relative;
        left: auto;
        width: 100%;
        height: 118px;
    }
    .header-title-ztzl .title {
        left: 10%;
        right: auto;
    }
    .mix-news {
        width: 100%;
        margin-top: 0;
    }
    .science-box>.science-news {
        border-bottom: 2px solid #ee9fa8;
        border-right: 0;
    }
    .header-title-jdyw .title {
        width: auto;
    }
    .list-card-h .list-11 {
        margin: 0;
    }
    .list-2 .item,
    .list-3 li,
    .list-8 .item,
    .list-6.item-3 .item,
    .list-card-h .list-11.item-4 .item,
    .list-card-v .list-11 .info,
    .bg-white.list-4 .ImgCrop,
    .list-6.item-4 .item {
        width: 100%;
    }
    .list-3 p {
        white-space: inherit;
    }
    .list-2 a,
    .list-card-h .list-11 a,
    .list-5.text-right .title,
    .channel-content .list-5 .title {
        font-size: 18px;
        line-height: 1.5;
        height: auto;
    }
    .list-2 .des p,
    .list-3 p,
    .list-2 .ImgCrop,
    .list-card-h .list-11 .ImgCrop,
    .list-card-h .list-11 .card,
    .list-card-h .list-11 a,
    .list-card-h .list-11 .des,
    .list-card-v .list-11 p.dot,
    .bg-white.list-4 .ImgCrop,
    .bg-white.list-4 p.dot,
    .bg-white.list-4 .des p {
        height: auto;
    }
    .list-2 .ImgCrop img
    , .list-card-v .list-11 .ImgCrop img
    , .list-card-h .list-11 .ImgCrop img
    , .bg-white.list-4 .ImgCrop img
    , .list-6.item-4 .ImgCrop img {
        width: 100% !important;
        height: auto !important;
        max-height: 100%;
        margin: 0 !important;
    }
    .list-2 .des p,
    .list-card-h .list-11 .ImgCrop+.info .des,
    .list-card-h .list-11 .des,
    .list-card-v .list-11 .des {
        height: auto;
        font-size: 14px;
    }
    .list-card-h .list-11 .time {
        position: relative;
    }
    .list-card-h .list-11 .card {
        border-radius: 0;
    }
    .list-3 .item {
        padding: 10px 20px;
    }
    .list-4 .ImgCrop {
        width: 150px;
        height: 130px;
    }
    .list-4 .ImgCrop+.info {
        padding-left: 170px;
    }
    .bg-white.list-4 .ImgCrop {
        float: none;
    }
    .bg-white.list-4 .ImgCrop+.info {
        padding: 20px 30px;
    }
    .list-4 p.dot {
        height: 75px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .list-4 .des p {
        display: none;
    }
    .bg-white.list-4 .des p {
        display: block !important;
        margin-bottom: 20px;
    }
    .list-10 .item {
        width: 50%;
    }
    .list-card-v .list-11 {
        padding: 0;
    }
    .list-card-v .list-11 a {
        padding: 0;
    }
    .list-card-v .list-11 .ImgCrop {
        position: relative;
        width: 100%;
        height: 100%;
        float: none;
        margin: 0;
    }
    .list-card-v .list-11 .ImgCrop+.info {
        padding: 20px;
        width: 100%;
        float: none;
        border: none;
    }
    .list-card-v .list-11 .card {
        border-top: solid 1px #d2d2d2;
    }
    .list-card-v .list-11 .time {
        width: 100%;
        height: auto;
        background-color: #fff;
        margin-left: 0;
        float: none;
        padding: 25px;
        border-bottom: 1px dotted #b3b3b3;
        display: block;
    }
    .list-card-v .list-11 .time span {
        padding: 0;
        background: none;
    }
    .list-card-v .list-11 .item:first-child {
        padding: 0;
    }
    .list-card-v .list-11 .time span:before,
    .list-card-v .list-11 .time span:after,
    .list-card-v:after,
    .list-card-v .list-11 .info:after,
    .channel-content:after {
        display: none;
    }
    .list-card-v .list-11 .info {
        float: none;
        border: none;
    }
    .list-card-v .list-11 .source {
        float: right;
        padding: 0;
        margin: 0;
    }
    .list-card-v .list-11 .des {
        margin: 0 30px;
    }
    .list-card-v .list-11 p.dot {
        margin: 0;
        padding: 10px 20px;
    }
    .list-6.item-4 .item {
        background-color: #fff;
        /* margin-bottom: 30px; */
    }
    .list-6.item-4 p.dot {
        height: auto;
    }
    .list-6.item-4 .ImgCrop {
        height: auto;
    }
    .newsbox1.list-5.text-right,
    .date-picker {
        width: 96%;
    }
    .channel-content .list-5.text-right {
        margin-right: 20px;
        width: 90%;
    }
    .channel-content .date-picker {
        width: 100%;
    }
    .channel-title .tools-box {
        right: 10px;
    }
    .pagination>li.P-first,
    .pagination>li.P-prev,
    .pagination>li.P-nest,
    .pagination>li.P-last {
        width: 25%;
    }
    .pagination>li.P-current
    , .pagination>li.P-total
    , .pagination>li.P-number
    , .pagination [data-page]
    , .pagination .whj_total {
        display: none;
    }
    .Article-title {
        width: 100%;
    }
    .Article-info .btn-icon-group .item {
        float: left;
    }
    .Article-info .btn-icon i {
        margin: 10px;
    }
    .list-2 .item:hover,
    .list-1 .item:hover,
    .list-3 .item:hover,
    .list-4 .item:hover,
    .list-5 .item:hover,
    .list-6.item-3 .item:hover,
    .list-6.item-4 .item:hover,
    .list-7 .item:hover,
    .list-8 .item:hover,
    .list-10 .item:hover,
    .list-card-h .list-11 .card:hover,
    .list-card-v .list-11 .info:hover,
    .channel-content .list-6 .item:hover {
        box-shadow: 0 35px 77px -17px rgba(0, 0, 0, 0);
        transform: scale(1);
        position: relative;
        z-index: 9;
        cursor: pointer;
    }
    .pagination>li>a, .pagination>li>span {
        padding: 0 10px;
    }
    .list-9 {
        width: 100%;
        margin: 0;
        padding: 15px !important;
    }
    .Article_content .leader {
        width: auto;
        max-width: 100%;
    }
    .Article_content .ImgCrop {
        height: auto;
    }
     /* ccy 20190510 添加返回交大主页的链接*/
     .back-index{
        display: block;
        width:30%;
        height:36px;
        position: absolute;
        left:0;
        top:0;
        z-index: 9;
    }
     /* ccy 20190510显示当前页*/
    .whj_border.whj_padding.whj_bgc.whj_checked {
        display: block;
    }
}