.site_footer{clear:both;overflow:hidden;border-top:2px solid #ff5c38}
.mod_footer_contentinfo{width:1120px;margin:40px auto 10px;overflow:hidden}
.mod_footer_contentinfo .contentinfo_column{*zoom:1;_display:inline;position:relative;width:210px;min-height:74px;margin-right:10px;float:left}
.mod_footer_contentinfo .contentinfo_title{display:block;margin-bottom:15px;font-size:17px;font-weight:700;letter-spacing:normal;line-height:26px}
.mod_footer_contentinfo .contentinfo_ul{font-size:0;letter-spacing:-3px}
.mod_footer_contentinfo .contentinfo_ul .foot_item{*zoom:1;display:inline-block;*display:inline;width:60px;margin-right:10px;margin-bottom:7px;font-size:12px;letter-spacing:normal;line-height:21px;vertical-align:top}
.mod_footer_contentinfo .foot_link{color:#666;white-space:nowrap}
.mod_footer_contentinfo .foot_link:hover{color:#ff5c38}
.mod_footer_contentinfo .contentinfo_download{width:400px;margin-right:70px;font-size:0;letter-spacing:-3px}
.mod_footer_contentinfo .dl_list .item{display:inline-block;width:80px;color:#999;font-size:12px;letter-spacing:normal;line-height:20px;text-align:center}
.mod_footer_contentinfo .dl_list .item:hover{color:#ff5c38}
.mod_footer_contentinfo .dl_list .svg_icon{display:block;width:50px;height:50px;margin:0 auto 20px}
.mod_footer_contentinfo .contentinfo_channel{width:210px;margin-right:110px}
.mod_footer_contentinfo .contentinfo_feature{width:70px;margin-right:150px}
.mod_footer_contentinfo .contentinfo_service{width:70px;margin-right:0;border-right:none}
.mod_footer{padding:25px 0;color:#999;line-height:30px;text-align:center}
.mod_footer a{color:#999}
.mod_footer a:hover{color:#ff5c38}
@media (max-width:1280px){
.mod_footer_contentinfo{width:1000px}
.mod_footer_contentinfo .contentinfo_channel{margin-right:60px}
.mod_footer_contentinfo .contentinfo_download,.mod_footer_contentinfo .contentinfo_feature{margin-right:70px}
}
#blankyu{content:"20190313101117"}