.card .column-title{
    z-index: 10;
}
.learning-title{
    z-index: 4;
}
.learning-title .sb-1{
    border:none;
}
ul.btn-list li{
    float: none;
    display: inline-block;
    width:30%;
}
.time-axis1119 > UL{
    display: inline-block;
    width:33%;
    padding-bottom:52px;
}
.time-axis1119 > .right-ul119{
    padding-bottom:52px;
}
